<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
        <h4 class="card-title">{{ $t('org_pro.ward') }}</h4>
      </template>
      <template v-slot:body>
        <b-row>
            <b-col xl="6" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('irri_pump_main.type_id')"
                label-for="type"
                >
                <b-form-select
                plain
                v-model="search.type"
                :options="wardTypeList"
                id="type"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xl="6" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_division.division')"
                label-for="division_id"
                >
                <b-form-select
                plain
                v-model="search.division_id"
                :options="divisionList"
                id="division_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col xl="6" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_district.district')"
                label-for="district_id"
                >
                <b-form-select
                plain
                v-model="search.district_id"
                :options="districtList"
                id="district_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xl="6" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_upazilla.upazilla')"
                label-for="upazilla_id"
                >
                <b-form-select
                plain
                v-model="search.upazilla_id"
                :options="upazilaList"
                id="upazilla_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col xl="6" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_union.union')"
                label-for="union_id"
                >
                <b-form-select
                plain
                v-model="search.union_id"
                :options="unionList"
                id="union_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
      <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('org_pro.ward_list') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(type_name)="data">
                      {{ data.item.type_name }}
                    </template>
                    <template v-slot:cell(type_name_bn)="data">
                      {{ data.item.type_name_bn }}
                    </template>
                    <template v-slot:cell(id)="data">
                      {{ data.item.id }}
                    </template>
                    <template v-slot:cell(name)="data">
                      {{ data.item.name }}
                    </template>
                    <template v-slot:cell(name_bn)="data">
                      {{ data.item.name_bn }}
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                        <b-button class="mr-1" title="View Complain" v-b-modal.modal-5 variant=" iq-bg-success" size="sm" @click="details(data.item)"><i class="ri-eye-line m-0 "></i></b-button>
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :item="item" :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>
    <b-modal id="modal-5" size="lg" :title="$t('org_pro.ward_details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
       <Details :item="item" :key="testId"></Details>
    </b-modal>
  </b-container>
</template>
<script>
import FormV from './Form'
import RestApi, { commonServiceBaseUrl } from '@/config/api_config'
import { wardList, wardToggleStatus } from '../../api/routes'
import Details from './Details'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV, Details
  },
  data () {
    return {
      search: {
        type: '0',
        division_id: '0',
        district_id: '0',
        upazilla_id: '0',
        union_id: '0'
      },
      testId: 0,
      districtList: [],
      upazilaList: [],
      unionList: [],
      rows: [],
      item: ''
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazilla_id': function (newVal, oldVal) {
      this.unionList = this.getUnionList(newVal)
    }
  },
  computed: {
    wardTypeList: function () {
        const objectData = this.$store.state.commonObj.wardTypeList
        return objectData.map((obj, key) => {
            if (this.$i18n.locale === 'bn') {
                return { value: obj.id, text: obj.name_bn }
            } else {
                return { value: obj.id, text: obj.name }
            }
        })
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('org_pro.ward_entry') : this.$t('org_pro.ward_modify')
    },
    currentLocale () {
      return this.$i18n.locale
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('irri_pump_main.type_id'), class: 'text-left' },
          { label: this.$t('org_pro_division.division'), class: 'text-left' },
          { label: this.$t('org_pro_district.district'), class: 'text-left' },
          { label: this.$t('org_pro_upazilla.upazilla'), class: 'text-left' },
          { label: this.$t('org_pro_union.union'), class: 'text-left' },
          { label: this.$t('org_pro.city_corporation'), class: 'text-left' },
          { label: this.$t('org_pro.pauroshoba'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'type_name_bn' },
          { key: 'division_name_bn' },
          { key: 'distict_name_bn' },
          { key: 'upzila_name_bn' },
          { key: 'union_name_bn' },
          { key: 'city_corporation_name_bn' },
          { key: 'pauroshoba_name_bn' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'type_name' },
          { key: 'division_name' },
          { key: 'distict_name' },
          { key: 'upzila_name' },
          { key: 'union_name' },
          { key: 'city_corporation_name' },
          { key: 'pauroshoba_name' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    }
  },
  created () {
    this.loadData()
  },
  mounted () {
  },
  methods: {
    edit (item) {
      this.editItemId = item.id
      this.item = item
    },
    details (item) {
      this.item = item
    },
    searchData () {
      this.loadData()
    },
    remove (item) {
      this.changeStatus(commonServiceBaseUrl, wardToggleStatus, item)
    },
    loadData () {
        const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
        this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
        RestApi.getData(commonServiceBaseUrl, wardList, params).then(response => {
            if (response.success) {
                this.$store.dispatch('setList', this.ListDataShow(response.data.data))
                this.paginationData(response.data)
            }
            this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
        })
    },
    ListDataShow (data) {
      let tmpData = {}
      let tmpData2 = {}
      let tmpUpzila = {}
      let tmpUnion = {}
      let tmpWardType = {}
      let tmpCityCorporation = {}
      let pauroshoba = {}
      const listData = data.map(item => {
        tmpData = this.$store.state.commonObj.divisionList.find(division => division.value === item.division_id && division.status === 0)
        tmpData2 = this.$store.state.commonObj.districtList.find(district => district.value === item.district_id && district.status === 0)
        tmpUpzila = this.$store.state.commonObj.upazilaList.find(upizila => upizila.value === item.upazilla_id && upizila.status === 0)
        tmpUnion = this.$store.state.commonObj.unionList.find(union => union.value === item.union_id && union.status === 0)
        tmpWardType = this.$store.state.commonObj.wardTypeList.find(ward => ward.id === item.type)
        tmpCityCorporation = this.$store.state.commonObjCommonConfig.cityCorporationList.find(cityC => cityC.value === item.city_corporation_id)
        pauroshoba = this.$store.state.commonObjCommonConfig.pauroshobaList.find(pauroshoba => pauroshoba.value === item.pauroshoba_id)
        const orgData = {
            division_name: tmpData !== undefined ? tmpData.text_en : '',
            division_name_bn: tmpData !== undefined ? tmpData.text_bn : '',
            distict_name: tmpData2 !== undefined ? tmpData2.text_en : '',
            distict_name_bn: tmpData2 !== undefined ? tmpData2.text_bn : '',
            upzila_name: tmpUpzila !== undefined ? tmpUpzila.text_en : '',
            upzila_name_bn: tmpUpzila !== undefined ? tmpUpzila.text_bn : '',
            union_name: tmpUnion !== undefined ? tmpUnion.text_en : '',
            union_name_bn: tmpUnion !== undefined ? tmpUnion.text_bn : '',
            type_name: tmpWardType !== undefined ? tmpWardType.name : '',
            type_name_bn: tmpWardType !== undefined ? tmpWardType.name_bn : '',
            city_corporation_name: tmpCityCorporation !== undefined ? tmpCityCorporation.text_en : '',
            city_corporation_name_bn: tmpCityCorporation !== undefined ? tmpCityCorporation.text_bn : '',
            pauroshoba_name: pauroshoba !== undefined ? pauroshoba.text_en : '',
            pauroshoba_name_bn: pauroshoba !== undefined ? pauroshoba.text_bn : ''
        }
        return Object.assign({}, item, orgData)
      })
      return listData
    },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)

      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }

      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)

      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }

      return upazilaList
    },
    getUnionList (upazilaId = null) {
      const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
      if (upazilaId) {
        return unionList.filter(union => union.upazilla_id === upazilaId)
      }
      return unionList
    }
  }
}
</script>
