<template>
  <b-container fluid>
      <b-row v-if="!loader">
        <b-col lg="12" sm="12">
          <iq-card>
            <template>
                <b-row>
                    <b-col lg="12" sm="12" class="text-center mb-4">
                      <h5 class='complain-title'>{{ $t('seedsSeeds.StockManageDetails') }}</h5>
                    </b-col>
                </b-row>
                <b-row>
                  <b-col lg="12" sm="12">
                      <b-row>
                        <b-col lg="2" sm="12">
                          <p class="text-dark">{{ $t('org_pro.organization') }} : </p>
                        </b-col>
                        <b-col lg="7" sm="12">
                          <p class="text-dark capitalize">{{ ($i18n.locale==='bn') ? data.org_name_bn  :  data.org_name  }}</p>
                        </b-col>
                      </b-row>
                  </b-col>
                  <b-col lg="6" sm="12">
                    <b-row>
                      <b-col lg="5" sm="12">
                        <p class="text-dark">{{ $t('seedsConfig.seedClass') }} : </p>
                      </b-col>
                      <b-col lg="7" sm="12">
                         <p class="text-dark capitalize">{{ ($i18n.locale ==='bn') ? data.class_name_bn  :  data.class_name  }}</p>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col lg="5" sm="12">
                        <p class="text-dark">{{$t('seedsConfig.measurementUnit')}} : </p>
                      </b-col>
                      <b-col lg="7" sm="12">
                         <p class="text-dark">{{ ($i18n.locale==='bn') ? data.measurementUnit_name_bn  :  data.measurementUnit_name  }}</p>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col lg="5" sm="12">
                        <p class="text-dark">{{$t('seedsConfig.cropType')}} : </p>
                      </b-col>
                      <b-col lg="7" sm="12">
                         <p class="text-dark capitalize">{{ ($i18n.locale==='bn') ? data.crop_type_name_bn  :  data.crop_type_name  }}</p>
                      </b-col>
                    </b-row>
                     <b-row>
                      <b-col lg="5" sm="12">
                        <p class="text-dark">{{$t('seedsConfig.cropName')}} : </p>
                      </b-col>
                      <b-col lg="7" sm="12">
                         <p class="text-dark capitalize">{{ ($i18n.locale==='bn') ? data.crop_name_name_bn  :  data.crop_name_name  }}</p>
                      </b-col>
                    </b-row>
                  </b-col>
                  <b-col lg="6" sm="12">
                    <b-row>
                      <b-col lg="5" sm="12">
                        <p class="text-dark">{{$t('seedsSeeds.stock_date')}} : </p>
                      </b-col>
                      <b-col lg="7" sm="12">
                         <p class="text-dark">{{data.stock_date | dateFormat}}</p>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col lg="5" sm="12">
                        <p class="text-dark">{{$t('seedsConfig.productionSeason')}} : </p>
                      </b-col>
                      <b-col lg="7" sm="12">
                         <p class="text-dark capitalize">{{ ($i18n.locale==='bn') ? data.production_season_name_bn  :  data.production_season_name  }}</p>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col lg="5" sm="12">
                        <p class="text-dark">{{$t('seedsConfig.carryover')}} : </p>
                      </b-col>
                      <b-col lg="7" sm="12">
                         <p class="text-dark capitalize">{{ ($i18n.locale==='bn') ? data.carryOver_name_bn  :  data.carryOver_name  }}</p>
                      </b-col>
                    </b-row>
                  </b-col>
                   <table class="table table-bordered">
                  <tr>
                    <th style="width:15%; font-size:110%">{{$t('globalTrans.sl_no')}}</th>
                    <th style="width:40%; font-size:110%" class="text-center">{{$t('seedsConfig.variety')}}</th>
                    <th style="font-size:110%" class="text-center">{{$t('globalTrans.quantity')}}</th>
                  </tr>
                  <slot v-if="data.stock_info_details.length > 0">
                    <tr :key="index" v-for="(res,index) in data.stock_info_details">
                      <td>{{index+1}}</td>
                        <td class="text-capitalize text-center">
                        {{ ($i18n.locale==='bn') ? res.variety.variety_name_bn  :  res.variety.variety_name }}
                      </td>
                      <td class="text-center">
                        {{res.quantity}}
                      </td>
                    </tr>
                  </slot>
                  <slot v-else>
                    <tr><td colspan="5"><h4 class="text-danger text-center">{{$t('globalTrans.noDataFound')}}</h4></td></tr>
                  </slot>
                </table>
                </b-row>
            </template>
          </iq-card>
        </b-col>
      </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
export default {
  props: ['id'],
  created () {
    if (this.id) {
      const tmp = this.getStockManageData()
       this.data = tmp
    }
  },
  mounted () {
    core.index()
  },
  data () {
    return {
     saveBtnName: this.$t('globalTrans.view'),
      data: {
        id: '',
        org_id: 0,
        fiscal_year_id: 0,
        production_season_id: 0,
        production_source_id: 0,
        carryovers_id: 0,
        program_type_id: 0,
        spc_office_id: 0,
        seed_class_id: 0,
        crop_type_id: 0,
        crop_name_id: 0,
        measurement_unit_id: 0,
        stock_date: null,
        stock_info_details: []
      },
      cropNameList: [],
      loader: false,
      search: {
        crop_name_id: 0
      }
    }
  },
  methods: {
    getStockManageData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    getCropNameList (croptypeID) {
      const cropNameList = this.$store.state.SeedsFertilizer.commonObj.CropNameList.filter(item => item.status === 1)
      if (croptypeID) {
        return cropNameList.filter(cropName => cropName.crop_type_id === croptypeID)
      }
      return cropNameList
    }
  }
}
</script>
<style>
  .hidden_header {
    display: none
  }
  .card-border {
    border: 1px solid #b9bdc1;
    box-shadow: 1px 1px 6px -1px grey;
    background-color: #dee2e6;
  }
  [dir=ltr][mode=light] .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
  }
  .report-name{
    font-weight: bold !important;
    text-transform: uppercase;
  }
  .my-btn{
    padding: 2px !important;
  }
</style>
