<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:body>
                <b-row>
                    <b-col lg="4" sm="12">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('seedsConfig.cropType')"
                    label-for="email"
                    >
                    <v-select name="croptypeID"
                    v-model="search.crop_type_id"
                    label="text"
                    :options= CropTypeList
                    />
                    </b-form-group>
                    </b-col>
                    <b-col lg="4" sm="12">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('seedsConfig.cropName')"
                    label-for="email"
                    >
                    <v-select name="croptypeID"
                    v-model="search.crop_name_id"
                    label="text"
                    :options= CropNameList
                    />
                    </b-form-group>
                    </b-col>
                    <b-col lg="4" sm="12">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('seedsConfig.variety')"
                    label-for="email"
                    >
                    <v-select name="croptypeID"
                    v-model="search.variety_name"
                    label="text"
                    :options= VarietyList
                    />
                    </b-form-group>
                    </b-col>
                    <b-col >
                    <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
                    </b-col>
                </b-row>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{$t('seedsConfig.variety')}}</h4>
                    </template>
                    <template v-slot:headerAction1>

                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                             {{  $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                                        <template v-slot:cell(index)="data">
                                        {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(type_name)="data">
                                        <span class="capitalize">{{ data.item.type_name }}</span>
                                        </template>
                                        <template v-slot:cell(crop_name)="data">
                                        <span class="capitalize">{{ data.item.crop_name }}</span>
                                        </template>
                                        <template v-slot:cell(variety_name)="data">
                                        <span class="capitalize">{{ data.item.variety_name }}</span>
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template>
                                        <template v-slot:cell(action)="data">
                                            <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                            <span v-if="data.item.status === 1">
                                                <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="fas fa-window-close m-0"></i></b-button>
                                            </span>
                                            <span v-if="data.item.status === 2">
                                                <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="fa fa-check m-0"></i></b-button>
                                            </span>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>

    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import Form from './Form'
import RestApi, { seedFertilizerServiceBaseUrl } from '@/config/api_config'
import { varietyList, varietyToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
    mixins: [ModalBaseMasterList],
    components: {
        Form
    },
    data () {
        return {
            search: {
                crop_type_id: 0,
                crop_name_id: 0,
                variety_name: 0
            }
        }
    },
    computed: {
        CropTypeList: function () {
          return this.$store.state.SeedsFertilizer.commonObj.CropTypeList.filter(item => item.status === 1)
        },
        // VarietyList: function () {
        //   return this.$store.state.SeedsFertilizer.commonObj.VarietyList.filter(item => item.status === 1)
        // },
        CropNameList: function () {
            if (this.search.crop_type_id.value > 0) {
            return this.$store.state.SeedsFertilizer.commonObj.CropNameList.filter(item => item.status === 1 && item.crop_type_id === this.search.crop_type_id.value)
            }
            return []
        },
        VarietyList: function () {
            if (this.search.crop_name_id.value > 0) {
            return this.$store.state.SeedsFertilizer.commonObj.VarietyList.filter(item => item.status === 1 && item.crop_name_id === this.search.crop_name_id.value)
            }
            return []
        },
        formTitle () {
            return (this.editItemId === 0) ? this.$t('seedsConfig.variety') + ' ' + this.$t('globalTrans.entry') : this.$t('seedsConfig.variety') + ' ' + this.$t('globalTrans.update')
        },
        columns () {
            const labels = [
                { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
                { label: this.$t('seedsConfig.cropType'), class: 'text-left' },
                { label: this.$t('seedsConfig.cropName'), class: 'text-left' },
                { label: this.$t('seedsConfig.variety'), class: 'text-left' },
                { label: this.$t('globalTrans.status'), class: 'text-center' },
                { label: this.$t('globalTrans.action'), class: 'text-center' }
            ]

            /*eslint-disable */
            let keys = []

            if (this.$i18n.locale === 'bn') {
                keys = [
                { key: 'index' },
                { key: 'type_name_bn' },
                { key: 'crop_name_bn' },
                { key: 'variety_name' },
                { key: 'status' },
                { key: 'action' }
                ]
            } else {
                keys = [
                { key: 'index' },
                { key: 'type_name' },
                { key: 'crop_name' },
                { key: 'variety_name' },
                { key: 'status' },
                { key: 'action' }
                ]
            }

            return labels.map((item, index) => {
                return Object.assign(item, keys[index])
            })
        }
    },
    async created () {
        this.loadData()
    },
    mounted () {
        core.index()
    },
    methods: {
        dataChange () {
            this.loadData()
        },
        async searchData () {
            this.loadData()
        },
        remove (item) {
        this.changeStatus(seedFertilizerServiceBaseUrl, varietyToggleStatus, item, 'seeds_fertilizer', 'VarietyList')
        },
        loadData () {
            var croptypeIdSerach = ''
            var cropNameIdSerach = ''
            var varietyID = ''
            if (this.search.variety_name) {
                varietyID = this.search.variety_name.value
            }
            if (this.search.crop_type_id.value > 0) {
               croptypeIdSerach = this.search.crop_type_id.value
            }
            if (this.search.crop_name_id.value >0) {
                cropNameIdSerach = this.search.crop_name_id.value
            }
            const params = Object.assign({}, this.search, { variety_name: varietyID, crop_type_id: croptypeIdSerach, crop_name_id: cropNameIdSerach, page: this.pagination.currentPage, per_page: this.pagination.perPage })
            this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
            RestApi.getData(seedFertilizerServiceBaseUrl, varietyList, params).then(response => {
                if (response.success) {
                    this.$store.dispatch('setList', response.data.data)
                    this.paginationData(response.data)
                }
                this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
            })
        }
    }
}
</script>
