
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('crop_price_info.price_collection_verify') }}</h4>
            </template>
            <template v-slot:body>
                <b-row align-h="around">
                    <b-col xs="12" sm="12" md="4" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.division')"
                            label-for="Division_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.Division_id"
                                :options="divisionList"
                                id="Division_id"
                                disabled
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="4" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.district')"
                            label-for="District_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.District_id"
                                :options="districtList"
                                id="District_id"
                                disabled
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="4" lg="4" xl="4">
                      <b-form-group
                        class="row"
                        label-cols-sm="3"
                        :label="$t('globalTrans.date')"
                        label-for="PriceDate"
                        >
                        <b-form-input
                            id="datepicker"
                            v-model="search.PriceDate"
                            disabled
                            ></b-form-input>
                      </b-form-group>
                    </b-col>
                </b-row>
            </template>
        </iq-card>
        <b-row>
          <b-col md="12">
            <iq-card>
                <template v-slot:headerTitle>
                  <h4 class="card-title">{{ $t('crop_price_info.price_collection_verify_list') }}</h4>
                </template>
                <template v-slot:body>
                  <b-overlay :show="loadingState">
                    <b-row>
                      <b-col md="12" class="table-responsive">
                        <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                          <template v-slot:cell(index)="data">
                            {{ $n(data.index + pagination.slOffset) }}
                          </template>
                          <template v-slot:cell(action)="data">
                            <div  v-if="data.item.VerificationDate === null">
                                <b-button v-b-modal variant=" iq-bg-success mr-1 mb-1" size="sm" @click="verify(data.item)"><i class="ri-check-line m-0"></i></b-button>
                                <b-button v-b-modal.modal-form variant=" iq-bg-success mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                            </div>
                          </template>
                        </b-table>
                        <b-pagination
                          v-model="pagination.currentPage"
                          :per-page="pagination.perPage"
                          :total-rows="pagination.totalRows"
                          @input="searchData"
                        />
                      </b-col>
                    </b-row>
                    <b-modal id="modal-form" size="xl" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
                        <Form :id="editItemId" :key="editItemId"/>
                    </b-modal>
                  </b-overlay>
                </template>
            </iq-card>
          </b-col>
        </b-row>
    </b-container>
</template>
<script>
import Form from './Form'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { priceCollVerifyDetailList, priceCollVerify } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import flatpickr from 'flatpickr'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Form
  },
  data () {
    return {
      search: {
        Division_id: 0,
        District_id: 0,
        PriceDate: ''
      },
      editItemId: '',
      item: '',
      districtList: [],
      rows: []
    }
  },
  created () {
      this.search.Division_id = this.$route.query.Division_id
      this.search.District_id = this.$route.query.District_id
      this.search.PriceDate = this.$route.query.PriceDate
      this.loadData()
  },
  mounted () {
    flatpickr('#datepicker', {})
  },
  computed: {
    formTitle () {
      return (this.editItemId === 0) ? this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.entry') : this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.modify')
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('crop_price_info.market'), class: 'text-left' },
          { label: this.$t('crop_price_config.commodity'), class: 'text-left' },
          { label: this.$t('crop_price_config.price_type'), class: 'text-left' },
          { label: this.$t('globalTrans.latitude'), class: 'text-center' },
          { label: this.$t('globalTrans.longitude'), class: 'text-center' },
          { label: this.$t('crop_price_config.HighestPrice'), class: 'text-center' },
          { label: this.$t('crop_price_config.LowestPrice'), class: 'text-center' },
          { label: this.$t('crop_price_config.AveragePrice'), class: 'text-center' },
          { label: this.$t('crop_price_config.PriceUSDRate'), class: 'text-center' },
          { label: this.$t('crop_price_config.PriceEuroRate'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'market_name_bn' },
          { key: 'commodity_name_bn' },
          { key: 'price_type_name_bn' },
          { key: 'LatitudeRecorded' },
          { key: 'LongitudeRecorded' },
          { key: 'HighestPrice' },
          { key: 'LowestPrice' },
          { key: 'AveragePrice' },
          { key: 'PriceUSDRate' },
          { key: 'PriceEuroRate' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'market_name' },
          { key: 'commodity_name' },
          { key: 'price_type_name' },
          { key: 'LatitudeRecorded' },
          { key: 'LongitudeRecorded' },
          { key: 'HighestPrice' },
          { key: 'LowestPrice' },
          { key: 'AveragePrice' },
          { key: 'PriceUSDRate' },
          { key: 'PriceEuroRate' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
        return Object.assign(item, keys[index])
      })
    }
  },
  watch: {
    'search.Division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    }
  },
  methods: {
    searchData () {
      this.loadData()
    },
    details (item) {
      this.editItemId = item.id
      this.item = item
    },
    loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      const loadingState = { loading: false, listReload: false }
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      RestApi.getData(agriMarketingServiceBaseUrl, priceCollVerifyDetailList, params).then(response => {
        if (response.success) {
          this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
          this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
        loadingState.listReload = false
        this.$store.dispatch('mutateCommonProperties', loadingState)
      })
    },
    getRelatinalData (data) {
      const marketList = this.$store.state.agriMarketing.commonObj.marketList
      const priceTypeList = this.$store.state.agriMarketing.commonObj.priceTypeList
      const commodityNameList = this.$store.state.agriMarketing.commonObj.commodityNameList

      const listData = data.map(item => {
        const marketObject = marketList.find(data => data.value === item.Market_id)
        const priceTypeObject = priceTypeList.find(data => data.value === item.PriceType_id)
        const commodityNameObject = commodityNameList.find(data => data.value === item.Commodity_id)
        const marketData = { market_name: marketObject.text, market_name_bn: marketObject.text_bn }
        const priceTypeData = { price_type_name: priceTypeObject.text, price_type_name_bn: priceTypeObject.text_bn }
        const commodityNameData = { commodity_name: commodityNameObject.text, commodity_name_bn: commodityNameObject.text_bn }

        return Object.assign({}, item, marketData, priceTypeData, commodityNameData)
      })
      return listData
    },
    getDistrictList (divisionId = null) {
      return this.$store.state.commonObj.districtList.filter(item => item.status === 0 && item.division_id === divisionId)
    },
    verify (item) {
      this.$swal({
        title: this.$t('crop_price_info.are_youu_sure_to_verify'),
        showCancelButton: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        focusConfirm: false
      }).then((result) => {
        if (result.isConfirmed) {
          this.priceVerify(item)
        }
      })
    },
    priceVerify (item) {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      const loadingState = { loading: false, listReload: false }
      RestApi.deleteData(agriMarketingServiceBaseUrl, `${priceCollVerify}/${item.id}`).then(response => {
        if (response.success) {
          this.$toast.success({
            title: 'Success',
            message: 'Data Updated Successfully',
            color: '#D6E09B'
          })
        } else {
          this.$toast.error({
            title: 'Error',
            message: 'Operation failed! Please, try again.'
          })
        }
        loadingState.listReload = false
        this.$store.dispatch('mutateCommonProperties', loadingState)
      })
    },
    edit (item) {
      this.editItemId = item.id
    }
  }
}
</script>
