
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('crop_price_info.price_collection_verify') }}</h4>
            </template>
            <template v-slot:body>
                <b-row align-h="around">
                    <b-col xs="12" sm="12" md="5" lg="3" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.division')"
                            label-for="Division_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.Division_id"
                                :options="divisionList"
                                id="Division_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="3" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.district')"
                            label-for="District_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.District_id"
                                :options="districtList"
                                id="District_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="3" xl="5">
                      <b-form-group
                        class="row"
                        label-cols-sm="3"
                        :label="$t('globalTrans.date')"
                        label-for="PriceDate"
                        >
                        <b-form-input
                            id="datepicker"
                            v-model="search.PriceDate"
                            ></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="3" xl="5">
                      <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
                    </b-col>
                </b-row>
            </template>
        </iq-card>
        <b-row>
          <b-col md="12">
            <iq-card>
                <template v-slot:headerTitle>
                  <h4 class="card-title">{{ $t('crop_price_info.price_collection_verify_list') }}</h4>
                </template>
                <template v-slot:body>
                  <b-overlay :show="loadingState">
                    <b-row>
                      <b-col md="12" class="table-responsive">
                        <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="items" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                          <template v-slot:cell(index)="data">
                            {{ $n(data.index + pagination.slOffset) }}
                          </template>
                          <template v-slot:cell(action)="data">
                            <router-link :to="{ path: '/agri-marketing/crop-price-info/price-information/price-collection-details', query: {Division_id: data.item.Division_id, District_id: data.item.District_id, PriceDate: data.item.PriceDate}}" class="mr-1" title="View Details" v-b-modal.modal-details variant=" iq-bg-success border" size="sm" @click="details(data.item)"><i class="ri-eye-line m-0 "></i></router-link>
                          </template>
                        </b-table>
                        <b-pagination
                          v-model="pagination.currentPage"
                          :per-page="pagination.perPage"
                          :total-rows="pagination.totalRows"
                          @input="searchData"
                        />
                      </b-col>
                    </b-row>
                  </b-overlay>
                </template>
            </iq-card>
          </b-col>
        </b-row>
    </b-container>
</template>
<script>
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { priceCollVerifyList } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import flatpickr from 'flatpickr'

export default {
  mixins: [ModalBaseMasterList],
  data () {
    return {
      search: {
        Division_id: 0,
        District_id: 0,
        PriceDate: ''
      },
      editItemId: '',
      item: '',
      items: [],
      districtList: [],
      rows: []
    }
  },
  mounted () {
    flatpickr('#datepicker', {})
  },
  computed: {
    formTitle () {
      return (this.editItemId === 0) ? this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.entry') : this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.modify')
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('globalTrans.division'), class: 'text-left' },
          { label: this.$t('globalTrans.district'), class: 'text-left' },
          { label: this.$t('globalTrans.date'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'division_name_bn' },
          { key: 'district_name_bn' },
          { key: 'PriceDate' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'division_name' },
          { key: 'district_name' },
          { key: 'PriceDate' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
        return Object.assign(item, keys[index])
      })
    }
  },
  watch: {
    'search.Division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    }
  },
  created () {
    // this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    details (item) {
      this.editItemId = item.id
      this.item = item
    },
    loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      const loadingState = { loading: false, listReload: false }
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      RestApi.getData(agriMarketingServiceBaseUrl, priceCollVerifyList, params).then(response => {
        if (response.success) {
          this.items = this.getRelatinalData(response.data.data)
          this.paginationData(response.data)
        } else {
          this.items = []
        }
        loadingState.listReload = false
        this.$store.dispatch('mutateCommonProperties', loadingState)
      })
    },
    getRelatinalData (data) {
      const divisionList = this.$store.state.commonObj.divisionList
      const districtList = this.$store.state.commonObj.districtList

      const listData = data.map(item => {
        const divisionObject = divisionList.find(data => data.value === item.Division_id)
        const districtObject = districtList.find(data => data.value === item.District_id)

        const DivisionData = { division_name: divisionObject.text, division_name_bn: divisionObject.text_bn }
        const DistrictData = { district_name: districtObject.text, district_name_bn: districtObject.text_bn }

        return Object.assign({}, item, DivisionData, DistrictData)
      })
      return listData
    },
    getDistrictList (divisionId = null) {
      return this.$store.state.commonObj.districtList.filter(item => item.status === 0 && item.division_id === divisionId)
    }
  }
}
</script>
