
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('crop_price_info.market_commodity_price_list') }}</h4>
            </template>
            <template v-slot:body>
                <b-row align-h="around">
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('globalTrans.division')"
                            label-for="division_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.division_id"
                                :options="divisionList"
                                id="division_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('globalTrans.district')"
                            label-for="district_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.district_id"
                                :options="districtList"
                                id="district_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('globalTrans.upazila')"
                            label-for="upazilla_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.upazilla_id"
                                :options="upazilaList"
                                id="upazilla_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                      <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="market_id"
                          >
                          <template v-slot:label>
                          {{ $t('crop_price_config.market') }}
                          </template>
                          <b-form-select
                          plain
                          v-model="search.market_id"
                          :options="marketList"
                          id="market_id"
                          >
                          <template v-slot:first>
                              <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                          </b-form-select>
                      </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="price_date"
                      >
                      <template v-slot:label>
                          {{ $t('crop_price_config.price_date')}} <span class="text-danger">*</span>
                      </template>
                        <b-form-input
                          class="datepicker"
                          v-model="search.price_date"
                          placeholder="yyyy-mm-dd"
                          >
                        </b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                      <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5"></b-col>
                </b-row>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('crop_price_info.market_commodity_price_list') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                      <router-link title="Market" :to="`/agri-marketing/crop-price-info/configuration/price-entry-form?price_entry_type=Market`" class="btn btn-primary">{{ $t('globalTrans.add_new') }}</router-link>
                    </template>
                    <template v-slot:body>
                          <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(PriceDate)="data">
                                            {{ data.item.PriceDate | dateFormat }}
                                        </template>
                                        <template v-slot:cell(division_id)="data">
                                            {{ getAgrMarDamStore('divisionList', data.item.division_id) }}
                                        </template>
                                        <template v-slot:cell(district_id)="data">
                                            {{ getAgrMarDamStore('districtList', data.item.district_id) }}
                                        </template>
                                        <template v-slot:cell(upazila_id)="data">
                                            {{ getAgrMarDamStore('upazilaList', data.item.upazila_id) }}
                                        </template>
                                        <template v-slot:cell(market_id)="data">
                                            {{ getAgrMarComStore('marketList', data.item.market_id) }}
                                        </template>
                                        <template v-slot:cell(HighestPrice)="data">
                                            {{ $n(data.item.HighestPrice, { useGrouping: false }) }}
                                        </template>
                                        <template v-slot:cell(action)="data">
                                          <router-link title="Edit" :to="`/agri-marketing/crop-price-info/configuration/price-entry-form?id=${data.item.id}`" class=" btn btn-sm btn-outline-success mr-1 mb-1"><i class="ri-ball-pen-fill m-0"></i></router-link>
                                          <router-link :disabled='data.item.approved' v-bind:class = "(data.item.approved)?'disabled':''" title="Approve Price" :to="`/agri-marketing/crop-price-info/configuration/price-entry-approve?id=${data.item.id}`" class=" btn btn-sm btn-outline-success mr-1 mb-1"><i class="ri-check-line"></i></router-link>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { MarketPriceList } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/route-base-list'
import flatpickr from 'flatpickr'

export default {
  mixins: [ModalBaseMasterList],
  components: {
  },
  data () {
    return {
      search: {
        division_id: 0,
        district_id: 0,
        market_id: 0,
        upazilla_id: 0,
        price_date: ''
      },
      editItemId: '',
      item: '',
      marketList: [],
      districtList: [],
      upazilaList: [],
      rows: []
    }
  },
  mounted () {
    flatpickr('.datepicker', {})
  },
  computed: {
    formTitle () {
       return (this.editItemId === 0) ? this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.entry') : this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.modify')
    },
    divisionList: function () {
        return this.$store.state.agriMarketing.damData.divisionList
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('globalTrans.division'), class: 'text-left' },
          { label: this.$t('globalTrans.district'), class: 'text-left' },
          { label: this.$t('globalTrans.upazila'), class: 'text-left' },
          { label: this.$t('crop_price_config.market'), class: 'text-left' },
          { label: this.$t('crop_price_config.price_date'), class: 'text-left' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'division_id' },
          { key: 'district_id' },
          { key: 'upazila_id' },
          { key: 'market_id' },
          { key: 'price_date' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'division_id' },
          { key: 'district_id' },
          { key: 'upazila_id' },
          { key: 'market_id' },
          { key: 'price_date' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    'search.division_id': function (newVal, oldVal) {
        this.districtList = this.getDistrictList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazilla_id': function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.marketList = this.getMarketList(newVal)
      }
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    edit (item) {
      this.editItemId = item.id
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, MarketPriceList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelationalData(response.data.data))
            this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getRelationalData (data) {
      const list = data.map(item => {
        let totalCheck = 0
        item.commodity_list.map(item1 => {
          if (item1.status) {
            totalCheck += 1
          }
        })
        let approved = false
        if (totalCheck === item.commodity_list.length) {
          approved = true
        }
        const commodityData = {
          approved: approved
        }
        return Object.assign({}, item, commodityData)
      })
      return list
    },
    getDistrictList (divisionId = null) {
        return this.$store.state.agriMarketing.damData.districtList.filter(item => item.division_id === divisionId)
    },
    getUpazilaList (districtId = null) {
        const upazilaList = this.$store.state.agriMarketing.damData.upazilaList
        if (districtId) {
            return upazilaList.filter(upazila => upazila.district_id === districtId)
        }
        return upazilaList
    },
    getMarketList (upazillaId = null) {
      const dataList = this.$store.state.agriMarketing.commonObj.marketList.filter(item => item.upazila_id === upazillaId)
      return dataList.map(item => {
        if (this.$i18n.locale === 'bn') {
            return { value: item.value, text: item.text_bn }
        } else {
            return { value: item.value, text: item.text }
        }
      })
    },
    getAgrMarDamStore (state, Id) {
      if (state) {
          const tmpData = this.$store.state.agriMarketing.damData[state]
        if (typeof tmpData === 'undefined') {
            return ''
        } else {
            const data = tmpData.find(item => item.value === Id)
            if (typeof data === 'undefined') {
              return ''
            } else {
              return this.$i18n.locale === 'bn' ? data.text_bn : data.text_en
            }
        }
      }
    },
    getAgrMarComStore (state, Id) {
      if (state) {
          const tmpData = this.$store.state.agriMarketing.commonObj[state]
          if (typeof tmpData === 'undefined') {
              return ''
          } else {
              const data = tmpData.find(item => item.value === Id)
              if (typeof data === 'undefined') {
                  return ''
              } else {
                  return this.$i18n.locale === 'bn' ? data.text_bn : data.text_en
              }
          }
      }
    }
  }
}
</script>
