<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <b-card no-body>
          <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('pusti_mapping.socio_economic_info') }}</h4>
            </template>
            <template v-slot:headerAction>
              <b-button variant="primary" @click="pdfExport" class="mr-2">
                {{  $t('globalTrans.export_pdf') }}
              </b-button>
            </template>
            <template v-slot:body>
              <b-table-simple bordered>
                <b-tbody>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.pusti_mapping_id')}}
                    </b-td>
                    <b-td>
                      {{ social_info.pusti_mapping_id }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.pusti_mapping_date')}}
                    </b-td>
                    <b-td>
                      {{ social_info.pusti_mapping_date }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.name_en')}}
                    </b-td>
                    <b-td>
                      {{ social_info.name_en }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.name_bn')}}
                    </b-td>
                    <b-td>
                      {{ social_info.name_bn }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.father_name_en')}}
                    </b-td>
                    <b-td>
                      {{ social_info.father_name_en }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.father_name_bn')}}
                    </b-td>
                    <b-td>
                      {{ social_info.father_name_bn }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.mother_name_en')}}
                    </b-td>
                    <b-td>
                      {{ social_info.mother_name_en }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.mother_name_bn')}}
                    </b-td>
                    <b-td>
                      {{ social_info.mother_name_bn }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.age')}}
                    </b-td>
                    <b-td>
                      {{ social_info.age }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.gender')}}
                    </b-td>
                    <b-td>
                      {{ gender.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.father_education_status')}}
                    </b-td>
                    <b-td>
                      {{ father_education_status.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.mother_education_status')}}
                    </b-td>
                    <b-td>
                      {{ mother_education_status.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.earning_member')}}
                    </b-td>
                    <b-td>
                      {{ earning_member.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.monthly_family_income')}}
                    </b-td>
                    <b-td>
                      {{ monthly_family_income.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.income_source')}}
                    </b-td>
                    <b-td>
                      {{ income_source.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.family_category')}}
                    </b-td>
                    <b-td>
                      {{ family_category.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.no_of_family_member')}}
                    </b-td>
                    <b-td>
                      {{ social_info.no_of_family_member }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.religion')}}
                    </b-td>
                    <b-td>
                      {{ religion.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{ $t('org_pro.area_type') }}
                    </b-td>
                    <b-td>
                      {{ areatype.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{ $t('org_pro_division.division') }}
                    </b-td>
                    <b-td>
                      {{ division.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{ $t('org_pro_district.district') }}
                    </b-td>
                    <b-td>
                      {{ district.label }}
                    </b-td>
                  </b-tr>
                  <b-tr v-if="social_info.city_corporation_id == 1">
                    <b-td class="w-25">
                      {{ $t('org_pro.city_corporation') }}
                    </b-td>
                    <b-td>
                      {{ city_corporation.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{ $t('org_pro.pauroshoba') }}
                    </b-td>
                    <b-td>
                      {{ pauroshoba.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{ $t('org_pro.ward') }}
                    </b-td>
                    <b-td>
                      {{ ward.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{ $t('globalTrans.upazila') }}
                    </b-td>
                    <b-td>
                      {{ upazila.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{ $t('globalTrans.union') }}
                    </b-td>
                    <b-td>
                      {{ union.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.village_en')}}
                    </b-td>
                    <b-td>
                      {{ social_info.village_en }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.village_bn')}}
                    </b-td>
                    <b-td>
                      {{ social_info.village_bn }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.mobile_no')}}
                    </b-td>
                    <b-td>
                      {{ social_info.mobile_no }}
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
            </template>
          </iq-card>
          <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('pusti_mapping.physical_measurment') }}</h4>
            </template>
            <template v-slot:body>
              <b-table-simple bordered>
                <b-tbody>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.weight')}}
                    </b-td>
                    <b-td>
                      {{ physical_info.weight }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.height')}}
                    </b-td>
                    <b-td>
                      {{ physical_info.height }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.head_circumference')}}
                    </b-td>
                    <b-td>
                      {{ physical_info.head_circumference }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.chest_circumference')}}
                    </b-td>
                    <b-td>
                      {{ physical_info.chest_circumference }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-25">
                      {{$t('pusti_mapping.muac')}}
                    </b-td>
                    <b-td>
                      {{ muac.label }}
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
            </template>
          </iq-card>
          <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('pusti_mapping.health_measurment') }}</h4>
            </template>
            <template v-slot:body>
              <b-table-simple bordered>
                <b-tbody>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_1')}}
                    </b-td>
                    <b-td>
                      {{ question_no_1.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_2')}}
                    </b-td>
                    <b-td>
                      {{ question_no_2.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_3')}}
                    </b-td>
                    <b-td>
                      {{ health_info.question_no_3 }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_4')}}
                    </b-td>
                    <b-td>
                      {{ question_no_4.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_5')}}
                    </b-td>
                    <b-td>
                      {{ question_no_5.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_6')}}
                    </b-td>
                    <b-td>
                      {{ question_no_6.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_7')}}
                    </b-td>
                    <b-td>
                      {{ question_no_7.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_8')}}
                    </b-td>
                    <b-td>
                      {{ question_no_8.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_9')}}
                    </b-td>
                    <b-td>
                      {{ question_no_9.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_10')}}
                    </b-td>
                    <b-td>
                      {{ question_no_10.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_11')}}
                    </b-td>
                    <b-td>
                      {{ question_no_11.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_12')}}
                    </b-td>
                    <b-td>
                      {{ question_no_12.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_13')}}
                    </b-td>
                    <b-td>
                      {{ question_no_13.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_14')}}
                    </b-td>
                    <b-td>
                      {{ question_no_14.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_15')}}
                    </b-td>
                    <b-td>
                      {{ question_no_15.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_16')}}
                    </b-td>
                    <b-td>
                      {{ question_no_16.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_17')}}
                    </b-td>
                    <b-td>
                      {{ question_no_17.label }}
                    </b-td>
                  </b-tr>
                  <b-tr>
                    <b-td class="w-30">
                      {{$t('pusti_mapping.question_no_18')}}
                    </b-td>
                    <b-td>
                      {{ question_no_18.label }}
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
            </template>
          </iq-card>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { agriMarketingServiceBaseUrl } from '@/config/api_config'
import ExportPdf from './export-pdf_details'
import StaticData from './static_data.js'

export default {
  name: 'FormLayout',
  data () {
    return {
      rows: [],
      printInfoData: {
        form_id: '',
        form_date: ''
      },
      printSData: {
        name_en: '',
        name_bn: '',
        father_name_en: '',
        father_name_bn: '',
        mother_name_en: '',
        mother_name_bn: '',
        age: '',
        gender: '',
        father_education_status: '',
        mother_education_status: '',
        earning_member: '',
        monthly_family_income: '',
        income_source: '',
        family_category: '',
        no_of_family_member: '',
        religion: '',
        mobile_no: '',
        area_type_id: '',
        division_id: '',
        district_id: '',
        pauroshoba_id: '',
        ward_id: '',
        upazila_id: '',
        union_id: '',
        village_en: '',
        village_bn: ''
      },
      printPData: {
        muac: ''
      },
      printHData: {
       question_no_1: '',
       question_no_2: '',
       question_no_3: '',
       question_no_4: '',
       question_no_5: '',
       question_no_6: '',
       question_no_7: '',
       question_no_8: '',
       question_no_9: '',
       question_no_10: '',
       question_no_11: '',
       question_no_12: '',
       question_no_13: '',
       question_no_14: '',
       question_no_15: '',
       question_no_16: '',
       question_no_17: '',
       question_no_18: ''
      }
    }
  },
  mounted () {
    core.index()
  },
  props: ['info_id', 'social_info', 'physical_info', 'health_info'],
  computed: {
    gender: function () {
     if (this.social_info.gender !== '') {
        const genderList = StaticData.genderList(this)
        let tmpData = {}
        tmpData = genderList.find(genderItem => genderItem.value === this.social_info.gender)
        const genderData = { label: tmpData.label }
        return genderData
      } else {
        const genderData = { label: '' }
        return genderData
     }
    },
    father_education_status: function () {
      if (this.social_info.father_education_status !== '') {
        const eduList = StaticData.fatherEdutcationStatusList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.father_education_status)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    mother_education_status: function () {
      if (this.social_info.mother_education_status !== '') {
        const eduList = StaticData.motherEducationStatusList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.mother_education_status)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    earning_member: function () {
      if (this.social_info.earning_member !== '') {
        const eduList = StaticData.earningMemberList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.earning_member)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    monthly_family_income: function () {
      if (this.social_info.monthly_family_income !== '') {
        const eduList = StaticData.monthlyIncomeList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.monthly_family_income)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    income_source: function () {
      if (this.social_info.income_source !== '') {
        const eduList = StaticData.incomeSourceList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.income_source)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    family_category: function () {
      if (this.social_info.family_category !== '') {
        const eduList = StaticData.familyCategoryList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.family_category)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    religion: function () {
      if (this.social_info.religion !== '') {
        const eduList = StaticData.religionList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.religion)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    division: function () {
      if (this.social_info.division_id !== '') {
        const eduList = this.$store.state.commonObj.divisionList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.division_id)
        const eduData = { label: tmpData.text }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    areatype: function () {
      if (this.social_info.area_type_id !== '') {
        const eduList = this.$store.state.commonObj.wardTypeList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.id === this.social_info.area_type_id)
        if (this.$i18n.locale === 'bn') {
          const eduData = { label: tmpData.name_bn }
          return eduData
        } else {
          const eduData = { label: tmpData.name }
          return eduData
        }
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    city_corporation: function () {
      if (this.social_info.area_type_id > 0) {
        const eduList = this.$store.state.commonObjCommonConfig.cityCorporationList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.city_corporation_id)
        if (this.$i18n.locale === 'bn') {
          const eduData = { label: tmpData.text_bn }
          return eduData
        } else {
          const eduData = { label: tmpData.text_en }
          return eduData
        }
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    ward: function () {
      if (this.social_info.ward_id > 0) {
        const eduList = this.$store.state.commonObjCommonConfig.wardList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.ward_id)
        if (this.$i18n.locale === 'bn') {
          const eduData = { label: tmpData.text_bn }
          return eduData
        } else {
          const eduData = { label: tmpData.text_en }
          return eduData
        }
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    pauroshoba: function () {
      if (this.social_info.pauroshoba_id > 0) {
        const eduList = this.$store.state.commonObjCommonConfig.pauroshobaList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.pauroshoba_id)
        if (this.$i18n.locale === 'bn') {
          const eduData = { label: tmpData.text_bn }
          return eduData
        } else {
          const eduData = { label: tmpData.text_en }
          return eduData
        }
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    district: function () {
      if (this.social_info.district_id !== '') {
        const eduList = this.$store.state.commonObj.districtList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.district_id)
        const eduData = { label: tmpData.text }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    upazila: function () {
      if (this.social_info.upazila_id > 0) {
        const eduList = this.$store.state.commonObj.upazilaList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.upazila_id)
        const eduData = { label: tmpData.text }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    union: function () {
      if (this.social_info.union_id > 0) {
        const eduList = this.$store.state.commonObj.unionList
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.social_info.union_id)
        const eduData = { label: tmpData.text }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    muac: function () {
      if (this.physical_info.muac !== '') {
        const eduList = StaticData.muacList(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.physical_info.muac)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_1: function () {
      if (this.health_info.question_no_1 !== '') {
        const eduList = StaticData.q1List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_1)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_2: function () {
      if (this.health_info.question_no_2 !== '') {
        const eduList = StaticData.q2List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_2)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_4: function () {
      if (this.health_info.question_no_4 !== '') {
        const eduList = StaticData.q4List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_4)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_5: function () {
      if (this.health_info.question_no_5 !== '') {
        const eduList = StaticData.q5List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_5)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_6: function () {
      if (this.health_info.question_no_6 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_6)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_7: function () {
      if (this.health_info.question_no_7 !== '') {
        const eduList = StaticData.q7List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_7)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_8: function () {
      if (this.health_info.question_no_8 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_8)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_9: function () {
      if (this.health_info.question_no_9 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_9)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_10: function () {
      if (this.health_info.question_no_10 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_10)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_11: function () {
      if (this.health_info.question_no_11 !== '') {
        const eduList = StaticData.q11List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_11)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_12: function () {
      if (this.health_info.question_no_12 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_12)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_13: function () {
      if (this.health_info.question_no_13 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_13)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_14: function () {
      if (this.health_info.question_no_14 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_14)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_15: function () {
      if (this.health_info.question_no_15 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_15)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_16: function () {
      if (this.health_info.question_no_16 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_16)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_17: function () {
      if (this.health_info.question_no_17 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_17)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    },
    question_no_18: function () {
      if (this.health_info.question_no_18 !== '') {
        const eduList = StaticData.q18List(this)
        let tmpData = {}
        tmpData = eduList.find(eduItem => eduItem.value === this.health_info.question_no_18)
        const eduData = { label: tmpData.label }
        return eduData
      } else {
        const eduData = { label: '' }
        return eduData
     }
    }
  },
  methods: {
    pdfExport () {
      this.printInfoData.form_id = this.social_info.pusti_mapping_id
      this.printInfoData.form_date = this.social_info.pusti_mapping_date
      this.printSData.name_en = this.social_info.name_en
      this.printSData.name_bn = this.social_info.name_bn
      this.printSData.father_name_en = this.social_info.father_name_en
      this.printSData.father_name_bn = this.social_info.father_name_bn
      this.printSData.mother_name_en = this.social_info.mother_name_en
      this.printSData.mother_name_bn = this.social_info.mother_name_bn
      this.printSData.age = this.social_info.age
      this.printSData.gender = this.gender.label
      this.printSData.father_education_status = this.father_education_status.label
      this.printSData.mother_education_status = this.mother_education_status.label
      this.printSData.earning_member = this.earning_member.label
      this.printSData.monthly_family_income = this.monthly_family_income.label
      this.printSData.income_source = this.income_source.label
      this.printSData.family_category = this.family_category.label
      this.printSData.no_of_family_member = this.social_info.no_of_family_member
      this.printSData.religion = this.religion.label
      this.printSData.area_type_id = this.areatype.label
      this.printSData.division_id = this.division.label
      this.printSData.district_id = this.district.label
      if (this.social_info.pauroshoba_id) {
        this.printSData.pauroshoba_id = this.pauroshoba.label
      }
      this.printSData.ward_id = this.ward.label
      if (this.social_info.city_corporation_id) {
        this.printSData.city_corporation_id = this.city_corporation.label
      }
      if (this.social_info.upazila_id) {
        this.printSData.upazila_id = this.upazila.label
      }
      if (this.social_info.union_id) {
        this.printSData.union_id = this.union.label
      }
      this.printSData.village_en = this.social_info.village_en
      this.printSData.village_bn = this.social_info.village_bn
      this.printSData.mobile_no = this.social_info.mobile_no
      this.printPData.height = this.physical_info.height
      this.printPData.weight = this.physical_info.weight
      this.printPData.head_circumference = this.physical_info.head_circumference
      this.printPData.chest_circumference = this.physical_info.head_circumference
      this.printPData.muac = this.muac.label
      this.printHData.question_no_1 = this.question_no_1.label
      this.printHData.question_no_2 = this.question_no_2.label
      this.printHData.question_no_3 = this.health_info.question_no_3
      this.printHData.question_no_4 = this.question_no_4.label
      this.printHData.question_no_5 = this.question_no_5.label
      this.printHData.question_no_6 = this.question_no_6.label
      this.printHData.question_no_7 = this.question_no_7.label
      this.printHData.question_no_8 = this.question_no_8.label
      this.printHData.question_no_9 = this.question_no_9.label
      this.printHData.question_no_10 = this.question_no_10.label
      this.printHData.question_no_11 = this.question_no_11.label
      this.printHData.question_no_12 = this.question_no_12.label
      this.printHData.question_no_13 = this.question_no_13.label
      this.printHData.question_no_14 = this.question_no_14.label
      this.printHData.question_no_15 = this.question_no_15.label
      this.printHData.question_no_16 = this.question_no_16.label
      this.printHData.question_no_17 = this.question_no_17.label
      this.printHData.question_no_18 = this.question_no_18.label

      const reportTitle = this.$t('pusti_mapping.mapping_form')
      ExportPdf.exportPdfDetails(agriMarketingServiceBaseUrl, '/cotton/config/report-heading/detail', 3, reportTitle, this.printInfoData, this, this.printSData, this.printPData, this.printHData)
    }
  }
}
</script>
