<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <b-card no-body>
          <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
            <b-form  @submit.prevent="handleSubmit(social_submit)" @reset.prevent="reset" >
              <b-table-simple bordered>
                <b-thead class="bg-light text-dark">
                  <b-tr>
                    <b-th>{{ $t('pusti_mapping.sl') }}</b-th>
                    <b-th>{{ $t('pusti_mapping.question') }}</b-th>
                    <b-th>{{ $t('pusti_mapping.category') }}</b-th>
                    <b-th>{{ $t('pusti_mapping.code') }}</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.1') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_1') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 01" vid="question_no_1" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q1List">
                            <b-form-radio inline v-model="health_info.question_no_1" :question_no_1="item.option" name="question_no_1" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.2') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_2') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 02" vid="question_no_2" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q2List">
                            <b-form-radio inline v-model="health_info.question_no_2" :question_no_2="item.option" name="question_no_2" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.3') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_3') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 03" vid="question_no_3" rules="required|min_value:1">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <b-form-input type="number" min="1" v-model="health_info.question_no_3" id="question_no_3" :state="errors[0] ? false : (valid ? true : null)">
                          </b-form-input>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider></b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.4') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_4') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 04" vid="question_no_4" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q4List">
                            <b-form-radio inline v-model="health_info.question_no_4" :question_no_4="item.option" name="question_no_4" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.5') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_5') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 05" vid="question_no_5" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q5List">
                            <b-form-radio inline v-model="health_info.question_no_5" :question_no_5="item.option" name="question_no_5" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.6') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_6') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 6" vid="question_no_6" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_6" :question_no_6="item.option" name="question_no_6" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.7') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_7') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 07" vid="question_no_7" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q7List">
                            <b-form-radio inline v-model="health_info.question_no_7" :question_no_7="item.option" name="question_no_7" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.8') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_8') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 08" vid="question_no_8" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_8" :question_no_8="item.option" name="question_no_8" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.9') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_9') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 09" vid="question_no_9" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_9" :question_no_9="item.option" name="question_no_9" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.10') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_10') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 10" vid="question_no_10" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_10" :question_no_10="item.option" name="question_no_10" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.11') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_11') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 11" vid="question_no_11" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q11List">
                            <b-form-radio inline v-model="health_info.question_no_11" :question_no_11="item.option" name="question_no_11" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider></b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.12') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_12') }}</b-td>
                    <b-td>
                    <ValidationProvider name="Question 12" vid="question_no_12" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_12" :question_no_12="item.option" name="question_no_12" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.13') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_10') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 13" vid="question_no_13" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_13" :question_no_13="item.option" name="question_no_13" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.14') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_14') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 14" vid="question_no_14" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_14" :question_no_14="item.option" name="question_no_14" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.15') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_15') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 15" vid="question_no_15" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_15" :question_no_15="item.option" name="question_no_15" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.16') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_16') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 16" vid="question_no_16" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_16" :question_no_16="item.option" name="question_no_16" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.17') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_17') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 17" vid="question_no_17" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_17" :question_no_17="item.option" name="question_no_17" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                  <b-tr>
                    <b-td>{{ $t('pusti_mapping.18') }}</b-td>
                    <b-td>{{ $t('pusti_mapping.question_no_18') }}</b-td>
                    <b-td>
                      <ValidationProvider name="Question 18" vid="question_no_18" rules="required">
                        <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                          <template v-for="(item,index) in q18List">
                            <b-form-radio inline v-model="health_info.question_no_18" :question_no_18="item.option" name="question_no_18" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                          </template>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-td>
                    <b-td></b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
            </b-form>
          </ValidationObserver>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { MappingFormHealth } from '../../api/routes'
import StaticData from './static_data.js'

export default {
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {
      rows: []
    }
  },
  mounted () {
    core.index()
  },
  computed: {
    q1List: function () {
      return StaticData.q1List(this)
    },
    q2List: function () {
      return StaticData.q2List(this)
    },
    q4List: function () {
      return StaticData.q4List(this)
    },
    q5List: function () {
      return StaticData.q5List(this)
    },
    q7List: function () {
      return StaticData.q7List(this)
    },
    q11List: function () {
      return StaticData.q11List(this)
    },
    q18List: function () {
      return StaticData.q18List(this)
    }
  },
  props: ['health_info'],
  methods: {
    async health_submit () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }
      result = await RestApi.postData(agriMarketingServiceBaseUrl, MappingFormHealth, this.health_info)

      loadingState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadingState)
      if (result.success) {
        this.$store.commit('agriMarketing/mutateAgriMarketingProperties', { hasDropdownLoaded: false })
          this.$toast.success({
            title: 'Success',
            message: this.$t('globalTrans.save_msg'),
            color: '#D6E09B'
          })
          return result
          } else {
            this.$toast.error({
                title: 'Error',
                message: this.$t('globalTrans.form_error_msg'),
                color: '#D6E09B'
            })
            this.$refs.form.setErrors(result.errors)
          }
    }
  }
}
</script>
