<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <b-card no-body>
          <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
            <b-form  @submit.prevent="handleSubmit(social_submit)" @reset.prevent="reset" >
              <b-row>
                <b-col md="6">
                <ValidationProvider name="Pusti Mapping Id" vid="pusti_mapping_id" rules="required">
                  <b-form-group class="row" label-cols-sm="3" label-for="pusti_mapping_id" slot-scope="{ valid, errors }">
                    <template v-slot:label>
                      {{$t('pusti_mapping.pusti_mapping_id')}}
                    </template>
                    <b-form-input id="pusti_mapping_id" v-model="mapping_form.pusti_mapping_id"
                    :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
              </b-col>
              <b-col md="6">
                <ValidationProvider name="Pusti Mapping Date" vid="pusti_mapping_date" rules="required">
                  <b-form-group class="row" label-cols-sm="3" label-for="pusti_mapping_date" slot-scope="{ valid, errors }">
                    <template v-slot:label>
                      {{$t('pusti_mapping.pusti_mapping_date')}}
                    </template>
                    <b-form-input id="datepicker" v-model="mapping_form.pusti_mapping_date"
                    :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                </ValidationProvider>
              </b-col>
            </b-row>
                    <b-table-simple bordered>
                    <template>
                      <b-thead class="bg-light text-dark">
                        <b-tr>
                          <b-th>{{ $t('pusti_mapping.question') }}</b-th>
                          <b-th>{{ $t('pusti_mapping.category') }}</b-th>
                          <b-th>{{ $t('pusti_mapping.code') }}</b-th>
                        </b-tr>
                      </b-thead>
                      <b-tbody>
                        <b-tr>
                          <b-td>
                            <ValidationProvider name="Name EN" vid="name_en" rules="required">
                              <b-form-group class="row" label-cols-sm="3" label-for="name_en" slot-scope="{ valid, errors }">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.name_en')}}
                                </template>
                                <b-form-input id="name_en" v-model="mapping_form.name_en"
                                :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                            <ValidationProvider name="Name BN" vid="name_bn" rules="required">
                              <b-form-group class="row" label-cols-sm="3" label-for="name_bn" slot-scope="{ valid, errors }">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.name_bn')}}
                                </template>
                                <b-form-input id="name_en" v-model="mapping_form.name_bn"
                                :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                            <div class="row">
                              <div class="col-6">
                            <ValidationProvider name="Father's Name En" vid="father_name_en" rules="required">
                              <b-form-group class="row" label-cols-sm="4" label-for="father_name_en" slot-scope="{ valid, errors }">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.father_name_en')}}
                                </template>
                                <b-form-input id="father_name_en" v-model="mapping_form.father_name_en"
                                :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                            </div>
                            <div class="col-6">
                            <ValidationProvider name="Mother's Name EN" vid="mother_name_en" rules="required">
                              <b-form-group class="row" label-cols-sm="4" label-for="mother_name_en" slot-scope="{ valid, errors }">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.mother_name_en')}}
                                </template>
                                <b-form-input id="mother_name_en" v-model="mapping_form.mother_name_en"
                                :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                            <ValidationProvider name="Father's Name BN" vid="father_name_bn" rules="required">
                              <b-form-group class="row" label-cols-sm="4" label-for="father_name_bn" slot-scope="{ valid, errors }">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.father_name_bn')}}
                                </template>
                                <b-form-input id="father_name_bn" v-model="mapping_form.father_name_bn"
                                :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                            </div>
                            <div class="col-6">
                            <ValidationProvider name="Mother's Name BN" vid="mother_name_bn" rules="required">
                              <b-form-group class="row" label-cols-sm="4" label-for="mother_name_bn" slot-scope="{ valid, errors }">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.mother_name_bn')}}
                                </template>
                                <b-form-input id="mother_name_bn" v-model="mapping_form.mother_name_bn"
                                :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                            </div>
                            </div>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.age')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Age" vid="age" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <b-form-input id="datepicker" v-model="mapping_form.age"
                                :state="errors[0] ? false : (valid ? true : null)"></b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.gender')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Gender" vid="gender" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in genderList">
                                  <b-form-radio inline v-model="mapping_form.gender" :gender="item.gender" name="gender" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.father_education_status')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Father Education Status" vid="father_education_status" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in fatherEdutcationStatusList">
                                  <b-form-radio inline v-model="mapping_form.father_education_status" :father_education="item.education" name="father_education" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.mother_education_status')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Mother Education Status" vid="mother_education_status" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in motherEducationStatusList">
                                  <b-form-radio inline v-model="mapping_form.mother_education_status" :mother_education_status="item.education" name="mother_education_status" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.earning_member')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Earning Member" vid="earning_member" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in earningMemberList">
                                  <b-form-radio inline v-model="mapping_form.earning_member" :earning_member="item.member" name="earning_member" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.monthly_family_income')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Monthly Family Income" vid="monthly_family_income" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in monthlyIncomeList">
                                  <b-form-radio inline v-model="mapping_form.monthly_family_income" :monthly_family_income="item.m_income" name="monthly_family_income" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.income_source')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Income Source" vid="income_source" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in incomeSourceList">
                                  <b-form-radio inline v-model="mapping_form.income_source" :income_source="item.source" name="income_source" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.family_category')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Family Category" vid="family_category" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in familyCategoryList">
                                  <b-form-radio inline v-model="mapping_form.family_category" :family_category="item.category" name="family_category" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.no_of_family_member')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="No Of Family Member" vid="no_of_family_member" rules="required|min_value:1">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <b-form-input type="number" min="1"
                                  v-model="mapping_form.no_of_family_member" id="no_of_family_member" :state="errors[0] ? false : (valid ? true : null)">
                                </b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.religion')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Religion" vid="religion" rules="required">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <template v-for="(item,index) in religionList">
                                  <b-form-radio inline v-model="mapping_form.religion" :religion="item.religion" name="religion" :key="index" :value="item.value">{{ item.label }}</b-form-radio>
                                </template>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.present_address')}}
                          </b-td>
                          <b-td>
                            <div class="row">
                              <div class="col-6">
                                <ValidationProvider name="area_type_id" vid="area_type_id" rules="required|min_value:1">
                                  <b-form-group class="row"
                                    label-cols-sm="4"
                                    label-for="area_type_id "
                                    slot-scope="{ valid, errors }"
                                    >
                                    <template v-slot:label>
                                      {{$t('org_pro.area_type')}} <span class="text-danger">*</span>
                                    </template>
                                    <b-form-select
                                      plain
                                      v-model="mapping_form.area_type_id"
                                      id="area_type_id"
                                      :options="getAreaTypeList"
                                      @change="getAreaTypeData(mapping_form.area_type_id)"
                                      :state="errors[0] ? false : (valid ? true : null)"
                                      >
                                      <template v-slot:first>
                                        <b-form-select-option :value="0" disabled selected>{{$t('globalTrans.select')}}</b-form-select-option>
                                      </template>
                                    </b-form-select>
                                    <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                  </b-form-group>
                                </ValidationProvider>
                              </div>
                            </div>
                            <div class="row" v-show="ItemShow">
                              <div class="col-6">
                                <ValidationProvider name="Division" vid="division_id" rules="required|min_value:1">
                                  <b-form-group
                                            class="row"
                                                label-cols-sm="4"
                                                label-for="division_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('org_pro_division.division') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="mapping_form.division_id"
                                                :options="divisionList"
                                                id="division_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                            </div>
                            <div class="col-6">
                              <ValidationProvider name="district" vid="district_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="district_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('org_pro_district.district') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="mapping_form.district_id"
                                                :options="districtList"
                                                id="district_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-6" v-show="PauroshobaItemShow || UnionItemShow">
                                <ValidationProvider name="upazila" vid="upazila_id" rules="required|min_value:1">
                                  <b-form-group class="row"
                                      label-cols-sm="4"
                                      label-for="upazila_id"
                                      slot-scope="{ valid, errors }">
                                      <template v-slot:label>
                                        {{ $t('globalTrans.upazila') }} <span class="text-danger">*</span>
                                      </template>
                                      <b-form-select plain v-model="mapping_form.upazila_id"
                                        :options="upazilaList"
                                                id="upazila_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                    <template v-slot:first>
                                      <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                  </b-form-select>
                                  <div class="invalid-feedback">
                                    {{ errors[0] }}
                                  </div>
                                </b-form-group>
                              </ValidationProvider>
                            </div>
                            <div class="col-6" v-show="UnionItemShow">
                                        <ValidationProvider name="union" vid="union_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="union_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('globalTrans.union') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="mapping_form.union_id"
                                                :options="unionList"
                                                id="union_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                            </div>
                            <div class="col-6" v-show="CityCorpItemShow">
                                        <ValidationProvider name="City Corporation" vid="city_corporation_id">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="city_corporation_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                    {{ $t('org_pro.city_corporation') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="mapping_form.city_corporation_id"
                                                :options="cityCorporationList"
                                                id="city_corporation_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                            </div>
                            <div class="col-6" v-show="PauroshobaItemShow">
                                        <ValidationProvider name="Municipality" vid="pauroshoba_id">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="pauroshoba_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                    {{ $t('org_pro.pauroshoba') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="mapping_form.pauroshoba_id"
                                                :options="pauroshobaList"
                                                id="pauroshoba_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                            </div>
                            <div class="col-6" v-show="ItemShow">
                                        <ValidationProvider name="Ward" vid="ward_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="ward_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                    {{ $t('org_pro.ward') }}
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="mapping_form.ward_id"
                                                :options="wardList"
                                                id="ward_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                              <b-form-group class="row" label-cols-sm="2" label-for="village_en">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.village_en')}}
                                </template>
                                <b-form-input id="village_en" v-model="mapping_form.village_en"></b-form-input>
                              </b-form-group>
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                              <b-form-group class="row" label-cols-sm="2" label-for="village_bn">
                                <template v-slot:label>
                                  {{$t('pusti_mapping.village_bn')}}
                                </template>
                                <b-form-input id="village_bn" v-model="mapping_form.village_bn"></b-form-input>
                              </b-form-group>
                            </div>
                            </div>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td>
                            {{$t('pusti_mapping.mobile_no')}}
                          </b-td>
                          <b-td>
                            <ValidationProvider name="Mobile No" vid="mobile_no" rules="min:11|max:11">
                              <b-form-group class="row col-12" slot-scope="{ valid, errors }">
                                <b-form-input type="number" maxlength="11" minlength="11"
                                  v-model="mapping_form.mobile_no" id="no_of_member" :state="errors[0] ? false : (valid ? true : null)">
                                </b-form-input>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                              </b-form-group>
                            </ValidationProvider>
                          </b-td>
                          <b-td>
                          </b-td>
                        </b-tr>
                      </b-tbody>
                  </template>
                </b-table-simple>
              </b-form>
            </ValidationObserver>
          </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { MappingFormSocial } from '../../api/routes'
import StaticData from './static_data.js'
import flatpickr from 'flatpickr'

export default {
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {
      ItemShow: false,
      CityCorpItemShow: false,
      PauroshobaItemShow: false,
      UnionItemShow: false,
      rows: [],
      districtList: [],
      upazilaList: [],
      unionList: [],
      cityCorporationList: [],
      pauroshobaList: [],
      wardList: []
    }
  },
  watch: {
    'mapping_form.division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'mapping_form.district_id': function (newVal, oldVal) {
      this.cityCorporationList = this.getCityCorporationList(newVal)
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'mapping_form.upazila_id': function (newVal, oldVal) {
      this.unionList = this.getUnionList(newVal)
      this.pauroshobaList = this.getPauroshobaList(newVal)
    },
    'mapping_form.city_corporation_id': function (newVal, oldVal) {
      this.wardList = this.getWardListByCityCorportaion(newVal)
    },
    'mapping_form.pauroshoba_id': function (newVal, oldVal) {
      this.wardList = this.getWardListByPauroshoba(newVal)
    },
    'mapping_form.union_id': function (newVal, oldVal) {
      this.wardList = this.getWardListByUnion(newVal)
    }
  },
  mounted () {
    core.index()
    flatpickr('#datepicker', {})
  },
  computed: {
    getAreaTypeList: function () {
      const objectData = this.$store.state.commonObj.wardTypeList
        return objectData.map((obj, key) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.id, text: obj.name_bn }
        } else {
          return { value: obj.id, text: obj.name }
        }
      })
    },
    genderList: function () {
      return StaticData.genderList(this)
    },
    fatherEdutcationStatusList: function () {
      return StaticData.fatherEdutcationStatusList(this)
    },
    motherEducationStatusList: function () {
      return StaticData.motherEducationStatusList(this)
    },
    earningMemberList: function () {
      return StaticData.earningMemberList(this)
    },
    monthlyIncomeList: function () {
      return StaticData.monthlyIncomeList(this)
    },
    incomeSourceList: function () {
      return StaticData.incomeSourceList(this)
    },
    familyCategoryList: function () {
      return StaticData.familyCategoryList(this)
    },
    religionList: function () {
      return StaticData.religionList(this)
    },
    orgList: function () {
      return this.$store.state.commonObj.organizationProfileList
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    }
  },
  props: ['mapping_form'],
  methods: {
    async social_submit () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }
      result = await RestApi.postData(agriMarketingServiceBaseUrl, MappingFormSocial, this.mapping_form)

      loadingState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadingState)
      if (result.success) {
        this.$store.commit('agriMarketing/mutateAgriMarketingProperties', { hasDropdownLoaded: false })
          this.$toast.success({
            title: 'Success',
            message: this.$t('globalTrans.save_msg'),
            color: '#D6E09B'
          })
          return result
          } else {
            this.$toast.error({
                title: 'Error',
                message: this.$t('globalTrans.form_error_msg'),
                color: '#D6E09B'
            })
            this.$refs.form.setErrors(result.errors)
          }
    },
    getAreaTypeData (typeId) {
      this.ItemShow = true
      if (typeId === 1) {
        this.CityCorpItemShow = true
        this.PauroshobaItemShow = false
        this.UnionItemShow = false
      } else if (typeId === 2) {
        this.CityCorpItemShow = false
        this.PauroshobaItemShow = true
        this.UnionItemShow = false
      } else if (typeId === 3) {
        this.CityCorpItemShow = false
        this.PauroshobaItemShow = false
        this.UnionItemShow = true
      }
    },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)
        if (divisionId) {
          return districtList.filter(district => district.division_id === divisionId)
        }
      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
        if (districtId) {
          return upazilaList.filter(upazila => upazila.district_id === districtId)
        }
      return upazilaList
    },
    getUnionList (upazilaId = null) {
      const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
        if (upazilaId) {
          return unionList.filter(union => union.upazilla_id === upazilaId)
        }
      return unionList
    },
    getCityCorporationList (districtId) {
      const objectData = this.$store.state.commonObjCommonConfig.cityCorporationList.filter(item => item.status === 0 && item.district_id === districtId)
      return objectData.map((obj, key) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text_en }
        }
      })
    },
    getPauroshobaList (upazillaId = null) {
      const objectData = this.$store.state.commonObjCommonConfig.pauroshobaList.filter(item => item.upazilla_id === upazillaId)
      if (upazillaId) {
          return objectData.map((obj, key) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
      }
    },
    getWardListByCityCorportaion (cityCorpId) {
      const objectData = this.$store.state.commonObjCommonConfig.wardList
      const wardObjectList = objectData.filter(item => item.city_corporation_id === cityCorpId && item.status === 0)
      return wardObjectList.map((obj, key) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
    },
    getWardListByPauroshoba (pauroshobaId) {
      const objectData = this.$store.state.commonObjCommonConfig.wardList
      const wardObjectList = objectData.filter(item => item.pauroshoba_id === pauroshobaId && item.status === 0)
        return wardObjectList.map((obj, key) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
    },
    getWardListByUnion (unionId) {
      const objectData = this.$store.state.commonObjCommonConfig.wardList
      const wardObjectList = objectData.filter(item => item.union_id === unionId && item.status === 0)
        return wardObjectList.map((obj, key) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
    }
  }
}
</script>
