<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                    <ValidationProvider name="Organization" vid="org_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="organiation_id"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                        {{$t('globalTrans.organization')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                          plain
                          v-model="pumpCapacity.org_id"
                          :options="organizationList"
                          id="organiation_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Scheme Type" vid="master_scheme_type_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="master_scheme_type_id"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                        {{$t('irrigation_config.scheme_typel')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                          plain
                          v-model="pumpCapacity.master_scheme_type_id"
                          :options="schemeTypeList"
                          id="master_scheme_type_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Pump Capcity" vid="capacity" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="capacity"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                        {{$t('irrigation_config.pump_capacity')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="capacity"
                          v-model="pumpCapacity.capacity"
                          :state="errors[0] ? false : (valid ? true : null)"
                          onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { irriSchemeServiceBaseUrl } from '../../../../../config/api_config'
import { pumpCapacityStore, pumpCapacityUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {
      totalPost: 0,
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      pumpCapacity: {
        org_id: 0,
        master_scheme_type_id: 0,
        capacity: ''
      },
      schemeTypeList: []
    }
  },
  computed: {
    organizationList () {
      return this.$store.state.commonObj.organizationProfileList.filter(scheme => scheme.status === 0)
    }
  },
  created () {
    if (this.id) {
      const tmp = this.getPumpCapacity()
      this.pumpCapacity = tmp
    }
  },
  mounted () {
    core.index()
  },
  watch: {
    'pumpCapacity.org_id': function (newVal, oldVal) {
      this.schemeTypeList = this.getSchemeTypeList(newVal)
    }
  },
  methods: {
    getPumpCapacity () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }

      if (this.pumpCapacity.id) {
        result = await RestApi.putData(irriSchemeServiceBaseUrl, `${pumpCapacityUpdate}/${this.id}`, this.pumpCapacity)
      } else {
        result = await RestApi.postData(irriSchemeServiceBaseUrl, pumpCapacityStore, this.pumpCapacity)
      }

      loadinState.listReload = true

      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$store.dispatch('IrriConfig/mutateCommonObj', { hasDropdownLoaded: false })
        this.$toast.success({
          title: 'Success',
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    },
    getSchemeTypeList (orgId) {
      const schemeTypeList = this.$store.state.IrriConfig.commonObj.schemeTypeList.filter(item => item.status === 0)
      if (orgId) {
        return schemeTypeList.filter(schemeType => (schemeType.org_id === orgId && schemeType.status === 0))
      }
      return schemeTypeList
    }
  }
}
</script>
