<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
        <h4 class="card-title">{{ $t('sidebar.irrigation.required_maintenance') }}</h4>
      </template>
      <template v-slot:body>
        <b-row>
          <b-col lg="6" md="6" sm="12" xs="12">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('pump_install.organization')"
              label-for="org_id"
            >
              <b-form-select
                plain
                id="org_id"
                v-model="search.org_id"
                :options="orgList"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col lg="6" md="6" sm="12" xs="12">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('irri_pump_main.complain_id')"
              label-for="complain_id"
            >
              <b-form-input
                id="complain_id"
                v-model="search.complain_id"
                placeholder=""
                ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col lg="6" md="6" sm="12" xs="12">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('pump_install.name')"
              label-for="name"
            >
              <b-form-input
                id="name"
                v-model="search.name"
                placeholder=""
                ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col lg="6" md="6" sm="12" xs="12">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('irri_pump_main.subject')"
              label-for="subject"
            >
              <b-form-input
                id="irri_pump_main"
                v-model="search.subject"
                placeholder=""
                ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('sidebar.irrigation.required_maintenance') }}</h4>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :emptyText="$t('globalTrans.noDataFound')" show-empty :items="complains" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(location)="data">
                      {{ getLocation(data.item) }}
                    </template>
                    <template v-slot:cell(created_at)="data">
                      {{ data.item.created_at | dateFormat }}
                    </template>
                    <template v-slot:cell(details)="data">
                      <div class="text-center">
                        <b-button v-b-modal.modal-1 variant=" iq-bg-success mr-1 mb-1" size="sm" title="View Application" @click="view(data.item, 1, $t('pump_install.application_details'))"><i class="ri-eye-line m-1"></i></b-button>
                      </div>
                    </template>
                    <template v-slot:cell(attachment)="data">
                      <a v-if="data.item.attachment !== null" :href="baseUrl + 'download-attachment?file=uploads/farmer-complain/original/' + data.item.attachment" title="Download"><i class="ri-download-cloud-fill"></i></a>
                    </template>
                    <template v-slot:cell(identified_quipment)="data">
                      <b-button v-if="data.item.tro_equipment_id !== null" v-b-modal.modal-1 variant=" iq-bg-success mr-1 mb-1" size="sm" :title="$t('irri_pump_main.identified_quipment')" @click="view(data.item, 2, $t('irri_pump_main.identified_quipment'))"><i class="ri-eye-line m-1"></i></b-button>
                    </template>
                    <template v-slot:cell(action)="data">
                      <div class="text-center">
                        <b-button v-b-modal.modal-1 variant=" iq-bg-success mr-1 mb-1" size="sm" :title="$t('irri_pump_main.resolved')" @click="view(data.item, 3, $t('irri_pump_main.resolved'))"><i class="ri-check-line"></i></b-button>
                        <b-button v-if="data.item.resunk_id === null" v-b-modal.modal-1 variant=" iq-bg-success mr-1 mb-1" size="sm" :title="$t('irri_pump_main.resunk')" @click="view(data.item, 4, $t('irri_pump_main.resunk'))"><i class="ri-arrow-go-back-line"></i></b-button>
                        <b-button v-if="data.item.tro_equipment_id === null" v-b-modal.modal-1 variant=" iq-bg-success mr-1 mb-1" size="sm" :title="$t('irri_pump_main.identify_trouble_quipment')" @click="view(data.item, 5, $t('irri_pump_main.identify_trouble_quipment'))"><i class="ri-equalizer-fill"></i></b-button>
                        <b-button v-if="data.item.status !== 5" variant=" iq-bg-success mr-1 mb-1" size="sm" :title="$t('irri_pump_main.send')" @click="send(data.item)"><i class="ri-arrow-right-line"></i></b-button>
                      </div>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="testClick"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
        <b-modal id="modal-1" size="xl" :title="modalTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <p>
            <ApplicationDetails :id="id" :key="id" v-if="modalType === 1"/>
            <IdentifiedEuipment :id="id" :complainId="complainId" :complainBy="complainBy" :key="id" v-if="modalType === 2"/>
            <Resolved :id="id" :complainId="complainId" :complainBy="complainBy" :key="id" v-if="modalType === 3" />
            <Resunk :id="id" :complainId="complainId" :complainBy="complainBy" :key="id" v-if="modalType === 4" />
            <IdentifyTroubleEquipment :id="id" :farmer_id="farmer_id" :complainId="complainId" :complainBy="complainBy" :key="id" v-if="modalType === 5" />
          </p>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import RestApi, { irriSchemeServiceBaseUrl } from '@/config/api_config'
import { pumpComplainMaintenanceList, pumpComplainMaintenanceSend } from '../../api/routes'
import ApplicationDetails from './ApplicationDetails'
import Resolved from './Resolved'
import Resunk from './Resunk'
import IdentifyTroubleEquipment from './IdentifyTroubleEquipment'
import IdentifiedEuipment from './IdentifiedEuipment'
import { mapGetters } from 'vuex'

export default {
  name: 'UiDataTable',
  components: {
    ApplicationDetails,
    Resolved,
    Resunk,
    IdentifyTroubleEquipment,
    IdentifiedEuipment
  },
  data () {
    return {
      modalTitle: '',
      modalType: -111,
      farmer_id: '',
      search: {
        org_id: 0,
        complain_id: '',
        name: '',
        subject: ''
      },
      pagination: {
        currentPage: 1,
        totalRows: 0,
        perPage: this.$store.state.commonObj.perPage,
        slOffset: 1
      },
      id: 0,
      rows: [],
      districtList: [],
      upazilaList: [],
      unionList: [],
      baseUrl: irriSchemeServiceBaseUrl,
      complains: [],
      complainId: '',
      complainBy: ''
    }
  },
  computed: {
    ...mapGetters({
      authUser: 'Auth/authUser'
    }),
    formTitle () {
      return (this.testId === 0) ? this.$t('org_pro.office') + ' ' + this.$t('globalTrans.entry') : this.$t('org_pro.office') + ' ' + this.$t('globalTrans.modify')
    },
    loading () {
      return this.$store.state.commonObj.loading
    },
    listReload () {
      return this.$store.state.commonObj.listReload
    },
    loadingState () {
      if (this.listReload) {
        return true
      } else if (this.loading) {
        return true
      } else {
        return false
      }
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.complain_id'), class: 'text-left' },
          { label: this.$t('irri_pump_main.complained_by'), class: 'text-left' },
          { label: this.$t('irri_pump_main.location'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.subject'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.date'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.details'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.attachment'), class: 'text-left' },
          { label: this.$t('irri_pump_main.identified_quipment'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'complain_id' },
          { key: 'name_bn' },
          { key: 'location' },
          { key: 'subject_bn' },
          { key: 'created_at' },
          { key: 'details' },
          { key: 'attachment' },
          { key: 'identified_quipment' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'complain_id' },
          { key: 'name' },
          { key: 'location' },
          { key: 'subject' },
          { key: 'created_at' },
          { key: 'details' },
          { key: 'attachment' },
          { key: 'identified_quipment' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    },
    orgList: function () {
      return this.$store.state.commonObj.organizationProfileList
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    }
  },
  mounted () {
    core.index()
    if (this.authUser.role_id === 0 && this.authUser.is_org_admin === 1) {
      this.search = Object.assign({}, this.search, {
        org_id: this.authUser.org_id
      })
    } else if (this.authUser.role_id === 0) {
      this.search = Object.assign({}, this.search, {
        org_id: this.authUser.office_detail.org_id
      })
    }
    this.loadData()
  },
  methods: {
    resetId () {
      this.id = 0
    },
    testClick () {
      this.loadData()
    },
    default () {
      return {
        id: this.rows.length
      }
    },
    paginationData (data) {
      this.pagination.currentPage = data.current_page
      this.pagination.totalRows = data.total
      this.pagination.slOffset = this.pagination.perPage * this.pagination.currentPage - this.pagination.perPage + 1
    },
    view (item, modalType, modalTitle) {
      this.id = item.id
      this.modalTitle = modalTitle
      this.modalType = modalType
      this.complainId = item.complain_id
      this.farmer_id = item.farmer_id
      this.complainBy = (this.$i18n.locale === 'bn') ? item.name_bn : item.name
    },
    async send (item) {
      const send = { complain_id: item.id }
      await RestApi.postData(irriSchemeServiceBaseUrl, pumpComplainMaintenanceSend, send).then(response => {
        if (response.success) {
          this.$toast.success({
              title: 'Success',
              message: this.$t('globalTrans.save_msg'),
              color: '#D6E09B'
          })
          this.loadData()
          // this.$router.push('maintenance-task')
        } else {
          this.$toast.error({
              title: 'Success',
              message: response.errors,
              color: '#D6E09B'
          })
        }
      })
    },
    searchData () {
      if (this.authUser.role_id === 0 && this.authUser.is_org_admin === 1) {
        this.search = Object.assign({}, this.search, {
          org_id: this.authUser.org_id
        })
      } else if (this.authUser.role_id === 0) {
        this.search = Object.assign({}, this.search, {
          org_id: this.authUser.office_detail.org_id
        })
      }
      this.loadData()
    },
    async loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      await RestApi.getData(irriSchemeServiceBaseUrl, pumpComplainMaintenanceList, params).then(response => {
        if (response.success) {
          this.complains = response.data.data
          this.paginationData(response.data)
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getLocation (item) {
      const location = []
      const divisionList = this.$store.state.commonObj.divisionList
      const tmpDivision = divisionList.find(division => division.value === item.far_division_id)
      if (this.$i18n.locale === 'bn') {
        location.push(tmpDivision.text_bn !== undefined ? tmpDivision.text_bn : '')
      } else {
        location.push(tmpDivision.text_en !== undefined ? tmpDivision.text_en : '')
      }
      const districtList = this.$store.state.commonObj.districtList
      const tmpDistrict = districtList.find(district => district.value === item.far_district_id)
      if (this.$i18n.locale === 'bn') {
        location.push(tmpDistrict.text_bn !== undefined ? tmpDistrict.text_bn : '')
      } else {
        location.push(tmpDistrict.text_en !== undefined ? tmpDistrict.text_en : '')
      }
      const upazilaList = this.$store.state.commonObj.upazilaList
      const tmpUpazila = upazilaList.find(upazila => upazila.value === item.far_upazilla_id)
      if (this.$i18n.locale === 'bn') {
        location.push(tmpUpazila.text_bn !== undefined ? tmpUpazila.text_bn : '')
      } else {
        location.push(tmpUpazila.text_en !== undefined ? tmpUpazila.text_en : '')
      }
      const unionList = this.$store.state.commonObj.unionList
      const tmpUnion = unionList.find(union => union.value === item.far_union_id)
      if (this.$i18n.locale === 'bn') {
        location.push(tmpUnion.text_bn !== undefined ? tmpUnion.text_bn : '')
      } else {
        location.push(tmpUnion.text_en !== undefined ? tmpUnion.text_en : '')
      }
      return location.join(', ')
    }
  }
}
</script>
