<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:body>
                <b-row>
                <b-col xs="12" sm="12" md="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('warehouse_config.crop_type')"
                    label-for="division_id"
                    >
                    <b-form-select
                        plain
                        v-model="search.commodity_group_id"
                        :options="commodityGroupList"
                        id="division_id"
                        >
                        <template v-slot:first>
                        <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                        </template>
                    </b-form-select>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('warehouse_config.crop_name')"
                    label-for="crop_name"
                    >
                    <v-select name="crop_id"
                    v-model="search.crop_id"
                    label="text"
                    option-value="value"
                    option-text="text"
                    :options= commodityNameList
                    :placeholder="$t('globalTrans.select')"
                    />
                    </b-form-group>
                </b-col>
                </b-row>
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('warehouse_config.crop_name') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                            {{  $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                                        <template v-slot:cell(index)="data">
                                        {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(commodity_group_name)="data">
                                        <span class="capitalize">{{ data.item.commodity_group_name }}</span>
                                        </template>
                                        <template v-slot:cell(commodity_name)="data">
                                        <span class="capitalize">{{ data.item.commodity_name }}</span>
                                        </template>
                                        <template v-slot:cell(district_name)="data">
                                        <span class="capitalize">{{ data.item.district_name }}</span>
                                        </template>
                                        <template v-slot:cell(upazilla_name)="data">
                                        <span class="capitalize">{{ data.item.upazilla_name }}</span>
                                        </template>
                                        <template v-slot:cell(office_name)="data">
                                        <span class="capitalize">{{ data.item.office_name }}</span>
                                        </template>
                                        <template v-slot:cell(status)="data">
                                        {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                                        </template>
                                        <template v-slot:cell(action)="data">
                                        <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                        <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                         v-if="pagination.totalRows"
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>

        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
           <Form :id="editItemId" :key="editItemId"/>
        </b-modal>

    </b-container>
</template>
<script>
import Form from './Form'
import RestApi, { warehouseServiceBaseUrl } from '../../../../../config/api_config'
import { commodityNameList, commodityNameToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
    mixins: [ModalBaseMasterList],
    components: {
        Form
    },
    data () {
        return {
            testnameList: [],
            search: {
                commodity_group_id: '0',
                crop_id: 0
            },
            commodity: {
                commodity_group_id: '0'
            },
            commodityNameList: []
        }
    },
    computed: {
        commodityGroupList: function () {
            return this.$store.state.warehouse.commodityGroupList.filter(item => item.status === 0)
        },
        // commodityNameList: function () {
        //   const tmpList = this.$store.state.warehouse.commodityNameList.filter(item => item.status === 0)
        //   return tmpList.map(item => ({ text: item.text, value: item.value }))
        // },
        formTitle () {
            return (this.editItemId === 0) ? this.$t('warehouse_config.crop_name_entry') : this.$t('warehouse_config.crop_name_modify')
        },
        columns () {
            const labels = [
                { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
                { label: this.$t('warehouse_config.crop_type_name'), class: 'text-left' },
                { label: this.$t('warehouse_config.crop_name'), class: 'text-left' },
                { label: this.$t('globalTrans.status'), class: 'text-center' },
                { label: this.$t('globalTrans.action'), class: 'text-center' }
            ]

            /*eslint-disable */
            let keys = []

            if (this.$i18n.locale === 'bn') {
                keys = [
                { key: 'index' },
                { key: 'cropType_name_bn' },
                { key: 'commodity_name_bn' },
                { key: 'status' },
                { key: 'action' }
                ]
            } else {
                keys = [
                { key: 'index' },
                { key: 'cropType_name' },
                { key: 'commodity_name' },
                { key: 'status' },
                { key: 'action' }
                ]
            }

            return labels.map((item, index) => {
                return Object.assign(item, keys[index])
            })
        }
    },
     watch: {
        'search.commodity_group_id': function (newVal, oldVal) {
        this.commodityNameList = this.getcommodityList(newVal)
        }
    },
    async created () {
        this.loadData()
    },
    methods: {
        async searchData () {
            this.loadData()
        },
        remove (item) {
        this.changeStatus(warehouseServiceBaseUrl, commodityNameToggleStatus, item, 'warehosue', 'commodityNameList')
        },
        loadData () {
            var cropIdSerach = ''
            if (this.search.crop_id) {
                cropIdSerach = this.search.crop_id.value
            }
          const params = Object.assign({}, this.search, { crop_id: cropIdSerach, page: this.pagination.currentPage, per_page: this.pagination.perPage })
          this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
          RestApi.getData(warehouseServiceBaseUrl, commodityNameList, params).then(response => {
              if (response.success) {
                  // this.$store.dispatch('setList', response.data.data)
                  this.$store.dispatch('setList', this.ListDataShow(response.data.data))
                  this.paginationData(response.data)
              }
              this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
          })
        },
        getcommodityList(Id = null) {
            return this.$store.state.warehouse.commodityNameList.filter(item => item.commodity_group_id === Id)
        },
        ListDataShow (data) {
        let tmpData = {}
        const listData = data.map(item => {
            tmpData = this.$store.state.warehouse.commodityGroupList.find(typeID => typeID.value === item.commodity_group_id && typeID.status === 0)
            const orgData = {
                cropType_name: tmpData !== undefined ? tmpData.text_en : '',
                cropType_name_bn: tmpData !== undefined ? tmpData.text_bn : ''
            }
            return Object.assign({}, item, orgData)
        })
        return listData
        }
    }
}
</script>
