<template>
  <div>
    <div class="card login-form">
      <div class="card-body">
        <div class="login-form-area">
          <div class="card-title text-center">
            <img class="img-fluid" width="100" src="@/assets/images/login/logo.png" alt="">
          </div>
          <b-alert :show="errorAlert" variant=" " dismissible fade class="text-white bg-danger">
            <div class="iq-alert-icon">
              <i class="ri-information-line"></i>
            </div>
            <div class="iq-alert-text">{{ errorMsg }}</div>
          </b-alert>
          <div class="card-text">
            <div class="loader" v-show="loading">
              <img src="@/assets/images/login/loader.gif" alt="">
            </div>
            <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
              <b-form @submit.prevent="handleSubmit(login)" @reset.prevent="reset" autocomplete="off">
                <ValidationProvider name="Username/Email" vid="email" rules="required">
                  <b-input-group label-for="email" slot-scope="{ valid, errors }">
                    <b-input-group-prepend>
                      <span class="input-group-text"><i class="fa fa-user fa-lg"></i></span>
                    </b-input-group-prepend>
                    <b-form-input
                      id="email"
                      v-model="user.email"
                      :placeholder="$t('globalTrans.usernameOrEmail')"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-input-group>
                </ValidationProvider>
                <ValidationProvider name="password" rules="required|min:3">
                  <b-input-group label-for="password" slot-scope="{ valid, errors }" class="mt-4 mb-3">
                    <b-input-group-prepend>
                      <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    </b-input-group-prepend>
                    <b-form-input
                      id="password"
                      type="password"
                      v-model="user.password"
                      :placeholder="$t('globalTrans.password')"
                      autocomplete="off"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-input-group>
                </ValidationProvider>
                <div class="custom-control custom-checkbox">
                  <b-col>
                    <input type="checkbox" class="custom-control-input" id="customControlInline" />
                    <label class="custom-control-label" for="customControlInline">{{ $t('globalTrans.remember_me') }}</label>
                  </b-col>
                  <b-col>
                    <a href="#"><i class="mdi mdi-lock mr-1"></i> {{ $t('globalTrans.forgot_your_password') }}</a>
                  </b-col>
                </div>
                <div class="mt-3">
                  <b-row>
                    <b-col>
                      <button class="btn btn-success btn-block" type="submit">{{ $t('globalTrans.login') }}</button>
                    </b-col>
                  </b-row>
                </div>
                  <div class="sign-up mt-2">
                      {{ $t('globalTrans.dont_have_an_account') }}
                      <router-link :to="{ name: 'authSignUp.sign_up' }" class="float-right">
                        {{ $t('globalTrans.sign_up') }}
                      </router-link>
                  </div>
              </b-form>
            </ValidationObserver>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="modal-register">
      <RegistrationModal/>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import RestApi, { authServiceBaseUrl } from '@/config/api_config'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { usernameCheckApi, userDataApi, authUserApi } from '../api/routes'
import RegistrationModal from './RegistrationModal'

export default {
  components: { ValidationObserver, ValidationProvider, RegistrationModal },
  data: () => ({
    loading: false,
    user: {
      username: '',
      password: '',
      email: ''
    },
    errorAlert: false,
    errorMsg: ''
  }),
  computed: {
    ...mapGetters({
      selectedLang: 'Setting/langState',
      langsOptions: 'Setting/langOptionState'
    })
  },
  created () {
    this.setDefaultLang()
  },
  mounted () {
    localStorage.removeItem('access_token')
    localStorage.removeItem('user')
  },
  methods: {
    setDefaultLang () {
      this.langsOptions.forEach(element => {
        if (element.value === 'en') {
          this.$i18n.locale = element.value
          this.langChangeState(element)
        }
      })
    },
    async login () {
      try {
        this.loading = true
        this.user.username = this.user.email

        if (this.user.email.indexOf('@') === -1) {
          const res = await RestApi.getData(authServiceBaseUrl, usernameCheckApi, { username: this.user.email })
          if (res.success) {
            this.user.username = res.data
          } else {
            this.errorAlert = true
            this.errorMsg = this.$t('authentication.loginError')
            this.loading = false
            return
          }
        }

        const creds = Object.assign(
          {},
          this.user,
          { grant_type: 'password', client_id: process.env.VUE_APP_AUTH_CLIENT_ID, client_secret: process.env.VUE_APP_AUTH_CLIENT_SEC }
        )
        const result = await RestApi.postData(authServiceBaseUrl, '/v1/oauth/token', creds)

        if (!result.access_token) {
          this.errorAlert = true
          this.errorMsg = this.$t('authentication.loginError')
          this.loading = false
          return
        }

        localStorage.setItem('access_token', result.access_token)

        const apiResponse = await RestApi.getData(authServiceBaseUrl, userDataApi, null)
        if (apiResponse.success) {
          this.$store.dispatch('Auth/updateAuthUser', Object.assign(
            {},
            apiResponse.data,
            { username: apiResponse.username, user_id: apiResponse.user_id, user_type: apiResponse.user_type, is_org_admin: apiResponse.is_org_admin, office_detail: apiResponse.office_detail }))
          localStorage.setItem('accessUsername', apiResponse.username)
          localStorage.setItem('accessUserId', apiResponse.user_id)
          localStorage.setItem('user', JSON.stringify(apiResponse.data))
          this.apiResponse = apiResponse
          let homePage
          if (apiResponse.user_type === 0) {
            homePage = '/auth/role-select'
          } else if (apiResponse.user_type === 2) {
            const authUserApiResponse = await RestApi.getData(authServiceBaseUrl, authUserApi, null)
            homePage = authUserApiResponse.data && authUserApiResponse.data.user_detail_farmer && !((authUserApiResponse.data.user_detail_farmer.status === 1) || (authUserApiResponse.data.user_detail_farmer.status === 3)) ? '/warehouse-farmer/profile' : '/dashboard'
          } else if (apiResponse.user_type === 3) { //  4 mean ginner
            homePage = '/ginner/profile'
          } else if (apiResponse.user_type === 4) { //  4 mean grower
            homePage = '/grower/profile'
          } else if (apiResponse.user_type === 5) { //  5 mean divisional head
            const authUserApiResponse = await RestApi.getData(authServiceBaseUrl, authUserApi, null)
            homePage = authUserApiResponse.data && authUserApiResponse.data.user_detail.status === 0 && authUserApiResponse.data.user_detail_farmer === null ? '/divisional-head/dashboard' : '/dashboard'
          } else if (apiResponse.user_type === 6) { //  6 Dealer Panel
            // const authUserApiResponse = await RestApi.getData(authServiceBaseUrl, authUserApi, null)
            homePage = '/dealer-panel/dashboard'
          } else if (apiResponse.user_type === 7) { //  7 Grant applicant
            homePage = '/grant-panel/dashboard'
          } else {
            homePage = '/dashboard'
          }
          this.$router.push(homePage)
        } else {
            this.errorAlert = true
            this.errorMsg = this.$t('authentication.loginError')
            this.$router.push('/auth/login')
        }
      } catch (error) {
        if (error) {
          //
        }
        this.errorAlert = true
        this.errorMsg = this.$t('authentication.loginError')
        this.loading = false
      }
    },
    ...mapActions({
      langChangeState: 'Setting/setLangAction'
    })
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
  .overflow-hidden {
    /* box-shadow: 1px 4px 12px 2px black; */
  }
  .card {
        background-color: transparent !important;
        background: #1d4c1d56 !important;
        /* border: none !important; */
        color: #fff !important;
        min-width: 24em !important;
        border: 1px solid rgb(0, 255, 255);
        z-index: 999999;
        box-shadow: 0px 1px 6px 1px #7ee7ff;
    }
  .card-body{
    font-family: 'Hind Siliguri', sans-serif;
  }
  .login-form {
    border: 1px #FFF !important;
  }
  .login-form-area {
    position: relative !important;
  }
  .loader img {
    position: absolute !important;
    top: -50px;
    left: -80px;
    z-index: 9;
  }
  input#email[data-v-3f9ae065], input#password[data-v-3f9ae065] {
      /* border: 1px solid #c1c1c1; */
      height: 32px;
      background: #ffffffc2 !important;
      border: none;
      border-radius: 0px 50px 50px 0px;
  }
  a {
    color: #ffffff !important;
  }
  a:hover {
      color: #eee !important;
      text-decoration: underline !important;
  }
  h3.login-text{
    font-family: 'Hind Siliguri', sans-serif;
  }
  .card-header{
    background-color: #c7cef8 !important; border-bottom: 0px!important;
    font-family: 'Hind Siliguri', sans-serif;
  }
  button.btn{
    font-family: 'Hind Siliguri', sans-serif;
  }
  .btn-custom{
    background-color: #596DE1;
    color: #fff;
  }
  input#email, input#password{
    border: 1px solid #c1c1c1;
  }
  .invalid-feedback{
    margin-left: 43px;
  }
  label, #email, #password, .col-form-label, #__BVID__15__BV_label_ {
    /* color: #FFF !important; */
  }
  .form-control {
    background: #FFF !important;
    color: #000 !important;
    /* color: #ffffff !important; */
  }
  label {
    color: #ffffff;
  }
  [dir=ltr][mode=light] .is-invalid ~ .invalid-feedback, [dir=ltr][mode=light] .is-invalid ~ .invalid-tooltip, [dir=ltr][mode=light] .was-validated :invalid ~ .invalid-feedback, [dir=ltr][mode=light] .was-validated :invalid ~ .invalid-tooltip {
    font-weight: 500;
    font-size: 14px;
    color: #fb6363;
  }
</style>
