<template>
  <div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-6">
          <div class="card overflow-hidden">
              <div class="card-header">
                  <div class="avatar-md profile-user-wid">
                      <span class="avatar-title rounded-circle bg-light">
                          <img class="mx-auto d-block" src="@/assets/images/login/logo.png" height="70" />
                      </span>
                  </div>
              </div>
              <div class="card-body">
                  <b-overlay :show="loading">
                    <div class="p-2">
                      <b-alert :show="errorAlert" variant=" " dismissible fade class="text-white bg-danger">
                        <div class="iq-alert-icon">
                          <i class="ri-information-line"></i>
                        </div>
                        <div class="iq-alert-text">{{ errorMsg }}</div>
                      </b-alert>
                      <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                        <b-form @submit.prevent="handleSubmit(signup)" @reset.prevent="reset" autocomplete="off">
                            <b-row>
                              <b-col sm="12" md="6">
                                <ValidationProvider name="Name" vid="name" rules="required">
                                  <b-form-group
                                    class="row"
                                    label-cols-sm="12"
                                    label-for="name"
                                    slot-scope="{ valid, errors }"
                                  >
                                  <template v-slot:label>
                                   <span style="font-weight:600; color: black;">{{$t('user.name')}}</span> <span class="text-danger">*</span>
                                  </template>
                                  <b-input-group>
                                  <b-input-group-prepend>
                                        <span class="input-group-text"><i class="fa fa-user fa-sm"></i></span>
                                    </b-input-group-prepend>
                                    <b-form-input
                                      id="name"
                                      v-model="user.name"
                                       :placeholder="$t('globalTrans.name')"
                                      :state="errors[0] ? false : (valid ? true : null)"
                                      ></b-form-input>
                                    <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                  </b-input-group>
                                  </b-form-group>
                                </ValidationProvider>
                              </b-col>
                              <b-col sm="12" md="6">
                                <ValidationProvider name="Name (bn)" vid="name_bn" rules="required">
                                  <b-form-group
                                  class="row"
                                  label-cols-sm="12"
                                  label-for="name_bn"
                                  slot-scope="{ valid, errors }"
                                  >
                                  <template v-slot:label>
                                   <span style="font-weight:600; color: black;">{{$t('user.name_bn')}}</span> <span class="text-danger">*</span>
                                  </template>
                                  <b-input-group>
                                  <b-input-group-prepend>
                                        <span class="input-group-text"><i class="fa fa-user fa-sm"></i></span>
                                    </b-input-group-prepend>
                                  <b-form-input
                                    id="name_bn"
                                    v-model="user.name_bn"
                                     :placeholder="$t('globalUserData.name_bn')"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                    ></b-form-input>
                                  <div class="invalid-feedback">
                                    {{ errors[0] }}
                                  </div>
                                  </b-input-group>
                                  </b-form-group>
                                </ValidationProvider>
                              </b-col>
                            </b-row>
                             <b-row>
                              <b-col sm="12" md="6">
                                <ValidationProvider name="Mobile" vid="mobile_no" rules="required">
                                  <b-form-group
                                  class="row"
                                  label-cols-sm="12"
                                  label-for="mobile_no"
                                  slot-scope="{ valid, errors }"
                                  >
                                  <template v-slot:label>
                                  <span style="font-weight:600; color: black;">{{$t('globalUserData.mobile_no')}}</span> <span class="text-danger">*</span>
                                  </template>
                                  <b-input-group>
                                  <b-input-group-prepend>
                                        <span class="input-group-text"><i class="fa fa-phone fa-sm"></i></span>
                                    </b-input-group-prepend>
                                  <b-form-input
                                    type="number"
                                    id="mobile_no"
                                    @input="acceptNumber"
                                    v-model="user.mobile_no"
                                    :placeholder="$t('globalUserData.mobile_no')"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                    ></b-form-input>
                                  <div class="invalid-feedback">
                                    {{ errors[0] }}
                                  </div>
                                  </b-input-group>
                                  </b-form-group>
                                </ValidationProvider>
                              </b-col>
                              <b-col sm="12" md="6">
                                <ValidationProvider name="Email" vid="email" rules="">
                                  <b-form-group
                                    class="row"
                                    label-cols-sm="12"
                                    label-for="email"
                                    slot-scope="{ valid, errors }"
                                  >
                                  <template v-slot:label>
                                  <span style="font-weight:600; color: black;">{{$t('globalTrans.email')}}</span>
                                  </template>
                                  <b-input-group>
                                  <b-input-group-prepend>
                                        <span class="input-group-text"><i class="fa fa-envelope fa-sm"></i></span>
                                    </b-input-group-prepend>
                                    <b-form-input
                                      id="email"
                                      v-model="user.email"
                                      :placeholder="$t('globalTrans.email')"
                                      :state="errors[0] ? false : (valid ? true : null)"
                                      ></b-form-input>
                                    <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                  </b-input-group>
                                  </b-form-group>
                                </ValidationProvider>
                              </b-col>
                            </b-row>
                            <b-row>
                              <b-col sm="12" md="6">
                                <ValidationProvider name="User Type" vid="user_type_id" rules="required">
                                  <b-form-group
                                    class="row"
                                    label-cols-sm="12"
                                    :label="$t('externalUserIrrigation.user_type_id')"
                                    label-for="user_type_id"
                                    slot-scope="{ valid, errors }"
                                    >
                                  <template v-slot:label>
                                    <span style="font-weight:600; color: black;">{{$t('globalTrans.user_type')}}</span> <span class="text-danger">*</span>
                                  </template>
                                  <b-input-group>
                                  <b-input-group-prepend>
                                        <span class="input-group-text"><i class="fa fa-users fa-sm"></i></span>
                                    </b-input-group-prepend>
                                    <b-form-select
                                      plain
                                      v-model="user.user_type_id"
                                      :options="userTypeList"
                                      id="user_type_id"
                                      :state="errors[0] ? false : (valid ? true : null)"
                                      >
                                      <template v-slot:first>
                                        <b-form-select-option :value="defaultValue" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                      </template>
                                    </b-form-select>
                                    <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                  </b-input-group>
                                  </b-form-group>
                                </ValidationProvider>
                              </b-col>
                              <b-col sm="12" md="6">
                               <ValidationProvider name="Password" vid="password" rules="required|min:6">
                                  <b-form-group
                                    class="row"
                                    label-cols-sm="12"
                                    label-for="password"
                                    slot-scope="{ valid, errors }"
                                  >
                                  <template v-slot:label>
                                  <span style="font-weight:600; color: black;">{{$t('globalTrans.password')}}</span> <span class="text-danger">*</span>
                                  </template>
                                  <b-input-group>
                                  <b-input-group-prepend>
                                        <span class="input-group-text"><i class="fa fa-lock fa-sm"></i></span>
                                    </b-input-group-prepend>
                                    <b-form-input
                                      id="password"
                                      type="password"
                                      v-model="user.password"
                                      :placeholder="$t('globalTrans.password')"
                                      autocomplete="new-password"
                                      :state="errors[0] ? false : (valid ? true : null)"
                                      ></b-form-input>
                                      <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                  </b-input-group>
                                  </b-form-group>
                                </ValidationProvider>
                              </b-col>
                            </b-row>
                            <b-row>
                              <b-col sm="12" md="6">
                                 <ValidationProvider name="Confirm password" vid="password_confirmation" rules="required|confirmed:password">
                                  <b-form-group
                                    class="row"
                                    label-cols-sm="12"
                                    label-for="password_confirmation"
                                    slot-scope="{ valid, errors }"
                                  >
                                  <template v-slot:label>
                                  <span style="font-weight:600; color: black;">{{$t('globalTrans.confirm_password')}}</span> <span class="text-danger">*</span>
                                  </template>
                                  <b-input-group>
                                  <b-input-group-prepend>
                                        <span class="input-group-text"><i class="fa fa-lock fa-sm"></i></span>
                                    </b-input-group-prepend>
                                    <b-form-input
                                      id="password_confirmation"
                                      type="password"
                                      v-model="user.password_confirmation"
                                      autocomplete="new-password"
                                      :placeholder="$t('globalTrans.confirm_password')"
                                      :state="errors[0] ? false : (valid ? true : null)"
                                      ></b-form-input>
                                      <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                  </b-input-group>
                                  </b-form-group>
                                </ValidationProvider>
                              </b-col>
                            </b-row>
                            <div class="row mt-3">
                              <div class="col-md-6 offset-md-3 text-center">
                                <button class="btn btn-success btn-block" type="submit">{{ $t('globalTrans.sign_up') }}</button>
                              </div>
                            </div>
                            <div class="mt-1 text-center">
                                <router-link to="/auth/login">{{ $t('globalTrans.back_to_login') }}</router-link>
                            </div>
                        </b-form>
                      </ValidationObserver>
                    </div>
                  </b-overlay>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import RestApi, { authServiceBaseUrl } from '@/config/api_config'
import { signUp } from '../api/routes'
import { ValidationObserver, ValidationProvider } from 'vee-validate'

export default {
  components: { ValidationObserver, ValidationProvider },
  data: () => ({
    loading: false,
    defaultValue: '',
    user: {
      name: '',
      name_bn: '',
      email: '',
      mobile_no: '',
      username: '',
      password: '',
      password_confirmation: '',
      user_type_id: ''
    },
    errorAlert: false,
    errorMsg: ''
  }),
  computed: {
    userTypeList () {
      return this.$store.state.Auth.userTypeList.map(item => {
        if (this.$i18n.locale === 'bn') {
          return { value: item.value, text: item.user_type_name_bn }
        } else {
          return { value: item.value, text: item.user_type_name }
        }
      })
    }
  },
  methods: {
    async signup () {
      try {
        this.loading = true
        const result = await RestApi.postData(authServiceBaseUrl, signUp, this.user)
        if (result.success) {
          this.$router.push('otp/' + result.user_id)
        } else {
          this.errorAlert = true
          this.errorMsg = 'Failed to sign up. Please, try again.'
          this.$refs.form.setErrors(result.errors)
        }
      } catch (error) {
        if (error) {
          //
        }
        this.errorAlert = true
        this.errorMsg = 'Failed to sign up. Please, try again.'
      }

      this.loading = false
    },
    acceptNumber () {
    var x = this.user.mobile_no.replace(/\D/g, '').match(/^(01[356789])(\d{8})$/)
        if (!x) {
            this.user.mobile_no = ''
        }
    }
  }
}
</script>

<style scoped>
        .label{font-weight: 600 !important;}
        .card{border: 0px; opacity: 0.8 !important}
        .card-header{background-color: #c7cef8 !important; border-bottom: 0px!important;}
        .btn-custom{background-color: #596DE1; color: #fff;}
        .form-control{height:30px !important; background-color:var(--iq-light) !important;
        }
        .form-group{margin-bottom:.1rem !important;}
        select{font-size: 12px !important;}
        .card-header{padding: 0.35rem 1.25rem !important;}
        .card-body {padding: 0.10rem 1.25rem !important;}
        .input-group-text {
        border: 1px solid #515252 !important;
        }

</style>
