<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6">
                        <ValidationProvider name="region">
                            <b-form-group
                            class="row"
                            label-cols-sm="3"
                            label-for="region"
                            >
                            <template v-slot:label>
                            {{$t('warehouse_config.region')}}
                            </template>
                            <!-- <b-form-input
                            v-model="search.region_name"
                            id="name"
                            >
                            </b-form-input> -->
                            <v-select name="region_id"
                            v-model="search.region_id"
                            label="text"
                            :options= regionNameList
                            />
                            </b-form-group>
                        </ValidationProvider>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6">
                    <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
                    </b-col>
                </b-row>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{$t('warehouse_config.region')}}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                             {{  $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                                        <template v-slot:cell(index)="data">
                                        {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                         <template v-slot:cell(region_name)="data">
                                            <span class="capitalize">{{ data.item.region_name }}</span>
                                        </template>
                                        <template v-slot:cell(master_region_districts)="data">

                                        <span class="capitalize" v-for="(item, index) in data.item.master_region_districts" :key="index"><span>{{ $i18n.locale === 'bn' ? districtListBn[item.district_id] : districtList[item.district_id] }}<br></span></span>
                                        </template>
                                        <template v-slot:cell(status)="data">
                                        {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                                        </template>
                                        <template v-slot:cell(action)="data">
                                        <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                        <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-if="pagination.totalRows"
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>

        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>

    </b-container>
</template>
<script>
import Form from './Form'

import RestApi, { warehouseServiceBaseUrl } from '../../../../../config/api_config'
import { regionList, regionToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
    mixins: [ModalBaseMasterList],
    components: {
        Form
    },
    data () {
        return {
            search: {
                region_id: 0
            },
            testId: 0,
            rows: [],
            districtList: [],
            districtListBn: []
        }
    },
    computed: {
        regionNameList: function () {
          const tmpList = this.$store.state.warehouse.regionList.filter(item => item.status === 0)
          return tmpList.map(item => ({ text: item.text, value: item.value }))
        },
        formTitle () {
            return (this.testId === 0) ? this.$t('warehouse_config.region') : this.$t('warehouse_config.region')
        },
        columns () {
            const labels = [
                { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
                { label: this.$t('warehouse_config.region'), class: 'text-left' },
                { label: this.$t('warehouse_config.district'), class: 'text-left' },
                { label: this.$t('globalTrans.status'), class: 'text-center' },
                { label: this.$t('globalTrans.action'), class: 'text-center' }
            ]

            /*eslint-disable */
            let keys = []

            if (this.$i18n.locale === 'bn') {
                keys = [
                { key: 'index' },
                { key: 'region_name_bn' },
                { key: 'master_region_districts' },
                { key: 'status' },
                { key: 'action' }
                ]
                 keys[2] = {key: 'master_region_districts'}
            } else {
                keys = [
                { key: 'index' },
                { key: 'region_name' },
                { key: 'master_region_districts' },
                { key: 'status' },
                { key: 'action' }
                ]
                keys[2] = {key: 'master_region_districts'}
            }

            return labels.map((item, index) => {
                return Object.assign(item, keys[index])
            })
        }
    },
    async created () {
        this.loadData()
    },
    mounted () {
        this.getDistrictList()
    },
    methods: {
        async searchData () {
            this.loadData()
        },
        remove (item) {
        this.changeStatus(warehouseServiceBaseUrl, regionToggleStatus, item, 'warehosue', 'regionList')
        },
        loadData () {
            var regionIDSearch = ''
            if (this.search.region_id) {
                regionIDSearch = this.search.region_id.value
            }
            const params = Object.assign({}, this.search, { region_id: regionIDSearch, page: this.pagination.currentPage, per_page: this.pagination.perPage })
            this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
            RestApi.getData(warehouseServiceBaseUrl, regionList, params).then(response => {
                if (response.success) {
                    this.$store.dispatch('setList', response.data.data)
                    this.paginationData(response.data)
                }
                this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
            })
        },
        getDistrictList () {
            const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)
            const custom_district = []
            const custom_district_bn = []
            districtList.forEach(function (item, index) {
                custom_district[item.value] = item.text_en
                custom_district_bn[item.value] = item.text_bn
            })
            this.districtList = custom_district
            this.districtListBn =custom_district_bn
        }
    }
}
</script>
