<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('damReport.market_directory_report') }}</h4>
                    </template>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="12" sm="12">
                                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                    <b-form @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                                        <b-row>
                                            <b-col lg="6" md="6" sm="12">
                                                <ValidationProvider name="Division">
                                                    <b-form-group
                                                        class="row"
                                                        label-cols-sm="4"
                                                        label-for="division_id"
                                                        slot-scope="{ valid, errors }"
                                                        >
                                                        <template v-slot:label>
                                                        {{ $t('globalTrans.division') }}
                                                        </template>
                                                        <b-form-select
                                                        id="division_id"
                                                        plain
                                                        v-model="formData.division_id"
                                                        :options="divisionList"
                                                        :state="errors[0] ? false : (valid ? true : null)"
                                                        >
                                                        <template v-slot:first>
                                                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                        </template>
                                                        </b-form-select>
                                                        <div class="invalid-feedback">
                                                        {{ errors[0] }}
                                                        </div>
                                                    </b-form-group>
                                                </ValidationProvider>
                                            </b-col>
                                            <b-col lg="6" md="6" sm="12">
                                                <ValidationProvider name="District">
                                                    <b-form-group
                                                        class="row"
                                                        label-cols-sm="4"
                                                        label-for="district_id"
                                                        slot-scope="{ valid, errors }"
                                                        >
                                                        <template v-slot:label>
                                                        {{ $t('globalTrans.district') }}
                                                        </template>
                                                        <b-form-select
                                                        plain
                                                        v-model="formData.district_id"
                                                        :options="districtList"
                                                        id="district_id"
                                                        :state="errors[0] ? false : (valid ? true : null)"
                                                        >
                                                        <template v-slot:first>
                                                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                        </template>
                                                        </b-form-select>
                                                        <div class="invalid-feedback">
                                                        {{ errors[0] }}
                                                        </div>
                                                    </b-form-group>
                                                </ValidationProvider>
                                            </b-col>
                                            <b-col lg="6" md="6" sm="12">
                                                <ValidationProvider name="Subdistrict">
                                                    <b-form-group
                                                        class="row"
                                                        label-cols-sm="4"
                                                        label-for="upazila_id"
                                                        slot-scope="{ valid, errors }"
                                                        >
                                                        <template v-slot:label>
                                                        {{ $t('globalTrans.upazila') }}
                                                        </template>
                                                        <b-form-select
                                                        plain
                                                        v-model="formData.upazila_id"
                                                        :options="upazilaList"
                                                        id="upazila_id"
                                                        :state="errors[0] ? false : (valid ? true : null)"
                                                        >
                                                        <template v-slot:first>
                                                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                        </template>
                                                        </b-form-select>
                                                        <div class="invalid-feedback">
                                                        {{ errors[0] }}
                                                        </div>
                                                    </b-form-group>
                                                </ValidationProvider>
                                            </b-col>
                                            <b-col lg="6" md="6" sm="12">
                                                <ValidationProvider name="Market">
                                                    <b-form-group
                                                        class="row"
                                                        label-cols-sm="4"
                                                        label-for="market_id"
                                                        slot-scope="{ valid, errors }"
                                                        >
                                                        <template v-slot:label>
                                                        {{ $t('crop_price_config.market') }}
                                                        </template>
                                                        <b-form-select
                                                        plain
                                                        v-model="formData.market_id"
                                                        :options="marketList"
                                                        id="market_id"
                                                        :state="errors[0] ? false : (valid ? true : null)"
                                                        >
                                                        <template v-slot:first>
                                                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                        </template>
                                                        </b-form-select>
                                                        <div class="invalid-feedback">
                                                        {{ errors[0] }}
                                                        </div>
                                                    </b-form-group>
                                                </ValidationProvider>
                                            </b-col>
                                        </b-row>
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col text-right">
                                                <b-button type="submit" variant="primary" class="mr-2">{{ $t('globalTrans.search') }}</b-button>
                                            </div>
                                        </div>
                                    </b-form>
                                </ValidationObserver>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
                <b-row >
                  <b-col md="12">
                    <b-overlay>
                      <iq-card v-if='datas.length'>
                        <template v-slot:body>
                          <b-row>
                            <b-col md="12">
                              <iq-card>
                                <template v-slot:headerTitle>
                                  <h4 class="card-title">{{ $t('damReport.market_directory_report') }}</h4>
                                </template>
                                <template v-slot:headerAction>
                                  <b-button variant="primary" @click="pdfExport" class="mr-2">
                                    {{  $t('globalTrans.export_pdf') }}
                                  </b-button>
                                   <export-excel
                                      class="btn btn-success mr-2"
                                      :data="dataCustomizeExcel()"
                                      :title="headerValue"
                                      worksheet="Market Direactory Report"
                                      :before-generate = "headerDataExcel"
                                      name="market-directory-report.xls">
                                       {{ $t('globalTrans.export_excel') }}
                                    </export-excel>
                                </template>
                                <template v-slot:body>
                                  <b-overlay>
                                    <b-row mt-5>
                                      <b-col md="12" class="table-responsive">
                                        <div style="border: 2px solid;margin:10px;padding:10px">
                                          <b-row>
                                            <b-col>
                                              <list-report-head :base-url="warehouseServiceBaseUrl" :uri="reportHeadingList" :org-id="13">
                                                {{ $t('damReport.market_directory_report') }}
                                              </list-report-head>
                                            </b-col>
                                          </b-row>
                                          <b-row>
                                            <b-col>
                                              <div class="tableFixHead col-12">
                                                <b-table-simple class="tg mt-3" bordered hover small caption-top>
                                                  <b-thead>
                                                    <b-tr>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('globalTrans.division') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('globalTrans.district') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('globalTrans.upazila') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.market') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.foundation_year') }}</b-th>
                                                      <b-th style="width:20%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.Village') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.PostOffice') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.p_t_u') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.MarketType') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.GovtCovered') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.GovtOpen') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.PrivateCovered') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.PrivateOpen') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.ShedNo') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.ShedArea') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.StallCountAgr') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.StallCountNonAgr') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.HatDays') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.market_time_from') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.market_time_to') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.infrastructure') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.communcication_Linkage') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.BuyerSellecount') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.ProduceAssemblage') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.FarmerShare') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.TraderShare') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.productionDesignation') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.vehicle') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.average_distrance') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.data_collection_year') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.name') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.tel_mobile_number') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.Latitude') }}</b-th>
                                                      <b-th style="width:10%;vertical-align: middle;" class="text-center">{{ $t('crop_price_config.Longitude') }}</b-th>
                                                    </b-tr>
                                                  </b-thead>
                                                  <b-tbody  v-for="(info, index) in datas" :key="index">
                                                    <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.division_name_bn : info.division_name }}</b-td>
                                                    <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.distict_name_bn : info.distict_name }}</b-td>
                                                    <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.upazila_name_bn : info.upazila_name }}</b-td>
                                                    <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.market_name_bn : info.market_name }}</b-td>
                                                    <b-td class="text-center" >{{$n(info.foundation_year)}}</b-td>
                                                    <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.village : info.village }}</b-td>
                                                    <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.post_office : info.post_office }}</b-td>
                                                    <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.union : info.union }}</b-td>
                                                    <b-td class="text-center" >{{ getMarket(info.market_type )}}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.govt_covered )}}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.govt_open )}}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.private_covered )}}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.private_open )}}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.shed_no) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.shed_area) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.stall_no_agri) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.stall_no_nonagri) }}</b-td>
                                                    <b-td class="text-center" >
                                                      <span v-for="(info1, index1) in info.hat_days" :key="index1">
                                                        {{getHattDay(info1)}}
                                                      </span>
                                                    </b-td>
                                                    <b-td class="text-center" >{{ $t(info.market_time_from) }}</b-td>
                                                    <b-td class="text-center" >{{ $t(info.market_time_to) }}</b-td>
                                                    <b-td class="text-center">{{ getInfratureData(info.infrastructure_id) }}</b-td>
                                                      <b-td class="text-center" >
                                                        {{ getCommunicationLinkage(info.communication_linkage_id) }}
                                                      </b-td>
                                                    <b-td class="text-center" >{{ $n(info.number_of_buyers) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.number_of_sellers) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.farmer_share) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.trader_share) }}</b-td>
                                                    <b-td class="text-center">{{ getProductDesignation(info.product_destination) }}</b-td>
                                                    <b-td class="text-center">{{ getVechile(info.vehicle_id) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.avg_distance) }}</b-td>
                                                    <b-td class="text-center" >{{ $n(info.data_collection_year) }}</b-td>
                                                      <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.market_representative_name : info.market_representative_name }}</b-td>
                                                      <b-td class="text-center" > {{ $i18n.locale === 'bn' ? '০' : '0' }}{{$n(info.market_representative_mobile,{ useGrouping:false})}}</b-td>
                                                      <b-td class="text-center" >{{ $n(info.latitude) }}</b-td>
                                                      <b-td class="text-center" >{{ $n(info.longitude) }}</b-td>
                                                  </b-tbody>
                                                </b-table-simple>
                                              </div>
                                            </b-col>
                                          </b-row>
                                        </div>
                                      </b-col>
                                    </b-row>
                                  </b-overlay>
                                </template>
                              </iq-card>
                            </b-col>
                          </b-row>
                        </template>
                      </iq-card>
                      <div class="panel-body text-center mt-3" v-else>
                        <h6 class="text-danger" v-if="!firstTime">{{ $t('globalTrans.noDataFound') }}</h6>
                      </div>
                    </b-overlay>
                  </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</template>
<style scoped>
.tableFixHead {
  overflow-y: auto;
  height: 450px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}
.tableFixHead tbody th {
  position: fixed;
}
.tableFixHead th {
  background: #eee;
  font-size: 12px;
  padding: 10px;
  vertical-align: middle;
}
.tableFixHead td {
  padding: 10px;
  font-size: 12px;
  vertical-align: middle;
}
</style>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl, warehouseServiceBaseUrl } from '@/config/api_config'
import { marketDirectoryReport, reportHeadingList } from '../../api/routes'
import flatpickr from 'flatpickr'
import ListReportHead from '@/components/custom/ListReportHead.vue'
import ExportPdf from './export-pdf_details'
import excel from 'vue-excel-export'
import Vue from 'vue'
Vue.use(excel)

export default {
    props: [],
    components: {
        ValidationObserver,
        ValidationProvider,
        ListReportHead
    },
    created () {
        if (this.id) {
            const tmp = this.getEditingData()
            this.formData = tmp
        }
    },
    data () {
        return {
          HeaderExcel: [],
          saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
          formData: {
              division_id: '0',
              district_id: '0',
              upazila_id: '0',
              market_id: '0'
          },
          currentDate: '',
          listItemofyerterday: '',
          districtList: [],
          upazilaList: [],
          marketList: [],
          commoditySubGroupList: [],
          warehouseServiceBaseUrl: warehouseServiceBaseUrl,
          reportHeadingList: reportHeadingList,
          headerExcelDefault: {
            orgName: null,
            orgNameBn: null,
            address: null,
            address_bn: null
          },
          datas: [],
          loading: false,
          firstTime: true,
          showData: false
        }
    },
    mounted () {
        core.index()
        flatpickr('.datepicker', {})
        this.headerDataExcel()
        this.AveragePriceText = (parseInt(this.formData.HighestPrice) + parseInt(this.formData.LowestPrice)) / 2
    },
    computed: {
       headerValue: function () {
          const headerVal = []
          if (this.$i18n.locale === 'en') {
            headerVal[0] = this.headerExcelDefault.orgName
            headerVal[1] = this.headerExcelDefault.address
            headerVal[2] = this.$t('damReport.market_directory_report')
          } else {
            headerVal[0] = this.headerExcelDefault.orgNameBn
            headerVal[1] = this.headerExcelDefault.address_bn
            headerVal[2] = this.$t('damReport.market_directory_report')
          }
          return headerVal
       },
        divisionList: function () {
          return this.$store.state.agriMarketing.damData.divisionList
        },
        priceEntryTypeList: function () {
          return this.$store.state.agriMarketing.commonObj.priceEntryTypeList
        },
        timePreiodList: function () {
          return this.$store.state.agriMarketing.commonObj.timePreiodList
        },
        i18 () {
          return this.$i18n.locale
        },
        priceTypeList: function () {
          return this.$store.state.agriMarketing.commonObj.priceTypeList
        }
    },
    watch: {
        'formData.division_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.districtList = this.getDistrictList(newVal)
            }
        },
        'formData.district_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.upazilaList = this.getUpazilaList(newVal)
            }
        },
        'formData.upazila_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.marketList = this.getMarketList(newVal)
            }
        }
    },
    methods: {
        dataCustomizeExcel () {
        var serial = 0
        const customizeData = this.datas.map(item => {
          serial += 1
          if (this.$i18n.locale === 'en') {
            return {
              SL: item.division_name,
              District: item.distict_name,
              Upazila: item.upazila_name,
              Market: item.market_name,
              'Foundation Year': this.$n(item.foundation_year),
              Village: item.village,
              'Post Office': item.post_office,
              Union: item.union,
              'Market Type': this.getMarket(item.market_type),
              'Govt Convered': this.$n(item.govt_covered),
              'Govt Open': this.$n(item.govt_open),
              'Private Covered': this.$n(item.private_covered),
              'Private Open': this.$n(item.private_open),
              'Shed No': this.$n(item.shed_no),
              'Shed Area': this.$n(item.shed_area),
              'Stall No Agri': this.$n(item.stall_no_agri),
              'Stall No Non Agri': this.$n(item.stall_no_nonagri),
              'Hatt Day': this.getHattDay(item.hat_days),
              'Market Time From': this.$t(item.market_time_from),
              'Market Time To': this.$t(item.market_time_to),
              Infrastructure: this.getInfratureData(item.infrastructure_id),
              'Communication Linkage': this.getCommunicationLinkage(item.communication_linkage_id),
              Vehicle: this.getVechile(item.vehicle_id),
              'Number Of Buyers': this.$t(item.number_of_buyers),
              'Number Of Sellers': this.$t(item.number_of_sellers),
              'Farmer Share': this.$t(item.farmer_share),
              'Trader Share': this.$t(item.trader_share),
              'Product Designation': this.getProductDesignation(item.product_destination),
              'Avg Distance': this.$t(item.avg_distance),
              'Data Collection Year': this.$t(item.data_collection_year),
              'Market Representation Name': item.market_representative_name,
              'Market Representative Mobile': item.market_representative_mobile,
              Latitude: this.$n(item.latitude),
              Longitude: this.$n(item.longitude)
            }
          } else {
            return {
              'ক্রমিক নং': this.$n(serial),
              বিভাগ: item.division_name_bn,
              জেলা: item.distict_name_bn,
              উপজেলা: item.upazila_name_bn,
              বাজার: item.market_name_bn,
              স্থাপনকাল: this.$n(item.foundation_year),
              গ্রাম: item.village,
              'ডাক ঘর': item.post_office,
              ইউনিয়ন: item.union,
              'বাজারের ধরণ': this.getMarket(item.market_type),
              'সরকার সম্মতি জানায়': this.$n(item.govt_covered),
              'সরকারী ওপেন': this.$n(item.govt_open),
              'ব্যক্তিগত আচ্ছাদিত': this.$n(item.private_covered),
              'প্রাইভেট ওপেন': this.$n(item.private_open),
              'শেড নং': this.$n(item.shed_no),
              'শেড এরিয়া': this.$n(item.shed_area),
              'স্টল নো এগ্রি': this.$n(item.stall_no_agri),
              'স্টল নন অ্যাগ্রি': this.$n(item.stall_no_nonagri),
              'হাট দিবস': this.getHattDay(item.hat_days),
              'বাজার সময় থেকে': this.$t(item.market_time_from),
              'বাজার সময়': this.$t(item.market_time_to),
              অবকাঠামো: this.getInfratureData(item.infrastructure_id),
              'যোগাযোগ লিঙ্কেজ': this.getCommunicationLinkage(item.communication_linkage_id),
              যানবাহন: this.getVechile(item.vehicle_id),
              'ক্রেতার সংখ্যা': this.$t(item.number_of_buyers),
              'বিক্রেতার সংখ্যা': this.$t(item.number_of_sellers),
              'কৃষক ভাগ': this.$t(item.farmer_share),
              'ট্রেডার শেয়ার': this.$t(item.trader_share),
              'পণ্য পদবী': this.getProductDesignation(item.product_destination),
              'গড় দূরত্ব': this.$t(item.avg_distance),
              'ডেটা সংগ্রহের বছর': this.$t(item.data_collection_year),
              'বাজার প্রতিনিধিত্বের নাম': item.market_representative_name,
              'বাজার প্রতিনিধি মোবাইল': item.market_representative_mobile,
              অক্ষাংশ: this.$n(item.latitude),
              দ্রাঘিমাংশ: this.$n(item.longitude)
            }
          }
        })
        return customizeData
        },
        getMarket (marketType) {
            marketType = parseInt(marketType)
            if (marketType === 1) {
                return this.$i18n.locale === 'en' ? 'Assemble' : 'একত্রিত করা'
            } else if (marketType === 2) {
                 return this.$i18n.locale === 'en' ? 'Primary' : 'প্রাথমিক'
            } else if (marketType === 3) {
                return this.$i18n.locale === 'en' ? 'Retail' : 'খুচরা'
            } else if (marketType === 4) {
                return this.$i18n.locale === 'en' ? 'Wholesale' : 'পাইকারি'
            } else if (marketType === 5) {
                return this.$i18n.locale === 'en' ? 'Wholesale Cum Retail' : 'খুচরা বিক্রয়'
            }
        },
        getHattDay (datDay) {
            datDay = parseInt(datDay)
            if (datDay === 1) {
                return this.$i18n.locale === 'en' ? 'Daily' : 'প্রতিদিন'
            } else if (datDay === 2) {
                 return this.$i18n.locale === 'en' ? 'Friday' : 'শুক্রবার'
            } else if (datDay === 3) {
                return this.$i18n.locale === 'en' ? 'Saturday' : 'শনিবার'
            } else if (datDay === 4) {
                return this.$i18n.locale === 'en' ? 'Sunday' : 'রবিবার'
            } else if (datDay === 5) {
              return this.$i18n.locale === 'en' ? 'Monday' : 'সোমবার'
            } else if (datDay === 6) {
              return this.$i18n.locale === 'en' ? 'Tuesday' : 'মঙ্গলবার'
            } else if (datDay === 7) {
              return this.$i18n.locale === 'en' ? 'Wednesday' : 'বুধবার'
            } else if (datDay === 8) {
              return this.$i18n.locale === 'en' ? 'Thursday' : 'বৃহস্পতিবার'
            }
        },
        getCommunicationLinkage (linkageIds) {
          const linkageList = this.$store.state.agriMarketing.commonObj.communicationLinkageList
          const communicationLinkage = []
          linkageIds.map(e => {
            const tmpLinkage = linkageList.find(linkage => linkage.value === e)
            communicationLinkage.push(this.$i18n.locale === 'bn' ? tmpLinkage.text_bn : tmpLinkage.text_en)
          })
          return communicationLinkage.join(', ')
        },
        getInfratureData (InfractureIds) {
          const infractureList = this.$store.state.agriMarketing.commonObj.infrastructureList
          const infracture = []
          InfractureIds.map(e => {
            const tmpInfracture = infractureList.find(infracture => infracture.value === e)
            infracture.push(this.$i18n.locale === 'bn' ? tmpInfracture.text_bn : tmpInfracture.text_en)
          })
          return infracture.join(', ')
        },
        getVechile (vechilesIds) {
          const vechileList = this.$store.state.agriMarketing.commonObj.vehicleList
          const vechile = []
          vechilesIds.map(e => {
            const tmpVechile = vechileList.find(vechile => vechile.value === e)
            vechile.push(this.$i18n.locale === 'bn' ? tmpVechile.text_bn : tmpVechile.text_en)
          })
          return vechile.join(', ')
        },
        getProductDesignation (productDesigantion) {
          const desigantionList = this.$store.state.agriMarketing.commonObj.designationOfProductList
          const desigationProduct = []
          productDesigantion.map(e => {
            const tmpDesignation = desigantionList.find(desigationProduct => desigationProduct.value === e)
            desigationProduct.push(this.$i18n.locale === 'bn' ? tmpDesignation !== undefined ? tmpDesignation.text_bn : '' : tmpDesignation !== undefined ? tmpDesignation.text_en : '')
          })
          return desigationProduct.join(', ')
        },
        pdfExport () {
          const reportTitle = this.$t('damReport.market_directory_report')
           ExportPdf.exportPdfDetails(warehouseServiceBaseUrl, '/master-warehouse-report-heading/detail', 13, reportTitle, this.datas, this, this.formData)
        },
        onChangeFile (e) {
            this.attachmentDemo = e.target.files[0]
        },
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        headerDataExcel () {
        RestApi.getData(warehouseServiceBaseUrl, '/master-warehouse-report-heading/detail/13').then(response => {
          if (response.success) {
            const orgList = this.$store.state.commonObj.organizationProfileList.find(item => item.value === 13)
            const orgName = typeof orgList !== 'undefined' ? orgList.text_en : ''
            const orgNameBn = typeof orgList !== 'undefined' ? orgList.text_bn : ''
            this.headerExcelDefault.orgName = orgName
            this.headerExcelDefault.orgNameBn = orgNameBn
            this.headerExcelDefault.address = response.data.address
            this.headerExcelDefault.address_bn = response.data.address_bn
          }
        })
        },
        async saveData () {
          this.loading = true
          await RestApi.getData(agriMarketingServiceBaseUrl, marketDirectoryReport, this.formData).then(response => {
            if (response.success) {
              this.loading = false
              if (response.data) {
                this.datas = this.formatData(response.data)
                this.firstTime = false
              }
            } else {
              this.datas = []
              this.loading = false
              this.firstTime = false
            }
          })
        },
        formatData (data) {
          const formattedData = data.map(item => {
            const divisionData = this.$store.state.agriMarketing.damData.divisionList.find(division => division.value === item.division_id)
            const districtData = this.$store.state.agriMarketing.damData.districtList.find(district => district.value === item.district_id)
            const upazilaData = this.$store.state.agriMarketing.damData.upazilaList.find(upazilla => upazilla.value === item.upazila_id)
            const tmpBindingData = {
              division_name: divisionData !== undefined ? divisionData.text_en : '',
              division_name_bn: divisionData !== undefined ? divisionData.text_bn : '',
              distict_name: districtData !== undefined ? districtData.text_en : '',
              distict_name_bn: districtData !== undefined ? districtData.text_bn : '',
              upazila_name: upazilaData !== undefined ? upazilaData.text_en : '',
              upazila_name_bn: upazilaData !== undefined ? upazilaData.text_bn : ''
            }
            return Object.assign({}, item, tmpBindingData)
          })
          return formattedData
        },
        getDistrictList (divisionId = null) {
            return this.$store.state.agriMarketing.damData.districtList.filter(item => item.division_id === divisionId)
        },
        getUpazilaList (districtId = null) {
            const upazilaList = this.$store.state.agriMarketing.damData.upazilaList
            if (districtId) {
                return upazilaList.filter(upazila => upazila.district_id === districtId)
            }
            return upazilaList
        },
        getMarketList (upazillaId = null) {
            const dataList = this.$store.state.agriMarketing.commonObj.marketList.filter(item => item.upazila_id === upazillaId)
            return dataList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        getPriceTypeList: function (entryType) {
            const dataList = this.$store.state.agriMarketing.commonObj.priceTypeList.filter(item => item.entry_type === entryType)
            return dataList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        }
    }
}
</script>
