<template>
    <b-container fluid>
        <iq-card>
            <!-- <template v-slot:body>
                <b-row>
                    <b-col lg="6" sm="12">
                        <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('elearning_config.organization')"
                        label-for="organization"
                        >
                        <v-select name="organization"
                        v-model="search.org_id"
                        label="text"
                        :reduce="item => item.value"
                        :options= orgList
                        />
                        </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('elearning_config.office_type')"
                        label-for="office_type"
                        >
                        <v-select name="office_type"
                        v-model="search.office_type_id"
                        label="text"
                        :reduce="item => item.value"
                        :options= officeTypeList
                        />
                        </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('elearning_config.room_type')"
                        label-for="room_type"
                        >
                        <v-select name="croptypeID"
                        v-model="search.room_type_id"
                        label="text"
                        :reduce="item => item.value"
                        :options= payGradeSetupList
                        />
                        </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
                    </b-col>
                </b-row>
            </template> -->
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{$t('elearning_config.pay_grade_setup')}}</h4>
                    </template>
                    <template v-slot:headerAction1>

                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                             {{  $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                                        <template v-slot:cell(index)="data">
                                        {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(type_name)="data">
                                        <span class="capitalize">{{ data.item.type_name }}</span>
                                        </template>
                                        <template v-slot:cell(amount)="data">
                                        <span class="capitalize">{{ $n(data.item.amount, { useGroping: false }) }}</span>
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template>
                                        <template v-slot:cell(action)="data">
                                            <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                            <span v-if="data.item.status === 1">
                                                <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="fas fa-window-close m-0"></i></b-button>
                                            </span>
                                            <span v-if="data.item.status === 2">
                                                <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="fa fa-check m-0"></i></b-button>
                                            </span>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>

    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import Form from './Form'
import RestApi, { trainingElearningServiceBaseUrl } from '@/config/api_config'
import { payGradeSetupList, payGradeSetupToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
    mixins: [ModalBaseMasterList],
    components: {
        Form
    },
    data () {
        return {
            search: {
                org_id: 0,
                office_type_id: 0,
                room_type_id: 0
            },
            officeTypeList: []
        }
    },
    computed: {
        gradeList: function () {
          const grade = [
            { value: 1, text: this.$i18n.local === 'en' ? 'Grade-1' : 'গ্রেড-' + this.$n(1) },
            { value: 2, text: this.$i18n.local === 'en' ? 'Grade-2' : 'গ্রেড-' + this.$n(2) },
            { value: 3, text: this.$i18n.local === 'en' ? 'Grade-3' : 'গ্রেড-' + this.$n(3) },
            { value: 4, text: this.$i18n.local === 'en' ? 'Grade-4' : 'গ্রেড-' + this.$n(4) },
            { value: 5, text: this.$i18n.local === 'en' ? 'Grade-5' : 'গ্রেড-' + this.$n(5) },
            { value: 6, text: this.$i18n.local === 'en' ? 'Grade-6' : 'গ্রেড-' + this.$n(6) },
            { value: 7, text: this.$i18n.local === 'en' ? 'Grade-7' : 'গ্রেড-' + this.$n(7) },
            { value: 8, text: this.$i18n.local === 'en' ? 'Grade-8' : 'গ্রেড-' + this.$n(8) },
            { value: 9, text: this.$i18n.local === 'en' ? 'Grade-9' : 'গ্রেড-' + this.$n(9) },
            { value: 10, text: this.$i18n.local === 'en' ? 'Grade-10' : 'গ্রেড-' + this.$n(10) },
            { value: 11, text: this.$i18n.local === 'en' ? 'Grade-11' : 'গ্রেড-' + this.$n(11) },
            { value: 12, text: this.$i18n.local === 'en' ? 'Grade-12' : 'গ্রেড-' + this.$n(12) },
            { value: 13, text: this.$i18n.local === 'en' ? 'Grade-13' : 'গ্রেড-' + this.$n(13) },
            { value: 14, text: this.$i18n.local === 'en' ? 'Grade-14' : 'গ্রেড-' + this.$n(14) },
            { value: 15, text: this.$i18n.local === 'en' ? 'Grade-15' : 'গ্রেড-' + this.$n(15) },
            { value: 16, text: this.$i18n.local === 'en' ? 'Grade-16' : 'গ্রেড-' + this.$n(16) },
            { value: 17, text: this.$i18n.local === 'en' ? 'Grade-17' : 'গ্রেড-' + this.$n(17) },
            { value: 18, text: this.$i18n.local === 'en' ? 'Grade-18' : 'গ্রেড-' + this.$n(18) },
            { value: 19, text: this.$i18n.local === 'en' ? 'Grade-19' : 'গ্রেড-' + this.$n(19) },
            { value: 20, text: this.$i18n.local === 'en' ? 'Grade-20' : 'গ্রেড-' + this.$n(20) }
          ]
          return grade
        },
        formTitle () {
            return (this.editItemId === 0) ? this.$t('elearning_config.pay_grade_setup') + ' ' + this.$t('globalTrans.entry') : this.$t('elearning_config.pay_grade_setup') + ' ' + this.$t('globalTrans.update')
        },
        columns () {
            const labels = [
                { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
                { label: this.$t('elearning_config.pay_grade_from'), class: 'text-left' },
                { label: this.$t('elearning_config.pay_grade_to'), class: 'text-left' },
                { label: this.$t('elearning_config.amount'), class: 'text-left' },
                { label: this.$t('globalTrans.status'), class: 'text-center' },
                { label: this.$t('globalTrans.action'), class: 'text-center' }
            ]

            /*eslint-disable */
            let keys = []

            if (this.$i18n.locale === 'bn') {
                keys = [
                { key: 'index' },
                { key: 'grade_from' },
                { key: 'grade_to' },
                { key: 'amount' },
                { key: 'status' },
                { key: 'action' }
                ]
            } else {
                keys = [
                { key: 'index' },
                { key: 'grade_from' },
                { key: 'grade_to' },
                { key: 'amount' },
                { key: 'status' },
                { key: 'action' }
                ]
            }

            return labels.map((item, index) => {
                return Object.assign(item, keys[index])
            })
        }
    },
    async created () {
        this.loadData()
    },
    mounted () {
        core.index()
    },
    methods: {
        dataChange () {
            this.loadData()
        },
        async searchData () {
            this.loadData()
        },
        remove (item) {
            this.changeStatus(trainingElearningServiceBaseUrl, payGradeSetupToggleStatus, item, 'training_e_learning', 'payGradeSetupList')
        },
        officeList (orgId) {
          const office = this.$store.state.commonObj.officeTypeList.filter(item => item.status === 0)
          if (orgId) {
              return office.filter(item => item.org_id === orgId)
          }
          return office
        },
        loadData () {
            const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
            this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
            RestApi.getData(trainingElearningServiceBaseUrl, payGradeSetupList, params).then(response => {
                if (response.success) {
                    this.$store.dispatch('setList', this.getCustomDataList(response.data.data))
                    this.paginationData(response.data)
                }
                this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
            })
        },
        getCustomDataList(data) {
          const listData = data.map(item => {
            const gradeFromObj = this.gradeList.find(doc => doc.value === parseInt(item.pay_grade_from))
            const gradeFromData = {}
            if(typeof gradeFromObj !== 'undefined') {
              gradeFromData.grade_from = gradeFromObj.text
              gradeFromData.grade_from_bn = gradeFromObj.text
            } else {
              gradeFromData.grade_from = ''
              gradeFromData.grade_from_bn = ''
            }

            const gradeToObj = this.gradeList.find(doc => doc.value === parseInt(item.pay_grade_to))
            const gradeToData = {}
            if(typeof gradeToObj !== 'undefined') {
              gradeToData.grade_to = gradeToObj.text
              gradeToData.grade_to_bn = gradeToObj.text
            } else {
              gradeToData.grade_to = ''
              gradeToData.grade_to_bn = ''
            }

            return Object.assign({}, item, gradeFromData, gradeToData)
          })
          return listData
        }
    }
}
</script>
