<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
          <h4 class="card-title">{{ $t('warehouse_report.ware-received-and-delivery-report') }}</h4>
      </template>
      <template v-slot:body>
        <b-row v-if="authUser.warehouse_id == null">
            <b-col>
              <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('warehouse_report.org_name')"
                label-for="org_id"
              >
                <b-form-select
                  plain
                  v-model="search.org_id"
                  :options="organizationtList"
                  id="org_id"
                >
                <template v-slot:first>
                  <b-form-select-option :value="0" disabled>{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
                <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('org_pro_division.division')"
                    label-for="division_id"
                    >
                    <b-form-select
                    plain
                    v-model="search.division_id"
                    :options="divisionList"
                    id="division_id"
                    >
                    <template v-slot:first>
                        <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                    </template>
                    </b-form-select>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('warehouse_config.region')"
                label-for="region_id"
                >
                <b-form-select
                plain
                v-model="search.region_id"
                :options="regionLists"
                id="division_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row  v-if="authUser.warehouse_id == null">
            <b-col>
                <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('warehouse_report.district')"
                label-for="district_id"
                >
                <b-form-select
                plain
                v-model="search.district_id"
                :options="districtList"
                id="district_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0" disabled>{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('warehouse_report.upazilla')"
                label-for="upazilla_id"
                >
                <b-form-select
                plain
                v-model="search.upazilla_id"
                :options="upazilaList"
                id="upazilla_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0" disabled>{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col>
                  <b-form-group
                      class="row"
                      label-cols-sm="3"
                      label-for="commodity_group_id"
                      :label="$t('warehouse_config.warehouse_type')"
                      >
                      <b-form-select
                      plain
                      v-model="search.warehouse_type_id"
                      :options="warehouseTypeList"
                      id="commodity_group_id"
                      >
                      <template v-slot:first>
                      <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                      </b-form-select>
                  </b-form-group>
            </b-col>
        </b-row>
        <b-row>
         <b-col>
            <b-form-group
                  class="row"
                  label-cols-sm="4"
                  label-for="warehouse_id"
                  :label="$t('warehouse_information.warehouse_name')"
              >
                <b-form-select
                    plain
                    v-model="search.warehouse_id"
                    :options="warehouseList"
                    id="warehouse_id"
                    v-if="!authUser.warehouse_id"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
                </b-form-select>
                <b-form-select
                    plain
                    v-model="search.warehouse_id"
                    :options="warehouseList"
                    id="warehouse_id"
                    v-else
                >
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
              <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('globalTrans.from_date')"
              label-for="from_date"
              >
              <b-form-input
                  id="from_date"
                  type="date"
                  v-model="search.from_date"
                  class="form-control-sm"
                  placeholder=""
                  >
              </b-form-input>
              </b-form-group>
          </b-col>
          <b-col>
              <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('globalTrans.to_date')"
              label-for="to_date"
              >
              <b-form-input
                  id="to_date"
                  type="date"
                  v-model="search.to_date"
                  placeholder=""
                  class="form-control-sm"
                  >
              </b-form-input>
              </b-form-group>
          </b-col>
        </b-row>
        <b-row>
            <b-col>
            </b-col>
            <b-col>
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.submit')}}</b-button>
            </b-col>
        </b-row>
      </template>
    </iq-card>
    <b-row v-show="showData">
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('warehouse_report.ware-received-and-delivery-report') }}</h4>
          </template>
          <template v-slot:headerAction>
                <b-button variant="primary" @click="pdfExport" class="mr-2">
                  {{ $t('globalTrans.export_pdf') }}
                </b-button>
                <export-excel
                    class="btn btn-success mr-2"
                    :data="productReport"
                    title="Warehouse Wise Product Receive and Delivery Report"
                    worksheet="Warehouse Wise Product Receive and Delivery Report"
                    name="filename.xls">
                    {{ $t('globalTrans.export_excel') }}
                </export-excel>
                <export-excel
                    class="btn btn-danger"
                    :data="productReport"
                    worksheet="Warehouse Wise Product Receive and Delivery Report"
                    type="csv"
                    name="filename.xls">
                    {{ $t('globalTrans.export_csv') }}
                </export-excel>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
                <b-row v-show="showHeading">
                    <b-col>
                        <list-report-head :base-url="warehouseServiceBaseUrl" :uri="reportHeadingList" :org-id="search.org_id" :loading-state="loadingState">
                          {{ $t('warehouse_report.ware-received-and-delivery-report')}}
                        </list-report-head>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col></b-col>
                </b-row>
              <b-row mt-5>
                <b-col md="6" class="table-responsive">
                  <div>
                      <b-table-simple hover small caption-top responsive aria-hidden="loading | listReload ? 'true' : null">
                        <caption class="text-center" style="font-weight:bold; text-color:white">{{ $t('warehouse_report.receive_information') }}</caption>
                        <colgroup><col><col></colgroup>
                        <colgroup><col><col><col></colgroup>
                        <colgroup><col><col></colgroup>
                        <b-thead>
                          <b-tr>
                            <b-th style="width:20%">{{ $t('globalTrans.sl_no') }}</b-th>
                            <b-th style="width:20%">{{ $t('warehouse_report.crop_type') }}</b-th>
                            <b-th style="width:20%">{{ $t('warehouse_report.crop_name') }}</b-th>
                            <b-th style="width:30%">{{ $t('warehouse_report.current_receive_quantity') }}</b-th>
                            <b-th style="width:20%">{{ $t('warehouse_report.total_farmer') }}</b-th>
                          </b-tr>
                        </b-thead>
                         <b-tbody  v-for="(info, index) in receiveInformations" :key="index + 99">
                          <b-tr>
                              <b-td :rowspan="info.total">{{ index+1 }}</b-td>
                              <b-th :rowspan="info.total"><span class="capitalize">{{ info.crop_type_name }}</span></b-th>
                          </b-tr>
                          <template v-for="(infoDetail, indx) in info.data">
                                <b-tr :key="index + indx + 200" v-if="indx">
                                    <b-td> </b-td>
                                    <b-td> </b-td>
                                  <b-td>{{ infoDetail.crop_name }}</b-td>
                                  <b-td>{{ infoDetail.current_quantity }}</b-td>
                                  <b-td>{{ infoDetail.farmer_number }}</b-td>
                                </b-tr>
                                <b-tr :key="index + indx + 999" v-else class="dfs">
                                  <b-td :key="indx + 9999">{{ infoDetail.crop_name }}</b-td>
                                  <b-td>{{ infoDetail.current_quantity }}</b-td>
                                  <b-td :key="indx + 99999">{{ infoDetail.farmer_number }}</b-td>
                                </b-tr>
                            </template>
                        </b-tbody>
                          <b-tfoot>
                          <b-tr>
                            <b-td colspan="3" variant="secondary" class="text-left">
                              Gross Total: <b></b>
                            </b-td>
                            <b-td variant="secondary" class="text-left">{{ currentQuantity }}</b-td>
                            <b-td variant="secondary" class="text-left">{{ totalFarmer }}</b-td>
                          </b-tr>
                        </b-tfoot>
                      </b-table-simple>
                  </div>
                </b-col>
                <b-col md="6" class="table-responsive" style="margin-left:-30px">
                  <b-table-simple hover small caption-top responsive aria-hidden="loading | listReload ? 'true' : null">
                        <caption class="text-center" style="font-weight:bold">{{ $t('warehouse_report.delivery_information') }}</caption>
                        <colgroup><col><col></colgroup>
                        <colgroup><col><col><col></colgroup>
                        <colgroup><col><col></colgroup>
                        <b-thead>
                          <b-tr>
                            <b-th style="width:20%">{{ $t('warehouse_report.crop_type') }}</b-th>
                            <b-th style="width:20%">{{ $t('warehouse_report.crop_name') }}</b-th>
                            <b-th style="width:30%">{{ $t('warehouse_report.current_receive_quantity') }}</b-th>
                            <b-th style="width:20">{{ $t('warehouse_report.total_farmer') }}</b-th>
                          </b-tr>
                        </b-thead>
                        <b-tbody  v-for="(info, index) in deliveryInformations" :key="index + 999999">
                          <b-tr>
                              <b-th :rowspan="info.total"><span class="capitalize">{{ info.crop_type_name }}</span></b-th>
                          </b-tr>
                          <template v-for="(infoDetail, indx) in info.data">
                                <b-tr :key="index + indx + 1500" v-if="indx">
                                    <b-td> </b-td>
                                  <b-td>{{ infoDetail.crop_name }}</b-td>
                                  <b-td>{{ infoDetail.current_quantity }}</b-td>
                                  <b-td>{{ infoDetail.farmer_number }}</b-td>
                                </b-tr>
                                <b-tr :key="index + indx + 2500" v-else class="dfs">
                                  <b-td :key="indx + 3500">{{ infoDetail.crop_name }}</b-td>
                                  <b-td>{{ infoDetail.current_quantity }}</b-td>
                                  <b-td :key="indx + 850">{{ infoDetail.farmer_number }}</b-td>
                                </b-tr>
                            </template>
                        </b-tbody>
                          <b-tfoot>
                          <b-tr>
                            <b-td colspan="2" variant="secondary" class="text-left">
                              Gross Total: <b></b>
                            </b-td>
                            <b-td variant="secondary" class="text-left">{{ deliveryCurrentQuantity }}</b-td>
                            <b-td variant="secondary" class="text-left">{{ deliveryTotalFarmer }}</b-td>
                          </b-tr>
                        </b-tfoot>
                      </b-table-simple>
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import RestApi, { warehouseServiceBaseUrl } from '@/config/api_config'
import { reportHeadingList, receivedReportList, DeliveryReportList } from '../../api/routes'
import excel from 'vue-excel-export'
import Vue from 'vue'
import ExportPdf from '@/Utils/export-pdf'
import ListReportHead from '@/components/custom/ListReportHead.vue'

Vue.use(excel)
export default {
  components: { ListReportHead },
  data () {
    return {
      currentQuantity: 0,
      totalFarmer: 0,
      deliveryCurrentQuantity: 0,
      deliveryTotalFarmer: 0,
      receiveInformations: [],
      deliveryInformations: [],
      pagination: {
        currentPage: 1,
        totalRows: 0,
        slOffset: 1
      },
      showData: false,
      showHeading: false,
      search: {
        org_id: 0,
        region_id: 0,
        division_id: 0,
        district_id: 0,
        upazilla_id: 0,
        warehouse_id: 0,
        warehouse_type_id: 0,
        from_date: '',
        to_date: ''
      },
      testId: 0,
      productReport: [],
      organization: [],
      wareReportList: [],
      districtList: [],
      upazilaList: [],
      unionList: [],
      division_name: '',
      district_name: '',
      upazilla_name: '',
      division_name_bn: '',
      district_name_bn: '',
      upazilla_name_bn: '',
      warehouseList: [],
      rows: [],
      warehouseServiceBaseUrl: warehouseServiceBaseUrl,
      reportHeadingList: reportHeadingList
    }
  },
  computed: {
    authUser () {
      return this.$store.state.Auth.authUser
    },
    warehouseTypeList: function () {
        return this.$store.state.warehouse.warehouseTypeList
    },
    organizationtList: function () {
      const listObject = this.$store.state.commonObj.organizationProfileList
      return listObject
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList
    },
    loading () {
      return this.$store.state.commonObj.loading
    },
    listReload () {
      return this.$store.state.commonObj.listReload
    },
    loadingState () {
      if (this.listReload) {
        return true
      } else if (this.loading) {
        return true
      } else {
        return false
      }
    },
    // listData () {
    //   return this.$store.state.IrriPumpInoformation.pumpOperators
    // },
    currentLocale () {
      return this.$i18n.locale
    },
    regionLists: function () {
        return this.$store.state.warehouse.regionList
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'search.region_id': function (newVal, oldVal) {
      this.regionDistrictLists = this.getRegionDistrictList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazilla_id': function (newVal, oldVal) {
       this.warehouseList = this.getWarehouseName(newVal)
    },
    'search.warehouse_type_id': function (newVal, oldVal) {
      this.warehouseList = this.getWarehouseName(newVal)
    }
  },
  created () {
    this.loadData()
  },
  mounted () {
    core.index()
    if (this.authUser.warehouse_id) {
      const warehouseId = this.authUser.warehouse_id
      this.warehouseList = this.$store.state.warehouse.warehouseInfoList.filter(warehouseInfoItem => warehouseInfoItem.value === warehouseId)
      this.search.warehouse_id = warehouseId
    }
  },
  methods: {
    resetId () {
      this.testId = 0
    },
    paginationDataLoad () {
      this.loadData()
    },
    searchData () {
        if (this.search.org_id !== 0 || this.search.division_id !== 0 || this.search.region_id !== 0 || this.search.district_id !== 0 || this.search.upazilla_id !== 0 ||
            this.search.warehouse_type_id !== 0 || this.search.warehouse_id !== 0 || this.search.from_date || this.search.to_date) {
            this.loadData()
            this.showData = true
            this.showHeading = true
        }
    },
    async loadData () {
      const response = await RestApi.getData(warehouseServiceBaseUrl, receivedReportList, this.search)
      if (response.success) {
          this.receiveInformations = response.data
          this.receiveList(this.receiveInformations)
        }
      const result = await RestApi.getData(warehouseServiceBaseUrl, DeliveryReportList, this.search)
        if (result.success) {
          this.deliveryInformations = result.data
          this.deliveryList(this.deliveryInformations)
        }
      // const reportList = this.receiveInformations
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    receiveList (data) {
      this.currentQuantity = 0
      this.totalFarmer = 0
      var tF = 0
      var recQ = 0
      data.forEach((item) => {
       item.data.forEach((list) => {
           tF = tF + list.farmer_number
           recQ = recQ + list.current_quantity
        })
    })
      this.currentQuantity = recQ
      this.totalFarmer = tF
    },
    deliveryList (data) {
      this.currentQuantity = 0
      this.totalFarmer = 0
      var totalFarmer = 0
      var current = 0
      data.forEach((item) => {
       item.data.forEach((list) => {
           totalFarmer = totalFarmer + list.farmer_number
           current = current + list.current_quantity
        })
    })
    this.deliveryCurrentQuantity = current
    this.deliveryTotalFarmer = totalFarmer
    },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList

      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }

      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList
      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }
      return upazilaList
    },
    getWarehouseName (upazilaId = null) {
      const warehouseList = this.$store.state.warehouse.warehouseInfoList
      if (this.search.warehouse_type_id > 0) {
        return warehouseList.filter(warehouse => warehouse.upazilla_id === this.search.warehouse_type_id)
      }
      if (this.search.upazilla_id > 0) {
        return warehouseList.filter(warehouse => warehouse.upazilla_id === this.search.upazilla_id)
      }
      return warehouseList
    },
    getUnionList (upazillaId = null) {
      const unionList = this.$store.state.commonObj.unionList
      if (upazillaId) {
        return unionList.filter(union => union.upazilla_id === upazillaId)
      }
      return unionList
    },
    getRegionDistrictList (regionId = null) {
      RestApi.getData(warehouseServiceBaseUrl, '/master-warehouse-level/region-district-list').then(response => {
            if (response) {
                const dataObject = response.filter(document => document.region_id === regionId)
                this.regionDistrictLists = dataObject.map(obj => {
                    if (this.$i18n.locale === 'bn') {
                        return { value: obj.district_id, text: this.districtListBn[obj.district_id] }
                    } else {
                        return { value: obj.district_id, text: this.districtList[obj.district_id] }
                    }
                })
            }
        })
    },
    pdfExport () {
      const rowData = this.getPdfData()

      const labels = [
          { text: this.$t('globalTrans.sl_no'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.crop_type'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.crop_name'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.current_receive_quantity'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.total_farmer'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.crop_type'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.crop_name'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.current_receive_quantity'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('warehouse_report.total_farmer'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) }
          ]
      rowData.unshift(labels)
      const reportTitle = this.$i18n.locale === 'en' ? 'Warehouse Wise Product Received and Delivery Report' : 'গুদাম অনুযায়ী পণ্য প্রাপ্ত এবং বিতরণ রিপোর্ট'
      const columnWidths = ['auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto']
      ExportPdf.exportPdf(warehouseServiceBaseUrl, '/master-warehouse-report-heading/detail', this.search.org_id, reportTitle, rowData, columnWidths)
    },
    getPdfData () {
      var serial = 0
      const parentRows = []
      this.receiveInformations.forEach((typeData, typeIndx) => {
        const deliveryTypeData = this.deliveryInformations[typeIndx]
        let totalFarmerReceive = 0
        let totalCurrentReceive = 0
        let totalFarmerDelivery = 0
        let totalCurrentDelivery = 0
        let rowSpan = typeData.total
        let rows = []
        typeData.data.forEach((listItem, indx) => {
            if (!rowSpan) {
              rows = []
            }
            serial++
            rows.push({ text: this.$n(serial) })
            if (rowSpan) {
              rows.push({ rowSpan: typeData.total, text: typeData.crop_type_name })
            } else {
              rows.push({ text: typeData.crop_type_name })
            }
            const deliveryItem = deliveryTypeData.data[indx]
            totalFarmerReceive = totalFarmerReceive + listItem.farmer_number
            totalCurrentReceive = totalCurrentReceive + listItem.current_quantity
            totalFarmerDelivery = totalFarmerDelivery + deliveryItem.farmer_number
            totalCurrentDelivery = totalCurrentDelivery + deliveryItem.current_quantity
            rows.push({ text: listItem.crop_name })
            rows.push({ text: this.$n(listItem.current_quantity) })
            rows.push({ text: this.$n(listItem.farmer_number) })
            if (rowSpan) {
              rowSpan = 0
              rows.push({ rowSpan: deliveryTypeData.total, text: deliveryTypeData.crop_type_name })
            } else {
              rows.push({ text: deliveryTypeData.crop_type_name })
            }
            rows.push({ text: deliveryItem.crop_name })
            rows.push({ text: this.$n(deliveryItem.current_quantity) })
            rows.push({ text: this.$n(deliveryItem.farmer_number) })
            parentRows.push(rows)
          })
      })
      return parentRows
    }
  }
}
</script>
<style scoped>
 .container {
   display: flex;
   margin-bottom: 15px;
   justify-content: center;
 }
 .report-name {
   text-align: center;
 }
 .org-name {
  text-align: center;
 }
 .org-address {
   text-align: center;
 }
 .main-title {
   padding: 10px;
 }
 .project-name {
   text-align: center;
   font-weight: bold;
 }
</style>
