<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="8" sm="12">
                                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                    <b-form  @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                                        <ValidationProvider name="academic_records" vid="academic_records" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="academic_records"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('barc_config.academic_records') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="hatt_name_bn"
                                                v-model="scoreSetupData.academic_records"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="Service Length" vid="service_length" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="service_length"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('barc_config.service_length') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="hatt_name_bn"
                                                v-model="scoreSetupData.service_length"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="Age" vid="age" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="age"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('barc_config.age') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="hatt_name_bn"
                                                v-model="scoreSetupData.age"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="Publication" vid="publications" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="publications"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('barc_config.publications') }} <span class="text-danger">*</span>
                                                </template>
                                               <b-form-input
                                                id="hatt_name_bn"
                                                v-model="scoreSetupData.publications"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="Foundation Training" vid="foundation_training" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="foundation_training"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('barc_config.foundation_training')}} <span class="text-danger">*</span>
                                            </template>
                                                <b-form-input
                                                id="foundation_training"
                                                v-model="scoreSetupData.foundation_training"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="ACR" vid="acr" rules="required">    <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="acr"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('barc_config.acr')}} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="acr"
                                                v-model="scoreSetupData.acr"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                         <ValidationProvider name="Selection Committee" vid="selection_committee" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="selection_committee"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('barc_config.selection_committee')}} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="selection_committee"
                                                v-model="scoreSetupData.selection_committee"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                         <ValidationProvider name="Total Required Score" vid="total_score" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="total_score"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('barc_config.total_required_score')}}
                                                </template>
                                                <b-form-input
                                                id="total_score"
                                                v-model="totScore"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                disabled
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                         <ValidationProvider name="Set Up" vid="setup_date" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="setup_date"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('barc_config.setup_date')}} <span class="text-danger">*</span>
                                                </template>
                                                <flat-pickr class="form-control"
                                                  v-model="scoreSetupData.setup_date"
                                                  :placeholder="$t('globalTrans.select_date')"
                                                  :state="errors[0] ? false : (valid ? true : null)"
                                                ></flat-pickr>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col text-right">
                                                <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                                                &nbsp;
                                                <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                                            </div>
                                        </div>
                                    </b-form>
                                </ValidationObserver>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { incentiveGrantServiceBaseUrl } from '@/config/api_config'
import { scoreSetupStore, scoreSetupUpdate } from '../../api/routes'
import flatpickr from 'flatpickr'

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider
    },
    created () {
        if (this.id) {
            const tmp = this.getEditingData()
            this.scoreSetupData = tmp
        }
    },
    data () {
        return {
            saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            scoreSetupData: {
                service_length: 0,
                academic_records: 0,
                age: 0,
                publications: 0,
                foundation_training: 0,
                acr: 0,
                selection_committee: 0,
                total_score: '',
                setup_date: ''
            },
            districtList: [],
            university_type: [
                {
                    value: 1,
                    text: 'Local',
                    text_bn: 'স্থানীয়'
                },
                {
                    value: 1,
                    text: 'Foreign',
                    text_bn: 'বিদেশী'
                }
            ]
        }
    },
    watch: {
        'scoreSetupData.university_type': function (newVal, oldVal) {
            this.countryList = this.getCountryList(newVal)
        }
    },
    mounted () {
        core.index()
        flatpickr('#datepicker', {})
    },
    computed: {
    totScore: function () {
        return parseInt(this.scoreSetupData.academic_records) + parseInt(this.scoreSetupData.service_length) + parseInt(this.scoreSetupData.age) + parseInt(this.scoreSetupData.publications) + parseInt(this.scoreSetupData.foundation_training) + parseInt(this.scoreSetupData.acr) + parseInt(this.scoreSetupData.selection_committee)
    }
    },
    methods: {
        getCountryList (universityTypeId) {
            const dataList = this.$store.state.commonObj.countryList.filter(item => item.status === 0)
            return dataList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        async saveData () {
            this.$store.dispatch('mutateCommonProperties', { loading: true })
            let result = null
            const loadingState = { loading: false, listReload: false }

            if (this.id) {
                result = await RestApi.putData(incentiveGrantServiceBaseUrl, `${scoreSetupUpdate}/${this.id}`, this.scoreSetupData)
            } else {
                result = await RestApi.postData(incentiveGrantServiceBaseUrl, scoreSetupStore, this.scoreSetupData)
            }

            loadingState.listReload = true
            this.$store.dispatch('mutateCommonProperties', loadingState)

            if (result.success) {
                this.$store.commit('mutateIncentiveGrantServiceProperties', { hasDropdownLoaded: false })
                this.$toast.success({
                title: this.$t('globalTrans.success'),
                message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
                color: '#D6E09B'
                })

                this.$bvModal.hide('modal-4')
            } else {
                this.$refs.form.setErrors(result.errors)
            }
        }
    }
}
</script>
