
<template>
    <b-container fluid>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('cotton_config.hat_manage') }}</h4>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.seen_status == 1">{{$t('globalTrans.closed')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.not_closed')}}</span>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ginnerGrowerHattNotification } from '../../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  data () {
    return {
      search: {
        mobile_no: this.$store.state.Auth.authUser.mobile_no
      },
      rows: []
    }
  },
  computed: {
    columns () {
        const labels = [
            { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
            { label: this.$t('warehouseFarmer.fiscal_year'), class: 'text-left' },
            { label: this.$t('ginnerGrower.season'), class: 'text-left' },
            { label: this.$t('ginnerGrower.hat_name'), class: 'text-left' },
            { label: this.$t('ginnerGrower.message'), class: 'text-left' }
        ]

        let keys = []

        if (this.$i18n.locale === 'bn') {
            keys = [
            { key: 'index' },
            { key: 'fiscal_year_name_bn' },
            { key: 'season_name_bn' },
            { key: 'hatt_name_bn' },
            { key: 'message_bn' }
            ]
        } else {
            keys = [
            { key: 'index' },
            { key: 'fiscal_year_name' },
            { key: 'season_name' },
            { key: 'hatt_name' },
            { key: 'message' }
            ]
        }

        return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, ginnerGrowerHattNotification, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
            this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getRelatinalData (data) {
      const fiscalYearList = this.$store.state.commonObj.fiscalYearList
      const listData = data.map(item => {
        const fiscalYearObject = fiscalYearList.find(year => year.value === item.fiscal_year_id)
        const fiscalYearData = { fiscal_year_name: fiscalYearObject.text_en, fiscal_year_name_bn: fiscalYearObject.text_bn }
        return Object.assign({}, item, fiscalYearData)
      })
      return listData
    }
  }
}
</script>
