
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('crop_price_config.commodity') }}</h4>
            </template>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('org_pro.organization')"
                            label-for="org_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.org_id"
                                :options="orgList"
                                id="org_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('crop_price_config.commodity_group')"
                            label-for="commodity_group_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.commodity_group_id"
                                :options="groupList"
                                id="commodity_group_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('crop_price_config.commodity_sub_group')"
                            label-for="commodity_sub_group_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.commodity_sub_group_id"
                                :options="subgroupList"
                                id="commodity_sub_group_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col  xs="12" sm="12" md="6">
                        <b-form-group
                        class="row"
                        label-cols-sm="3"
                        :label="$t('crop_price_config.commodity_name')"
                        label-for="commodity_name"
                        >
                        <b-form-input
                            id="commodity_name"
                            v-model="search.commodity_name"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('crop_price_config.commodity_name_list') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                            {{ $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(commodity_name)="data">
                                            {{ data.item.commodity_name }}
                                        </template>
                                        <template v-slot:cell(commodity_name_bn)="data">
                                            {{ data.item.commodity_name_bn }}
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template>
                                        <template v-slot:cell(action)="data">
                                            <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                            <b-button :variant="data.item.status === 1 ? ' iq-bg-success' : '  iq-bg-danger'" size="sm" @click="remove(data.item)">
                                                <i class="fas" :class="data.item.status ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                                            </b-button>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>
    </b-container>
</template>
<script>
import Form from './Form'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { commodityNameList, commodityNameStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Form
  },
  data () {
    return {
      search: {
        org_id: 0,
        commodity_group_id: '0',
        commodity_sub_group_id: '0',
        commodity_name: ''
      },
      rows: [],
      groupList: [],
      subgroupList: []
    }
  },
  computed: {
    orgList: function () {
        return this.$store.state.commonObj.organizationProfileList.filter(item => item.status === 0)
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('crop_price_config.commodity_name_entry') : this.$t('crop_price_config.commodity_name_modify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('crop_price_config.commodity_group'), class: 'text-left' },
          { label: this.$t('crop_price_config.commodity_sub_group'), class: 'text-left' },
          { label: this.$t('crop_price_config.commodity_name'), class: 'text-left' },
          { label: this.$t('crop_price_config.price_type'), class: 'text-left' },
          { label: this.$t('crop_price_config.unit_grower'), class: 'text-left' },
          { label: this.$t('crop_price_config.unit_whole_sale'), class: 'text-left' },
          { label: this.$t('crop_price_config.unit_retail'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'commodity_group_name_bn' },
          { key: 'commodity_sub_group_name_bn' },
          { key: 'commodity_name_bn' },
          { key: 'price_type_name_bn' },
          { key: 'unit_grower_bn' },
          { key: 'unit_whole_sale_bn' },
          { key: 'unit_retail_bn' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'commodity_group_name' },
          { key: 'commodity_sub_group_name' },
          { key: 'commodity_name' },
          { key: 'price_type_name' },
          { key: 'unit_grower_en' },
          { key: 'unit_whole_sale_en' },
          { key: 'unit_retail_en' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.org_id': function (newVal, oldVal) {
        this.groupList = this.getGroupList(newVal)
    },
    'search.commodity_group_id': function (newVal, oldVal) {
        this.subgroupList = this.getSubGroupList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    edit (item) {
      this.editItemId = item.id
    },
    remove (item) {
      this.changeStatus(agriMarketingServiceBaseUrl, commodityNameStatus, item, 'agriMarketing', 'commodityNameList')
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, commodityNameList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
            this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getRelatinalData (data) {
      const orgList = this.$store.state.commonObj.organizationProfileList
      const groupList = this.$store.state.agriMarketing.commonObj.commodityGroupList
      const subgroupList = this.$store.state.agriMarketing.commonObj.commoditySubGroupList
      const unitList = this.$store.state.agriMarketing.commonObj.measurementUnitList
      const pricetypeList = this.$store.state.agriMarketing.commonObj.priceTypeList
      const listData = data.map(item => {
        const orgObject = orgList.find(org => org.value === item.org_id)
        const groupObject = groupList.find(group => group.value === item.commodity_group_id)
        const subgroupObject = subgroupList.find(subgroup => subgroup.value === item.commodity_sub_group_id)
        const pricetypeObject = pricetypeList.find(pricetype => pricetype.id === item.price_type_id)
        const orgData = { org_name: orgObject.text, org_name_bn: orgObject.text_bn }
        const groupData = { commodity_group_name: groupObject.text, commodity_group_name_bn: groupObject.text_bn }
        const subgroupData = { commodity_sub_group_name: subgroupObject.text, commodity_sub_group_name_bn: subgroupObject.text_bn }
        const unitObject = unitList.find(unit => unit.value === item.unit_grower)
        const unitData = { unit_grower_bn: typeof unitObject !== 'undefined' ? unitObject.text_bn : '', unit_grower_en: typeof unitObject !== 'undefined' ? unitObject.text_en : '' }
        const unitWholeSaleObject = unitList.find(unit => unit.value === item.unit_whole_sale)
        const unitWholeSaleData = { unit_whole_sale_bn: typeof unitWholeSaleObject !== 'undefined' ? unitWholeSaleObject.text_bn : '', unit_whole_sale_en: typeof unitWholeSaleObject !== 'undefined' ? unitWholeSaleObject.text_en : '' }
        const unitRetailObject = unitList.find(unit => unit.value === item.unit_retail)
        const unitRetailData = { unit_retail_bn: typeof unitRetailObject !== 'undefined' ? unitRetailObject.text_bn : '', unit_retail_en: typeof unitRetailObject !== 'undefined' ? unitRetailObject.text_en : '' }
        const pricetypeData = { price_type_name: typeof pricetypeObject !== 'undefined' ? pricetypeObject.text_en : '', price_type_name_bn: typeof pricetypeObject !== 'undefined' ? pricetypeObject.text_en : '' }
        return Object.assign({}, item, orgData, groupData, subgroupData, unitData, pricetypeData, unitWholeSaleData, unitRetailData)
      })
      return listData
    },
    getGroupList (orgId = null) {
        const groupList = this.$store.state.agriMarketing.commonObj.commodityGroupList.filter(item => item.status === 1)
        if (orgId) {
            return groupList.filter(group => group.org_id === orgId)
        }
        return groupList
    },
    getSubGroupList (groupId = null) {
        const subgroupList = this.$store.state.agriMarketing.commonObj.commoditySubGroupList.filter(item => item.status === 1)

        if (groupId) {
            return subgroupList.filter(subgroup => subgroup.commodity_group_id === groupId)
        }
        return subgroupList
    }
  }
}
</script>
