<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="10" sm="12">
                                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                    <b-form  @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                                        <ValidationProvider name="Divisional Office" vid="divisional_office_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="divisional_office_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                    {{ $t('birtan.divisional_office') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                    plain
                                                    v-model="campaignMaterial.divisional_office_id"
                                                    :options="divisionalOfficeList"
                                                    id="divisional_office_id"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                    {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="Fiscal Year" vid="fiscal_year_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="fiscal_year_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                    {{ $t('birtan.fiscal_year') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                    plain
                                                    v-model="campaignMaterial.fiscal_year_id"
                                                    :options="fiscalList"
                                                    id="fiscal_year_id"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                    {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="Campaign" vid="campaign_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="campaign_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                    {{ $t('birtan.campaign') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                    plain
                                                    v-model="campaignMaterial.campaign_id"
                                                    :options="campaignList"
                                                    id="campaign_id"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                    {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="Campaign Date" vid="start_date" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="campaign_date"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{ $t('divisionalHead.campaign_date')}} <span class="text-danger">*</span>
                                            </template>
                                                <b-form-input
                                                id="datepicker"
                                                v-model="campaignMaterial.campaign_date"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <div>
                                            <b-row>
                                                <b-col lg="12" sm="12" class="mb-2" style="margin:10px 0;">
                                                    <h5 style="font-weight:bold">
                                                        {{ $t('divisionalHead.campaign_material_details') }}
                                                        <b-button v-if="totalAttachment > 0" class="btn-sm">Total Added : {{ totalAttachment }}</b-button>
                                                    </h5>
                                                </b-col>
                                            </b-row>
                                            <b-row style="border-bottom:1px solid #ddd; margin-bottom:10px">
                                                <b-col lg="4">
                                                    <p class="text-dark">{{ $t('divisionalHead.material_name_en') }}</p>
                                                </b-col>
                                                <b-col lg="4">
                                                    <p class="text-dark">{{ $t('divisionalHead.material_name_bn') }}</p>
                                                </b-col>
                                                <b-col lg="3">
                                                    <p class="text-dark">{{ $t('externalUserIrrigation.attachment') }}</p>
                                                </b-col>
                                                <b-col lg="1">
                                                    <p class="text-dark">{{ $t('globalTrans.action') }}</p>
                                                </b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col lg='4' sm='6'>
                                                    <ValidationProvider name="Material Name (En)" vid='material_name' rules="">
                                                        <b-form-group
                                                            label-for="material_name"
                                                            slot-scope="{ valid, errors }"
                                                        >
                                                            <b-form-input
                                                                id="material_name"
                                                                v-model="campaignMatDetails.material_name"
                                                                :state="errors[0] ? false : (valid ? true : null)"
                                                            ></b-form-input>
                                                            <div class="invalid-feedback">
                                                                {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg='4' sm='6'>
                                                    <ValidationProvider name="Material Name (Bn)" vid='material_name_bn' rules="required_if:document_title">
                                                        <b-form-group
                                                            label-for="material_name_bn"
                                                            slot-scope="{ valid, errors }"
                                                        >
                                                            <b-form-input
                                                                id="material_name_bn"
                                                                v-model="campaignMatDetails.material_name_bn"
                                                                :state="errors[0] ? false : (valid ? true : null)"
                                                            ></b-form-input>
                                                            <div class="invalid-feedback">
                                                                {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg='3' sm='6'>
                                                    <ValidationProvider name="attachment">
                                                        <b-form-group
                                                            label-for="attachment"
                                                            slot-scope="{ valid, errors }"
                                                        >
                                                            <b-form-file
                                                                v-on:change="onFileChange"
                                                                v-model="campaignMatDetails.attachment"
                                                                :state="errors[0] ? false : (valid ? true : null)"
                                                            ></b-form-file>
                                                            <div class="invalid-feedback">
                                                                {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg='1' sm='6'>
                                                    <b-form-group>
                                                        <b-button class="btn btn-outline-success mr-2" variant=" iq-bg-success" size="sm" @click="saveMaterialDetails">{{ $t('globalTrans.add') }}</b-button>
                                                    </b-form-group>
                                                </b-col>
                                            </b-row>
                                            <b-row v-for="(material,index) in materialDetails" :key="index">
                                                <b-col lg="4">
                                                    <p class="text-dark">{{ material.material_name }}</p>
                                                </b-col>
                                                <b-col lg="4">
                                                    <p class="text-dark">{{ material.material_name_bn }}</p>
                                                </b-col>
                                                <b-col lg="3">
                                                    <a :href="baseUrl + 'download-attachment?file=uploads/campaign-material/original/' + material.attachment" title="Attachment"><i class="ri-download-cloud-fill"></i></a>
                                                </b-col>
                                                <b-col lg="1">
                                                    <b-button class="btn btn-outline-danger" variant=" iq-bg-danger" size="sm" @click="deleteAttachment(material.id, index)"><i class="ri-delete-bin-line m-0"></i></b-button>
                                                </b-col>
                                            </b-row>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col text-right">
                                                <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                                                &nbsp;
                                                <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                                            </div>
                                        </div>
                                    </b-form>
                                </ValidationObserver>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { campaignMatStore, campaignMatUpdate, campaignMatDetailsStore, campaignMatDetailsDestroy, campaignMatDetailsList } from '../../api/routes'
import flatpickr from 'flatpickr'

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider
    },
    data () {
        return {
            saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            campaignMaterial: {
                fiscal_year_id: 0,
                campaign_id: 0,
                divisional_office_id: 0,
                campaign_date: ''
            },
            campaignMatDetails: {
                material_name: '',
                material_name_bn: '',
                attachment: []
            },
            upload_attachment: '',
            totalAttachment: 0,
            materialDetails: [],
            baseUrl: agriMarketingServiceBaseUrl
        }
    },
    mounted () {
        core.index()
        flatpickr('#datepicker', {})
    },
    created () {
        if (this.id) {
            const tmp = this.getCampaignMaterial()
            this.campaignMaterial = tmp
            this.getAttachments(this.id)
        }
    },
    computed: {
        fiscalList: function () {
            const fiscalyearData = this.$store.state.commonObj.fiscalYearList.filter(item => item.status === 0)
            return fiscalyearData.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        divisionalOfficeList: function () {
            const divisionalOffice = this.$store.state.agriMarketing.commonObj.divisionalOfficeList.filter(item => item.status === 1)
            return divisionalOffice.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        campaignList: function () {
            const campaignList = this.$store.state.agriMarketing.commonObj.campaignNameList
            return campaignList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        }
        // divisionalHead () {
        //     return this.$store.state.agriMarketing.commonObj.divisionalOfficeList.find(officer => officer.email === this.$store.state.Auth.authUser.username)
        // }
    },
    methods: {
        getCampaignMaterial () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        onFileChange (e) {
            this.upload_attachment = e.target.files[0]
        },
        async saveMaterialDetails () {
            var formData = new FormData()
            Object.keys(this.campaignMatDetails).map(key => {
                if (key === 'attachment') {
                    formData.append(key, this.upload_attachment)
                } else {
                    formData.append(key, this.campaignMatDetails[key])
                }
            })
            formData.append('created_by', this.$store.state.Auth.authUser.user_id)
            const result = await RestApi.postData(agriMarketingServiceBaseUrl, campaignMatDetailsStore, formData, {
                headers: { 'content-type': 'multipart/form-data' }
            })
            if (result.success) {
                this.campaignMatDetails.material_name = this.campaignMatDetails.material_name_bn = ''
                this.campaignMatDetails.attachment = []
                this.totalAttachment += 1
                this.$toast.success({
                    title: 'Success',
                    message: this.$t('globalTrans.save_msg'),
                    color: '#D6E09B'
                })
            }
        },
        deleteAttachment (materialId, index) {
            RestApi.deleteData(agriMarketingServiceBaseUrl, campaignMatDetailsDestroy + '/' + materialId).then(response => {
                if (response.success) {
                    this.materialDetails.splice(index, 1)
                    this.$toast.success({
                        title: 'Success',
                        message: 'Remove successfully',
                        color: '#D6E09B'
                    })
                }
            })
        },
        getAttachments (campMatId) {
            RestApi.getData(agriMarketingServiceBaseUrl, campaignMatDetailsList + '/' + campMatId).then(response => {
                if (response.success) {
                    this.materialDetails = response.data.length > 0 ? response.data : []
                    this.totalAttachment = response.data.length > 0 ? response.data.length : 0
                }
            })
        },
        async saveData () {
            this.$store.dispatch('mutateCommonProperties', { loading: true })
            let result = null
            const loadingState = { loading: false, listReload: false }
            // this.campaignMaterial.divisional_office_id = this.divisionalHead.value
            if (this.id) {
                result = await RestApi.putData(agriMarketingServiceBaseUrl, `${campaignMatUpdate}/${this.id}`, this.campaignMaterial)
            } else {
                result = await RestApi.postData(agriMarketingServiceBaseUrl, campaignMatStore, this.campaignMaterial)
            }

            loadingState.listReload = true
            this.$store.dispatch('mutateCommonProperties', loadingState)

            if (result.success) {
                this.$store.commit('agriMarketing/mutateAgriMarketingProperties', { hasDropdownLoaded: false })
                this.$toast.success({
                    title: this.$t('globalTrans.success'),
                    message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
                    color: '#D6E09B'
                })

                this.$bvModal.hide('modal-4')
            } else {
                this.$refs.form.setErrors(result.errors)
            }
        }
    }
}
</script>
