<template>
    <b-container>
        <b-row style="
        display: flex;
        flex-wrap: wrap;
        margin-right: -9px;
        margin-left: -12px;"
        >
            <b-col lg="12" sm="12">
                <form-input :load="load" :key="reloadComponent" :data="formInputData" @change="setData" @submit="register" />
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ggManageScheduleStore, ggManageScheduleUpdate } from '../../../api/routes'
import FormInput from '@/components/structure/form/validationForm/FormInput'
import { Common, Repository, helpers } from '@/mixins/helper-functions'

export default {
    props: ['item'],
    mixin: [Common],
    components: {
        FormInput
    },
    created () {
        const currentGrower = this.$store.state.ExternalUserIrrigation.ginnerGrowerDetails
        Object.assign(this.parentObject, currentGrower)
        delete this.parentObject.id

        if (this.item !== null) {
            const tmp = JSON.parse(JSON.stringify(this.item))
            Object.assign(this.parentObject, tmp)
        }
        Object.assign(this.parentObject, { applicant_id: this.$store.state.ExternalUserIrrigation.ginnerGrowerDetails.id })
    },
    data () {
        return {
            isFinal: false,
            parentObject: {
                applicant_id: '',
                region_id: '',
                zone_id: '',
                unit_id: '',
                grower_id: '',
                type: 2
            },
            growerList: [],
            zoneList: [],
            unitList: [],
            growerListLoading: false,
            passType: 'password',
            load: false,
            reloadComponent: 1
        }
    },
    computed: {
        districtList () {
           return this.$store.state.commonObj.districtList.filter(item => item.status === 0)
        },
        upazilaList () {
          return this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
        },
        regionList () {
            return this.$store.state.agriMarketing.regionList
        },
        fiscalYearList () {
            return this.$store.state.commonObj.fiscalYearList
        },
        cottonVarietyList () {
            return this.$store.state.agriMarketing.cottonVaritiesList
        },
        cottonNameList () {
            return this.$store.state.agriMarketing.cottonNameList
        },
        seasonList () {
            return this.$store.state.agriMarketing.seasonList
        },
        hatList () {
            return this.$store.state.agriMarketing.hatList
        },
        isEn () {
          return this.$i18n.locale === 'en'
        },
        formInputData () {
            return {
                chunk: true,
                buttonLocale: this.item ? 'globalTrans.update' : 'globalTrans.save',
                buttonClass: 'btn btn-primary btn-block',
                dataParent: this.parentObject,
                data: [
                    {
                        head: {
                            title: ''
                        },
                        items: [
                            {
                                name: 'fiscal_year_id',
                                type: 'Select',
                                label: 'sidebar.warehouseSubNav.fiscal_year',
                                options: helpers.filterListLang(this.fiscalYearList, 'text_en'),
                                labelCol: 4
                            },
                            {
                                name: 'schedule_date',
                                type: 'Datepicker',
                                label: 'cotton_ginner_grower.schedule_date',
                                labelCol: 4
                            },
                            {
                                name: 'region_id',
                                type: 'Select',
                                label: 'globalTrans.region',
                                options: this.regionList,
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'zone_id',
                                type: 'Select',
                                label: 'cotton_config.zone_name',
                                options: helpers.filterListLang(this.zoneList),
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'unit_id',
                                type: 'Select',
                                label: 'cotton_config.unit_name',
                                options: helpers.filterListLang(this.unitList),
                                readOnly: true,
                                labelCol: 4
                            },
                            {
                                name: 'district_id',
                                type: 'Select',
                                label: 'globalTrans.district',
                                options: this.districtList,
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'upazilla_id',
                                type: 'Select',
                                label: 'globalTrans.upazila',
                                options: this.upazilaList,
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'name',
                                type: 'Input',
                                label: 'globalTrans.name_en',
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'name_bn',
                                type: 'Input',
                                label: 'user.name_bn',
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'father_name',
                                type: 'Input',
                                label: 'fertilizerConfig.father_name_en',
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'father_name_bn',
                                type: 'Input',
                                label: 'warehouseFarmer.father_name_bn',
                                labelCol: 4,
                                readOnly: true
                            },
                            {
                                name: 'cotton_variety_id',
                                type: 'Select',
                                label: 'cotton_ginner_grower.cottonVariety',
                                options: helpers.filterListLang(this.cottonVarietyList),
                                labelCol: 4
                            },
                            {
                                name: 'cotton_id',
                                type: 'Select',
                                label: 'cotton_ginner_grower.cottonName',
                                options: helpers.filterListLang(this.cottonNameList),
                                labelCol: 4
                            },
                            {
                                name: 'seasons_id',
                                type: 'Select',
                                label: 'cotton_ginner_grower.season',
                                options: helpers.filterListLang(this.seasonList),
                                labelCol: 4
                            },
                            {
                                name: 'hatt_id',
                                type: 'Select',
                                label: 'cotton_ginner_grower.hat_name',
                                options: helpers.filterListLang(this.hatList),
                                labelCol: 4
                            },
                            {
                                name: 'quantity',
                                type: 'Input',
                                label: 'pump_install.quantity',
                                labelCol: 4
                            },
                            {
                                name: 'remarks',
                                type: 'Textarea',
                                label: 'cotton_config.remarks_en',
                                labelCol: 4,
                                rules: 'nullable'
                            },
                            {
                                name: 'remarks_bn',
                                type: 'Textarea',
                                label: 'cotton_config.remarks_bn',
                                labelCol: 4,
                                rules: 'nullable'
                            }
                        ]
                    }
                ]
            }
        }
    },
    watch: {
        'parentObject.region_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.zoneList = this.setZone(newVal)
            }
        },
        'parentObject.zone_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.unitList = this.setUnit(newVal)
            }
        }
    },
    methods: {
        setZone (orgId) {
            return this.$store.state.agriMarketing.zoneList.filter(el => el.region_id === orgId)
        },
        setUnit (zoneId) {
            return this.$store.state.agriMarketing.unitList.filter(el => el.zone_id === zoneId)
        },
        setData (data) {
            this.parentObject = Object.assign(this.parentObject, data)
        },
        getData () {
            return this.$store.state.parentObject
        },
        async register () {
            this.load = true
            delete this.parentObject.status
            const result = await Repository.create({
                data: this.parentObject,
                baseURL: agriMarketingServiceBaseUrl,
                storeAPI: ggManageScheduleStore,
                updateAPI: ggManageScheduleUpdate,
                itemId: this.parentObject.id
            })
            this.load = false
            if (result.success) {
                this.$emit('submitted')
            }
        }
    }
}
</script>
