<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:body>
                        <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                            <b-form  @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                                <b-row>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="fiscal year" vid="fiscal_year_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="fiscal_year_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('warehouse_config.fiscal_year') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.fiscal_year_id"
                                                :options="fiscalList"
                                                id="fiscal_year_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="schedule date" vid="schedule_date" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="schedule_date"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('cotton_ginner_grower.schedule_date')}} <span class="text-danger">*</span>
                                            </template>
                                                <b-form-input
                                                id="datepicker"
                                                v-model="manage_schedule.schedule_date"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="season" vid="seasons_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="seasons_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_ginner_grower.season') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.seasons_id"
                                                :options="seasonList"
                                                id="region_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="region" vid="region_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="region_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_config.region') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.region_id"
                                                :options="regionList"
                                                id="region_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="zone" vid="zone_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="zone_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_config.zone') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.zone_id"
                                                :options="zoneList"
                                                id="zone_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="unit" vid="unit_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="unit_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_config.unit_name') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.unit_id"
                                                :options="unitList"
                                                id="unit_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="Application Id" vid="application_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="applicant_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_ginner_grower.growers_name') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.applicant_id"
                                                :options="applicantIdList"
                                                id="applicant_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider>
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="district_id"
                                                >
                                                <template v-slot:label>
                                                {{ $t('org_pro_district.district') }}
                                                </template>
                                                <b-form-input
                                                    disabled
                                                    v-if="($i18n.locale === 'en')"
                                                    id="district_id"
                                                    v-model="manage_schedule.district_name"
                                                ></b-form-input>
                                                <b-form-input
                                                    disabled
                                                    v-if="($i18n.locale === 'bn')"
                                                    id="district_id"
                                                    v-model="manage_schedule.district_name_bn"
                                                ></b-form-input>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider>
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="upazilla_id"
                                                >
                                                <template v-slot:label>
                                                {{ $t('globalTrans.upazila') }}
                                                </template>
                                                <b-form-input
                                                    disabled
                                                    v-if="($i18n.locale === 'en')"
                                                    id="upazilla_id"
                                                    v-model="manage_schedule.upazila_name"
                                                ></b-form-input>
                                                <b-form-input
                                                    disabled
                                                    v-if="($i18n.locale === 'bn')"
                                                    id="upazilla_id"
                                                    v-model="manage_schedule.upazila_name_bn"
                                                ></b-form-input>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider>
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="father_name"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('cotton_ginner_grower.father_name')}}
                                            </template>
                                                <b-form-input
                                                    disabled
                                                    v-if="($i18n.locale === 'en')"
                                                    id="father_name"
                                                    v-model="manage_schedule.father_name"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <b-form-input
                                                    disabled
                                                    v-if="($i18n.locale === 'bn')"
                                                    id="father_name"
                                                    v-model="manage_schedule.father_name_bn"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="Hat Name" vid="hatt_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="hatt_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_ginner_grower.hat_name') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.hatt_id"
                                                :options="hatList"
                                                id="hatt_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="cotton variety Name" vid="cotton_variety_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="cotton_variety_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_config.cotton_variety') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.cotton_variety_id"
                                                :options="cottonVaritiesList"
                                                id="cotton_variety_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="Cotton Name" vid="cotton_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="cotton_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('cotton_config.cotton_name') }}  <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_schedule.cotton_id"
                                                :options="cottonNameList"
                                                id="cotton_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="quantity" vid="quantity" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="quantity"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('cotton_ginner_grower.quantity')}} <span class="text-danger">*</span>
                                            </template>
                                                <b-form-input
                                                type="text"
                                                min="0"
                                                id="quantity"
                                                v-model="manage_schedule.quantity"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="Remarks (En)" vid="remarks">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="remarks"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('cotton_ginner_grower.remarks_en')}}
                                            </template>
                                                <b-form-input
                                                id="remarks"
                                                v-model="manage_schedule.remarks"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col lg="6" sm="12">
                                        <ValidationProvider name="Remarks (Bn)" vid="remarks_bn">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="remarks_bn"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('cotton_ginner_grower.remarks_bn')}}
                                                </template>
                                                <b-form-input
                                                id="remarks_bn"
                                                v-model="manage_schedule.remarks_bn"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                </b-row>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col text-right">
                                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                                        &nbsp;
                                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                                    </div>
                                </div>
                            </b-form>
                        </ValidationObserver>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ManageScheuleStore, ManageScheuleUpdate } from '../../api/routes'
import flatpickr from 'flatpickr'

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider
    },
    created () {
        if (this.id) {
            const tmp = this.getEditingData()
            this.manage_schedule = tmp
        }
        // this.getAllApplicantInfo()
    },
    data () {
        return {
            saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            manage_schedule: {
                seasons_id: '0',
                region_id: '0',
                zone_id: '0',
                unit_id: '0',
                fiscal_year_id: '0',
                schedule_date: '',
                applicant_id: '0',
                cotton_variety_id: '0',
                hatt_id: '0',
                cotton_id: '0',
                quantity: '',
                hat_date: '',
                remarks: '',
                remarks_bn: '',
                district_name: '',
                district_name_bn: '',
                upazila_name: '',
                upazila_name_bn: '',
                zone_name: '',
                zone_name_bn: '',
                region_name: '',
                region_name_bn: '',
                unit_name: '',
                unit_name_bn: '',
                name: '',
                name_bn: '',
                address: '',
                address_bn: '',
                father_name: '',
                father_name_bn: ''
            },
            applicantList: [],
            applicantIdList: [],
            zoneList: [],
            upazilaList: [],
            unitList: []
        }
    },
    watch: {
        'manage_schedule.region_id': function (newVal, oldVal) {
            this.zoneList = this.getZoneList(newVal)
        },
        'manage_schedule.zone_id': function (newVal, oldVal) {
            this.unitList = this.getUnitList(newVal)
        },
        'manage_schedule.unit_id': function (newVal, oldVal) {
            this.getAllApplicantInfo(newVal)
        },
        'manage_schedule.district_id': function (newVal, oldVal) {
            this.upazilaList = this.getUpazilaList(newVal)
        },
        'manage_schedule.applicant_id': function (newVal, oldVal) {
            if (this.applicantList.length > 0) {
                this.getApplicantInfo(newVal)
            }
        }
    },
    mounted () {
        core.index()
        flatpickr('#datepicker', {})
    },
    computed: {
        orgList: function () {
            return this.$store.state.commonObj.organizationProfileList
        },
        fiscalList: function () {
            const fiscalyearData = this.$store.state.commonObj.fiscalYearList
            return fiscalyearData.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        seasonList: function () {
            const seasonList = this.$store.state.agriMarketing.commonObj.seasonList
            return seasonList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        regionList: function () {
            const regionList = this.$store.state.agriMarketing.commonObj.regionList
            return regionList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        hatList: function () {
            const hatData = this.$store.state.agriMarketing.commonObj.hatList
            return hatData.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        cottonVaritiesList: function () {
            const ObjectData = this.$store.state.agriMarketing.commonObj.cottonVaritiesList.filter(item => item.status === 1)
            return ObjectData.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        cottonNameList: function () {
            const ObjectData = this.$store.state.agriMarketing.commonObj.cottonNameList.filter(item => item.status === 1)
            return ObjectData.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        getDistrictList () {
            return this.$store.state.commonObj.districtList.filter(item => item.status === 0)
        }
    },
    methods: {
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        async saveData () {
            this.$store.dispatch('mutateCommonProperties', { loading: true })
            let result = null
            const loadingState = { loading: false, listReload: false }

            if (this.id) {
                result = await RestApi.putData(agriMarketingServiceBaseUrl, `${ManageScheuleUpdate}/${this.id}`, this.manage_schedule)
            } else {
                result = await RestApi.postData(agriMarketingServiceBaseUrl, ManageScheuleStore, this.manage_schedule)
            }

            loadingState.listReload = true
            this.$store.dispatch('mutateCommonProperties', loadingState)

            if (result.success) {
                this.$toast.success({
                title: this.$t('globalTrans.success'),
                message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
                color: '#D6E09B'
                })

                this.$bvModal.hide('modal-4')
            } else {
                this.$refs.form.setErrors(result.errors)
            }
        },
        getRegionList (orgId) {
            const regionList = this.$store.state.agriMarketing.commonObj.regionList.filter(item => item.status === 1 && item.org_id === orgId)
            return regionList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        getZoneList (regionId) {
            const zoneList = this.$store.state.agriMarketing.commonObj.zoneList.filter(item => item.status === 1 && item.region_id === regionId)
            return zoneList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        getUpazilaList (districtId = null) {
            const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
            if (districtId) {
                return upazilaList.filter(upazila => upazila.district_id === districtId)
            }
            return upazilaList
        },
        getUnitList (zoneId) {
            const unitList = this.$store.state.agriMarketing.commonObj.unitList.filter(item => item.status === 1 && item.zone_id === zoneId)
            return unitList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        async getAllApplicantInfo (unitId) {
            this.applicantList = this.getRelatinalData(this.$store.state.agriMarketing.commonObj.ginnerGrowerList.filter(item => (item.status === 1 || item.status === 4) && item.unit_id === unitId))
            this.applicantIdList = this.applicantList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        getRelatinalData (data) {
            const districtList = this.$store.state.commonObj.districtList
            const upazilaList = this.$store.state.commonObj.upazilaList
            const unitList = this.$store.state.agriMarketing.commonObj.unitList

            const listData = data.map(item => {
                const districtObject = districtList.find(district => district.value === item.district_id)
                const upazilaObject = upazilaList.find(upazila => upazila.value === item.upazilla_id)
                const unitObject = unitList.find(unit => unit.value === item.unit_id)

                const districtData = { district_name: districtObject.text, district_name_bn: districtObject.text_bn }
                const upazilaData = { upazila_name: upazilaObject.text, upazila_name_bn: upazilaObject.text_bn }
                const unitData = { unit_name: unitObject.text, unit_name_bn: unitObject.text_bn }

                return Object.assign({}, item, districtData, upazilaData, unitData)
            })
            return listData
        },
        getApplicantInfo (applicantId) {
            const singeItem = this.applicantList.find(item => item.value === applicantId)
            this.manage_schedule.district_name = singeItem.district_name
            this.manage_schedule.district_name_bn = singeItem.district_name_bn
            this.manage_schedule.upazila_name = singeItem.upazila_name
            this.manage_schedule.upazila_name_bn = singeItem.upazila_name_bn
            this.manage_schedule.zone_name = singeItem.zone_name
            this.manage_schedule.zone_name_bn = singeItem.zone_name_bn
            this.manage_schedule.region_name = singeItem.region_name
            this.manage_schedule.region_name_bn = singeItem.region_name_bn
            this.manage_schedule.unit_name = singeItem.unit_name
            this.manage_schedule.unit_name_bn = singeItem.unit_name_bn
            this.manage_schedule.name = singeItem.name
            this.manage_schedule.name_bn = singeItem.name_bn
            this.manage_schedule.address = singeItem.address
            this.manage_schedule.address_bn = singeItem.address_bn
            this.manage_schedule.father_name = singeItem.father_name
            this.manage_schedule.father_name_bn = singeItem.father_name_bn
        }
    }
}
</script>
