<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(academicSubmit)" @reset.prevent="reset" >
                    <b-row v-for="(detail,index) in academicData.requestAll" :key="index">
                        <b-col lg="3" sm="8">
                          <ValidationProvider name="Education level" vid="education_level_id" rules="required|min_value:1">
                            <b-form-group
                              label-for="education_level_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.education_level')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                              plain
                              v-model="detail.education_level_id"
                              :options="educationLevelList"
                              id="education_level_id"
                              :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Employee" vid="employee_id">
                            <b-form-group
                              label-for="district_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.title_degree')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                              id="committee_name"
                              v-model="detail.degree_title"
                              :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Roll Name" vid="roll_id">
                            <b-form-group
                              label-for="roll_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.degree')}} <span class="text-danger">*</span>
                            </template>
                              <b-form-input
                              id="committee_name"
                              v-model="detail.degree_title_bn"
                              :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3" sm="8">
                          <ValidationProvider name="Designation" vid="designation_id">
                            <b-form-group
                              label-for="designation_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.group_en')}} <span class="text-danger">*</span>
                            </template>
                             <b-form-input
                                id="committee_name"
                                v-model="detail.group"
                                :state="errors[0] ? false : (valid ? true : null)"
                              ></b-form-input>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Employee" vid="employee_id">
                            <b-form-group
                              label-for="district_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.group_bn')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                                id="committee_name"
                                v-model="detail.group_bn"
                                :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Roll Name" vid="roll_id">
                            <b-form-group
                              label-for="roll_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.name_inst_en')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                                id="committee_name"
                                v-model="detail.institute"
                                :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3" sm="8">
                          <ValidationProvider name="Designation" vid="designation_id">
                            <b-form-group
                              label-for="designation_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.name_inst_bn')}} <span class="text-danger">*</span>
                            </template>
                          <b-form-input
                                id="committee_name"
                                v-model="detail.institute_bn"
                                :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Employee" vid="employee_id">
                            <b-form-group
                              label-for="district_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.inst_address_en')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                                id="committee_name"
                                v-model="detail.address"
                                :state="errors[0] ? false : (valid ? true : null)"
                              ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Roll Name" vid="roll_id">
                            <b-form-group
                              label-for="roll_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.inst_address_bn')}} <span class="text-danger">*</span>
                            </template>
                          <b-form-input
                                id="committee_name"
                                v-model="detail.address_bn"
                                :state="errors[0] ? false : (valid ? true : null)"
                              ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3" sm="8">
                          <ValidationProvider name="Designation" vid="designation_id">
                            <b-form-group
                              label-for="designation_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.year_attend_from')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                              id="committee_name"
                              v-model="detail.year_from"
                              :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Employee" vid="employee_id">
                            <b-form-group
                              label-for="district_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.year_attend_to')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                              id="committee_name"
                              v-model="detail.year_to"
                              :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                               <!--  <b-form-select
                                    plain
                                    v-model="detail.year_to"
                                    :options="detail.employeeList"
                                    id="district_id"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                  >
                                    <template v-slot:first>
                                      <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                  </b-form-select> -->
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                        </b-col>
                        <b-col lg="3">
                          <ValidationProvider name="Roll Name" vid="roll_id">
                            <b-form-group
                              label-for="roll_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.score_sys')}} <span class="text-danger">*</span>
                            </template>
                              <b-form-select
                                plain
                                v-model="detail.scoreSys"
                                :options="scoreSysList"
                                id="roll_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                                >
                                <template v-slot:first>
                                  <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                              </b-form-select>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                      </b-col>
                       <b-col lg="3" sm="8">
                          <ValidationProvider name="Designation" vid="designation_id">
                            <b-form-group
                              label-for="designation_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.class')}} <span class="text-danger">*</span>
                            </template>
                            <!-- year_to -->
                            <b-form-input
                              id="committee_name"
                              v-model="detail.score_system_id"
                              :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                          <!--   <b-form-select
                              plain
                              v-model="detail.score_system_id"
                              :options="educationLevelList"
                              @input="getEmployeeList(index)"
                              id="designation_id"
                              :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select> -->
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                          </ValidationProvider>
                      </b-col>
                      <b-col lg="3">
                          <ValidationProvider name="Employee" vid="employee_id">
                            <b-form-group
                              label-for="district_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.pass_year')}} <span class="text-danger">*</span>
                            </template>
                             <b-form-input
                              id="committee_name"
                              v-model="detail.passing_year"
                              :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                                <!-- <b-form-select
                                    plain
                                    v-model="detail.passing_year"
                                    :options="detail.employeeList"
                                    id="district_id"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                  >
                                    <template v-slot:first>
                                      <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                  </b-form-select> -->
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                      </b-col>
                      <b-col lg="3">
                          <ValidationProvider name="Roll Name" vid="attachment">
                            <b-form-group
                              label-for="roll_id"
                              slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                              {{ $t('admission_form.acedemic_cert')}} <span class="text-danger">*</span>
                            </template>
                             <b-form-file
                                id="service_checklist_en"
                                v-model="detail.attachment"
                                :state="errors[0] ? false : (valid ? true : null)"
                                >
                              </b-form-file>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                      </b-col>
                      <b-col lg="3" sm="6">
                        <div>
                            <b-button v-show="index == academicData.requestAll.length-1" variant=" iq-bg-success" size="sm" @click="add()"><i class="ri-add-line mr-1"></i></b-button>
                            <b-button v-show="index || ( !index && academicData.requestAll.length > 1)" variant=" iq-bg-danger" size="sm" @click="remove(index)"><i class="ri-delete-bin-line m-0"></i></b-button>
                        </div>
                      </b-col>
                    </b-row>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { incentiveGrantServiceBaseUrl } from '@/config/api_config'
import { academicStore, academicUpdate } from '../../../api/routes'
import flatpickr from 'flatpickr'

export default {
  props: ['academicData'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
        app_general_info_id: 21,
        requestAll: [
          {
            education_level_id: 1,
            score_system_id: 1,
            type_id: 1,
            class_or_grade_id: 1,
            degree_title: '',
            degree_title_bn: '',
            group: '',
            group_bn: '',
            institute: '',
            institute_bn: '',
            address: '',
            address_bn: '',
            year_from: '22',
            year_to: '22',
            passing_year: '22',
            attachment: ''
          }
        ],
        scoreSysList: [
          { value: 1, text: 'old' },
          { value: 2, text: 'new' }
        ]
    }
  },
  created () {
    if (this.id) {
      this.getUserList()
    }
  },
  mounted () {
    flatpickr('.date-picker', {})
    core.index()
  },
  computed: {
    educationLevelList: function () {
      const dataEdu = this.$store.state.ExternalUserIrrigation.incentiveGrant.educationLevelList
      return dataEdu.map(item => {
            if (this.$i18n.locale === 'bn') {
              return { value: item.value, text: item.text_bn }
            } else {
              return { value: item.value, text: item.text_en }
            }
          })
    },
    circularInfoList: function () {
      const circularList = this.$store.state.incentiveGrant.commonObj.circularInfoList.filter(item => item.status === 1)
      return circularList.map(item => {
        return Object.assign({}, item, { value: item.value, text: item.memo_no })
      })
    }
  },
  watch: {
  },
  methods: {
    async academicSubmit () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      if (this.academicData.id) {
        result = await RestApi.putData(incentiveGrantServiceBaseUrl, `${academicUpdate}/${this.id}`, this.academicData)
      } else {
        result = await RestApi.postData(incentiveGrantServiceBaseUrl, academicStore, this.academicData)
      }

      loadinState.listReload = true

      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$store.dispatch('mutateWarehouseProperties', { hasDropdownLoaded: false })
        this.$toast.success({
          title: this.$t('globalTrans.success'),
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    },
    add () {
      const details = {
            education_level_id: 1,
            score_system_id: 1,
            type_id: 1,
            class_or_grade_id: 1,
            degree_title: '',
            degree_title_bn: '',
            group: '',
            group_bn: '',
            institute: '',
            institute_bn: '',
            address: '',
            address_bn: '',
            year_from: '22',
            year_to: '22',
            passing_year: '22',
            attachment: ''
      }
      const key1 = parseInt(this.academicData.requestAll.length - 1)
      const item = this.academicData.requestAll[key1]
      let isEmpty = true
      Object.keys(item).map(key => {
        if (item[key] === '' || item[key] === 0) {
          isEmpty = false
        }
      })
      if (isEmpty === true) {
        this.academicData.requestAll.push(details)
      }
    },
    remove (key) {
      this.academicData.requestAll.splice(key, 1)
    }
  }
}
</script>
