<template>
  <b-container fluid>
    <b-row class="admissionFormMain">
      <b-col md="12">
        <b-card no-body>
          <form-wizard shape="circle" color="#66CC99" title="" subtitle="">
            <tab-content class="text-small" :title="$t('admission_form.gen_inf')" icon="ri-home-4-line" :before-change="tabSubmitGeneral">
              <General :mapping_form="mapping_form" ref="social"/>
            </tab-content>
            <tab-content :title="$t('admission_form.add_info')" icon="ri-home-4-line" :before-change="tabSubmitAddressInfo">
              <AddressInfo v-if="type === 2" :address="address" ref="physical"/>
            </tab-content>
            <tab-content :title="$t('admission_form.lang_skill_info')" icon="ri-home-4-line" :before-change="tabSubmitLanguageInfo">
              <Language v-if="type === 3" :language="language" ref="physical"/>
            </tab-content>
            <tab-content :title="$t('admission_form.aca_record_info')" icon="ri-home-4-line" :before-change="tabAcademic">
              <Academic v-if="type === 4" :academicData="academicData" ref="academic"/>
            </tab-content>
            <tab-content :title="$t('admission_form.training_details')" icon="ri-home-4-line" :before-change="tabTraining">
              <Training v-if="type === 5" :trainingData="trainingData" ref="training"/>
            </tab-content>
            <tab-content :title="$t('admission_form.seminar')" icon="ri-home-4-line" :before-change="tabSubmitSeminar">
              <Seminar v-if="type === 6" :seminarData="seminarData" ref="seminar"/>
            </tab-content>
            <tab-content :title="$t('admission_form.qualification')" icon="ri-home-4-line" :before-change="tabQualification">
              <Qualification v-if="type === 7" :qualificationData="qualificationData" ref="qualification"/>
           </tab-content>
            <tab-content :title="$t('admission_form.annexure_1')" icon="ri-home-4-line" :before-change="tabSubmitAnnexure1Info">
              <AnnexureI v-if="type === 8" :annexure1="annexure1" ref="physical"/>
            </tab-content>
            <tab-content :title="$t('admission_form.annexure_2')" icon="ri-home-4-line" :before-change="tabSubmitAnnexure2Info">
              <AnnexureII v-if="type === 9" :annexure2="annexure2" ref="health"/>
            </tab-content>
            <tab-content :title="$t('admission_form.annexure_acr')" icon="ri-home-4-line">
              <AnnexureIII v-if="type === 10" :annexure3="annexure3" ref="info"/>
            </tab-content>
            <button slot="finish" class="wizard-btn-custom" style="background-color: rgb(102, 204, 153); border-color: rgb(102, 204, 153); color: white;" @click="addForm">Submit</button>
          </form-wizard>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import General from './GeneralInfo.vue'
import AddressInfo from './Address.vue'
import Language from './Language.vue'
import Academic from './Academic.vue'
import Training from './Training.vue'
import Seminar from './Seminar.vue'
import Qualification from './Qualification.vue'
import AnnexureI from './Annexure1.vue'
import AnnexureII from './Annexure2.vue'
import AnnexureIII from './Annexure3.vue'
// import DownloadForm from './SocioEco.vue'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import toggleStatus from '@/Utils/toggle-status'
import { MappingFormStatus, mappingFormData } from '../../../api/routes'

export default {
  components: {
    FormWizard,
    TabContent,
    General,
    AddressInfo,
    Language,
    Academic,
    Training,
    Seminar,
    Qualification,
    AnnexureI,
    AnnexureII,
    AnnexureIII
  },
  mounted () {
    core.index()
  },
  created () {
    if (this.$route.params.mapping_id) {
      this.info_id = this.$route.params.mapping_id
      const params = null
      RestApi.getData(agriMarketingServiceBaseUrl, `${mappingFormData}/${this.$route.params.mapping_id}`, params).then(response => {
        if (response.success) {
        }
      })
    }
  },
  data () {
    return {
        mapping_form: {
            id: '',
            candidateType: [
                { value: 1, text: this.$t('admission_form.principle') },
                { value: 2, text: this.$t('admission_form.alternative') }
            ],
            candidateOrg: [
                { value: 1, text: this.$t('admission_form.under_ministry') },
                { value: 2, text: this.$t('admission_form.others') }
            ],
            maritalStatus: [
                { value: 1, text: this.$t('admission_form.single') },
                { value: 2, text: this.$t('admission_form.married') }
            ],
            name: '',
            name_bn: '',
            father_name: '',
            father_name_bn: '',
            circular_id: '',
            candidate_type: 0,
            can_org_type: 0,
            can_org_id: 1,
            field_study: '',
            field_study_bn: '',
            applicant_id: 1,
            mother_name: '',
            mother_name_bn: '',
            date_of_birth: '',
            age: '',
            place_of_birth: '',
            marital_status: 0,
            nid: '',
            mobile_no: '',
            email: '',
            designation: '',
            designation_bn: '',
            photo: '',
            signature: '',
            showIdType: 0,
            ItemShow: false,
            rows: [],
            orgList: []
        },
        address: {
            area_type_id: '0',
            city_corporation_id: '0',
            pauroshoba_id: '0',
            ward_id: '0',
            country_id: 1,
            division_id: '0',
            district_id: '0',
            upazilla_id: '0',
            union_id: '0',
            village_name: '',
            village_name_bn: '',
            house_number: '',
            house_number_bn: '',
            per_area_type_id: '0',
            per_city_corporation_id: '0',
            per_pauroshoba_id: '0',
            per_ward_id: '0',
            per_country_id: 1,
            per_division_id: '0',
            per_district_id: '0',
            per_upazilla_id: '0',
            per_union_id: '0',
            per_village_name: '',
            per_village_name_bn: '',
            per_house_number: '',
            per_house_number_bn: '',
            app_general_info_id: 21
        },
        annexure1: {
            evidence: '',
            evidence_bn: '',
            membership: '',
            membership_bn: ''
        },
        annexure2: {
            employees: [
                {
                    can_org_type: 2,
                    org_id: 0,
                    position: '',
                    position_bn: '',
                    posting: '',
                    posting_bn: '',
                    remark: '',
                    remark_bn: '',
                    start_date: '',
                    end_date: ''
                }
            ],
            publications: [
                {
                    publication_name: '',
                    publication_name_bn: '',
                    author_type: 0,
                    publication_type: 0,
                    attachment: ''
                }
            ],
            fact: '',
            fact_bn: ''
        },
        annexure3: {
            requestAll: [
                {
                    year: 0,
                    type: 0
                }
            ]
        },
        language: {
            app_general_info_id: 21,
            english_reading_skill: '0',
            english_writing_skill: '0',
            english_speaking_skill: '0'
        },
        qualificationData: {
            app_general_info_id: 21,
            qualification: '',
            qualification_bn: ''
        },
        seminarData: {
            app_general_info_id: 21,
            requestAll: [
                {
                seminar_name: '',
                venue: '',
                venue_bn: '',
                from_date: '',
                to_date: '',
                seminar_name_bn: ''
                }
            ]
        },
        trainingData: {
            app_general_info_id: 21,
            requestAll: [
                {
                training_title: '',
                venue: '',
                venue_bn: '',
                from_date: '',
                to_date: '',
                training_type: '',
                batch: '',
                attachment: []
                }
            ],
            traininTypeList: [
                { value: 1, text: this.$t('admission_form.short_term') },
                { value: 2, text: this.$t('admission_form.long_term') }
            ],
            traininTitleList: [
                { value: 1, text: this.$t('admission_form.foundation_tran') },
                { value: 2, text: this.$t('admission_form.other_tran') }
            ]
        },
        academicData: {
            app_general_info_id: 21,
            requestAll: [
                {
                    education_level_id: 0,
                    score_system_id: '0',
                    type_id: '',
                    class_or_grade_id: '',
                    degree_title: '',
                    degree_title_bn: '',
                    group: '',
                    group_bn: '',
                    institute: '',
                    institute_bn: '',
                    address: '',
                    address_bn: '',
                    year_from: '',
                    year_to: '',
                    passing_year: '',
                    attachment: ''
                }
            ],
            scoreSysList: [
                { value: 1, text: 'old' },
                { value: 2, text: 'new' }
            ]
        },
        type: 1,
        info_id: ''
    }
  },
  methods: {
    onComplete: function () {
      const item = { id: this.info_id }
      toggleStatus(agriMarketingServiceBaseUrl, MappingFormStatus, item, '', '')
      this.$router.push({ path: '/agri-marketing-service/pusti-mapping/pusti-mapping-form' })
    },
    async tabSubmitGeneral () {
      this.type = 2
      return true
      // let result = null
      // result = await this.$refs.social.generalSubmit()
      // if (result.success) {
      //   // this.$store.state.ExternalUserIrrigation.incentiveGrant.appGeneralInfoID
      //   return true
      // }
      // this.type = 2
      // return true
      // // let result = null
      // // result = await this.$refs.social.generalSubmit()
      // // if (result.success) {
      // //   // this.$store.state.ExternalUserIrrigation.incentiveGrant.appGeneralInfoID
      // //   return true
      // // }
    },
    async tabSubmitAddressInfo () {
      this.type = 3
      return true
      // let result = null
      // result = await this.$refs.physical.addressSubmit()
      // if (result.success) {
      //   this.type = 3
      //   return true
      // }
    },
    async tabSubmitLanguageInfo () {
      this.type = 4
       return true
    //   let result = null
    //   result = await this.$refs.physical.languageSubmit()
    //   if (result.success) {
    //     this.type = 4
    //     return true
    //   }
    },
    async tabAcademic () {
      this.type = 5
      return true
      // let result = null
      // result = await this.$refs.academic.academicSubmit()
      // if (result.success) {
      //   this.type = 5
      //   return true
      // }
    },
    async tabTraining () {
      this.type = 6
      return true
      // let result = null
      // result = await this.$refs.training.trainingSubmit()
      // if (result.success) {
      //   this.type = 6
      //   return true
      // }
    },
    async tabSubmitSeminar () {
      this.type = 7
      return true
      // let result = null
      // result = await this.$refs.seminar.seminarSubmit()
      // if (result.success) {
      //   this.type = 7
      //   return true
      // }
    },
    async tabQualification () {
      this.type = 8
      return true
      // let result = null
      // result = await this.$refs.qualification.qualificationSubmit()
      // if (result.success) {
      //    this.type = 8
      //   return true
      // }
    },
    async tabSubmitAnnexure1Info () {
      this.type = 9
      return true
      // let result = null
      // result = await this.$refs.health.health_submit()
      // if (result.success) {
      //   return true
      // }
    },
    async tabSubmitAnnexure2Info () {
      this.type = 10
      return true
      // let result = null
      // result = await this.$refs.health.health_submit()
      // if (result.success) {
      //   return true
      // }
    },
    addForm () {
      this.$router.push({ path: '/grant-panel/application-form' })
    }
  }
}
</script>

<style lang="scss">
.admissionFormMain{
  .wizard-icon-circle {
    width: 30px !important;
    height: 30px !important;
    font-size: 10px !important;
  }
}
</style>
