<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <b-card no-body>
          <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
            <b-form  @submit.prevent="handleSubmit(annexure1Submit)" @reset.prevent="reset" >
              <b-row>
                <b-col lg="8" sm="12">
                  <ValidationProvider name="Evidence of Contribution (En)">
                    <b-form-group
                      class="row"
                      label-cols-sm="4"
                      label-for="evidence "
                      slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('admission_form.evidence_of_contribution_en')}}
                      </template>
                      <b-form-textarea
                        plain
                        v-model="annexure1.evidence"
                        id="evidence"
                        :state="errors[0] ? false : (valid ? true : null)"
                      >
                      </b-form-textarea>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col lg="8" sm="12">
                  <ValidationProvider name="Evidence of Contribution (En)" vid="evidence_bn">
                    <b-form-group
                      class="row"
                      label-cols-sm="4"
                      label-for="evidence_bn "
                      slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{ $t('admission_form.evidence_of_contribution_bn') }}
                      </template>
                      <b-form-textarea
                        plain
                        v-model="annexure1.evidence_bn"
                        id="evidence"
                        :state="errors[0] ? false : (valid ? true : null)"
                      >
                      </b-form-textarea>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col lg="8" sm="12">
                  <ValidationProvider name="Membership of Society (En)">
                    <b-form-group
                      class="row"
                      label-cols-sm="4"
                      label-for="evidence "
                      slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('admission_form.membership_of_society_en')}}
                      </template>
                      <b-form-textarea
                        plain
                        v-model="annexure1.membership"
                        id="membership"
                        :state="errors[0] ? false : (valid ? true : null)"
                      >
                      </b-form-textarea>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col lg="8" sm="12">
                  <ValidationProvider name="Membership of Society (Bn)" vid="membership_bn">
                    <b-form-group
                      class="row"
                      label-cols-sm="4"
                      label-for="membership_bn "
                      slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{ $t('admission_form.membership_of_society_bn') }}
                      </template>
                      <b-form-textarea
                        plain
                        v-model="annexure1.membership_bn"
                        id="membership_bn"
                        :state="errors[0] ? false : (valid ? true : null)"
                      >
                      </b-form-textarea>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
              </b-row>
            </b-form>
          </ValidationObserver>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { incentiveGrantServiceBaseUrl } from '@/config/api_config'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { annexure1Store } from '../../../api/routes'

export default {
  props: ['annexure1'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {}
  },
  mounted () {
    core.index()
  },
  methods: {
    async annexure1Submit () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }
      // const generalInfoID = this.$store.state.ExternalUserIrrigation.incentiveGrant.appGeneralInfoID
      // const formData = Object.assign({}, this.annexure1, { app_general_info_id: generalInfoID })
      const formData = Object.assign({}, this.annexure1, { app_general_info_id: 45 })
      result = await RestApi.postData(incentiveGrantServiceBaseUrl, annexure1Store, formData)

      loadingState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadingState)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })
        return result
      } else {
        this.$toast.error({
          title: 'Error',
          message: this.$t('globalTrans.form_error_msg'),
          color: '#D6E09B'
        })
        this.$refs.form.setErrors(result.errors)
      }
    }
  }
}
</script>
