<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
           <template v-slot:body>
              <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('social_service.personal_info') }}
                  </h5>
                </div>
              </template>
              <b-table-simple bordered>
                    <b-tr>
                        <b-th>{{ $t('social_service.ofc_name') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.case_history_no') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.pat_type') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.register_no') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.patient_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.patient_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.father_name_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.father_name_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.mother_name_en') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.mother_name_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.register_nid') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.nid_no') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.register_no') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.patient_guar_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.patient_guar_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.relation_patient_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.relation_patient_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.age') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.occupation_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.occupation_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.monthly_income') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.mat_status') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.edu_quali_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.edu_quali_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.religion_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.religion_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.nationality_en') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                      <b-th>{{ $t('social_service.nationality_bn') }}</b-th>
                      <b-td></b-td>
                      <b-td></b-td>
                      <b-td></b-td>
                      <b-td></b-td>
                      <b-td></b-td>
                    </b-tr>
              </b-table-simple>
              <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('educational_management.present_business_address') }}
                  </h5>
                </div>
              </template>
              <b-table-simple bordered>
                <b-tr>
                  <b-th>{{$t('globalTrans.division')}}</b-th>
                  <b-td></b-td>
                  <b-th>{{$t('globalTrans.upazila')}}</b-th>
                  <b-td></b-td>
                </b-tr>
                <b-tr>
                  <b-th>{{$t('globalTrans.district')}}</b-th>
                  <b-td></b-td>
                  <b-th> {{ $t('social_service.house_road_en') }} </b-th>
                  <b-td></b-td>
                </b-tr>
                <b-tr>
                  <b-th>{{$t('social_service.house_road_bn')}}</b-th>
                  <b-td></b-td>
                  <b-th> </b-th>
                  <b-td></b-td>
                </b-tr>
              </b-table-simple>
              <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('educational_management.permanent_address') }}
                  </h5>
                </div>
              </template>
               <b-table-simple bordered>
                <b-tr>
                  <b-th>{{$t('globalTrans.division')}}</b-th>
                  <b-td></b-td>
                  <b-th>{{$t('globalTrans.upazila')}}</b-th>
                  <b-td></b-td>
                </b-tr>
                <b-tr>
                  <b-th>{{$t('globalTrans.district')}}</b-th>
                  <b-td></b-td>
                  <b-th> {{ $t('social_service.house_road_en') }} </b-th>
                  <b-td></b-td>
                </b-tr>
                <b-tr>
                  <b-th>{{$t('social_service.house_road_bn')}}</b-th>
                  <b-td></b-td>
                  <b-th> </b-th>
                  <b-td></b-td>
                </b-tr>
              </b-table-simple>
              <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('social_service.patient_family_info') }}
                  </h5>
                </div>
              </template>
              <!-- <b-table-simple bordered>
                <b-tr>
                    <b-th>{{ $t('social_service.fam_mem_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.fam_mem_bn') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.age') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.gender') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.edu_quali_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.edu_quali_bn') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.occupation_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.occupation_bn') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.monthly_income') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.religion_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.religion_bn') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.coment_en') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.coment_en') }}</b-th>
                    <b-td></b-td>
                    <b-th></b-th>
                    <b-td></b-td>
                    <b-th></b-th>
                    <b-td></b-td>
                </b-tr>
              </b-table-simple> -->
                <b-table-simple bordered>
                  <tr>
                    <th>{{$t('social_service.fam_mem_en')}}</th>
                    <th>{{$t('social_service.age')}}</th>
                    <th>{{$t('social_service.gender')}}</th>
                    <th>{{$t('social_service.occupation_en')}}</th>
                  </tr>
                  <b-tr>
                    <b-td></b-td>
                    <b-td></b-td>
                    <b-td></b-td>
                    <b-td></b-td>
                  </b-tr>
                </b-table-simple>
              <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('social_service.admiss') }}
                  </h5>
                </div>
              </template>
              <b-table-simple bordered>
                    <b-tr>
                        <b-th>{{ $t('social_service.register_no') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.hos_dept') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.ward_no') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.bed_no') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.dises_name_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.dises_name_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.wight') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.blood_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.blood_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.related_docu_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.related_docu_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.upload') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
              </b-table-simple>
               <!-- <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('social_service.admiss') }}
                  </h5>
                </div>
              </template> -->
              <b-table-simple bordered>
                    <b-tr>
                        <b-th>{{ $t('social_service.regular_checkup_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.regular_checkup_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.vaccination') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.food_all') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.smoking') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.phy_dis') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.tak_med_adv') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.other_dises') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.familly_his_dis') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
              </b-table-simple>
              <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('social_service.pat_social') }}
                  </h5>
                </div>
              </template>
              <b-table-simple bordered>
                <b-tr>
                    <b-th>{{ $t('social_service.personal_home') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.affec_geo_posi') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.jakat_eli') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.vill_cen_life') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.city_center_life') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.prv_serv_from_hos') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.prv_serv_other_hos') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.regu_serv_take_dss') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.pat_eli_fin_help') }}</b-th>
                    <b-td></b-td>
                </b-tr>
              </b-table-simple>
              <b-table-simple bordered>
                <b-tr>
                    <b-th>{{ $t('social_service.medi_assis_ofc') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.rehabil_desc_par_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.rehabil_desc_par_bn') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.cash_recv_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.cash_recv_bn') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.case_rec_des_en') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.case_rec_des_bn') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.related_officer_name_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.related_officer_name_bn') }}</b-th>
                    <b-td></b-td>
                </b-tr>
                <b-tr>
                    <b-th>{{ $t('social_service.related_officer_comment_en') }}</b-th>
                    <b-td></b-td>
                    <b-th>{{ $t('social_service.related_officer_comment_bn') }}</b-th>
                    <b-td></b-td>
                    <b-th></b-th>
                    <b-td></b-td>
                </b-tr>
              </b-table-simple>
              <!-- <template>
                <div style="font-size:18px; background-color: #005B5B;">
                  <h5 class="text-white text-center">
                    {{ $t('social_service.ac_tk_p_impr_c_s') }}
                  </h5>
                </div>
              </template>
                <b-table-simple bordered>
                  <tr>
                    <th>{{$t('social_service.action_taken_en')}}</th>
                    <th>{{$t('social_service.action_taken_bn')}}</th>
                    <th>{{$t('social_service.follow_prograss_situation_en')}}</th>
                    <th>{{$t('social_service.follow_prograss_situation_bn')}}</th>
                  </tr>
                  <b-tr>
                    <b-td></b-td>
                    <b-td></b-td>
                    <b-td></b-td>
                    <b-td></b-td>
                  </b-tr>
                </b-table-simple> -->
                <!-- <template>
                    <div style="font-size:18px; background-color: #005B5B;">
                        <h5 class="text-white text-center"> {{ $t('social_service.other_information') }}
                        </h5>
                    </div>
                </template>
                <b-table-simple bordered>
                    <b-tr>
                        <b-th>{{ $t('social_service.other_relavant_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.other_relavant_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.comment_patient_en') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.comment_patient_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.comment_guardian_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.comment_guardian_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.supporting_authority_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.supporting_authority_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.comment_welfare_en') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.comment_welfare_bn') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.recomnd_patient_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.recomnd_patient_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                    <b-tr>
                        <b-th>{{ $t('social_service.case_close_date') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.follow_ofc_name_en') }}</b-th>
                        <b-td></b-td>
                        <b-th>{{ $t('social_service.follow_ofc_name_bn') }}</b-th>
                        <b-td></b-td>
                    </b-tr>
                </b-table-simple>
                <template>
                    <div style="font-size:18px; background-color: #005B5B;">
                        <h5 class="text-white text-center">
                            {{ $t('social_service.relevent_document_upload') }}
                        </h5>
                    </div>
                </template>
                <b-table-simple bordered>
                  <tr>
                    <th>{{$t('social_service.document_name_en')}}</th>
                    <th>{{$t('social_service.document_name_bn')}}</th>
                    <th>{{$t('social_service.upload')}}</th>
                  </tr>
                  <b-tr>
                    <b-td></b-td>
                    <b-td></b-td>
                    <b-td></b-td>
                  </b-tr>
                </b-table-simple> -->
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { seedFertilizerServiceBaseUrl } from '@/config/api_config'
import { trainerProfileStore, trainerProfileUpdate } from '../../../api/routes'
import flatpickr from 'flatpickr'

export default {
  props: ['id'],
  components: {
  },
  created () {
    if (this.id) {
      const tmp = this.gettrainerProfileData()
      this.trainerProfile = tmp
    }
  },
  mounted () {
    core.index()
    flatpickr('#registration_date', {})
    flatpickr('#deposit_date', {})
    flatpickr('#expire_date', {})
    flatpickr('#licence_issue_date', {})
    flatpickr('#licence_expire_date', {})
  },
  data () {
    return {
      test: 0,
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      perShowData: 0,
      showData: 0,
      trainerProfile: {
        blood_group_id: 0,
        religion_id: 0,
        pre_pauroshoba_id: 0,
        per_pauroshoba_id: 0,
        per_corporation_id: 0,
        pre_ward_id: 0,
        per_ward_id: 0,
        gender: 0,
        id: '',
        org_id: '',
        registration_year: 0,
        category: 0,
        registration_no: '',
        registration_date: '',
        name: '',
        name_bn: '',
        trade_name: '',
        trade_name_bn: '',
        father_name: '',
        father_name_bn: '',
        mother_name: '',
        mother_name_bn: '',
        nid: '',
        tin_no: '',
        bin_no: '',
        contact_no: '',
        sec_deposit_amount: '',
        pay_order_attachment: [],
        deposit_date: '',
        expire_date: '',
        photo: [],
        warehouse_details: '',
        warehouse_details_bn: '',
        sales_center_details: '',
        sales_center_details_bn: '',
        pre_division_id: 0,
        pre_region_id: 0,
        pre_district_id: 0,
        pre_upazilla_id: 0,
        pre_union_id: 0,
        pre_address: '',
        pre_address_bn: '',
        per_division_id: 0,
        per_region_id: 0,
        per_district_id: 0,
        per_upazilla_id: 0,
        per_union_id: 0,
        per_address: '',
        per_address_bn: '',
        area_id: 0,
        per_area_id: 0,
        pre_corporation_id: 0
      },
      pay_order_attachment: [],
      photo: [],
      districtList: [],
      upazilaList: [],
      unionList: [],
      districtPerList: [],
      upazilaPerList: [],
      unionPerList: [],
      officeList: [],
      cityCorporationList: [],
      pauroshobaList: [],
      wardList: [],
      areaTypeList: [
        { value: 1, text: this.$t('educational_management.city_corporation') },
        { value: 2, text: this.$t('educational_management.pourosoba') },
        { value: 3, text: this.$t('educational_management.name_of_union') }
      ],
        dealerCategory: [
        { text: (this.$i18n.locale === 'bn') ? 'সার' : 'Fertilizer', value: 2 }
    ]
    }
  },
  computed: {
    orgList: function () {
      return this.$store.state.commonObj.organizationProfileList.filter(item => item.status === 0)
    },
    divisionPreList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    divisionPerList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    yearOfRegistration: function () {
      const fiscalyear = this.$store.state.commonObj.fiscalYearList.filter(item => item.status === 0)
      return fiscalyear.map(item => {
        if (this.$i18n.locale === 'bn') {
            return { value: item.value, text: item.text_bn }
        } else {
            return { value: item.value, text: item.text_en }
        }
      })
    }
  },
  watch: {
    'trainerProfile.pre_division_id': function (newVal, oldVal) {
      this.districtList = this.getPreDistrictList(newVal)
    },
    'trainerProfile.pre_district_id': function (newVal, oldVal) {
      this.upazilaList = this.getPreUpazilaList(newVal)
      this.cityCorporationList = this.getPreCityCorporationList(newVal)
    },
    'trainerProfile.pre_corporation_id': function (newVal, oldVal) {
      this.wardList = this.getWardListByCityCorportaion(newVal)
    },
    'trainerProfile.pre_upazilla_id': function (newVal, oldVal) {
      this.unionList = this.getPreUnionList(newVal)
      this.pauroshobaList = this.getPauroshobaList(newVal)
    },
    'trainerProfile.per_division_id': function (newVal, oldVal) {
      this.districtPerList = this.getPerDistrictList(newVal)
    },
    'trainerProfile.per_district_id': function (newVal, oldVal) {
      this.upazilaPerList = this.getPerUpazilaList(newVal)
      this.cityCorporationList = this.getPreCityCorporationList(newVal)
    },
    'trainerProfile.per_corporation_id': function (newVal, oldVal) {
      this.wardList = this.getWardListByCityCorportaion(newVal)
    },
    'trainerProfile.per_upazilla_id': function (newVal, oldVal) {
      this.unionPerList = this.getPerUnionList(newVal)
      this.pauroshobaList = this.getPauroshobaList(newVal)
    },
    'trainerProfile.pre_pauroshoba_id': function (newVal, oldVal) {
      this.wardList = this.getWardListByPauroshoba(newVal)
    },
    'trainerProfile.org_id': function (newVal, oldVal) {
       this.officeList = this.getOfficeList(newVal)
    },
    'trainerProfile.area_id': function (newVal, oldVal) {
       this.officeList = this.getlocation(newVal)
    },
    'trainerProfile.per_area_id': function (newVal, oldVal) {
       this.officeList = this.getPerlocation(newVal)
    }
  },
  methods: {
    getlocation (areaID) {
        if (areaID === 1) {
            this.showData = 1
        }
        if (areaID === 2) {
            this.showData = 2
        }
        if (areaID === 3) {
            this.showData = 3
        }
        return true
    },
    getPerlocation (areaID) {
        if (areaID === 1) {
            this.perShowData = 1
        }
        if (areaID === 2) {
            this.perShowData = 2
        }
        if (areaID === 3) {
            this.perShowData = 3
        }
        return true
    },
    getOfficeList (orgId = null) {
        const officeList = this.$store.state.commonObj.officeList.filter(item => item.status === 0 && item.office_type_id === 72)
        if (orgId) {
            return officeList.filter(office => office.org_id === orgId).map(obj => {
                if (this.$i18n.locale === 'bn') {
                    return { value: obj.value, text: obj.text_bn }
                } else {
                    return { value: obj.value, text: obj.text }
                }
            })
        }
        return officeList
    },
    onOrderLogoChange (e) {
      this.pay_order_attachment = e.target.files[0]
    },
    onPhotoLogoChange (e) {
      this.photo = e.target.files[0]
    },
    gettrainerProfileData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: true }
      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }
      var formData = new FormData()
      Object.keys(this.trainerProfile).map(key => {
        if (key === 'pay_order_attachment') {
          formData.append(key, this.pay_order_attachment)
        }
        if (key === 'photo') {
          formData.append(key, this.photo)
        } else {
          formData.append(key, this.trainerProfile[key])
        }
      })

      if (this.trainerProfile.id) {
        formData.append('_method', 'POST')
        result = await RestApi.postData(seedFertilizerServiceBaseUrl, `${trainerProfileUpdate}/${this.id}`, formData, config)
      } else {
        result = await RestApi.postData(seedFertilizerServiceBaseUrl, trainerProfileStore, formData, config)
      }
      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$store.dispatch('SeedsFertilizer/mutateCommonObj', { hasDropdownLoaded: false })
        this.$toast.success({
          title: 'Success',
          message: this.id ? 'Data updated successfully' : 'Data save successfully',
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    },
    getPreDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList

      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }

      return districtList
    },
    getPreUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList

      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }

      return upazilaList
    },
    getPreCityCorporationList (districtId = null) {
      const cityCorporationList = this.$store.state.commonObjCommonConfig.cityCorporationList.filter(item => item.status === 0 && item.district_id === districtId)
      if (districtId) {
        return cityCorporationList.filter(upazila => upazila.district_id === districtId)
      }

      return cityCorporationList
    },
    getPauroshobaList (upazillaId = null) {
      const objectData = this.$store.state.commonObjCommonConfig.pauroshobaList.filter(item => item.upazilla_id === upazillaId)
      if (upazillaId) {
          return objectData.map((obj, key) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
      }
    },
    getWardListByCityCorportaion (cityCorpId) {
      const objectData = this.$store.state.commonObjCommonConfig.wardList
      const wardObjectList = objectData.filter(item => item.city_corporation_id === cityCorpId && item.status === 0)
      return wardObjectList.map((obj, key) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
    },
    getPreUnionList (upazilaId = null) {
      const unionList = this.$store.state.commonObj.unionList
      if (upazilaId) {
        return unionList.filter(union => union.upazilla_id === upazilaId)
      }

      return unionList
    },
    getPerDistrictList (divisionId = null) {
      const districtPerList = this.$store.state.commonObj.districtList

      if (divisionId) {
        return districtPerList.filter(district => district.division_id === divisionId)
      }

      return districtPerList
    },
    getPerUpazilaList (districtId = null) {
      const upazilaPerList = this.$store.state.commonObj.upazilaList

      if (districtId) {
        return upazilaPerList.filter(upazila => upazila.district_id === districtId)
      }

      return upazilaPerList
    },
    getPerUnionList (upazilaId = null) {
      const unionPerList = this.$store.state.commonObj.unionList
      if (upazilaId) {
        return unionPerList.filter(union => union.upazilla_id === upazilaId)
      }

      return unionPerList
    },
    getWardListByPauroshoba (pauroshobaId) {
      const objectData = this.$store.state.commonObjCommonConfig.wardList
      const wardObjectList = objectData.filter(item => item.pauroshoba_id === pauroshobaId && item.status === 0)
        return wardObjectList.map((obj, key) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
    }
  }
}
</script>
