<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <b-card no-body>
          <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
            <b-form  @submit.prevent="handleSubmit(generalSubmit)" @reset.prevent="reset" >
              <b-row style="border: 1px solid rgba(0, 0, 0, 0.125);padding:10px">
                <b-col md="4">
                  <ValidationProvider name="Circular Memo" vid="circular_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="circular_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.circular_memo')}}
                      </template>
                      <b-form-select
                          plain
                          v-model="mapping_form.circular_id"
                          :options="circularList"
                          id="circular_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                              <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                      </b-form-select>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Candidate Type" vid="candidate_type" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="candidate_type" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.candidate_type')}}
                      </template>
                      <b-form-select
                          plain
                          v-model="mapping_form.candidate_type"
                          :options="candidateType"
                          id="candidate_type"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                              <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                 <b-col md="4">
                  <ValidationProvider name="Candidate Organization" vid="can_org_type" rules="required|min_value:1">
                    <b-form-group class="row" label-cols-sm="6" label-for="can_org_type" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.candidate_org')}}
                      </template>
                      <b-form-select
                          plain
                          v-model="mapping_form.can_org_type"
                          :options="candidateOrg"
                          @change="getOrganization"
                          id="candidate_org"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                              <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Field Study (En)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.field_study')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.field_of_study"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Field Study (Bn)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.field_study_bn')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.field_of_study_bn"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Full Name (En)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.full_name_en')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.name"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Full Name (Bn)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.full_name_bn')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.name_bn"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Father Name (En)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.father_name_en')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.father_name"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Father Name (Bn)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.father_name_bn')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      v-model="mapping_form.father_name_bn"
                      >
                      </b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Mother Name (En)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.mother_name_en')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.mother_name"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Mother Name (Bn)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.mother_name_bn')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.mother_name_bn"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Date of Birth" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{ $t('externalUserIrrigation.date_of_birth') }} <span class="text-danger">*</span>
                      </template>
                        <b-form-input
                          class="date-picker"
                          v-model="mapping_form.date_of_birth"
                          @change="ageCalculation"
                          :placeholder="$t('globalTrans.select_date')"
                          :state="errors[0] ? false : (valid ? true : null)"
                        ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Age" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.age')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      v-model="mapping_form.age"
                      disabled
                      >
                      </b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Place of Birth" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.place_of_birth')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.place_of_birth"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Marital Status" vid="admission_form_id" rules="required|min_value:1">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.mat_status')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-select
                          plain
                          v-model="mapping_form.marital_status"
                          :options="maritalStatus"
                          id="pre_division_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                              <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                      </b-form-select>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="NID" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.nid_no')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.nid"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Mobile No." vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.mobile_no')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                        type="number"
                        id="pay_grade"
                        v-model="mapping_form.mobile_no"
                        :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Email" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.email')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.email"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Organization" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('externalUserIrrigation.organization')}} <span class="text-danger">*</span>
                      </template>
                       <b-form-select
                          plain
                          v-model="mapping_form.can_org_id"
                          :options="orgList"
                          id="pre_division_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                              <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                      </b-form-select>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Organization Address" vid="admission_form_id">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.org_add')}}
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.patient_bn"
                      :state="errors[0] ? false : (valid ? true : null)"
                      disabled
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Designation (En)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.design_en')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.designation"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Designation (Bn)" vid="admission_form_id" rules="required">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.design_bn')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-input
                      type="text"
                      id="pay_grade"
                      v-model="mapping_form.designation_bn"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
               <b-col md="4">
                  <ValidationProvider name="Photo" vid="admission_form_id">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ errors }">
                      <template v-slot:label>
                        {{$t('admission_form.photo')}}
                      </template>
                      <b-form-file
                        id="service_checklist_en"
                        v-model="mapping_form.photo"
                        >
                      </b-form-file>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
                <b-col md="4">
                  <ValidationProvider name="Pusti Mapping Id" vid="admission_form_id">
                    <b-form-group class="row" label-cols-sm="6" label-for="admission_form_id" slot-scope="{ valid, errors }">
                      <template v-slot:label>
                        {{$t('admission_form.signature')}}
                      </template>
                      <b-form-file
                        id="service_checklist_en"
                        v-model="mapping_form.signature"
                        :state="errors[0] ? false : (valid ? true : null)"
                        >
                      </b-form-file>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </b-col>
              </b-row>
              </b-form>
            </ValidationObserver>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { incentiveGrantServiceBaseUrl } from '@/config/api_config'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { genInfoStore } from '../../../api/routes'
import flatpickr from 'flatpickr'

export default {
  props: ['mapping_form'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {
      candidateType: [
        { value: 1, text: this.$t('admission_form.principle') },
        { value: 2, text: this.$t('admission_form.alternative') }
      ],
      candidateOrg: [
        { value: 1, text: this.$t('admission_form.under_ministry') },
        { value: 2, text: this.$t('admission_form.others') }
      ],
      maritalStatus: [
        { value: 1, text: this.$t('admission_form.single') },
        { value: 2, text: this.$t('admission_form.married') }
      ],
      name: '',
      name_bn: '',
      father_name: '',
      father_name_bn: '',
      circular_id: '',
      candidate_type: 0,
      can_org_type: 0,
      can_org_id: 1,
      field_study: '',
      field_study_bn: '',
      applicant_id: 1,
      mother_name: '',
      mother_name_bn: '',
      date_of_birth: '',
      age: '',
      place_of_birth: '',
      marital_status: 0,
      nid: '',
      mobile_no: '',
      email: '',
      designation: '',
      designation_bn: '',
      photo: '',
      signature: '',
      showIdType: 0,
      ItemShow: false,
      rows: [],
      orgList: []
    }
  },
  watch: {
    'mapping_form.can_org_type': function (newVal, oldVal) {
        this.OrgList = this.getOrganization(newVal)
    }
  },
  mounted () {
    flatpickr('.date-picker', {})
    core.index()
  },
  computed: {
    circularList: function () {
      const circularList = this.$store.state.ExternalUserIrrigation.incentiveGrant.circularInfoList.filter(item => item.status === 1)
      return circularList.map(item => {
        return Object.assign({}, item, { value: item.value, text: item.memo_no })
      })
    }
  },
  methods: {
    ageCalculation () {
      const today = new Date()
      const birthDate = new Date(this.mapping_form.date_of_birth)
      this.mapping_form.age = today.getFullYear() - birthDate.getFullYear()
      const m = today.getMonth() - birthDate.getMonth()
      if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
          this.mapping_form.age--
      }
    },
    getOrganization () {
      if (this.mapping_form.can_org_type === 2) {
        const circularList = this.$store.state.ExternalUserIrrigation.incentiveGrant.narseInstituteList.filter(item => item.status === 1)
        this.orgList = circularList.map(item => {
        return Object.assign({}, item, { value: item.value, text: item.text_en })
        })
      } else {
        const orgList = this.$store.state.ExternalUserIrrigation.commonObj.organizationProfileList
        this.orgList = orgList.map(item => {
        return Object.assign({}, item, { value: item.value, text: item.text_en })
        })
      }
    },
    async generalSubmit () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }
      result = await RestApi.postData(incentiveGrantServiceBaseUrl, genInfoStore, this.mapping_form)

      loadingState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadingState)
      if (result.success) {
        this.$store.commit('mutateAgriMarketingProperties', { hasDropdownLoaded: false })
          this.$toast.success({
            title: 'Success',
            message: this.$t('globalTrans.save_msg'),
            color: '#D6E09B'
          })
          return result
          } else {
            this.$toast.error({
                title: 'Error',
                message: this.$t('globalTrans.form_error_msg'),
                color: '#D6E09B'
            })
            this.$refs.form.setErrors(result.errors)
          }
    }
  }
}
</script>
<style scoped>
 .form-control {
  padding: 0.375rem 0.75rem
 }
</style>
