<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <b-card no-body>
          <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
            <b-form  @submit.prevent="handleSubmit(languageSubmit)" @reset.prevent="reset" >
                    <b-row>
                        <b-col lg="8" sm="12">
                            <ValidationProvider name="English Reading Skill" vid="english_reading_skill" rules="required|min_value:1">
                                <b-form-group
                                    class="row"
                                    label-cols-sm="4"
                                    label-for="english_reading_skill "
                                    slot-scope="{ valid, errors }"
                                    >
                                    <template v-slot:label>
                                        {{$t('admission_form.english_reading_skill')}} <span class="text-danger">*</span>
                                    </template>
                                    <b-form-select
                                    plain
                                    v-model="language.english_reading_skill"
                                    id="english_reading_skill"
                                    :options="englishSkillList"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                    >
                                    <template v-slot:first>
                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                    </b-form-select>
                                    <div class="invalid-feedback">
                                    {{ errors[0] }}
                                    </div>
                                </b-form-group>
                            </ValidationProvider>
                        </b-col>
                        <b-col lg="8" sm="12">
                            <ValidationProvider name="English Writing Skill" vid="english_writing_skill" rules="required|min_value:1">
                                <b-form-group
                                    class="row"
                                    label-cols-sm="4"
                                    label-for="english_writing_skill "
                                    slot-scope="{ valid, errors }"
                                    >
                                    <template v-slot:label>
                                        {{$t('admission_form.english_writing_skill')}} <span class="text-danger">*</span>
                                    </template>
                                    <b-form-select
                                    plain
                                    v-model="language.english_writing_skill"
                                    id="english_writing_skill"
                                    :options="englishSkillList"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                    >
                                    <template v-slot:first>
                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                    </b-form-select>
                                    <div class="invalid-feedback">
                                    {{ errors[0] }}
                                    </div>
                                </b-form-group>
                            </ValidationProvider>
                        </b-col>
                        <b-col lg="8" sm="12">
                            <ValidationProvider name="English Speaking Skill" vid="english_speaking_skill" rules="required|min_value:1">
                                <b-form-group
                                    class="row"
                                    label-cols-sm="4"
                                    label-for="english_speaking_skill "
                                    slot-scope="{ valid, errors }"
                                    >
                                    <template v-slot:label>
                                        {{$t('admission_form.english_speaking_skill')}} <span class="text-danger">*</span>
                                    </template>
                                    <b-form-select
                                    plain
                                    v-model="language.english_speaking_skill"
                                    id="english_speaking_skill"
                                    :options="englishSkillList"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                    >
                                    <template v-slot:first>
                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                    </b-form-select>
                                    <div class="invalid-feedback">
                                    {{ errors[0] }}
                                    </div>
                                </b-form-group>
                            </ValidationProvider>
                        </b-col>
                    </b-row>
            </b-form>
          </ValidationObserver>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { incentiveGrantServiceBaseUrl } from '@/config/api_config'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { languageStore } from '../../../api/routes'
// import { Object } from '@amcharts/amcharts4/core'

export default {
  props: ['language'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {
        english_reading_skill: '0',
        english_writing_skill: '0',
        english_speaking_skill: '0',
        // app_general_info_id: 21,
        rows: [],
        englishSkill: [
          {
            id: 1,
            name: 'Excellent',
            name_bn: 'দুর্দান্ত'
          },
          {
            id: 2,
            name: 'Good',
            name_bn: 'ভাল'
          },
          {
            id: 3,
            name: 'Fair',
            name_bn: 'চলনসই'
          }
        ]
    }
  },
  mounted () {
    core.index()
  },
  watch: {
  },
  computed: {
    englishSkillList: function () {
        return this.englishSkill.map((obj, key) => {
            if (this.$i18n.locale === 'bn') {
                return { value: obj.id, text: obj.name_bn }
            } else {
                return { value: obj.id, text: obj.name }
            }
        })
    }
  },
  methods: {
    async languageSubmit () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }
      const generalInfoID = this.$store.state.ExternalUserIrrigation.incentiveGrant.appGeneralInfoID
      const formData = Object.assign({}, this.language, { app_general_info_id: generalInfoID })
      result = await RestApi.postData(incentiveGrantServiceBaseUrl, languageStore, formData)

      loadingState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadingState)
      if (result.success) {
        this.$store.commit('mutateAgriMarketingProperties', { hasDropdownLoaded: false })
          this.$toast.success({
            title: 'Success',
            message: this.$t('globalTrans.save_msg'),
            color: '#D6E09B'
          })
          return result
          } else {
            this.$toast.error({
                title: 'Error',
                message: this.$t('globalTrans.form_error_msg'),
                color: '#D6E09B'
            })
            this.$refs.form.setErrors(result.errors)
          }
    }
  }
}
</script>
