<template>
    <b-container fluid>
        <!-- <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('admission_form.application') }}</h4>
            </template>
             <template v-slot:body>
              <b-row>
                <b-col xs="12" sm="12" md="4" lg="4" xl="4">
                    <b-form-group
                        class="row"
                        label-cols-sm="5"
                        :label="$t('social_service.case_history_no')"
                        label-for="gender"
                        >
                        <b-form-input
                        v-model="search.case_history_no"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="4" lg="4" xl="4">
                  <b-form-group
                        class="row"
                        label-cols-sm="3"
                        :label="$t('social_service.ofc_name')"
                        label-for="division_id"
                        >
                        <b-form-input
                        v-model="search.case_history_no"
                        ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="4" lg="4" xl="4">
                  <b-form-group
                          class="row"
                          label-cols-sm="3"
                          :label="$t('social_service.patient')"
                          label-for="district_id"
                          >
                          <b-form-input
                            v-model="search.case_history_no"
                            ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
               <b-button type="button" variant="primary" @click="searchData">
                {{ $t('globalTrans.search')}}
              </b-button>
            </template>
        </iq-card> -->
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('admission_form.application') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="addForm">
                            {{ $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(gender)="data">
                                            <span  v-if="data.item.gender == 1">{{$t('social_service.boy')}}</span>
                                            <span  v-else>{{$t('social_service.girl')}}</span>
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template>
                                        <template v-slot:cell(action)="data">
                                            <b-button v-b-modal.modal-5 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="view(data.item)"><i class="ri-eye-fill m-0"></i></b-button>
                                            <b-button variant=" iq-bg-success mr-1 mb-1" size="sm" @click="addForm"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                            <!-- <span v-if="data.item.status === 1">
                                                <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="fas fa-window-close m-0"></i></b-button>
                                            </span> -->
                                            <!-- <span v-if="data.item.status === 2">
                                                <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="fa fa-check m-0"></i></b-button>
                                            </span> -->
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
      <b-modal id="modal-5" size="xl" :title="$t('social_service.case_history')"  :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
        <Details :id="editItemId" :key="editItemId"/>
      </b-modal>
    </b-container>
</template>
<script>
import Details from './Details'
import RestApi, { childServiceBaseUrl } from '@/config/api_config'
import { seizerList, seizerStatus } from '../../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import StaticData from './static_data.js'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Details
  },
  data () {
    return {
      search: {
        gender: '',
        month: '',
        division_id: '',
        patient_id: 0
      },
      rows: [],
      districtList: [],
      upazilaList: [],
      unionList: []
    }
  },
  computed: {
    genderList: function () {
      return StaticData.genderList(this)
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('admission_form.application_id'), class: 'text-left' },
          { label: this.$t('admission_form.application_name'), class: 'text-left' },
          { label: this.$t('globalTrans.organization'), class: 'text-left' },
          { label: this.$t('admission_form.circular_memo'), class: 'text-left' },
          // { label: this.$t('admission_form.docu'), class: 'text-left' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'name_en' },
          { key: 'genderd' },
          { key: 'division_name' },
          { key: 'district_name' },
          { key: 'district_name22' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'name_en' },
          { key: 'genderd' },
          { key: 'division_name' },
          { key: 'district_name' },
          { key: 'district_name22' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    remove (item) {
      this.changeStatus(childServiceBaseUrl, seizerStatus, item)
    },
    editItem (item) {
      this.$router.push({ path: `/grant-panel/application-form-main/${item.id}` })
    },
    addForm () {
      this.$router.push({ path: '/grant-panel/application-form-main' })
    },
     loadData () {
      var seizerSearch = ''
      if (this.search.seizer_id) {
          seizerSearch = this.search.seizer_id.value
      }
      const params = Object.assign({}, this.search, { seizer_id: seizerSearch, page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(childServiceBaseUrl, seizerList, params).then(response => {
        if (response.success) {
          this.$store.dispatch('setList', this.getRelationalData(response.data.data))
          this.paginationData(response.data)
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getRelationalData (data) {
            const listData = data.map(item => {
                const evaluationData = {
                    seizer_name: item.seizer_name_bn !== undefined ? item.seizer_name : '',
                    seizer_name_bn: item.seizer_name !== undefined ? item.seizer_name_bn : ''
                }

                return Object.assign({}, item, evaluationData)
            })
            return listData
      },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)
        if (divisionId) {
          return districtList.filter(district => district.division_id === divisionId)
        }
      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
        if (districtId) {
          return upazilaList.filter(upazila => upazila.district_id === districtId)
        }
      return upazilaList
    },
    getUnionList (upazilaId = null) {
      const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
        if (upazilaId) {
          return unionList.filter(union => union.upazilla_id === upazilaId)
        }
      return unionList
    }
  }
}
</script>
