<template>
  <div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-4">
          <div class="card overflow-hidden">
              <div class="card-header">
                  <div class="avatar-md profile-user-wid">
                      <span class="avatar-title rounded-circle bg-light">
                          <img class="mx-auto d-block" src="@/assets/images/login/logo.png" height="80" />
                      </span>
                  </div>
              </div>
              <div class="card-body">
                  <b-overlay :show="loading">
                    <div class="p-2">
                      <b-alert :show="errorAlert" variant=" " dismissible fade class="text-white bg-danger">
                        <div class="iq-alert-icon">
                          <i class="ri-information-line"></i>
                        </div>
                        <div class="iq-alert-text">{{ errorMsg }}</div>
                      </b-alert>
                      <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                        <b-form @submit.prevent="handleSubmit(login)" @reset.prevent="reset" >
                          <ValidationProvider name="Username/Email" rules="required">
                            <b-form-group
                              class="row"
                              label-cols-sm="12"
                              label="Username/Email:"
                              label-for="email"
                              slot-scope="{ valid, errors }"
                            >
                              <b-form-input
                                id="email"
                                v-model="user.email"
                                placeholder=""
                                :state="errors[0] ? false : (valid ? true : null)"
                                ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                          <ValidationProvider name="password" rules="required|min:3">
                            <b-form-group
                              class="row"
                              label-cols-sm="12"
                              label="Password:"
                              label-for="password"
                              slot-scope="{ valid, errors }"
                            >
                              <b-form-input
                                id="password"
                                type="password"
                                v-model="user.password"
                                placeholder=""
                                :state="errors[0] ? false : (valid ? true : null)"
                                ></b-form-input>
                                <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                          <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline" />
                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-primary btn-block" type="submit">Log In</button>
                            </div>
                            <div class="mt-4 text-center">
                                <a href="#"><i class="mdi mdi-lock mr-1"></i> Forgot your password?</a>
                            </div>
                        </b-form>
                      </ValidationObserver>
                    </div>
                  </b-overlay>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import RestApi, { authServiceBaseUrl } from '../../../../config/api_config'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { userDataApi, usernameCheckApi } from '../api/routes'

export default {
  components: { ValidationObserver, ValidationProvider },
  data: () => ({
    loading: false,
    user: {
      username: '',
      email: '',
      password: ''
    },
    errorAlert: false,
    errorMsg: ''
  }),
  mounted () {
    // const loggedIn = localStorage.getItem('access_token')
    // if (loggedIn !== undefined && loggedIn !== null) {
    //   this.$router.push('home-1')
    // }
  },
  methods: {
    async login () {
      try {
        this.loading = true
        if (this.user.email.indexOf('@') === -1) {
          const res = await RestApi.getData(authServiceBaseUrl, usernameCheckApi, { username: this.user.email })
          if (res.success) {
            this.user.username = res.data
          } else {
            this.errorAlert = true
            this.errorMsg = 'Failed to login. Wrong Username/Email'
            this.loading = false
            return
          }
        } else {
          this.user.username = this.user.email
        }

        const creds = Object.assign(
          {},
          this.user,
          { grant_type: 'password', client_id: process.env.VUE_APP_AUTH_CLIENT_ID, client_secret: process.env.VUE_APP_AUTH_CLIENT_SEC }
        )
        const result = await RestApi.postData(authServiceBaseUrl, '/v1/oauth/token', creds)

        if (!result.access_token) {
          this.errorAlert = true
          this.errorMsg = 'Failed to login. Please, try again.'
          this.loading = false
          return
        }

        localStorage.setItem('access_token', result.access_token)
        const response = await RestApi.getData(authServiceBaseUrl, userDataApi, null)
        if (response.success) {
          this.$store.dispatch('Auth/updateAuthUser', Object.assign({}, response.data, { username: response.username }))
          localStorage.setItem('accessUsername', response.username)
          localStorage.setItem('accessUserId', response.data.id)
          if (response.data.user_type_id) {
            this.$router.push('/dashboard')
          } else {
            this.errorAlert = true
            this.errorMsg = 'Unauthorized access'
          }
        }
      } catch (error) {
        if (error) {
          //
        }
        this.errorAlert = true
        this.errorMsg = 'Failed to login. Please, try again.'
      }

      this.loading = false
    }
  }
}
</script>

<style scoped>
        .card{border: 0px!important;}
        .card-header{background-color: #c7cef8 !important; border-bottom: 0px!important;}
        .btn-custom{background-color: #596DE1; color: #fff;}
</style>
