<template>
  <div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-5">
          <div class="card overflow-hidden">
              <div class="card-header">
                  <div class="avatar-md profile-user-wid">
                      <span class="avatar-title rounded-circle bg-light">
                          <img class="mx-auto d-block" src="@/assets/images/login/logo.png" height="80" />
                      </span>
                  </div>
              </div>
              <div class="card-body">
                  <b-overlay :show="loading">
                    <div class="p-2">
                      <b-alert :show="errorAlert" variant=" " dismissible fade class="text-white bg-danger">
                        <div class="iq-alert-icon">
                          <i class="ri-information-line"></i>
                        </div>
                        <div class="iq-alert-text">{{ errorMsg }}</div>
                      </b-alert>
                      <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                        <b-form @submit.prevent="handleSubmit(signup)" @reset.prevent="reset" autocomplete="off">
                          <ValidationProvider name="Username" vid="username" rules="required|min:3">
                            <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label="Username:"
                              label-for="username"
                              slot-scope="{ valid, errors }"
                            >
                              <b-form-input
                                id="username"
                                v-model="user.username"
                                placeholder=""
                                :state="errors[0] ? false : (valid ? true : null)"
                                ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                          <ValidationProvider name="Email" vid="email" rules="required|email">
                            <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label="Email:"
                              label-for="email"
                              slot-scope="{ valid, errors }"
                            >
                              <b-form-input
                                id="email"
                                v-model="user.email"
                                placeholder=""
                                :state="errors[0] ? false : (valid ? true : null)"
                                ></b-form-input>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                          <ValidationProvider name="Password" vid="password" rules="required|min:6">
                            <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label="Password:"
                              label-for="password"
                              slot-scope="{ valid, errors }"
                            >
                              <b-form-input
                                id="password"
                                type="password"
                                v-model="user.password"
                                placeholder=""
                                :state="errors[0] ? false : (valid ? true : null)"
                                ></b-form-input>
                                <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                          <ValidationProvider name="Confirm password" vid="password_confirmation" rules="required">
                            <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label="Confirm Password:"
                              label-for="password_confirmation"
                              slot-scope="{ valid, errors }"
                            >
                              <b-form-input
                                id="password_confirmation"
                                type="password"
                                v-model="user.password_confirmation"
                                placeholder=""
                                :state="errors[0] ? false : (valid ? true : null)"
                                ></b-form-input>
                                <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                          <ValidationProvider name="User Type" vid="user_type_id" rules="required">
                            <b-form-group
                              class="row"
                              label-cols-sm="4"
                              :label="$t('externalUserIrrigation.user_type_id')"
                              label-for="user_type_id"
                              slot-scope="{ valid, errors }"
                              >
                              <b-form-select
                                plain
                                v-model="user.user_type_id"
                                :options="userTypeList"
                                id="user_type_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                                >
                                <template v-slot:first>
                                  <b-form-select-option :value="defaultValue" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                              </b-form-select>
                              <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                            </b-form-group>
                          </ValidationProvider>
                            <div class="mt-3">
                                <button class="btn btn-primary btn-block" type="submit">Log In</button>
                            </div>
                            <div class="mt-4 text-center">
                                <a href="#"><i class="mdi mdi-lock mr-1"></i> Forgot your password?</a>
                            </div>
                        </b-form>
                      </ValidationObserver>
                    </div>
                  </b-overlay>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import RestApi, { authServiceBaseUrl } from '@/config/api_config'
import { signUp } from '../api/routes'
import { ValidationObserver, ValidationProvider } from 'vee-validate'

export default {
  components: { ValidationObserver, ValidationProvider },
  data: () => ({
    loading: false,
    defaultValue: '',
    user: {
      name: 'Unknown Name',
      email: '',
      username: '',
      password: '',
      password_confirmation: '',
      user_type_id: ''
    },
    errorAlert: false,
    errorMsg: ''
  }),
  computed: {
    ...mapGetters({
      userTypeList: 'ExternalUserAuth/userTypeList'
    })
  },
  methods: {
    async signup () {
      try {
        this.loading = true
        const result = await RestApi.postData(authServiceBaseUrl, signUp, this.user)

        if (result.success) {
          this.$router.push({ name: 'auth.login' })
        } else {
          this.errorAlert = true
          this.errorMsg = 'Failed to sign up. Please, try again. ttt'
          this.$refs.form.setErrors(result.errors)
        }
      } catch (error) {
        if (error) {
          //
        }
        this.errorAlert = true
        this.errorMsg = 'Failed to sign up. Please, try again.'
      }

      this.loading = false
    }
  }
}
</script>

<style scoped>
        .card{border: 0px!important;}
        .card-header{background-color: #c7cef8 !important; border-bottom: 0px!important;}
        .btn-custom{background-color: #596DE1; color: #fff;}
</style>
