<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
        <h4 class="card-title">{{ $t('market_linkage.grower_buyer_profile') }}</h4>
      </template>
      <template v-slot:body>
        <b-row>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="5"
                :label="$t('market_linkage.applicant_id')"
                label-for="applicant_id"
                >
                <b-form-input
                  plain
                  v-model="search.applicant_id"
                  id="type_id"
                  >
                </b-form-input>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('irri_pump_main.type_id')"
                label-for="type"
                >
                <b-form-select
                plain
                v-model="search.type"
                :options="growerBuyer"
                id="type"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('irri_pump_main.name')"
                label-for="name"
                >
                <b-form-input
                    id="name"
                    v-model="search.name"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="5"
                :label="$t('globalUserData.mobile_no')"
                label-for="mobile_no"
                >
                <b-form-input
                    id="mobile_no"
                    v-model="search.mobile_no"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_division.division')"
                label-for="division_id"
                >
                <b-form-select
                plain
                v-model="search.division_id"
                :options="divisionList"
                id="division_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_district.district')"
                label-for="district_id"
                >
                <b-form-select
                plain
                v-model="search.district_id"
                :options="districtList"
                id="district_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="5"
                :label="$t('org_pro_upazilla.upazilla')"
                label-for="upazila_id"
                >
                <b-form-select
                plain
                v-model="search.upazila_id"
                :options="upazilaList"
                id="upazila_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_union.union')"
                label-for="union_id"
                >
                <b-form-select
                plain
                v-model="search.union_id"
                :options="unionList"
                id="union_id"
                >
                <template v-slot:first>
                  <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xl="4" lg="6" md="6" sm="12" xs="12">
              <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
            </b-col>
        </b-row>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('market_linkage.grower_buyer_profile_list') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button class="mr-1" title="View Complain" v-b-modal.modal-5 variant=" iq-bg-success" size="sm" @click="details(data.item)"><i class="ri-eye-line m-0 "></i></b-button>
                      <b-button v-if="data.item.status == 1" v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="xl" :title="$t('market_linkage.grower_buyer_profile')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>
    <b-modal id="modal-5" size="lg" :title="$t('market_linkage.grower_buyer_profile_details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
       <Details :item="item" :key="testId"></Details>
    </b-modal>
  </b-container>
</template>
<script>
import FormV from './Form'
import Details from './Details'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { groBuyProList } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV, Details
  },
  data () {
    return {
      baseUrl: agriMarketingServiceBaseUrl,
      search: {
        applicant_id: '',
        type: '0',
        name: '',
        mobile_no: '',
        division_id: '0',
        district_id: '0',
        upazila_id: '0',
        union_id: '0'
      },
      testId: 0,
      latitude: '',
      longitude: '',
      districtList: [],
      upazilaList: [],
      unionList: [],
      rows: [],
      item: ''
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazila_id': function (newVal, oldVal) {
      this.unionList = this.getUnionList(newVal)
    }
  },
  computed: {
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    growerBuyer: function () {
        const objectData = this.$store.state.commonObj.growerBuyer
        return objectData.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text_en }
            }
        })
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('irri_pump_main.directory_entry') : this.$t('irri_pump_main.directory_modify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('irri_pump_main.district'), class: 'text-left' },
          { label: this.$t('globalTrans.upazila'), class: 'text-left' },
          { label: this.$t('irri_pump_main.union'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.father_name'), class: 'text-left' },
          { label: this.$t('market_linkage.land_area'), class: 'text-left' },
          { label: this.$t('globalUserData.mobile_no'), class: 'text-left' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'district_name_bn' },
          { key: 'upazilla_name_bn' },
          { key: 'union_name_bn' },
          { key: 'father_name_bn' },
          { key: 'land_area' },
          { key: 'mobile_no' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'district_name' },
          { key: 'upazilla_name' },
          { key: 'union_name' },
          { key: 'father_name' },
          { key: 'land_area' },
          { key: 'mobile_no' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
        return Object.assign(item, keys[index])
      })
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    details (item) {
      this.item = item
    },
    searchData () {
      this.loadData()
    },
    loadData () {
        const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
        this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
        RestApi.getData(agriMarketingServiceBaseUrl, groBuyProList, params).then(response => {
            if (response.success) {
                this.$store.dispatch('setList', this.dataList(response.data.data))
                this.paginationData(response.data)
            }
            this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
        })
    },
    dataList (data) {
        const districtList = this.$store.state.commonObj.districtList
        const upazillaList = this.$store.state.commonObj.upazilaList
        const unionList = this.$store.state.commonObj.unionList
        const relationalData = data.map(item => {
          const tmpDistrict = districtList.find(district => district.value === item.district_id)
          const tmpUpazilla = upazillaList.find(upazilla => upazilla.value === item.upazilla_id)
          const tmpUnion = unionList.find(union => union.value === item.union_id)
          const districtData = { district_name: tmpDistrict.text_en, district_name_bn: tmpDistrict.text_bn }
          const upazillaData = { upazilla_name: tmpUpazilla.text_en, upazilla_name_bn: tmpUpazilla.text_bn }
          const unionData = { union_name: tmpUnion.text_en, union_name_bn: tmpUnion.text_bn }
          return Object.assign({}, item, districtData, upazillaData, unionData)
        })
        return relationalData
    },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)

      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }

      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)

      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }

      return upazilaList
    },
    getUnionList (upazilaId = null) {
      const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
      if (upazilaId) {
        return unionList.filter(union => union.upazilla_id === upazilaId)
      }
      return unionList
    }
  }
}
</script>
