
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('crop_price_config.commodity_sub_group_list') }}</h4>
            </template>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('crop_price_config.commodity_group_id')"
                            label-for="commodity_group_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.commodity_group_id"
                                :options="groupList"
                                id="commodity_group_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                        class="row"
                        label-cols-sm="3"
                        :label="$t('crop_price_config.sub_group_name')"
                        label-for="sub_group_name"
                        >
                        <b-form-input
                            id="sub_group_name"
                            v-model="search.sub_group_name"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('crop_price_config.commodity_sub_group_list') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                            {{ $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(sub_group_name)="data">
                                            {{ data.item.sub_group_name }}
                                        </template>
                                        <template v-slot:cell(sub_group_name_bn)="data">
                                            {{ data.item.sub_group_name_bn }}
                                        </template>
                                        <template v-slot:cell(action)="data">
                                            <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                            <b-button :variant="data.item.status === 1 ? ' iq-bg-success' : '  iq-bg-danger'" size="sm" @click="remove(data.item)">
                                                <i class="fas" :class="data.item.status ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                                            </b-button>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>
    </b-container>
</template>
<script>
import Form from './Form'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { commoditySubGroupList, commoditySubGroupStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Form
  },
  data () {
    return {
      search: {
        org_id: 0,
        commodity_group_id: 0,
        sub_group_name: ''
      },
      rows: [],
      subgroupList: []
    }
  },
  computed: {
    groupList () {
      return this.$store.state.agriMarketing.commonObj.commodityGroupList.filter(item => item.status === 1)
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('crop_price_config.commodity_sub_group_entry') : this.$t('crop_price_config.commodity_sub_group_modify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('crop_price_config.commodity_group_name'), class: 'text-left' },
          { label: this.$t('crop_price_config.sub_group_name'), class: 'text-left' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'commodity_group_name' },
          { key: 'sub_group_name' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'commodity_group_name' },
          { key: 'sub_group_name' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.commodity_group_id': function (newVal, oldVal) {
        this.subgroupList = this.getSubGroupList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    edit (item) {
      this.editItemId = item.id
    },
    remove (item) {
      this.changeStatus(agriMarketingServiceBaseUrl, commoditySubGroupStatus, item, 'agriMarketing', 'commoditySubGroupList')
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, commoditySubGroupList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
            this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getRelatinalData (data) {
      const groupList = this.$store.state.agriMarketing.commonObj.commodityGroupList
      const listData = data.map(item => {
        const groupObject = groupList.find(group => group.value === item.commodity_group_id)
        const groupData = { commodity_group_name: groupObject.text, commodity_group_name_bn: groupObject.text_bn }
        return Object.assign({}, item, groupData)
      })
      return listData
    },
    getSubGroupList (commodityGroupId) {
      const commoditySubGroupList = this.$store.state.agriMarketing.commonObj.commoditySubGroupList.filter(item => item.status === 1 && item.commodity_group_id === commodityGroupId)
      return commoditySubGroupList.map(item => {
        if (this.$i18n.locale === 'bn') {
          return { value: item.value, text: item.text_bn }
        } else {
          return { value: item.value, text: item.text }
        }
      })
    }
  }
}
</script>
