<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:headerTitle>
              <h4 class="card-title">{{ $t('damReport.weekly_average_price_report') }}</h4>
          </template>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                    <b-row>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="Division" vid="division_id" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            label-for="division_id"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('globalTrans.division') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                            id="division_id"
                            plain
                            v-model="search.division_id"
                            :options="divisionList"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="District" vid="district_id" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="5"
                            label-for="district_id"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('globalTrans.district') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                            plain
                            v-model="search.district_id"
                            :options="districtList"
                            id="district_id"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="Subdistrict" vid="upazila_id" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            label-for="upazila_id"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('globalTrans.upazila') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                            plain
                            v-model="search.upazila_id"
                            :options="upazilaList"
                            id="upazila_id"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="Market" vid="market_id" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="5"
                            label-for="market_id"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('crop_price_config.market') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                            plain
                            v-model="search.market_id"
                            :options="marketList"
                            id="market_id"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="Commodity Group Name" vid="commodity_group_name" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            label-for="commodity_group_name"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('crop_price_config.commodity_group_name') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                            plain
                            v-model="search.commodity_group_id"
                            :options="groupList"
                            id="commodity_group_name"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <ValidationProvider name="Commodity Sub Group Id" vid="commodity_sub_group_id" rules="required|min_value:1">
                            <b-form-group
                                class="row"
                                label-cols-sm="5"
                                label-for="commodity_sub_group_id"
                                slot-scope="{ valid, errors }"
                                >
                                <template v-slot:label>
                                {{ $t('crop_price_config.commodity_sub_group') }} <span class="text-danger">*</span>
                                </template>
                                <b-form-select
                                    plain
                                    v-model="search.commodity_sub_group_id"
                                    :options="subgroupList"
                                    id="commodity_sub_group_id"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                    >
                                    <template v-slot:first>
                                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                </b-form-select>
                                <div class="invalid-feedback">
                                {{ errors[0] }}
                                </div>
                            </b-form-group>
                        </ValidationProvider>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <ValidationProvider name="Commodity Name" vid="commodity_id" rules="required|min_value:1">
                            <b-form-group
                                class="row"
                                label-cols-sm="4"
                                :label="$t('crop_price_config.commodity_name')"
                                label-for="commodity_id"
                                slot-scope="{ valid, errors }"
                                >
                                <template v-slot:label>
                                {{ $t('crop_price_config.commodity_name') }} <span class="text-danger">*</span>
                                </template>
                                <b-form-select
                                    plain
                                    v-model="search.commodity_id"
                                    :options="commodityNameList"
                                    id="commodity_id"
                                    :state="errors[0] ? false : (valid ? true : null)"
                                    >
                                    <template v-slot:first>
                                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                    </template>
                                </b-form-select>
                                <div class="invalid-feedback">
                                {{ errors[0] }}
                                </div>
                            </b-form-group>
                        </ValidationProvider>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="Year" vid="year" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="5"
                            label-for="year"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('crop_price_config.year') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="search.year"
                                :options="yearList"
                                id="year"
                                :state="errors[0] ? false : (valid ? true : null)"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="Month From" vid="month_from" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            label-for="month_from"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('damReport.month_from') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="search.month_from"
                                :options="monthList"
                                id="month_from"
                                :state="errors[0] ? false : (valid ? true : null)"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" md="6" sm="12">
                      <ValidationProvider name="Month To" vid="month_to" rules="required|min_value:1">
                        <b-form-group
                            class="row"
                            label-cols-sm="5"
                            label-for="month_to"
                            slot-scope="{ valid, errors }"
                            >
                            <template v-slot:label>
                            {{ $t('damReport.month_to') }} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="search.month_to"
                                :options="monthList"
                                id="month_to"
                                :state="errors[0] ? false : (valid ? true : null)"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                            {{ errors[0] }}
                            </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    </b-row>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ $t('globalTrans.search') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
        <b-row >
          <b-col md="12" v-if="showData">
          <!-- <b-col md="12"> -->
            <b-overlay>
              <iq-card v-if='datas.length'>
              <!-- <iq-card> -->
                <template v-slot:body>
                  <b-row>
                    <b-col md="12">
                      <iq-card>
                        <template v-slot:headerTitle>
                          <h4 class="card-title">{{ $t('damReport.weekly_average_price_report') }}</h4>
                        </template>
                        <template v-slot:headerAction>
                            <b-button variant="primary" @click="pdfExport" class="mr-2">
                                {{  $t('globalTrans.export_pdf') }}
                            </b-button>
                            <export-excel
                                class="btn btn-success mr-2"
                                :data="dataCustomize"
                                :fields= "json_fields"
                                :title="headerValue"
                                name="weekly-average-price-report.xls"
                                :default-value="headerValue">
                                {{ $t('globalTrans.export_excel') }}
                            </export-excel>
                        </template>
                        <template v-slot:body>
                          <b-overlay>
                            <b-row mt-5>
                              <b-col md="12" class="table-responsive">
                                <div style="border: 2px solid;margin:10px;padding:10px">
                                  <b-row>
                                    <b-col>
                                      <list-report-head :base-url="warehouseServiceBaseUrl" uri="/master-warehouse-report-heading/detail" :org-id="13">
                                         <template v-slot:projectNameSlot>
                                          {{ }}
                                        </template>
                                        {{ $t('damReport.weekly_average_price_report') }}
                                      </list-report-head>
                                    </b-col>
                                  </b-row>
                                  <b-row>
                                    <b-col>
                                      <div class="text-center">
                                        <table style="width:100%;color:black;">
                                          <tr>
                                            <td align="right" style="width:15%">{{ $t('globalTrans.division') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.division_name_bn : search.division_name_en }}</td>
                                            <td align="right" style="width:15%">{{ $t('globalTrans.district') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.district_name_bn : search.district_name_en }}</td>
                                            <td align="right" style="width:15%">{{ $t('globalTrans.upazila') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.upazila_name_bn : search.upazila_name_en }}</td>
                                          </tr>
                                          <tr>
                                            <td align="right" style="width:15%">{{ $t('crop_price_config.market') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.market_name_bn : search.market_name_en }}</td>
                                            <td align="right" style="width:15%">{{ $t('crop_price_config.commodity_group_name') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.commodity_group_name_bn : search.commodity_group_name_en }}</td>
                                            <td align="right" style="width:15%">{{ $t('crop_price_config.commodity_sub_group') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.commodity_sub_group_name_bn : search.commodity_sub_group_name_en }}</td>
                                          </tr>
                                          <tr>
                                            <td align="right" style="width:15%">{{ $t('crop_price_config.commodity_name') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.commodity_name_bn : search.commodity_name_en }}</td>
                                            <td align="right" style="width:15%">{{ $t('crop_price_config.year') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.year_bn : search.year_en }}</td>
                                            <td align="right" style="width:15%">{{ $t('damReport.month_from') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.month_from_bn : search.month_from_en }}</td>
                                          </tr>
                                          <tr>
                                            <td align="right" style="width:15%">{{ $t('damReport.month_to') }}</td>
                                            <td align="center" style="width:5%">:</td>
                                            <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.month_to_bn : search.month_to_en }}</td>
                                          </tr>
                                        </table>
                                      </div>
                                    </b-col>
                                  </b-row>
                                  <b-row>
                                    <b-col>
                                      <b-table-simple class="tg mt-3" bordered hover small caption-top responsive>
                                        <b-thead>
                                          <b-tr>
                                            <b-th style="width:10%" class="text-center">{{ $t('globalTrans.year') }}</b-th>
                                            <b-th style="width:10%" class="text-center">{{ $t('crop_price_config.month') }}</b-th>
                                            <b-th style="width:10%" class="text-center">{{ $t('crop_price_config.week') }}</b-th>
                                            <b-th style="width:20%" class="text-center">{{ $t('damReport.product_name_and_description') }}</b-th>
                                            <b-th style="width:10%" class="text-center">{{ $t('damReport.measurement') }}</b-th>
                                            <b-th style="width:10%" class="text-center">{{ $t('damReport.average_retail_price') }}</b-th>
                                            <b-th style="width:10%" class="text-center">{{ $t('damReport.measurement') }}</b-th>
                                            <b-th style="width:10%" class="text-center">{{ $t('damReport.average_wholesale_price') }}</b-th>
                                          </b-tr>
                                        </b-thead>
                                        <b-tbody  v-for="(info, index) in datas" :key="index">
                                            <!-- <b-td class="text-center">{{ $n(info.year, { useGrouping: false }) }}</b-td> -->
                                            <b-td class="text-center">{{ $n(info.year, { useGrouping: false }) }}</b-td>
                                            <b-td class="text-center">{{ ($i18n.locale === 'bn') ? info.month_name_bn : info.month_name }}</b-td>
                                            <b-td class="text-center">{{ $n(info.week_id, { useGrouping: false }) }}</b-td>
                                            <b-td class="text-center">{{ ($i18n.locale === 'bn') ? info.commodity_name_bn : info.commodity_name }}</b-td>
                                            <b-td class="text-center">{{ ($i18n.locale === 'bn') ? info.commodity.unit_grower.unit_name_bn : info.commodity.unit_grower.unit_name }} </b-td>
                                            <b-td class="text-center">{{ $n(parseFloat(info.a_r_lowestPrice).toFixed(2)) }} - {{ $n(parseFloat(info.a_r_howestPrice).toFixed(2)) }}</b-td>
                                            <b-td class="text-center">{{ ($i18n.locale === 'bn') ? info.commodity.unit_whole_sale.unit_name_bn : info.commodity.unit_whole_sale.unit_name }}</b-td>
                                            <b-td class="text-center">{{ $n(parseFloat(info.a_w_lowestPrice).toFixed(2)) }} - {{ $n(parseFloat(info.a_w_highestPrice).toFixed(2)) }}</b-td>
                                        </b-tbody>
                                      </b-table-simple>
                                    </b-col>
                                  </b-row>
                                </div>
                              </b-col>
                            </b-row>
                          </b-overlay>
                        </template>
                      </iq-card>
                    </b-col>
                  </b-row>
                </template>
              </iq-card>
              <div class="panel-body text-center mt-3" v-else>
                <h6 class="text-danger">{{ $t('globalTrans.noDataFound') }}</h6>
              </div>
            </b-overlay>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl, warehouseServiceBaseUrl } from '@/config/api_config'
import { weeklyAveragePriceListReport } from '../../api/routes'
import flatpickr from 'flatpickr'
import ListReportHead from '@/components/custom/ListReportHead.vue'
import ExportPdf from './export-pdf_details'
import Vue from 'vue'
import excel from 'vue-excel-export'

Vue.use(excel)

const excelColumn = {
    // 'Serial No': 'sl_no',
    Year: 'yr',
    Month: 'month',
    Week: 'week',
    'Product name and description': 'cName',
    Measurement: 'cUName',
    'Average Retail Price': 'wholeSale',
    'Measurement ': 'wUName',
    'Average Wholesale Price': 'awholeSale'
}
const excelColumnBn = {
    // 'ক্রমিক নং': 'sl_no',
    বছর: 'yr',
    মাস: 'month',
    সপ্তাহ: 'week',
    'পণ্যের নাম ও বিবরণ': 'cName',
    একক: 'cUName',
    'গড় খুচরা দর': 'wholeSale',
    'একক ': 'wUName',
    'গড় পাইকারী দর': 'awholeSale'
}

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider,
        ListReportHead
    },
    created () {
        // if (this.id) {
        //     const tmp = this.getEditingData()
        //     this.search = tmp
        // }
    },
    data () {
        return {
          AveragePriceText: '',
          maxPriceMsg: '',
          minPriceMsg: '',
          saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
          search: {
              division_id: '0',
              district_id: '0',
              upazila_id: '0',
              market_id: '0',
              commodity_group_id: 0,
              commodity_sub_group_id: 0,
              commodity_id: 0,
              year: 0,
              month_from: 0,
              month_to: 0
          },
          headerExcelDefault: {
            orgName: null,
            orgNameBn: null,
            address: null,
            address_bn: null
          },
          currentDate: '',
          listItemofyerterday: '',
          districtList: [],
          upazilaList: [],
          marketList: [],
          subgroupList: [],
          commoditySubGroupList: [],
          commodityNameList: [],
          warehouseServiceBaseUrl: warehouseServiceBaseUrl,
          datas: [],
          loading: false,
          showData: false
        }
    },
    mounted () {
        core.index()
        flatpickr('.datepicker', {})
        this.AveragePriceText = (parseInt(this.search.HighestPrice) + parseInt(this.search.LowestPrice)) / 2
    },
    computed: {
      headerValue: function () {
        const headerVal = []
        if (this.$i18n.locale === 'en') {
          headerVal[0] = this.headerExcelDefault.orgName
          headerVal[1] = this.headerExcelDefault.address
          headerVal[2] = this.$t('damReport.weekly_average_price_report')
          headerVal[3] = this.$t('globalTrans.division') + ':  ' + this.search.division_name_en + '; ' + ' ' + this.$t('globalTrans.district') + ': ' + this.search.district_name_en + '; ' + ' ' + this.$t('globalTrans.upazila') + ' : ' + this.search.upazila_name_en
          headerVal[4] = this.$t('crop_price_config.market') + ':  ' + this.search.market_name_en + '; ' + ' ' + this.$t('crop_price_config.commodity_group_name') + ': ' + this.search.commodity_group_name_en + '; ' + ' ' + this.$t('crop_price_config.commodity_sub_group') + ' : ' + this.search.commodity_sub_group_name_en
          headerVal[5] = this.$t('crop_price_config.commodity_name') + ':  ' + this.search.commodity_name_en + '; ' + ' ' + this.$t('crop_price_config.year') + ': ' + this.search.year_en + '; ' + ' ' + this.$t('damReport.month_from') + ' : ' + this.search.month_from_en
          headerVal[6] = this.$t('damReport.month_to') + ':  ' + this.search.month_to_en
        } else {
          headerVal[0] = this.headerExcelDefault.orgNameBn
          headerVal[1] = this.headerExcelDefault.address_bn
          headerVal[2] = this.$t('damReport.product_wise_market_price_report')
          headerVal[3] = this.$t('globalTrans.division') + ':  ' + this.search.division_name_bn + '; ' + ' ' + this.$t('globalTrans.district') + ': ' + this.search.district_name_bn + '; ' + ' ' + this.$t('globalTrans.upazila') + ' : ' + this.search.upazila_name_bn
          headerVal[4] = this.$t('crop_price_config.market') + ':  ' + this.search.market_name_bn + '; ' + ' ' + this.$t('crop_price_config.commodity_group_name') + ': ' + this.search.commodity_group_name_bn + '; ' + ' ' + this.$t('crop_price_config.commodity_sub_group') + ' : ' + this.search.commodity_sub_group_name_bn
          headerVal[5] = this.$t('crop_price_config.commodity_name') + ':  ' + this.search.commodity_name_bn + '; ' + ' ' + this.$t('crop_price_config.year') + ': ' + this.search.year_bn + '; ' + ' ' + this.$t('damReport.month_from') + ' : ' + this.search.month_from_bn
          headerVal[6] = this.$t('damReport.month_to') + ':  ' + this.search.month_to_bn
        }
        return headerVal
      },
        json_fields: function () {
            return this.$i18n.locale === 'bn' ? excelColumnBn : excelColumn
        },
        dataCustomize () {
            try {
                if (typeof this.datas !== 'undefined') {
                    const listData = this.datas
                    // var slNo = 1
                    listData.map(item => {
                        if (this.$i18n.locale === 'bn') {
                            // item.sl_no = this.$n(slNo++)
                            item.yr = this.$n(item.year, { useGrouping: false })
                            item.month = item.month_name_bn
                            item.week = this.$n(item.week_id, { useGrouping: false })
                            item.cName = item.commodity_name_bn
                            item.cUName = item.commodity.unit_grower.unit_name_bn
                            item.wholeSale = this.$n(parseFloat(item.a_r_lowestPrice).toFixed(2)) + '--' + this.$n(parseFloat(item.a_r_howestPrice).toFixed(2))
                            item.wUName = item.commodity.unit_whole_sale.unit_name_bn
                            item.awholeSale = this.$n(parseFloat(item.a_w_lowestPrice).toFixed(2)) + '--' + this.$n(parseFloat(item.a_w_highestPrice).toFixed(2))
                        } else {
                            // item.sl_no = slNo++
                            item.yr = item.year
                            item.month = item.month_name
                            item.week = item.week_id
                            item.cName = item.commodity_name
                            item.cUName = item.commodity.unit_grower.unit_name
                            item.wholeSale = parseFloat(item.a_r_lowestPrice).toFixed(2) + '--' + parseFloat(item.a_r_howestPrice).toFixed(2)
                            item.wUName = item.commodity.unit_whole_sale.unit_name
                            item.awholeSale = parseFloat(item.a_w_lowestPrice).toFixed(2) + '--' + parseFloat(item.a_w_highestPrice).toFixed(2)
                        }
                        return Object.assign({}, item)
                    })
                    return listData
                } else {
                    return []
                }
            } catch (e) {
                return []
            }
        },
        monthList: function () {
            return this.$store.state.commonObj.monthList
        },
        weekList: function () {
          return this.$store.state.agriMarketing.commonObj.weekList
        },
        divisionList: function () {
          return this.$store.state.agriMarketing.damData.divisionList
        },
        groupList () {
          return this.$store.state.agriMarketing.commonObj.commodityGroupList.filter(item => item.status === 1)
        },
        yearList () {
          const yearList = this.$store.state.agriMarketing.commonObj.yearList
          return yearList.map(item => {
            if (this.$i18n.locale === 'en') {
              return { value: item.value, text: item.text_en }
            } else {
              return { value: item.value, text: item.text_bn }
            }
          })
        },
        priceEntryTypeList: function () {
          return this.$store.state.agriMarketing.commonObj.priceEntryTypeList
        },
        timePreiodList: function () {
          return this.$store.state.agriMarketing.commonObj.timePreiodList
        },
        i18 () {
          return this.$i18n.locale
        },
        priceTypeList: function () {
          return this.$store.state.agriMarketing.commonObj.priceTypeList
        },
        columns () {
          const labels = [
              { label: this.$t('globalTrans.sl_no'), class: 'text-center' },
              { label: this.$t('globalTrans.fiscalYear'), class: 'text-center' },
              { label: this.$t('damReport.product_name_and_description'), class: 'text-center' },
              { label: this.$t('damReport.measurement'), class: 'text-center' },
              { label: this.$t('damReport.average_retail_price'), class: 'text-center' },
              { label: this.$t('damReport.measurement'), class: 'text-center' },
              { label: this.$t('damReport.average_wholesale_price'), class: 'text-center' }
            ]
          let keys = []

          if (this.$i18n.locale === 'bn') {
            keys = [
              { key: 'index' },
              { key: 'crop_type_name_bn' },
              { key: 'crop_type_name_bn' },
              { key: 'crop_name_bn' },
              { key: 'variety_name_bn' },
              { key: 'variety_name_bn' },
              { key: 'allocation_quantity' }
            ]
          } else {
            keys = [
              { key: 'index' },
              { key: 'crop_type_name' },
              { key: 'crop_type_name' },
              { key: 'crop_name' },
              { key: 'variety_name' },
              { key: 'variety_name' },
              { key: 'allocation_quantity' }
            ]
          }

          return labels.map((item, index) => {
              return Object.assign(item, keys[index])
          })
        }
    },
    watch: {
        'search.division_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.districtList = this.getDistrictList(newVal)
            }
        },
        'search.district_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.upazilaList = this.getUpazilaList(newVal)
            }
        },
        'search.upazila_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.marketList = this.getMarketList(newVal)
            }
        },
        'search.commodity_group_id': function (newVal, oldVal) {
            this.subgroupList = this.getSubGroupList(newVal)
        },
        'search.commodity_sub_group_id': function (newVal, oldVal) {
            this.commodityNameList = this.getCommodityNameList(newVal)
        }
    },
    methods: {
      pdfExport () {
          const reportTitle = this.$t('damReport.weekly_average_price_report')
          ExportPdf.exportPdfDetails(warehouseServiceBaseUrl, '/master-warehouse-report-heading/detail', 13, reportTitle, this.datas, this, this.search)
        },
        onChangeFile (e) {
            this.attachmentDemo = e.target.files[0]
        },
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        async saveData () {
            RestApi.getData(warehouseServiceBaseUrl, '/master-warehouse-report-heading/detail/13').then(response => {
            if (response.success) {
              const orgList = this.$store.state.commonObj.organizationProfileList.find(item => item.value === 13)
              const orgName = typeof orgList !== 'undefined' ? orgList.text_en : ''
              const orgNameBn = typeof orgList !== 'undefined' ? orgList.text_bn : ''
              this.headerExcelDefault.orgName = orgName
              this.headerExcelDefault.orgNameBn = orgNameBn
              this.headerExcelDefault.address = response.data.address
              this.headerExcelDefault.address_bn = response.data.address_bn
            }
          })
          this.loading = true
          this.showData = true
          const divisionObj = this.$store.state.agriMarketing.damData.divisionList.find(item => item.value === this.search.division_id)
          this.search.division_name_en = typeof divisionObj !== 'undefined' ? divisionObj.text_en : ''
          this.search.division_name_bn = typeof divisionObj !== 'undefined' ? divisionObj.text_bn : ''

          const districtListObj = this.$store.state.agriMarketing.damData.districtList.find(item => item.value === this.search.district_id)
          this.search.district_name_en = typeof districtListObj !== 'undefined' ? districtListObj.text_en : ''
          this.search.district_name_bn = typeof districtListObj !== 'undefined' ? districtListObj.text_bn : ''

          const upazilaListObj = this.$store.state.agriMarketing.damData.upazilaList.find(item => item.value === this.search.upazila_id)
          this.search.upazila_name_en = typeof upazilaListObj !== 'undefined' ? upazilaListObj.text_en : ''
          this.search.upazila_name_bn = typeof upazilaListObj !== 'undefined' ? upazilaListObj.text_bn : ''

          const marketListObj = this.$store.state.agriMarketing.commonObj.marketList.find(item => item.value === this.search.market_id)
          this.search.market_name_en = typeof marketListObj !== 'undefined' ? marketListObj.text_en : ''
          this.search.market_name_bn = typeof marketListObj !== 'undefined' ? marketListObj.text_bn : ''

          const commodityGroupListObj = this.$store.state.agriMarketing.commonObj.commodityGroupList.find(item => item.value === this.search.commodity_group_id)
          this.search.commodity_group_name_en = typeof commodityGroupListObj !== 'undefined' ? commodityGroupListObj.text_en : ''
          this.search.commodity_group_name_bn = typeof commodityGroupListObj !== 'undefined' ? commodityGroupListObj.text_bn : ''

          const commoditySubGroupListObj = this.$store.state.agriMarketing.commonObj.commoditySubGroupList.find(item => item.value === this.search.commodity_sub_group_id)
          this.search.commodity_sub_group_name_en = typeof commoditySubGroupListObj !== 'undefined' ? commoditySubGroupListObj.text_en : ''
          this.search.commodity_sub_group_name_bn = typeof commoditySubGroupListObj !== 'undefined' ? commoditySubGroupListObj.text_bn : ''

          const commodityNameListObj = this.$store.state.agriMarketing.commonObj.commodityNameList.find(item => item.value === this.search.commodity_id)
          this.search.commodity_name_en = typeof commodityNameListObj !== 'undefined' ? commodityNameListObj.text_en : ''
          this.search.commodity_name_bn = typeof commodityNameListObj !== 'undefined' ? commodityNameListObj.text_bn : ''

          const yearListObj = this.$store.state.agriMarketing.commonObj.yearList.find(item => item.value === this.search.year)
          this.search.year_en = typeof yearListObj !== 'undefined' ? yearListObj.text_en : ''
          this.search.year_bn = typeof yearListObj !== 'undefined' ? yearListObj.text_bn : ''

          const monthFromListObj = this.$store.state.commonObj.monthList.find(item => item.value === this.search.month_from)
          this.search.month_from_en = typeof monthFromListObj !== 'undefined' ? monthFromListObj.text_en : ''
          this.search.month_from_bn = typeof monthFromListObj !== 'undefined' ? monthFromListObj.text_bn : ''

          const monthToListObj = this.$store.state.commonObj.monthList.find(item => item.value === this.search.month_to)
          this.search.month_to_en = typeof monthToListObj !== 'undefined' ? monthToListObj.text_en : ''
          this.search.month_to_bn = typeof monthToListObj !== 'undefined' ? monthToListObj.text_bn : ''

          const result = await RestApi.getData(agriMarketingServiceBaseUrl, weeklyAveragePriceListReport, this.search)
          if (result.success) {
            this.loading = false
            if (result.data) {
              this.datas = this.getRelationalData(result.data)
            }
          } else {
            this.datas = []
            this.loading = false
        }
        },
        getRelationalData (data) {
          const commodityNameList = this.$store.state.agriMarketing.commonObj.commodityNameList
          const list = data.map(item => {
            const commodityObj = commodityNameList.find(com => com.value === item.commodity_id)
            const monthObj = this.$store.state.commonObj.monthList.find(month => month.value === item.month_id)
            // const yearObj = this.$store.state.agriMarketing.commonObj.yearList.find(year => year.value === item.year)
            // const weekObj = this.$store.state.agriMarketing.commonObj.weekList.find(year => year.value === item.week_id)
            const commodityData = {
              commodity_name: typeof commodityObj !== 'undefined' ? commodityObj.text_en : '',
              commodity_name_bn: typeof commodityObj !== 'undefined' ? commodityObj.text_bn : ''
            }
            const monthData = {
              month_name: typeof monthObj !== 'undefined' ? monthObj.text_en : '',
              month_name_bn: typeof monthObj !== 'undefined' ? monthObj.text_bn : ''
            }
            // const yearData = {
            //   year_name: yearObj !== 'undefined' ? yearObj.text_en : '',
            //   year_name_bn: yearObj !== 'undefined' ? yearObj.text_bn : ''
            // }
            // const weekData = {
            //   week_name: weekObj !== 'undefined' ? weekObj.text_en : '',
            //   week_name_bn: weekObj !== 'undefined' ? weekObj.text_bn : ''
            // }
            return Object.assign({}, item, commodityData, monthData)
          })
          return list
        },
        getDistrictList (divisionId = null) {
            return this.$store.state.agriMarketing.damData.districtList.filter(item => item.division_id === divisionId)
        },
        getUpazilaList (districtId = null) {
            const upazilaList = this.$store.state.agriMarketing.damData.upazilaList
            if (districtId) {
                return upazilaList.filter(upazila => upazila.district_id === districtId)
            }
            return upazilaList
        },
        getMarketList (upazillaId = null) {
            const dataList = this.$store.state.agriMarketing.commonObj.marketList.filter(item => item.upazila_id === upazillaId)
            return dataList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        getPriceTypeList: function (entryType) {
            const dataList = this.$store.state.agriMarketing.commonObj.priceTypeList.filter(item => item.entry_type === entryType)
            return dataList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        getSubGroupList (groupId = null) {
            const subgroupList = this.$store.state.agriMarketing.commonObj.commoditySubGroupList.filter(item => item.status === 1)

            if (groupId) {
                return subgroupList.filter(subgroup => subgroup.commodity_group_id === groupId)
            }
            return subgroupList
        },
        getCommodityNameList (groupId = null) {
            const commodityNameList = this.$store.state.agriMarketing.commonObj.commodityNameList.filter(item => item.status === 1)

            if (groupId) {
                return commodityNameList.filter(commodityName => commodityName.commodity_sub_group_id === groupId)
            }
            return commodityNameList
        }
    }
}
</script>
