<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" offset-lg="1" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                    <ValidationProvider name="Room type" vid="room_type_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="room_type_id"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{$t('elearning_config.room_type')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                          plain
                          v-model="accomodationSetups.room_type_id"
                          :options="roomTypeList"
                          id="room_type_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Accomodation name (En)" vid="name" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="name"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{ $t('elearning_config.accomodation_name_en') }} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="name"
                          v-model="accomodationSetups.name"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Accomodation name (Bn)" vid="name_bn" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="name_bn"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('elearning_config.accomodation_name_bn')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="name_bn"
                          v-model="accomodationSetups.name_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Room number" vid="room_no" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="room_no"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('elearning_config.room_no')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="room_no"
                          type="number"
                          v-model="accomodationSetups.room_no"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Floor number" vid="floor_no" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="floor_no"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('elearning_config.floor_no')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="floor_no"
                          type="number"
                          v-model="accomodationSetups.floor_no"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Remkars (En)" vid="remarks">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="remarks"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{ $t('elearning_config.remarks_en') }}
                        </template>
                        <b-form-input
                          id="remarks"
                          v-model="accomodationSetups.remarks"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Remkars (Bn)" vid="remarks_bn">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="remarks_bn"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('elearning_config.remarks_bn')}}
                        </template>
                        <b-form-input
                          id="remarks_bn"
                          v-model="accomodationSetups.remarks_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Attachment" vid="attachment" rules="image">
                      <b-form-group
                        class="row"
                        label-cols-sm="3"
                        label-for="attachment"
                        slot-scope="{ valid, errors }"
                      >
                        <template v-slot:label>
                            {{ $t('globalTrans.image') }}
                        </template>
                        <b-form-file
                        id="attachment"
                        @change="onChangeFile"
                        accept="image/*"
                        v-model="accomodationSetups.attachment"
                        :state="errors[0] ? false : (valid ? true : null)"
                        ></b-form-file>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { trainingElearningServiceBaseUrl } from '@/config/api_config'
import { accomodationSetupStore, accomodationSetupUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getEditingData()
      this.accomodationSetups = tmp
    }
    this.getOrganizationlist()
  },
  data () {
    return {
      totalPost: 0,
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      accomodationSetups: {
        room_type_id: 0,
        name: '',
        name_bn: '',
        room_no: '',
        floor_no: '',
        remarks: '',
        remarks_bn: '',
        attachment: ''
      },
      attachmentFile: ''
    }
  },
  computed: {
    roomTypeList () {
      return this.$store.state.TrainingElearning.commonObj.roomTypeList.filter(item => item.status === 1)
    }
  },
  mounted () {
    core.index()
  },
  methods: {
    getEditingData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    onChangeFile (e) {
      this.attachmentFile = e.target.files[0]
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }

      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }
      var formData = new FormData()
      Object.keys(this.accomodationSetups).map(key => {
        if (key === 'attachment') {
          formData.append(key, this.attachmentFile)
        } else {
          formData.append(key, this.accomodationSetups[key])
        }
      })
      if (this.id) {
        formData.append('_method', 'PUT')
        console.log('this.accomodationSetups', this.accomodationSetups)
        console.log('formData', formData)
        result = await RestApi.putData(trainingElearningServiceBaseUrl, `${accomodationSetupUpdate}/${this.id}`, formData, config)
      } else {
        result = await RestApi.postData(trainingElearningServiceBaseUrl, accomodationSetupStore, formData, config)
      }

      loadingState.listReload = true

      this.$store.dispatch('mutateCommonProperties', loadingState)

      if (result.success) {
        this.$store.commit('TrainingElearning/mutateTrainingElearningCommonProperties', { hasDropdownLoaded: false })
        this.$toast.success({
          title: 'Success',
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })
        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    },
    getOrganizationlist () {
      const orgList = this.$store.state.commonObj.organizationProfileList
      this.organizationList = orgList.map(obj => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
    }
  }
}
</script>
