<template>
<b-tbody>
    <b-tr v-for="(deepTubwell, index) in deepTubwells" :key="index">
    <td>{{ $n(deepTubwell.robi_llp) }}</td>
    <td>{{ $n(deepTubwell.borou) }}</td>
    <td>{{ $n(deepTubwell.borou_per_hector_cost) }}</td>
    <td>{{ $n(deepTubwell.wheat) }}</td>
    <td>{{ $n(deepTubwell.wheat_per_hector_cost) }}</td>
    <td>{{ $n(deepTubwell.potato) }}</td>
    <td>{{ $n(deepTubwell.potato_per_hector_cost) }}</td>
    <td>{{ $n(deepTubwell.corn) }}</td>
    <td>{{ $n(deepTubwell.corn_per_hector_cost) }}</td>
    <td>{{ $n(deepTubwell.mustard) }}</td>
    <td>{{ $n(deepTubwell.mustard_per_hector_cost) }}</td>
    <td>{{ $n(deepTubwell.lentils) }}</td>
    <td>{{ $n(deepTubwell.lentils_per_hector_cost) }}</td>
    <td>{{ $n(deepTubwell.other_scheme_area) }}</td>
    <td>{{ $n(deepTubwell.borou + deepTubwell.wheat + deepTubwell.potato + deepTubwell.corn + deepTubwell.mustard + deepTubwell.lentils) }}</td>
    <td>{{ $n(deepTubwell.collected_irri_payment) }}</td>
    <td>{{ $n(deepTubwell.llp_expense) }}</td>
    <td>{{ $n(deepTubwell.pontoon_expense) }}</td>
    <td>{{ $n(deepTubwell.llp_expense + deepTubwell.pontoon_expense) }}</td>
    <td>{{ $n( deepTubwell.collected_irri_payment - (deepTubwell.llp_expense + deepTubwell.pontoon_expense)) }}</td>
    <td>{{ $n(deepTubwell.actual) }}</td>
    <td>{{ $n(deepTubwell.barga) }}</td>
    <td>{{ $n(deepTubwell.actual + deepTubwell.barga) }}</td>
    <td>{{ deepTubwell.comments }}</td>
    </b-tr>
</b-tbody>
</template>
