<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                    <ValidationProvider name="Organization" vid="org_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="organiation_id"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                         {{$t('globalTrans.organization')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                          plain
                          v-model="contractor.org_id"
                          :options="organizationList"
                          id="organiation_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                     <ValidationProvider name="Contractor Name (En)" vid="contractor_name" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="contractor_name"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                         {{$t('irrigation_config.contractor_name')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="type_name"
                          v-model="contractor.contractor_name"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Contractor Name (Bn)" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="contractor_name_bn"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                         {{$t('irrigation_config.contractor_name_bn')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="contractor_name_bn"
                          v-model="contractor.contractor_name_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Phone Number" vid="phone_no" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="phone_no"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                         {{$t('irrigation_config.phone_no')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="phone_no"
                          v-model="contractor.phone_no"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Address (En)" vid="address" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="address"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                         {{$t('irrigation_config.address')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          type="text"
                          id="address"
                          v-model="contractor.address"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                     <ValidationProvider name="Address (Bn)" vid="address_bn" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="address_bn"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                         {{$t('irrigation_config.address_bn')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          type="text"
                          id="address_bn"
                          v-model="contractor.address_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { irriSchemeServiceBaseUrl } from '../../../../../config/api_config'
import { contractorStore, contractorUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getContractorData()
      this.contractor = tmp
    }
    this.getOrganizationlist()
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      totalPost: 0,
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      contractor: {
        contractor_name: '',
        contractor_name_bn: '',
        phone_no: '',
        address: '',
        address_bn: '',
        org_id: 0
      },
      organizationList: []
    }
  },
  methods: {
    getContractorData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: true }

      if (this.contractor.id) {
        result = await RestApi.putData(irriSchemeServiceBaseUrl, `${contractorUpdate}/${this.id}`, this.contractor)
      } else {
        result = await RestApi.postData(irriSchemeServiceBaseUrl, contractorStore, this.contractor)
      }
      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$store.dispatch('IrriConfig/mutateCommonObj', { hasDropdownLoaded: false })
        this.$toast.success({
          title: 'Success',
          message: this.id ? 'Data Update successfully' : 'Data saved successfully',
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    },
    getOrganizationlist () {
      const orgList = this.$store.state.commonObj.organizationProfileList.filter(item => item.status === 0)
        this.organizationList = orgList.map(obj => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text }
          }
        })
    }
  }
}
</script>
