<template>
    <b-container fluid>
        <b-row>
            <b-col lg="10" sm="12">
                <iq-card>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="12" sm="12">
                                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                    <b-form  @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                                        <ValidationProvider name="campaign_type" vid="campaign_type_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="campaign_type_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('birtan.campaign_type') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                id="campaign_type_id"
                                                plain
                                                v-model="campaignAttendance.campaign_type_id"
                                                :options="campaignTypeList"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="campaign id" vid="campaign_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="campaign_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('e_pusti_config.campaign_name') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="campaignAttendance.campaign_id"
                                                :options="campaignNameList"
                                                id="campaign_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="school name (En)" vid="school_name" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="school_name"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('birtan.school_name_en')}} <span class="text-danger">*</span>
                                            </template>
                                                <b-form-input
                                                id="school_name"
                                                v-model="campaignAttendance.school_name"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="school name (Bn)" vid="school_name_bn" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="school_name_bn"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('birtan.school_name_bn')}} <span class="text-danger">*</span>
                                            </template>
                                                <b-form-input
                                                id="school_name_bn"
                                                v-model="campaignAttendance.school_name_bn"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="attachment" vid="attachment"  rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="attachment"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('e_pusti_config.upload')}} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-file
                                                id="attachment"
                                                @change="onChangeFile"
                                                v-model="campaignAttendance.attachment"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-file>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="upload date" vid="upload_date" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="upload_date"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('globalTrans.date')}} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="datepicker"
                                                v-model="campaignAttendance.upload_date"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col text-right">
                                                <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                                                &nbsp;
                                                <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                                            </div>
                                        </div>
                                    </b-form>
                                </ValidationObserver>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { CampaignFeedbackStore, CampaignFeedbackUpdate } from '../../../api/routes'
import flatpickr from 'flatpickr'

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider
    },
    created () {
        if (this.id) {
            const tmp = this.getEditingData()
            this.campaignAttendance = tmp
        }
    },
    data () {
        return {
            saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            campaignAttendance: {
                divisional_office_id: '0',
                campaign_type_id: '0',
                campaign_id: '0',
                school_name: '',
                school_name_bn: '',
                attachment: '',
                upload_date: ''
            },
            districtList: [],
            tmpAttachment: []
        }
    },
    mounted () {
        core.index()
        flatpickr('#datepicker', {})
    },
    computed: {
        campaignTypeList: function () {
            const campaignTypeList = this.$store.state.agriMarketing.campaignTypeList.filter(item => item.value !== 1)
            return campaignTypeList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        campaignNameList: function () {
            const campaignNameList = this.$store.state.agriMarketing.campaignNameList
            return campaignNameList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        divisionalHead () {
            return this.$store.state.agriMarketing.divisionalOfficeList.find(officer => officer.email === this.$store.state.Auth.authUser.username)
        }
    },
    methods: {
        onChangeFile (e) {
            this.tmpAttachment = e.target.files[0]
        },
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        async saveData () {
            this.$store.dispatch('mutateCommonProperties', { loading: true })
            let result = null
            const loadingState = { loading: false, listReload: false }
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }
            this.campaignAttendance.divisional_office_id = this.divisionalHead.value
            var formData = new FormData()
            Object.keys(this.campaignAttendance).map(key => {
                if (key === 'attachment') {
                    formData.append(key, this.tmpAttachment)
                } else {
                    formData.append(key, this.campaignAttendance[key])
                }
            })
            if (this.id) {
                result = await RestApi.putData(agriMarketingServiceBaseUrl, `${CampaignFeedbackUpdate}/${this.id}`, this.campaignAttendance, config)
            } else {
                result = await RestApi.postData(agriMarketingServiceBaseUrl, CampaignFeedbackStore, formData, config)
            }

            loadingState.listReload = true
            this.$store.dispatch('mutateCommonProperties', loadingState)

            if (result.success) {
                this.$store.commit('mutateAgriMarketingProperties', { hasDropdownLoaded: false })
                this.$toast.success({
                    title: this.$t('globalTrans.success'),
                    message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
                    color: '#D6E09B'
                })
                this.$bvModal.hide('modal-4')
            } else {
                this.$refs.form.setErrors(result.errors)
            }
        }
    }
}
</script>
