<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="11" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                <ValidationProvider name="Division" vid='division_id' rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="division"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                      {{ $t('org_pro_division.division')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.division_id"
                      :options="divisionList"
                      id="division_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="District" vid='district_id' rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="district"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                      {{ $t('org_pro_district.district')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.district_id"
                      :options="districtList"
                      id="district_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Upazila" vid='upazila_id' rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="upazila_id"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                      {{ $t('org_pro_upazilla.upazilla')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.upazilla_id"
                      :options="upazilaList"
                      id="upazila_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="warehouse" vid='warehouse_id' rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="warehouse"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                      {{ $t('warehouse_config.warehouse')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.warehouse_id"
                      :options="warehouseLists"
                      id="warehouse_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="bank" vid='bank_id' rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="bank"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                      {{ $t('warehouse_config.bank')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.bank_id"
                      :options="bankList"
                      id="bank_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="branch" vid='branch_id' rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="branch"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                      {{ $t('warehouse_config.branch')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.branch_id"
                      :options="branchList"
                      id="branch_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="commodity_group" vid='commodity_group' rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="commodity_group"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                      {{ $t('warehouse_config.crop_type')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.commodity_group_id"
                      :options="commodityGroupList"
                      id="commodity_group"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="commodity" vid='commodity_id' >
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="commodity"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                      {{ $t('warehouse_config.crop_name')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="loan_calculator.commodity_id"
                      :options="commodityList"
                      id="commodity_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="current-price" vid='current-price' rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="current-price"
                    slot-scope="{ valid, errors }"
                  >
                    <template v-slot:label>
                      {{ $t('warehouse_config.current-price')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      id="current-price"
                      v-model="loan_calculator.current_price"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="product_quantity" vid='current-price' rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="product_quantity"
                    slot-scope="{ valid, errors }"
                  >
                  <template v-slot:label>
                      {{ $t('warehouse_config.product_quantity')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      id="product_quantity"
                      v-model="loan_calculator.product_quantity"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="interest_rate" rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="interest_rate"
                    slot-scope="{ valid, errors }"
                  >
                  <template v-slot:label>
                      {{ $t('warehouse_config.interest_rate')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      id="interest_rate"
                      v-model="loan_calculator.interest_rate"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col text-right">
                    <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                    &nbsp;
                    <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                  </div>
                </div>
              </b-form>
            </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { warehouseServiceBaseUrl } from '../../../../../config/api_config'
import { loanCalculatorStore, loanCalculatorUpdate } from '../../api/routes'
import { mapGetters } from 'vuex'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getLoanCalculatorData()
      Object.freeze(tmp)
      this.loan_calculator = tmp
    }
  },
  mounted () {
    core.index()
    this.getBranchList()
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      loan_calculator: {
        division_id: '0',
        district_id: '0',
        upazilla_id: '0',
        warehouse_id: '0',
        commodity_group_id: '0',
        commodity_id: '0',
        bank_id: '0',
        branch_id: '0',
        current_price: '',
        product_quantity: '',
        interest_rate: '',
        status: 0,
        created_by: 1,
        updated_by: 1
      },
      districtList: [],
      upazilaList: [],
      unionList: [],
      warehouseLists: [],
      commodityList: [],
      branchList: []
    }
  },
  computed: {
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    commodityGroupList: function () {
        return this.$store.state.warehouse.commodityGroupList.filter(item => item.status === 0)
    },
     bankList: function () {
      return this.$store.state.commonObj.bankObj.bankList.filter(item => item.status === 0)
    },
    ...mapGetters({
      commonObj: 'commonObj'
    })
  },
  watch: {
    'loan_calculator.division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'loan_calculator.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'loan_calculator.upazilla_id': function (newVal, oldVal) {
      this.warehouseLists = this.getWarehouseList(newVal)
    },
    'loan_calculator.commodity_group_id': function (newVal, oldVal) {
      this.commodityList = this.getCommodityList(newVal)
    },
    'loan_calculator.bank_id': function (newVal, oldVal) {
      this.branchList = this.getBranchList(newVal)
    }
  },
  methods: {
    getLoanCalculatorData () {
      return this.$store.state.WareHouseConfig.loanCalculators.find(item => item.id === this.id)
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      if (this.loan_calculator.id) {
        result = await RestApi.putData(warehouseServiceBaseUrl, `${loanCalculatorUpdate}/${this.id}`, this.loan_calculator)
      } else {
        result = await RestApi.postData(warehouseServiceBaseUrl, loanCalculatorStore, this.loan_calculator)
      }
      loadinState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadinState)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })
        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)
      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }
      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }
      return upazilaList
    },
     getBranchList (bankId = null) {
      if (bankId) {
        return this.commonObj.bankObj.branchList.filter(item => item.bank_id === bankId && item.status === 0)
      }
      return []
    },
    getCommodityList (groupId = null) {
      const commodityList = this.$store.state.warehouse.commodityNameList.filter(item => item.status === 0)
      if (groupId) {
        return commodityList.filter(commodity => commodity.commodity_group_id === groupId)
      }

      return commodityList
    },
    getWarehouseList (upzilaId = null) {
      const warehouseList = this.$store.state.warehouse.warehouseInfoList.filter(item => item.status === 0)

      if (upzilaId) {
        return warehouseList.filter(warehouse => warehouse.upazilla_id === upzilaId)
      }

      return warehouseList
    }
  }
}
</script>
