
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('dae_config.season_setup') }}</h4>
            </template>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.fiscal_year')"
                            label-for="fiscal_year_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.fiscal_year_id"
                                :options="fiscalYearList"
                                id="fiscal_year_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('dae_config.start_month')"
                            label-for="start_month"
                            >
                            <b-form-select
                                plain
                                v-model="search.start_month"
                                :options="startMonthList"
                                id="start_month"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                      <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('dae_config.end_month')"
                            label-for="end_month"
                            >
                            <b-form-select
                                plain
                                v-model="search.end_month"
                                :options="endMonthList"
                                id="end_month"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col  xs="12" sm="12" md="6">
                        <b-form-group
                        class="row"
                        label-cols-sm="3"
                        :label="$t('dae_config.season_name')"
                        label-for="season_name"
                        >
                        <b-form-input
                            id="season_name"
                            v-model="search.season_name"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('dae_config.season_setup_list') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                            {{ $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table  :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                         <template v-slot:cell(start_month)="data">
                                            {{ getStartMonth(data.item.start_month) }}
                                        </template>
                                          <template v-slot:cell(end_month)="data">
                                            {{ getEndMonth(data.item.end_month) }}
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template>
                                        <template v-slot:cell(action)="data">
                                            <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                            <b-button :variant="data.item.status === 1 ? ' iq-bg-success' : '  iq-bg-danger'" size="sm" @click="remove(data.item)">
                                                <i class="fas" :class="data.item.status ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                                            </b-button>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>
    </b-container>
</template>
<script>
import Form from './Form'
import RestApi, { incentiveGrantServiceBaseUrl } from '@/config/api_config'
import { seasonSetUpList, seasonSetUpStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Form
  },
  data () {
    return {
      search: {
        fiscal_year_id: 0,
        start_month: 0,
        end_month: 0,
        season_name: ''
      },
      rows: [],
      item: ''
    }
  },
  mounted () {
  },
  computed: {
       fiscalYearList: function () {
            const fiscalyearData = this.$store.state.commonObj.fiscalYearList
            return fiscalyearData.map(item => {
                if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
                } else {
                return { value: item.value, text: item.text_en }
                }
            })
        },
        startMonthList: function () {
          const list = [
            { value: 1, text: this.$t('months.jan') },
            { value: 2, text: this.$t('months.feb') },
            { value: 3, text: this.$t('months.mar') },
            { value: 4, text: this.$t('months.apr') },
            { value: 5, text: this.$t('months.may') },
            { value: 6, text: this.$t('months.jun') },
            { value: 7, text: this.$t('months.jul') },
            { value: 8, text: this.$t('months.aug') },
            { value: 9, text: this.$t('months.sep') },
            { value: 10, text: this.$t('months.oct') },
            { value: 11, text: this.$t('months.nov') },
            { value: 12, text: this.$t('months.dec') }
          ]
          return list
        },
         endMonthList: function () {
          const list = [
            { value: 1, text: this.$t('months.jan') },
            { value: 2, text: this.$t('months.feb') },
            { value: 3, text: this.$t('months.mar') },
            { value: 4, text: this.$t('months.apr') },
            { value: 5, text: this.$t('months.may') },
            { value: 6, text: this.$t('months.jun') },
            { value: 7, text: this.$t('months.jul') },
            { value: 8, text: this.$t('months.aug') },
            { value: 9, text: this.$t('months.sep') },
            { value: 10, text: this.$t('months.oct') },
            { value: 11, text: this.$t('months.nov') },
            { value: 12, text: this.$t('months.dec') }
          ]
          return list
        },
      formTitle () {
        return (this.editItemId === 0) ? this.$t('dae_config.season_setup') + ' ' + this.$t('globalTrans.entry') : this.$t('dae_config.season_setup') + ' ' + this.$t('globalTrans.modify')
      },
      columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('org_pro.organization'), class: 'text-left' },
          { label: this.$t('globalTrans.fiscal_year'), class: 'text-left' },
          { label: this.$t('dae_config.start_month'), class: 'text-left' },
          { label: this.$t('dae_config.end_month'), class: 'text-left' },
          { label: this.$t('dae_config.season_name'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'organization_name_bn' },
          { key: 'fiscal_year_bn' },
          { key: 'start_month' },
          { key: 'end_month' },
          { key: 'season_name_bn' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'organization_name' },
          { key: 'fiscal_year' },
          { key: 'start_month' },
          { key: 'end_month' },
          { key: 'season_name' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    details (item) {
      this.editItemId = item.id
      this.item = item
    },
    edit (item) {
      this.editItemId = item.id
    },
    remove (item) {
      this.changeStatus(incentiveGrantServiceBaseUrl, seasonSetUpStatus, item, 'incentive_grant', 'seasonSetupList')
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(incentiveGrantServiceBaseUrl, seasonSetUpList, params).then(response => {
        if (response.success) {
          this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
          this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getRelatinalData (data) {
      const fiscalYearList = this.$store.state.commonObj.fiscalYearList
      const organizationList = this.$store.state.commonObj.organizationProfileList

      const listData = data.map(item => {
        const fiscalYearObject = fiscalYearList.find(fiscalYear => fiscalYear.value === item.fiscal_year_id)
        const organizationObject = organizationList.find(organization => organization.value === item.org_id)

        const fiscalYearData = {
          fiscal_year: fiscalYearObject !== undefined ? fiscalYearObject.text_en : '',
          fiscal_year_bn: fiscalYearObject !== undefined ? fiscalYearObject.text_bn : ''
          }
        const organizationData = {
          organization_name: organizationObject !== undefined ? organizationObject.text_en : '',
          organization_name_bn: organizationObject !== undefined ? organizationObject.text_bn : ''
          }

        return Object.assign({}, item, fiscalYearData, organizationData)
      })
      return listData
    },
     getStartMonth (startMonth) {
        startMonth = parseInt(startMonth)
      if (startMonth === 7) {
        return this.$i18n.locale === 'bn' ? 'জুলাই' : 'July'
      } else if (startMonth === 8) {
        return this.$i18n.locale === 'bn' ? 'আগস্ট' : 'August'
      } else if (startMonth === 9) {
        return this.$i18n.locale === 'bn' ? 'সেপ্টেম্বর' : 'September'
      } else if (startMonth === 10) {
        return this.$i18n.locale === 'bn' ? 'অক্টোবর' : 'October'
      } else if (startMonth === 11) {
        return this.$i18n.locale === 'bn' ? 'নভেম্বর' : 'November'
      } else if (startMonth === 12) {
        return this.$i18n.locale === 'bn' ? 'ডিসেম্বর' : 'December'
      } else if (startMonth === 1) {
        return this.$i18n.locale === 'bn' ? 'জানুয়ারী' : 'January'
      } else if (startMonth === 2) {
        return this.$i18n.locale === 'bn' ? 'ফেব্রুয়ারী' : 'February'
      } else if (startMonth === 3) {
        return this.$i18n.locale === 'bn' ? 'মার্চ' : 'March'
      } else if (startMonth === 4) {
        return this.$i18n.locale === 'bn' ? 'এপ্রিল' : 'April'
      } else if (startMonth === 5) {
        return this.$i18n.locale === 'bn' ? 'মে' : 'May'
      } else if (startMonth === 6) {
        return this.$i18n.locale === 'bn' ? 'জুন' : 'June'
      }
    },
     getEndMonth (endMonth) {
      endMonth = parseInt(endMonth)
      if (endMonth === 7) {
        return this.$i18n.locale === 'bn' ? 'জুলাই' : 'July'
      } else if (endMonth === 8) {
        return this.$i18n.locale === 'bn' ? 'আগস্ট' : 'August'
      } else if (endMonth === 9) {
        return this.$i18n.locale === 'bn' ? 'সেপ্টেম্বর' : 'September'
      } else if (endMonth === 10) {
        return this.$i18n.locale === 'bn' ? 'অক্টোবর' : 'October'
      } else if (endMonth === 11) {
        return this.$i18n.locale === 'bn' ? 'নভেম্বর' : 'November'
      } else if (endMonth === 12) {
        return this.$i18n.locale === 'bn' ? 'ডিসেম্বর' : 'December'
      } else if (endMonth === 1) {
        return this.$i18n.locale === 'bn' ? 'জানুয়ারী' : 'January'
      } else if (endMonth === 2) {
        return this.$i18n.locale === 'bn' ? 'ফেব্রুয়ারী' : 'February'
      } else if (endMonth === 3) {
        return this.$i18n.locale === 'bn' ? 'মার্চ' : 'March'
      } else if (endMonth === 4) {
        return this.$i18n.locale === 'bn' ? 'এপ্রিল' : 'April'
      } else if (endMonth === 5) {
        return this.$i18n.locale === 'bn' ? 'মে' : 'May'
      } else if (endMonth === 6) {
        return this.$i18n.locale === 'bn' ? 'জুন' : 'June'
      }
    }
  }
}
</script>
