<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
        <h4 class="card-title">{{  $t('e_pusti_config.e_pust_campaign_dashboard') }}</h4>
      </template>
      <template v-slot:body>
        <b-row>
            <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('e_pusti_config.fiscal_year')"
                    label-for="fiscal_year_id"
                    >
                    <b-form-select
                        plain
                        v-model="search.fiscal_year_id"
                        :options="fiscalYearList"
                        id="fiscal_year_id"
                        >
                        <template v-slot:first>
                        <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                        </template>
                    </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
            </b-col>
        </b-row>
      </template>
    </iq-card>
    <b-row v-show="showData">
      <b-col md="12">
        <iq-card>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row mt-5>
                <b-col md="12">
                  <!-- Apex Chart -->
                  <iq-card class="pt-2">
                    <template v-slot:body>
                      <b-row>
                        <b-col lg="12">
                          <b-overlay class="border shadow p-2" :show="loading">
                            <h5 class="text-center">{{ $t('e_pusti_config.e_pust_campaign_dashboard')}}</h5>
                            <apexchart type="bar" height="350" :options="chartOptions" :series="series()"></apexchart>
                          </b-overlay>
                        </b-col>
                      </b-row>
                    </template>
                  </iq-card>
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { campaignDashboard } from '../api/routes'

export default {
  data () {
    return {
        showData: false,
        search: {
          fiscal_year_id: 0
        },
        seriesData: [0, 0, 0, 0],
        loading: false
    }
  },
  computed: {
    fiscalYearList: function () {
        const fiscalYearList = this.$store.state.commonObj.fiscalYearList.filter(item => item.status === 0)
        return fiscalYearList.map((item) => {
            return { value: item.value, text: item.text_en }
        })
    },
    listReload () {
      return this.$store.state.commonObj.listReload
    },
    loadingState () {
      if (this.listReload) {
        return true
      } else if (this.loading) {
        return true
      } else {
        return false
      }
    },
    chartOptions () {
      return {
        chart: {
          height: 450,
          type: 'bar'
        },
        plotOptions: {
          bar: {
            dataLabels: {
              position: 'top' // top, center, bottom
            },
            columnWidth: '30%'
          }
        },
        colors: ['#4e7d09'],
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val
          },
          offsetY: -20,
          style: {
            fontSize: '14px',
            colors: ['#000']
          }
        },
        xaxis: {
          categories: [this.$t('e_pusti_config.total_campaign'), this.$t('e_pusti_config.request_campaign'), this.$t('e_pusti_config.complete_campaign'), this.$t('e_pusti_config.pending_campaign')],
          position: 'bottom',
          axisBorder: {
            show: true
          },
          axisTicks: {
            show: false
          },
          tooltip: {
            enabled: true
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val
            }
          }
        }
      }
    }
  },
  mounted () {
    core.index()
  },
  methods: {
    series () {
        return [
            {
                data: this.seriesData
            }
        ]
    },
    searchData () {
        if (this.search.fiscal_year_id !== 0) {
            this.loadData()
            this.showData = true
        } else {
            this.$toast.error({
                title: 'Error',
                message: 'Please select Fiscal Year'
            })
        }
    },
    async loadData () {
        this.loading = true
        const params = Object.assign({}, this.search, {
            fiscal_year_id: this.search.fiscal_year_id
        })
        await RestApi.getData(agriMarketingServiceBaseUrl, campaignDashboard, params).then(response => {
            if (response.success) {
                if (response.data.length) {
                    setTimeout(() => {
                        this.seriesData = response.data
                    }, 1000)
                } else {
                    this.seriesData = [0, 0, 0, 0]
                }
            } else {
                this.$toast.error({
                title: 'Error',
                message: response.message
            })
            }
        })
        this.loading = false
    }
  }
}
</script>
