<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                    <ValidationProvider name="Agreement Details" vid="agreement_details" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="agreement_details"
                        slot-scope="{ valid, errors }"
                        >
                          <template v-slot:label>
                            {{ $t('pump_install.agreement_details')}} <span class="text-danger">*</span>
                          </template>
                          <vue-editor
                            useCustomImageHandler
                            id="agreement_details"
                            v-model="agreement.agreement_details"
                            :state="errors[0] ? false : (valid ? true : null)"
                          ></vue-editor>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Agreement Details (Bn)" vid="agreement_details_bn" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="agreement_details_bn"
                        slot-scope="{ valid, errors }"
                        >
                          <template v-slot:label>
                            {{ $t('pump_install.agreement_details_bn')}} <span class="text-danger">*</span>
                          </template>
                          <vue-editor
                            useCustomImageHandler
                            id="agreement_details_bn"
                            v-model="agreement.agreement_details_bn"
                            :state="errors[0] ? false : (valid ? true : null)"
                          ></vue-editor>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-2')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { irriSchemeServiceBaseUrl } from '../../../../../config/api_config'
import { contactAgreementStore } from '../../api/routes'
import { VueEditor } from 'vue2-editor'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider,
    VueEditor
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.$t('globalTrans.save'),
      agreement: {
        scheme_application_id: this.$props.id,
        agreement_details: '',
        agreement_details_bn: ''
      }
    }
  },
  methods: {
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      result = await RestApi.postData(irriSchemeServiceBaseUrl, contactAgreementStore, this.agreement)
      loadinState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadinState)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })
        this.$bvModal.hide('modal-2')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    }
  }
}
</script>
