<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                     <ValidationProvider name="Agreement Date" vid="agreement_date" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="agreement_date"
                        slot-scope="{ valid, errors }"
                        >
                          <template v-slot:label>
                            {{ $t('pump_install.agreement_date')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-input
                            class="date-picker"
                            v-model="agreement_document.agreement_date"
                            placeholder="Select Date"
                            :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Attachment" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('pump_install.attach_document')"
                        label-for="attachment"
                        slot-scope="{ valid, errors }"
                        >
                          <template v-slot:label>
                            {{ $t('pump_install.attach_document')}} <span class="text-danger">*</span>
                          </template>
                        <b-form-file
                          plain
                          v-on:change="onFileChange"
                          v-model="agreement_document.attachment"
                          id="attachment"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                        </b-form-file>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-3')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { irriSchemeServiceBaseUrl } from '../../../../../config/api_config'
import { contactAgreementDocumentStore } from '../../api/routes'
import flatpickr from 'flatpickr'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  mounted () {
    flatpickr('.date-picker', {})
    core.index()
  },
  data () {
    return {
      saveBtnName: this.$t('globalTrans.save'),
      agreement_document: {
        scheme_application_id: this.$props.id,
        agreement_date: '',
        attachment: []
      },
      upload_attachment: ''
    }
  },
  methods: {
    onFileChange (e) {
      this.upload_attachment = e.target.files[0]
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      var formData = new FormData()
      Object.keys(this.agreement_document).map(key => {
        if (key === 'attachment') {
          formData.append(key, this.upload_attachment)
        } else {
          formData.append(key, this.agreement_document[key])
        }
      })
      result = await RestApi.postData(irriSchemeServiceBaseUrl, contactAgreementDocumentStore, formData)
      loadinState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadinState)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })
        this.$bvModal.hide('modal-3')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    }
  }
}
</script>
