<template>
  <b-container fluid>
    <iq-card>
        <template v-slot:body>
            <b-row>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-cols-md="4"
                    label-cols-lg="3"
                    :label="$t('org_pro_division.division')"
                    label-for="division_id"
                    >
                    <v-select name="division_id"
                    v-model="search.division_id"
                    label="text"
                    :options= divisionList
                    />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-cols-md="4"
                    label-cols-lg="3"
                    :label="$t('warehouse_config.region')"
                    label-for="division_id"
                    >
                    <v-select name="region_id"
                    v-model="search.region_id"
                    label="text"
                    :options= regionLists
                    />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-cols-md="4"
                    label-cols-lg="3"
                    :label="$t('org_pro_district.district')"
                    label-for="district_id"
                    >
                    <v-select name="district_id"
                        v-model="search.district_id"
                        label="text"
                        :options= regionDistrictLists
                        />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-cols-md="4"
                    label-cols-lg="3"
                    :label="$t('org_pro_upazilla.upazilla')"
                    label-for="upazilla_id"
                    >
                    <v-select name="upazilla_id"
                        v-model="search.upazilla_id"
                        label="text"
                        :options= upazilaList
                        />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                        class="row"
                        label-cols-sm="3"
                        label-cols-md="4"
                        label-cols-lg="3"
                        :label="$t('org_pro_union.union')"
                        label-for="union_id"
                        >
                        <v-select name="union_id"
                        v-model="search.union_id"
                        label="text"
                        :options= unionList
                        />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                        class="row"
                        label-cols-sm="3"
                        label-cols-md="4"
                        label-cols-lg="3"
                        :label="$t('warehouse_config.warehouse_type')"
                        label-for="union_id"
                        >
                        <v-select name="warehouse_type_id"
                        v-model="search.warehouse_type_id"
                        label="text"
                        :options= warehouseTypeList
                        />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                        class="row"
                        label-cols-sm="3"
                        label-cols-md="4"
                        label-cols-lg="3"
                        :label="$t('warehouse_config.warehouse_category')"
                        label-for="warehouse_category_id"
                        >
                        <v-select name="warehouse_category_id"
                        v-model="search.warehouse_category_id"
                        label="text"
                        :options= warehouseCategoryList
                        />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                        class="row"
                        label-cols-sm="3"
                        label-cols-md="4"
                        label-cols-lg="3"
                        :label="$t('warehouse_config.warehouse_name')"
                        label-for="warehouse_name"
                        >
                        <v-select name="warehouse_id"
                        v-model="search.warehouse_id"
                        label="text"
                        :options= warehouseList
                        />
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                        class="row"
                        label-cols-sm="3"
                        label-cols-md="4"
                        label-cols-lg="3"
                        :label="$t('globalTrans.from_date')"
                        label-for="date"
                    >
                        <flat-pickr class="form-control"
                                    v-model="search.from_date"
                                    :placeholder="$t('globalTrans.select_date')"
                        ></flat-pickr>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-cols-md="4"
                    label-cols-lg="3"
                    :label="$t('globalTrans.to_date')"
                    label-for="to_date"
                    >
                    <flat-pickr class="form-control"
                                v-model="search.to_date"
                                :placeholder="$t('globalTrans.select_date')"
                    ></flat-pickr>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                    <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
                </b-col>
            </b-row>
        </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('warehouse_config.warehouse') + ' ' + $t('globalTrans.entry')}}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" emptyText="No Data Found!" show-empty>
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(warehouse_name)="data">
                      <span class="capitalize">{{ data.item.warehouse_name }}</span>
                    </template>
                    <template v-slot:cell(division_id)="data">
                      <span class="capitalize">{{ getDataById(data.item.division_id, 'division') }}</span>
                    </template>
                    <template v-slot:cell(region_id)="data">
                      <span class="capitalize">{{  getDataById(data.item.region_id, 'region') }}</span>
                    </template>
                    <template v-slot:cell(district_id)="data">
                      <span class="capitalize">{{ getDataById(data.item.district_id, 'district') }}</span>
                    </template>
                    <template v-slot:cell(upazilla_id)="data">
                      <span class="capitalize">{{ getDataById(data.item.upazilla_id, 'upazila') }}</span>
                    </template>
                    <template v-slot:cell(total_capacity)="data">
                      <span class="capitalize">{{ $n(data.item.total_capacity) }}</span>
                    </template>
                    <template v-slot:cell(warehouse_type_name)="data">
                      <span class="capitalize">{{ data.item.warehouse_type_name }}</span>
                    </template>
                    <template v-slot:cell(region_name)="data">
                      <span class="capitalize">{{ data.item.region_name }}</span>
                    </template>
                    <template v-slot:cell(establishment_date)="data">
                      <span class="capitalize">{{ data.item.establishment_date|dateFormat }}</span>
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>

  </b-container>
</template>
<script>
import FormV from './Form'
import RestApi, { warehouseServiceBaseUrl } from '@/config/api_config'
import { warehouseInformationList, warehouseInformationToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV
  },
  data () {
    return {
      search: {
        warehouse_id: '',
        warehouse_type_id: '',
        warehouse_category_id: '',
        division_id: '',
        region_id: '',
        district_id: '',
        upazilla_id: '',
        union_id: '',
        from_date: '',
        to_date: ''
      },
      districtList: [],
      regionDistrictLists: [],
      upazilaList: [],
      warehouseList: [],
      tempList: [],
      unionList: []
    }
  },
  computed: {
    formTitle () {
       return (this.editItemId === 0) ? this.$t('warehouse_config.warehouseEntry') : this.$t('warehouse_config.warehouseModify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('warehouse_information.division'), class: 'text-left' },
          { label: this.$t('warehouse_config.region'), class: 'text-left' },
          { label: this.$t('warehouse_information.district'), class: 'text-left' },
          { label: this.$t('warehouse_information.upazilla'), class: 'text-left' },
          { label: this.$t('warehouse_config.warehouse'), class: 'text-left' },
          { label: this.$t('warehouse_config.warehouse_capacity'), class: 'text-left' },
         { label: this.$t('warehouse_config.warehouse_type'), class: 'text-left' },
         { label: this.$t('warehouse_config.establishment_date'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'division_id' },
          { key: 'region_id' },
          { key: 'district_id' },
          { key: 'upazilla_id' },
          { key: 'warehouse_name_bn' },
          { key: 'total_capacity' },
          { key: 'warehouse_type_name_bn' },
          { key: 'establishment_date' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'division_id' },
          { key: 'region_id' },
          { key: 'district_id' },
          { key: 'upazilla_id' },
          { key: 'warehouse_name' },
          { key: 'total_capacity' },
          { key: 'warehouse_type_name' },
          { key: 'establishment_date' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    warehouseTypeList: function () {
      return this.$store.state.warehouse.warehouseTypeList.filter(item => item.status === 0)
    },
    warehouseCategoryList: function () {
        return this.$store.state.warehouse.warehouseCategoryList.filter(item => item.status === 0)
    },
    regionLists: function () {
      return this.$store.state.warehouse.regionList.filter(item => item.status === 0)
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.division_id.value': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'search.region_id.value': function (newVal, oldVal) {
      this.regionDistrictLists = this.getRegionDistrictList(newVal)
    },
    'search.district_id.value': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazilla_id.value': function (newVal, oldVal) {
      this.warehouseList = this.getWarehouseName(newVal, 'UPZ')
      this.unionList = this.getUnionList(newVal)
    },
    'search.union_id.value': function (newVal, oldVal) {
      this.warehouseList = this.getWarehouseName(newVal, 'UP')
    },
    'search.warehouse_type_id.value': function (newVal, oldval) {
      this.warehouseList = this.getWarehouseName(newVal, 'WT')
    },
    'search.warehouse_category_id.value': function (newVal, oldval) {
      this.warehouseList = this.getWarehouseName(newVal, 'WC')
    }
  },
 async created () {
    this.loadData()
  },
  methods: {
    async searchData () {
      this.loadData()
    },
     remove (item) {
      this.changeStatus(warehouseServiceBaseUrl, warehouseInformationToggleStatus, item, 'warehosue', 'warehouseInfoList')
    },
    async loadData () {
      const params = Object.assign({}, this.search, {
        warehouse_id: this.search.warehouse_id.value,
        warehouse_type_id: this.search.warehouse_type_id.value,
        warehouse_category_id: this.search.warehouse_category_id.value,
        division_id: this.search.division_id.value,
        region_id: this.search.region_id.value,
        district_id: this.search.district_id.value,
        upazilla_id: this.search.upazilla_id.value,
        union_id: this.search.union_id.value,
        page: this.pagination.currentPage,
        per_page: this.pagination.perPage
        })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
       const result = await RestApi.getData(warehouseServiceBaseUrl, warehouseInformationList, params)
      if (result.success) {
        this.$store.dispatch('setList', result.data.data)
        this.paginationData(result.data)
      }
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)

      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }

      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)

      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }

      return upazilaList
    },
    getUnionList (upazilaId = null) {
      const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)

      if (upazilaId) {
        return unionList.filter(union => union.upazilla_id === upazilaId)
      }

      return unionList
    },
     getRegionDistrictList (regionId = null) {
      RestApi.getData(warehouseServiceBaseUrl, '/master-warehouse-level/region-district-list').then(response => {
            if (response) {
                const dataObjectTemp = response.filter(document => document.region_id === regionId)
                const dataObject = dataObjectTemp.filter(item => item.status === 0)
                this.regionDistrictLists = dataObject.map(obj => {
                    if (this.$i18n.locale === 'bn') {
                        return { value: obj.district_id, text: this.$store.state.commonObj.districtList.find(document => document.value === obj.district_id).text_bn }
                    } else {
                        return { value: obj.district_id, text: this.$store.state.commonObj.districtList.find(document => document.value === obj.district_id).text_en }
                    }
                })
            }
        })
    },
    getWarehouseName (Id = null, type) {
      const warehouseList = this.$store.state.warehouse.warehouseInfoList.filter(item => item.status === 0)
        var list
      if (Id && type === 'UPZ') {
        list = warehouseList.filter(warehouse => warehouse.upazilla_id === Id)
        this.tempList = list
      }

      if (Id && type === 'UP') {
        list = warehouseList.filter(warehouse => warehouse.union_id === Id)
        this.tempList = list
      }

      if (Id && type === 'WT') {
        const filterData = this.tempList
        list = filterData.filter(warehouse => warehouse.warehouse_type_id === Id)
      }

      if (Id && type === 'WC') {
        const filterData1 = this.tempList
        list = filterData1.filter(warehouse => warehouse.warehouse_category_id === Id)
      }

      return list
    },
    getDataById (Id, master) {
         if (master === 'division') {
            if (!Id) {
                return null
            } else {
                const targetId = parseInt(Id)
                 const tergetName = this.$store.state.commonObj.divisionList.find(document => document.value === targetId && document.status === 0)
                 if (tergetName) {
                     return this.$i18n.locale === 'en' ? tergetName.text_en : tergetName.text_bn
                 } else {
                     return null
                 }
            }
        }
        if (master === 'district') {
            if (!Id) {
                return null
            } else {
                const targetId = parseInt(Id)
                 const tergetName = this.$store.state.commonObj.districtList.find(document => document.value === targetId && document.status === 0)
                 if (tergetName) {
                     return this.$i18n.locale === 'en' ? tergetName.text_en : tergetName.text_bn
                 } else {
                     return null
                 }
            }
        }
        if (master === 'region') {
            if (!Id) {
                return null
            } else {
                const targetId = parseInt(Id)
                 const tergetName = this.$store.state.warehouse.regionList.find(document => document.value === targetId && document.status === 0)
                 if (tergetName) {
                     return this.$i18n.locale === 'en' ? tergetName.text_en : tergetName.text_bn
                 } else {
                     return null
                 }
            }
        }
        if (master === 'upazila') {
            if (!Id) {
                return null
            } else {
                const targetId = parseInt(Id)
                 const tergetName = this.$store.state.commonObj.upazilaList.find(document => document.value === targetId && document.status === 0)
                 if (tergetName) {
                     return this.$i18n.locale === 'en' ? tergetName.text_en : tergetName.text_bn
                 } else {
                     return null
                 }
            }
        }
    }
    // divisionListShow (data) {
    //   let tmpData = {}
    //   let tmpData2 = {}
    //   let tmpUpzila = {}
    //   const listData = data.map(item => {
    //     tmpData = this.$store.state.commonObj.divisionList.find(orgItem => orgItem.value === item.division_id)
    //     tmpData2 = this.$store.state.commonObj.districtList.find(orgItem => orgItem.value === item.district_id)
    //     tmpUpzila = this.$store.state.commonObj.upazilaList.find(orgItem => orgItem.value === item.upazilla_id)
    //     const orgData = { division_name: tmpData.text, division_name_bn: tmpData.text_bn, distict_name: tmpData2.text, distict_name_bn: tmpData2.text_bn, upzila_name: tmpUpzila.text, upzila_name_bn: tmpUpzila.text_bn }
    //     return Object.assign({}, item, orgData)
    //   })
    //   return listData
    // }
  }
}
</script>
