<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(createData)" @reset.prevent="reset" >
                    <b-row>
                      <b-col lg="6" sm="12">
                        <ValidationProvider name="Fiscal Year" vid="fiscal_year_id"  rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="fiscal_year_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('warehouse_config.fiscal_year')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="data.fiscal_year_id"
                                :options="fiscalList"
                                id="fiscal_year_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                       <b-col lg="6" sm="12">
                        <ValidationProvider name="Season" vid="seasons_id" rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="seasons_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{ $t('cotton_ginner_grower.season') }}<span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="data.seasons_id"
                                :options="seasonList"
                                id="seasons_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col lg="6"  sm="12">
                        <ValidationProvider name="Region">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="region_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.region')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                               plain
                                id="region_id"
                                v-model="data.region_id"
                                 :options="regionList"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                             <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col lg="6"  sm="12">
                        <ValidationProvider name="Zone">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="zone_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.zone')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                               plain
                                id="zone_id"
                                v-model="data.zone_id"
                                 :options="zoneList"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                             <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                       <b-col lg="6" sm="12">
                        <ValidationProvider name="Unit" vid="unit_id"  rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="unit_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.unit')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="data.unit_id"
                                :options="unitList"
                                id="unit_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                       <b-col lg="6" sm="12">
                        <ValidationProvider name="ApplicationId">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="applicant_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{ $t('cotton_ginner_grower.growers_name') }}<span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="data.applicant_id"
                                :options="applicantList"
                                id="applicant_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col lg="6"  sm="12">
                         <ValidationProvider>
                            <b-form-group
                                class="row"
                                label-cols-sm="4"
                                label-for="district_id"
                                >
                                <template v-slot:label>
                                {{ $t('org_pro_district.district') }}
                                </template>
                                <b-form-input
                                    disabled
                                    v-if="($i18n.locale === 'en')"
                                    id="district_id"
                                    v-model="data.district_name"
                                ></b-form-input>
                                <b-form-input
                                    disabled
                                    v-if="($i18n.locale === 'bn')"
                                    id="district_id"
                                    v-model="data.district_name_bn"
                                ></b-form-input>
                            </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col lg="6"  sm="12">
                       <ValidationProvider>
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="upazilla_id"
                              >
                              <template v-slot:label>
                              {{ $t('globalTrans.upazila') }}
                              </template>
                              <b-form-input
                                  disabled
                                  v-if="($i18n.locale === 'en')"
                                  id="upazilla_id"
                                  v-model="data.upazila_name"
                              ></b-form-input>
                              <b-form-input
                                  disabled
                                  v-if="($i18n.locale === 'bn')"
                                  id="upazilla_id"
                                  v-model="data.upazila_name_bn"
                              ></b-form-input>
                          </b-form-group>
                      </ValidationProvider>
                      </b-col>
                      <b-col lg="6" sm="12">
                        <ValidationProvider name="Hatt name" vid="hatt_id"  rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="hart_name"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.hat_name')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="data.hatt_id"
                                :options="hatList"
                                id="hatt_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col lg="6" sm="12">
                        <ValidationProvider name="Cotton Variety" vid="cotton_variety_id"  rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="cotton_variety_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.cottonVariety')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="data.cotton_variety_id"
                                :options="cottonVaritiesList"
                                id="cotton_variety_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col lg="6" sm="12">
                        <ValidationProvider name="Cotton Name" vid="cotton_id"  rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="cotton_id"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.cotton')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-select
                                plain
                                v-model="data.cotton_id"
                                :options="cottonNameList"
                                id="cotton_id"
                                :state="errors[0] ? false : (valid ? true : null)"
                            >
                              <template v-slot:first>
                                <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                            </b-form-select>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col lg="6" md="6" sm="12" xs="12">
                        <ValidationProvider name="Hatt Date" vid="hatt_date" rules="required">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="hatt_date"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.hattDate')}} <span class="text-danger">*</span>
                            </template>
                            <flat-pickr class="form-control"
                                        v-model="data.hatt_date"
                            ></flat-pickr>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col  lg="6" md="6" sm="12" xs="12">
                        <ValidationProvider name="Quantity" vid="quantity" rules="required">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="quantity"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.quantity')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                                type="number"
                                id="quantity"
                                v-model="data.quantity"
                                :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                      <b-col  lg="6" md="6" sm="12" xs="12">
                        <ValidationProvider name="Price" vid="price" rules="required">
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="price"
                              slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('cotton_ginner_grower.price')}} <span class="text-danger">*</span>
                            </template>
                            <b-form-input
                                type="number"
                                id="quantity"
                                v-model="data.price"
                                :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { sellEntryStore } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      this.getEditData(this.id)
    }
    this.getAllApplicantInfo()
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      data: {
        id: '',
        org_id: 0,
        fiscal_year_id: 0,
        applicant_id: 0,
        seasons_id: 0,
        region_id: 0,
        zone_id: 0,
        unit_id: 0,
        district_id: 0,
        upazilla_id: 0,
        cotton_variety_id: 0,
        cotton_id: 0,
        quantity: '',
        hatt_date: null,
        price: '',
        district_name: '',
        district_name_bn: '',
        upazila_name: '',
        upazila_name_bn: '',
        zone_name: '',
        zone_name_bn: '',
        region_name: '',
        region_name_bn: '',
        unit_name: '',
        unit_name_bn: '',
        name: '',
        name_bn: '',
        address: '',
        address_bn: '',
        father_name: '',
        father_name_bn: '',
        hatt_id: 0
      },
      cottonNameList: [],
      zoneList: [],
      unitList: [],
      applicantList: [],
      upazilaList: [],
      loader: false,
      search: {
        crop_name_id: 0
      }
    }
  },
  watch: {
    'data.cotton_variety_id': function (newVal, oldVal) {
      this.cottonNameList = this.getCottonNameList(newVal)
    },
    'data.region_id': function (newVal, oldVal) {
      this.zoneList = this.getZoneList(newVal)
    },
    'data.zone_id': function (newVal, oldVal) {
      this.unitList = this.getUnitList(newVal)
    },
    'data.unit_id': function (newVal, oldVal) {
      this.applicantList = this.getAllApplicantInfo(newVal)
    },
    'data.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'data.applicant_id': function (newVal, oldVal) {
       this.getApplicantInfo(newVal)
    }
  },
  computed: {
    orgList: function () {
      const tmpData = this.$store.state.commonObj.organizationProfileList.filter(item => item.status === 0)
      return tmpData.map(item => {
        if (this.$i18n.locale === 'bn') {
          return { value: item.value, text: item.text_bn }
        } else {
          return { value: item.value, text: item.text }
        }
      })
    },
    fiscalList: function () {
      const fiscalyearData = this.$store.state.commonObj.fiscalYearList
      return fiscalyearData.map(item => {
        if (this.$i18n.locale === 'bn') {
          return { value: item.value, text: item.text_bn }
        } else {
          return { value: item.value, text: item.text_en }
        }
      })
    },
    hatList: function () {
      return this.$store.state.agriMarketing.commonObj.hatList.filter(item => item.status === 1)
    },
    cottonVaritiesList: function () {
      return this.$store.state.agriMarketing.commonObj.cottonVaritiesList.filter(item => item.status === 1)
    },
    regionList: function () {
       return this.$store.state.agriMarketing.commonObj.regionList.filter(item => item.status === 1)
    },
    seasonList: function () {
       return this.$store.state.agriMarketing.commonObj.seasonList.filter(item => item.status === 1)
    },
    getDistrictList () {
        return this.$store.state.commonObj.districtList.filter(item => item.status === 0)
    }
  },
  methods: {
    getAllApplicantInfo (unitId) {
      return this.$store.state.agriMarketing.commonObj.ginnerGrowerList.filter(item => (item.status === 1 || item.status === 4) && item.unit_id === unitId)
    },
    getCottonNameList (cottonVarietyId = null) {
      const cottonNameList = this.$store.state.agriMarketing.commonObj.cottonNameList.filter(item => item.status === 1)
      if (cottonVarietyId) {
        return cottonNameList.filter(cotton => cotton.cotton_variety_id === cottonVarietyId)
      }
      return cottonNameList
    },
    getZoneList (regionId = null) {
      const zoneList = this.$store.state.agriMarketing.commonObj.zoneList.filter(item => item.status === 1)
      if (regionId) {
        return zoneList.filter(region => region.region_id === regionId)
      }
      return zoneList
    },
    getUnitList (ZoneId = null) {
      const unitList = this.$store.state.agriMarketing.commonObj.unitList.filter(item => item.status === 1)
      if (ZoneId) {
        return unitList.filter(unit => unit.zone_id === ZoneId)
      }
      return unitList
    },
     getUpazilaList (districtId = null) {
        const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
        if (districtId) {
          return upazilaList.filter(upazila => upazila.district_id === districtId)
        }
        return upazilaList
      },
    async createData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      result = await RestApi.postData(agriMarketingServiceBaseUrl, sellEntryStore, this.data)
      loadinState.listReload = true

      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$store.dispatch('mutateCommonProperties', { hasDropdownLoaded: false })
        this.$toast.success({
          title: 'Success',
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })
        this.$bvModal.hide('modal-4')
      } else {
        this.$toast.success({
          title: 'Success',
          message: result.message,
          color: '#D6E09B'
        })
      }
    },
    getApplicantInfo (applicantId) {
          const singeItem = this.applicantList.find(item => item.value === applicantId)
          const district = this.$store.state.commonObj.districtList.find(dist => dist.value === singeItem.district_id)
          const upazilla = this.$store.state.commonObj.upazilaList.find(upz => upz.value === singeItem.upazilla_id)

          this.data.district_name = district.text_en
          this.data.district_name_bn = district.text_bn
          this.data.upazila_name = upazilla.text_en
          this.data.upazila_name_bn = upazilla.text_bn
      },
      getRelatinalData (data) {
        const districtList = this.$store.state.commonObj.districtList
        const upazilaList = this.$store.state.commonObj.upazilaList

        const listData = data.map(item => {
            const districtObject = districtList.find(district => district.value === item.district_id)
            const upazilaObject = upazilaList.find(upazila => upazila.value === item.upazilla_id)

            const districtData = { district_name: districtObject.text, district_name_bn: districtObject.text_bn }
            const upazilaData = { upazila_name: upazilaObject.text, upazila_name_bn: upazilaObject.text_bn }

            return Object.assign({}, item, districtData, upazilaData)
        })
        return listData
      }
  }
}
</script>
