<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:body>
        <b-row>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="4"
              :label="$t('org_pro.component_namel')"
              label-for="component_id"
            >
              <b-form-select
                plain
                id="component_id"
                :options="componentList"
                v-model="search.component_id"
                placeholder=""
              >
                <template v-slot:first>
                  <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="4"
              :label="$t('infoServiceManagement.service_name')"
              label-for="service_id"
            >
              <b-form-select
                plain
                id="service_id"
                :options="serviceList"
                v-model="search.service_id"
                placeholder=""
              >
                <template v-slot:first>
                  <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
                </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
         <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('infoServiceManagement.content_list') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{ $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="datas" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(module_name)="data">
                      <span class="capitalize">{{ data.item.module_name }}</span>
                    </template>
                    <template v-slot:cell(org_name)="data">
                      <span class="capitalize">{{ data.item.org.org_name }}</span>
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>
  </b-container>
</template>
<script>
import FormV from './Form'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { contentList, contentToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
    mixins: [ModalBaseMasterList],
    components: {
        FormV
    },
    data () {
        return {
        search: {
            component_id: 0,
            service_id: 0
        },
        moduleId: 0,
        moduletid: 0,
        rows: [],
        serviceList: [],
        datas: []
        }
    },
    computed: {
        // listData: function () {
        //     const tmpData = this.$store.state.list
        //     return JSON.parse(JSON.stringify(tmpData))
        // },
        componentList: function () {
            const listObject = this.$store.state.commonObjCommonConfig.componentList.filter(item => item.status === 0)
            const tmpList = listObject.map((obj, index) => {
                if (this.$i18n.locale === 'bn') {
                return { value: obj.value, text: obj.text_bn }
                } else {
                return { value: obj.value, text: obj.text }
                }
            })
            return tmpList
        },
        formTitle () {
            return (this.editItemId === 0) ? this.$t('infoServiceManagement.content_entry') : this.$t('infoServiceManagement.content_modify')
        },
        columns () {
            const labels = [
                { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
                { label: this.$t('infoServiceManagement.service_name'), class: 'text-left' },
                { label: this.$t('infoServiceManagement.content_description'), class: 'text-left' },
                { label: this.$t('infoServiceManagement.eligibility_criteria'), class: 'text-left' },
                { label: this.$t('globalTrans.status'), class: 'text-center' },
                { label: this.$t('globalTrans.action'), class: 'text-center' }
            ]

            let keys = []

            if (this.$i18n.locale === 'bn') {
                keys = [
                    { key: 'index' },
                    { key: 'service_name_bn' },
                    { key: 'description_bn' },
                    { key: 'eligibility' },
                    { key: 'status' },
                    { key: 'action' }
                ]
            } else {
                keys = [
                    { key: 'index' },
                    { key: 'service_name' },
                    { key: 'description' },
                    { key: 'eligibility' },
                    { key: 'status' },
                    { key: 'action' }
                ]
            }
            return labels.map((item, index) => {
                return Object.assign(item, keys[index])
            })
        }
    },
    watch: {
        'search.component_id': function (newVal, oldVal) {
            this.serviceList = this.getServiceList(newVal)
        }
    },
    async created () {
        this.loadData()
    },
    mounted () {
    },
    methods: {
        async searchData () {
            this.loadData()
        },
        remove (item) {
            this.changeStatus(commonServiceBaseUrl, contentToggleStatus, item)
        },
        async loadData () {
            const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
            this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
            RestApi.getData(commonServiceBaseUrl, contentList, params).then(response => {
                if (response.success) {
                    const eligibilityList = response.data.data.map(item => {
                    const eligibilityIds = item.master_content_eligibility.map(eligibilityItem2 => {
                        return eligibilityItem2.id
                    })
                        return Object.assign({}, item, { eligibility_criteria_id: eligibilityIds })
                    })
                    this.$store.dispatch('setList', this.dataList(eligibilityList))
                    this.paginationData(response.data)
                    const allData = this.$store.state.list
                    this.datas = JSON.parse(JSON.stringify(allData))
                } else {
                    this.$store.dispatch('setList', [])
                }
            this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
            })
        },
        dataList (data) {
            const serviceList = this.$store.state.commonObjCommonConfig.serviceList
            const eligibiltyList = this.$store.state.commonObjCommonConfig.serviceEligibiltyList
            this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
            const listData = data.map(item => {
                const serviceObject = serviceList.find(service => service.value === item.service_id)
                const serviceData = {
                service_name: serviceObject.text_en,
                service_name_bn: serviceObject.text_bn
                }
                const criteriaArray = item.master_content_eligibility
                let criteriaData = criteriaArray.map(criteriaItem => {
                    const eligibiltyObject = eligibiltyList.find(eligibilty => eligibilty.value === criteriaItem.eligibility_criteria_id)
                    return this.$i18n.locale === 'en' ? eligibiltyObject.text_en : eligibiltyObject.text_bn
                })
                criteriaData = criteriaData.join(', ')
                return Object.assign({}, item, serviceData, { eligibility: criteriaData })
            })
            // this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
            return listData
        },
        getServiceList (componentId) {
            const serviceList = this.$store.state.commonObjCommonConfig.serviceComList.filter(item => item.status === 0)
            if (componentId) {
                const serviceData = serviceList.filter(service => service.component_id === componentId)
                const tmpList = serviceData.map((obj, index) => {
                    if (this.$i18n.locale === 'bn') {
                        return { value: obj.value, text: obj.text_bn }
                    } else {
                        return { value: obj.value, text: obj.text_en }
                    }
                })
                return tmpList
            }
        }
    }
}
</script>
