<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
        <h4 class="card-title">{{ $t('notification.notification_type_setting') }}</h4>
      </template>
      <template v-slot:body>
        <b-row>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro.organization')"
                label-for="org_id"
                >
                <b-form-select
                plain
                v-model="search.org_id"
                :options="organizationtList"
                id="org_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro.component')"
                label-for="component_id"
                >
                <b-form-select
                plain
                v-model="search.component_id"
                :options="componentList"
                id="component_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro.module')"
                label-for="module_id"
                >
                <b-form-select
                plain
                v-model="search.module_id"
                :options="moduleList"
                id="module_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro.service')"
                label-for="service_id"
                >
                <b-form-select
                plain
                v-model="search.service_id"
                :options="serviceList"
                id="service_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value=null>{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro.menu')"
                label-for="menu_id"
                >
                <b-form-select
                plain
                v-model="search.menu_id"
                :options="menuList"
                id="menu_id"
                >
                <template v-slot:first>
                    <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
                </b-form-select>
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6">
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
            </b-col>
        </b-row>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('notification.notification_type_setting') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(org_name)="data">
                      <span class="capitalize">{{ data.item.org_name }}</span>
                    </template>
                    <template v-slot:cell(component_name)="data">
                      <span class="capitalize">{{ data.item.component_name }}</span>
                    </template>
                    <template v-slot:cell(module_name)="data">
                      <span class="capitalize">{{ data.item.module_name }}</span>
                    </template>
                    <template v-slot:cell(service_name)="data">
                      <span class="capitalize">{{ data.item.service_name }}</span>
                    </template>
                    <template v-slot:cell(menu_name)="data">
                      <span class="capitalize">{{ data.item.menu_name }}</span>
                    </template>
                    <template v-slot:cell(not_type_name)="data">
                      <span class="capitalize">{{ data.item.not_type_name }}</span>
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                        <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                        <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                        <!-- <b-button variant="data.item.status ? ' iq-bg-danger' : ' iq-bg-success'" size="sm" @click="remove(data.item)">
                            <i class="fas" :class="data.item.status ? 'fa-toggle-off' : 'fa-toggle-on'"></i>
                        </b-button> -->
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>

  </b-container>
</template>
<script>
import FormV from './Form'
import RestApi, { commonServiceBaseUrl } from '@/config/api_config'
import { notificationSettingList, notificationSettingToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV
  },
  data () {
    return {
      search: {
        org_id: 0,
        component_id: 0,
        module_id: 0,
        service_id: null,
        menu_id: 0,
        notification_type_id: 0
      },
      rows: [],
      moduleList: [],
      menuList: [],
      serviceList: []
    }
  },
  computed: {
    organizationtList: function () {
      const listObject = this.$store.state.orgList.filter(item => item.status === 0)
      return listObject
    },
    componentList: function () {
      const listObject = this.$store.state.commonObjCommonConfig.componentList.filter(item => item.status === 0)
      const tmpList = listObject.map((obj, index) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
      return tmpList
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('notification.notification_type_setting_entry') : this.$t('notification.notification_type_setting') + ' ' + this.$t('globalTrans.modify')
    },
    currentLocale () {
      return this.$i18n.locale
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('globalTrans.organization'), class: 'text-left' },
          { label: this.$t('org_pro.component_namel'), class: 'text-left' },
          { label: this.$t('org_pro.module_namel'), class: 'text-left' },
          { label: this.$t('org_pro.service_namel'), class: 'text-left' },
          { label: this.$t('org_pro.menu_namel'), class: 'text-left' },
          { label: this.$t('notification.notification_type'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'org_name_bn' },
          { key: 'component_name_bn' },
          { key: 'module_name_bn' },
          { key: 'service_name_bn' },
          { key: 'menu_name_bn' },
          { key: 'not_type_name_bn' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'org_name' },
          { key: 'component_name' },
          { key: 'module_name' },
          { key: 'service_name' },
          { key: 'menu_name' },
          { key: 'not_type_name' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    'search.component_id': function (newVal, oldVal) {
      this.moduleList = this.getModuleList(newVal)
    },
    'search.module_id': function (newVal, oldVal) {
      this.serviceList = this.getServiceList(newVal)
      this.menuList = this.getMenuList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  mounted () {
  },
  methods: {
    searchData () {
      this.loadData()
    },
    remove (item) {
      this.changeStatus(commonServiceBaseUrl, notificationSettingToggleStatus, item)
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(commonServiceBaseUrl, notificationSettingList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', response.data.data)
            this.paginationData(response.data)
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getModuleList (componentId) {
      const moduleList = this.$store.state.commonObjCommonConfig.moduleList.filter(item => item.status === 0)

      if (componentId) {
        const moduleData = moduleList.filter(module => module.component_id === componentId)
        const tmpList = moduleData.map((obj, index) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text }
          }
        })
        return tmpList
      }
    },
    getServiceList (moduleId) {
      const serviceList = this.$store.state.commonObjCommonConfig.serviceList.filter(item => item.status === 0)
      if (moduleId) {
        const serviceData = serviceList.filter(service => service.module_id === moduleId)
        const tmpList = serviceData.map((obj) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
        return tmpList
      }
    },
    getMenuList (moduleId) {
      const menuList = this.$store.state.commonObjCommonConfig.menuList.filter(item => item.status === 0)
      if (moduleId) {
        const menuData = menuList.filter(menu => menu.module_id === moduleId)
        const tmpList = menuData.map((obj, index) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
        return tmpList
      }
    }
  }
}
</script>
