<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="8" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                    <ValidationProvider name="Question Name (En)" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="question_name"
                        slot-scope="{ valid, errors }"
                      >
                        <template v-slot:label>
                          {{ $t('secret_question.question_name')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="name"
                          v-model="question.question_name"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Question Name (Bn)" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="Question_name_bn"
                        slot-scope="{ valid, errors }"
                      >
                        <template v-slot:label>
                          {{ $t('secret_question.question_name_bn')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="namebn"
                          v-model="question.question_name_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>

                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { authServiceBaseUrl } from '@/config/api_config'
import { secretQuestionStore, secretQuestionUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getQuestionData()
      Object.freeze(tmp)
      this.question = tmp
    }
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      question: {
        id: '',
        question_name: '',
        question_name_bn: ''
      }
    }
  },
  methods: {
    getQuestionData () {
      return this.$store.state.Auth.questions.find(item => item.id === this.id)
    },
    async saveData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }

      if (this.question.id) {
        result = await RestApi.putData(authServiceBaseUrl, `${secretQuestionUpdate}/${this.id}`, this.question)
      } else {
        result = await RestApi.postData(authServiceBaseUrl, secretQuestionStore, this.question)
      }

      if (result.success && this.question.id) {
        this.$store.dispatch('Auth/updateQuestion', this.question)
      } else if (result.success && !this.question.id) {
        loadingState.listReload = true
      }

      this.$store.dispatch('mutateCommonProperties', loadingState)

      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: 'Data saved successfully',
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    }
  }
}
</script>
