<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                     <ValidationProvider name="Fiscal Year" vid="year" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="year"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                      {{$t('warehouse_config.fiscal_year')}} <span class="text-danger">*</span>
                      </template>
                        <b-form-input
                          id="year"
                          v-model="document.year"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Start Date" rules="required">
                      <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="date"
                          slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                      {{$t('warehouse_config.start_from')}} <span class="text-danger">*</span>
                      </template>
                        <flat-pickr class="form-control"
                          v-model="document.start_date"
                          placeholder="Select Date"
                          :state="errors[0] ? false : (valid ? true : null)"
                        ></flat-pickr>
                        <div class="invalid-feedback">
                            {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Start Date" rules="required">
                        <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="date"
                          slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{$t('warehouse_config.end_date')}} <span class="text-danger">*</span>
                        </template>
                        <flat-pickr class="form-control"
                          v-model="document.end_date"
                          placeholder="Select Date"
                          :state="errors[0] ? false : (valid ? true : null)"
                        ></flat-pickr>
                        <div class="invalid-feedback">
                            {{ errors[0] }}
                        </div>
                        </b-form-group>
                    </ValidationProvider>
                    <b-form-group
                      class="row"
                      label-cols-sm="4"
                      :label="$t('org_pro.sorting_order')"
                      label-for="sorting_order"
                    >
                      <template v-slot:label>
                        {{ $t('org_pro.sorting_order')}} <span class="text-danger">*</span>
                      </template>
                      <input
                        @change="checkSortOrder(document,$event)"
                        :id="document.id"
                        type="number"
                        :value="document.sorting_order"
                        class="form-control"/>
                    </b-form-group>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>

import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { fiscalYearStore, fiscalYearUpdate } from '../../api/routes'

export default {
  name: 'FormLayout',
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getFiscalData()
      this.document = tmp
    } else {
      this.getLastOrder()
    }
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      totalPost: 0,
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      document: {
        year: '',
        start_date: '',
        end_date: '',
        sorting_order: ''
      }
    }
  },
  computed: {
  },
  watch: {

  },
  methods: {
    checkSortOrder: function (item, event) {
      item.old_serial = item.sorting_order
      item.sorting_order = event.target.value
    },
    getLastOrder: function () {
      if (!this.document.id) {
        this.fiscalYearListDataCheck = this.$store.state.commonObj.fiscalYearList.filter(item => item.sorting_order !== null)
        this.fiscalYearListDataCheck.sort((a, b) => { return a.sorting_order - b.sorting_order })
        let lastOrder = 0
        this.fiscalYearListDataCheck.forEach((element, key) => {
          lastOrder = element.sorting_order
        })
        this.document.sorting_order = lastOrder + 1
      }
    },
    getFiscalData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    async register () {
      let result = null
      const loadinState = { loading: false, listReload: true }

      if (this.document.id) {
        result = await RestApi.putData(commonServiceBaseUrl, `${fiscalYearUpdate}/${this.id}`, this.document)
      } else {
        result = await RestApi.postData(commonServiceBaseUrl, fiscalYearStore, this.document)
      }
      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$store.dispatch('mutateWarehouseProperties', { hasDropdownLoaded: false })
        this.$toast.success({
          title: 'Success',
          message: this.id ? 'Data Update successfully' : 'Data saved successfully',
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    }
  }
}

</script>
