<template>
  <b-container fluid>
      <b-row>
        <b-col lg="12" sm="12">
          <iq-card>
            <template>
                <b-row class="details">
                  <b-col lg="12" sm="12">
                    <b-row class="mb-1">
                      <b-col lg="12" sm="12">
                        <div>
                          <h5 class="font-weight-bold text-capitalize text-center bg-light p-1">{{ $t('ginnerGrower.proAchevementDetails') }}</h5>
                          <b-table striped small bordered hover :items="details_columns"  thead-class="hidden_header">
                            <template v-slot:cell(schedule_date)="data">
                              <span>{{ data.item.schedule_date | dateFormat }}</span>
                            </template>
                          </b-table>
                        </div>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
            </template>
          </iq-card>
        </b-col>
      </b-row>
    </b-container>
</template>
<script>
export default {
  name: 'FormLayout',
  props: ['id', 'item'],
  created () {
    this.proAchevementInfo = this.item
  },
  data () {
    return {
      proAchevementInfo: '',
      slOffset: 1
    }
  },
  computed: {
    details_columns () {
      if (this.$i18n.locale === 'bn') {
        return [
          { key: this.$t('cotton_ginner_grower.region'), val: this.proAchevementInfo.region_name_bn, key1: this.$t('cotton_ginner_grower.zone'), val1: this.proAchevementInfo.zone_name_bn },
          { key: this.$t('org_pro_district.district'), val: this.proAchevementInfo.district_name_bn, key1: this.$t('org_pro_upazilla.upazilla'), val1: this.proAchevementInfo.upazila_name_bn },
          { key: this.$t('cotton_ginner_grower.unit_name'), val: this.proAchevementInfo.unit_name_bn, key1: this.$t('sidebar.warehouseSubNav.fiscal_year'), val1: this.proAchevementInfo.fiscal_year_name },
          { key: this.$t('cotton_ginner_grower.growers_name'), val: this.proAchevementInfo.name_bn, key1: this.$t('cotton_ginner_grower.father_name'), val1: this.proAchevementInfo.father_name_bn },
          { key: this.$t('externalUserIrrigation.land_area'), val: this.$n(this.proAchevementInfo.land_area, { useGrouping: false }), key1: this.$t('irrigation_config.address'), val1: this.proAchevementInfo.address_bn },
          { key: this.$t('externalUserIrrigation.nid'), val: this.$n(this.proAchevementInfo.nid, { useGrouping: false }), key1: this.$t('globalUserData.mobile_no'), val1: this.proAchevementInfo.mobile_no },
          { key: this.$t('cotton_config.cotton_variety'), val: this.proAchevementInfo.cotton_variety_bn, key1: this.$t('cotton_config.cotton_name'), val1: this.proAchevementInfo.cotton_name_bn },
          { key: this.$t('cotton_ginner_grower.quantity'), val: this.$n(this.proAchevementInfo.quantity, { useGrouping: false }), key1: this.$t('cotton_ginner_grower.remarks'), val1: this.proAchevementInfo.remarks_bn },
          { key: this.$t('warehouse_config.fiscal_year'), val: this.proAchevementInfo.fiscal_year_name_bn, key1: this.$t('cotton_ginner_grower.application_id'), val1: this.$n(this.proAchevementInfo.application_id, { useGrouping: false }) },
          { key: this.$t('cotton_ginner_grower.season'), val: this.proAchevementInfo.season_name_bn }
        ]
      } else {
          return [
            { key: this.$t('cotton_ginner_grower.region'), val: this.proAchevementInfo.region_name, key1: this.$t('cotton_ginner_grower.zone'), val1: this.proAchevementInfo.zone_name },
            { key: this.$t('org_pro_district.district'), val: this.proAchevementInfo.district_name, key1: this.$t('org_pro_upazilla.upazilla'), val1: this.proAchevementInfo.upazila_name },
            { key: this.$t('cotton_ginner_grower.unit_name'), val: this.proAchevementInfo.unit_name, key1: this.$t('sidebar.warehouseSubNav.fiscal_year'), val1: this.proAchevementInfo.fiscal_year_name_bn },
            { key: this.$t('cotton_ginner_grower.growers_name'), val: this.proAchevementInfo.name, key1: this.$t('cotton_ginner_grower.father_name'), val1: this.proAchevementInfo.father_name },
            { key: this.$t('externalUserIrrigation.land_area'), val: this.$n(this.proAchevementInfo.land_area, { useGrouping: false }), key1: this.$t('irrigation_config.address'), val1: this.proAchevementInfo.address },
            { key: this.$t('externalUserIrrigation.nid'), val: this.$n(this.proAchevementInfo.nid, { useGrouping: false }), key1: this.$t('globalUserData.mobile_no'), val1: this.proAchevementInfo.mobile_no },
            { key: this.$t('cotton_config.cotton_variety'), val: this.proAchevementInfo.cotton_variety, key1: this.$t('cotton_config.cotton_name'), val1: this.proAchevementInfo.cotton_name },
            { key: this.$t('cotton_ginner_grower.quantity'), val: this.$n(this.proAchevementInfo.quantity, { useGrouping: false }), key1: this.$t('cotton_ginner_grower.remarks'), val1: this.proAchevementInfo.remarks },
            { key: this.$t('warehouse_config.fiscal_year'), val: this.proAchevementInfo.fiscal_year_name, key1: this.$t('cotton_ginner_grower.application_id'), val1: this.$n(this.proAchevementInfo.application_id, { useGrouping: false }) },
            { key: this.$t('cotton_ginner_grower.season'), val: this.proAchevementInfo.season_name }
          ]
      }
    }
  },
  methods: {
  }
}
</script>
<style lang="scss">
  .details {
    h5 {
      color: green !important;
      font-size: 20px !important;
    }
    .table-bordered td:nth-child(2n+1) {
      font-weight: 700;
    }
  }
  .hidden_header {
    display: none
  }
  .card-border {
    border: 1px solid #b9bdc1;
    box-shadow: 1px 1px 6px -1px grey;
    background-color: #dee2e6;
  }
  [dir=ltr][mode=light] .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
  }
</style>
