<template>
  <b-container fluid>
    <iq-card>
        <template v-slot:headerTitle>
          <h4 class="card-title">{{ $t('marketReport.buyer’s_information_report') }}</h4>
        </template>
        <template v-slot:body>
                <b-row>
                    <b-col lg="6" sm="12">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.division')"
                            label-for="division_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.division_id"
                                :options="divisionList"
                                id="division_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.district')"
                            label-for="district_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.district_id"
                                :options="districtList"
                                id="district_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                   </b-row>
                   <b-row>
                    <b-col lg="6" sm="12">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.upazila')"
                            label-for="upazilla_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.upazilla_id"
                                :options="upazilaList"
                                id="upazilla_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.union')"
                            label-for="union_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.union_id"
                                :options="unionList"
                                id="union_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    </b-row>
                    <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
          </template>
    </iq-card>
        <b-row v-show="showData">
        <b-col md="12">
          <iq-card>
            <template v-slot:body>
              <b-overlay :show="loadingState">
                  <b-row v-show="showData">
                    <b-col md="12">
                      <iq-card>
                        <template v-slot:headerTitle>
                          <h4 class="card-title">{{  $t('marketReport.buyer’s_information_report') }}</h4>
                        </template>
                        <template v-slot:headerAction>
                              <b-button variant="primary" @click="pdfExport" class="mr-2">
                                {{  $t('globalTrans.export_pdf') }}
                              </b-button>
                              <export-excel
                                class="btn btn-success mr-2"
                                :data="excelData"
                                :title="$t('marketReport.buyer’s_information_report')"
                                worksheet="Report Sheet"
                                name="filename.xls">
                                {{ $t('globalTrans.export_excel') }}
                              </export-excel>
                        </template>
                        <template v-slot:body>
                          <b-overlay>
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="buyersInfoReport" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(mobile_no_bn)="data">
                                            {{ '০' + $n(data.item.mobile_no, { useGrouping: false }) }}
                                        </template>
                                        <template v-slot:cell(nid)="data">
                                            {{ $n(data.item.nid, { useGrouping: false }) }}
                                        </template>
                                    </b-table>
                                </b-col>
                            </b-row>
                          </b-overlay>
                        </template>
                      </iq-card>
                    </b-col>
                  </b-row>
              </b-overlay>
            </template>
          </iq-card>
        </b-col>
      </b-row>
  </b-container>
</template>
<script>
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { BuyersInformationList } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import ExportPdf from '@/Utils/export-pdf'
import excel from 'vue-excel-export'
import Vue from 'vue'
Vue.use(excel)

export default {
  mixins: [ModalBaseMasterList],
  components: {
  },
  data () {
    return {
      showData: false,
      showHeading: false,
      search: {
        org_id: 13,
        division_id: 0,
        district_id: 0,
        upazilla_id: 0,
        union_id: 0
      },
      districtList: [],
      upazilaList: [],
      unionList: [],
      organization: [],
      excelData: [],
      buyersInfoReport: [],
      testId: 0,
      rows: []
    }
  },
  computed: {
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('globalTrans.division'), class: 'text-left' },
          { label: this.$t('globalTrans.district'), class: 'text-left' },
          { label: this.$t('globalTrans.upazila'), class: 'text-left' },
          { label: this.$t('globalTrans.union'), class: 'text-left' },
          { label: this.$t('marketReport.buyer’s_name'), class: 'text-left' },
          { label: this.$t('globalTrans.father_name'), class: 'text-left' },
          { label: this.$t('globalTrans.mobile'), class: 'text-left' },
          { label: this.$t('globalTrans.nid'), class: 'text-left' },
          { label: this.$t('globalTrans.address'), class: 'text-left' },
          { label: this.$t('marketReport.group_type'), class: 'text-left' }
        ]
      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'division_name_bn' },
          { key: 'district_name_bn' },
          { key: 'upazilla_name_bn' },
          { key: 'union_name_bn' },
          { key: 'name_bn' },
          { key: 'father_name_bn' },
          { key: 'mobile_no_bn' },
          { key: 'nid' },
          { key: 'address_bn' },
          { key: 'type_name_bn' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'division_name' },
          { key: 'district_name' },
          { key: 'upazilla_name' },
          { key: 'union_name' },
          { key: 'name' },
          { key: 'father_name' },
          { key: 'mobile_no' },
          { key: 'nid' },
          { key: 'address' },
          { key: 'type_name' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    },
    divisionList () {
        return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.division_id': function (newVal, oldVal) {
        this.districtList = this.getDistrictList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
        this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazilla_id': function (newVal, oldVal) {
        this.unionList = this.getUnionList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  mounted () {
  },
  methods: {
    getDistrictList (divisionId = null) {
        const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)
        if (divisionId) {
            return districtList.filter(district => district.division_id === divisionId)
        }
        return districtList
    },
    getUpazilaList (districtId = null) {
        const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
        if (districtId) {
            return upazilaList.filter(upazila => upazila.district_id === districtId)
        }
        return upazilaList
    },
    getUnionList (upazillaId = null) {
        const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
        if (upazillaId) {
            return unionList.filter(union => union.upazilla_id === upazillaId)
        }
        return unionList
    },
    searchData () {
      this.loadData()
      this.showData = true
    },
   loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, BuyersInformationList, this.search).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelatinalData(response))
        } else {
            this.buyersInfoReport = []
            this.$store.dispatch('setList', [])
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getRelatinalData (data) {
        const divisionList = this.$store.state.commonObj.divisionList
        const districtList = this.$store.state.commonObj.districtList
        const upazilaList = this.$store.state.commonObj.upazilaList
        const unionList = this.$store.state.commonObj.unionList
        const commodityTypeList = this.$store.state.agriMarketing.commonObj.commodityTypeList
        const buyerInfoData = data.data.map(item => {
        const divisionObject = divisionList.find(division => division.value === item.division_id)
        const districtObject = districtList.find(district => district.value === item.district_id)
        const upazilaObject = upazilaList.find(upazila => upazila.value === item.upazilla_id)
        const unionObject = unionList.find(data => data.value === item.union_id)
        const commodityTypeObj = commodityTypeList.find(data => data.value === item.commodity_type_id)

        const divisionData = { division_name: divisionObject.text, division_name_bn: divisionObject.text_bn }
        const districtData = { district_name: districtObject.text, district_name_bn: districtObject.text_bn }
        const upazilaData = { upazilla_name: upazilaObject.text, upazilla_name_bn: upazilaObject.text_bn }
        const unionData = { union_name: unionObject.text, union_name_bn: unionObject.text_bn }
        const commodityTypeData = { type_name: commodityTypeObj.text, type_name_bn: commodityTypeObj.text_bn }

        return Object.assign({}, item, divisionData, districtData, upazilaData, unionData, commodityTypeData)
      })
      this.buyersInfoReport = buyerInfoData
        var serial = 0
        const rowData = data.data.map((keyItem, index) => {
        serial += 1
        if (this.$i18n.locale === 'en') {
          return {
            'sl ': serial,
            Division: this.buyersInfoReport[index].division_name,
            District: this.buyersInfoReport[index].district_name,
            Upazila: this.buyersInfoReport[index].upazilla_name,
            Union: this.buyersInfoReport[index].union_name,
            'Buyer\'s Name': this.buyersInfoReport[index].name,
            'Father\'s Name': this.buyersInfoReport[index].father_name,
            Mobile: this.buyersInfoReport[index].mobile_no,
            NID: this.buyersInfoReport[index].nid,
            Address: this.buyersInfoReport[index].address,
            'Group Type': this.buyersInfoReport[index].type_name
          }
        } else {
          return {
            'ক্রমিক সংখ্যা': this.$n(serial),
            বিভাগ: this.buyersInfoReport[index].division_name_bn,
            জেলা: this.buyersInfoReport[index].district_name_bn,
            উপজেলা: this.buyersInfoReport[index].upazilla_name_bn,
            ইউনিয়ন: this.buyersInfoReport[index].union_name_bn,
            'ক্রেতার নাম': this.buyersInfoReport[index].name_bn,
            'বাবার নাম': this.buyersInfoReport[index].father_name_bn,
            মোবাইল: ('০' + this.$n(this.buyersInfoReport[index].mobile_no, { useGrouping: false })),
            এনআইডি: this.$n(this.buyersInfoReport[index].nid, { useGrouping: false }),
            ঠিকানা: this.buyersInfoReport[index].address_bn,
            'গ্রুপের ধরণ': this.buyersInfoReport[index].type_name_bn
          }
        }
      })
      this.excelData = rowData
    },
    pdfExport () {
      const rowData = this.getPdfData()

      const labels = [
          { text: this.$t('globalTrans.sl_no'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.division'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.district'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.upazila'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.union'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.name'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.father_name'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.mobile'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.nid'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('globalTrans.address'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('marketReport.group_type'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) }
        ]
      const extraData = {
        totalHeaderRows: 1
      }
      rowData.unshift(labels)
      const reportTitle = this.$i18n.locale === 'en' ? 'Buyer’s Information Report' : 'ক্রেতার তথ্য প্রতিবেদন'
      const columnWids = ['3%', '8%', '8%', '8%', '8%', '10%', '10%', '10%', '10%', '13%', '12%']
      ExportPdf.exportPdf(agriMarketingServiceBaseUrl, '/cotton/config/report-heading/detail', this.search.org_id, reportTitle, rowData, columnWids, extraData)
    },
    getPdfData () {
        const keys = [
          { key: 'serial_no' },
          { key: this.$i18n.locale === 'en' ? 'division_name' : 'division_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'district_name' : 'district_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'upazilla_name' : 'upazilla_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'union_name' : 'union_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'name' : 'name_bn' },
          { key: this.$i18n.locale === 'en' ? 'father_name' : 'father_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'mobile_no' : 'mobile_no_bn' },
          { key: this.$i18n.locale === 'en' ? 'nid' : 'nid' },
          { key: this.$i18n.locale === 'en' ? 'address' : 'address_bn' },
          { key: this.$i18n.locale === 'en' ? 'type_name' : 'type_name_bn' }
        ]
      var serial = 0
      const listData = this.buyersInfoReport.map(item => {
        serial += 1
        const rowData = keys.map((keyItem, index) => {
            if (keyItem.key === 'serial_no') {
                return { text: this.$n(serial) }
            }
            if (keyItem.key === 'mobile_no_bn') {
                return { text: '০' + this.$n(item[keyItem.mobile_no]) }
            }
            if (keyItem.key === 'nid') {
                return { text: this.$n(item[keyItem.key]) }
            }

          return { text: item[keyItem.key] }
        })

        return rowData
      })

      return listData
    }
  }
}
</script>
<style scoped>
 .container {
   display: flex;
   margin-bottom: 15px;
   justify-content: center;
 }
 .report-name {
   text-align: center;
 }
 .org-name {
  text-align: center;
 }
 .org-address {
   text-align: center;
 }
 .main-title {
   padding: 10px;
 }
 .project-name {
   text-align: center;
   font-weight: bold;
 }
</style>
