<template>
  <b-container fluid>
    <b-row v-if="overlay" variant="default" show>
        <div class="box-message col-md-12 mt-5 text-danger">
            <div class="arrow">
                <div class="outer"></div>
                <div class="inner"></div>
            </div>
            <div class="message-body">
                <p class="pb-2 pt-2 h5"><i class="ri-alert-fill mr-2"></i>{{ $t('externalUserIrrigation.dashboard_message') }}</p>
            </div>
        </div>
    </b-row>
    <b-row v-else>
      <b-col md="12" v-if="ifApply">
        <iq-card>
          <template v-slot:body>
            <b-row class="p-5">
                <b-col class="text-center">
                  <router-link to="/pump-opt-application" :class="'btn btn-success text-light'"><i class="ri-file-text-line"></i> {{ $t('externalUserIrrigation.apply_pummp_operator_application')}}</router-link>
                </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
      <b-col md="12" v-else>
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('externalUserIrrigation.pump_operator_application') }}</h4>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index+1) }}
                    </template>
                    <template v-slot:cell(attached_document_link)>
                    </template>
                    <template v-slot:cell(payment_status)="data">
                     {{ getPaymentStatus(data.item.payment_status) }}
                    </template>
                    <template v-slot:cell(status)="data">
                     {{ getStatus(data.item.status) }}
                    </template>
                    <template
                      v-slot:cell(address)="data">
                      {{ getAddress(data.item) }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button class="btn-outline-success" v-b-modal.modal-7 variant=" iq-bg-success mr-1" size="sm" title="View Application" @click="edit(data.item)"><i class="ri-eye-line m-0"></i></b-button>
                      <router-link v-if="data.item.payment_status === 0 || data.item.status === 4" class="btn btn-sm text-success" title="Edit Application" style="border:1px solid green" size="sm" :to='/pump-opt-application/+data.item.id'><i class="ri-ball-pen-fill m-0"></i></router-link>
                      <b-button v-if="data.item.payment_status === 0" class="btn-outline-success ml-1 mt-1" v-b-modal.modal-2 variant=" iq-bg-success mr-1" size="sm" title="Application Payment" @click="applicationFeePayment(data.item)">{{ $t('externalUserIrrigation.application_fee') }}</b-button>
                      <b-button v-if="data.item.status === 3" class="btn-outline-success ml-1 mt-1" v-b-modal.modal-3 variant=" iq-bg-success mr-1" size="sm" title="Renew Payment" @click="renewFeePayment(data.item)">{{ $t('externalUserIrrigation.renew_fee') }}</b-button>
                      <b-button  v-if="data.item.status > 1" class="btn-outline-success ml-1 mt-1" v-b-modal.modal-1 variant=" iq-bg-success mr-1" size="sm" title="Security Money" @click="fromFeePayment(data.item)">{{ $t('externalUserIrrigation.security_money') }}</b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="testClick"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
        <b-modal id="modal-7" size="lg" :title="$t('pump_install.application_details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <p>
            <PumpOptApplicationDetails :id="testId" :key="id"/>
          </p>
        </b-modal>
        <b-modal id="modal-2" size="md" :title="$t('externalUserIrrigation.application') + ' ' + $t('externalUserIrrigation.payment')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <p>
            <ApplicationFee :application="application"/>
          </p>
        </b-modal>
        <b-modal id="modal-3" size="md" :title="$t('externalUserIrrigation.renew') + ' ' + $t('externalUserIrrigation.payment')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <p>
            <RenewFee :application="application"/>
          </p>
        </b-modal>
        <b-modal id="modal-1" size="md" :title="$t('externalUserIrrigation.security') + ' ' + $t('externalUserIrrigation.payment')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <p>
            <SecurityFee :application="application"/>
          </p>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { irriSchemeServiceBaseUrl } from '@/config/api_config'
import { pumpOptApplicationSingleList, irrigationPayment, farmerInfo } from '../../api/routes'
import PumpOptApplicationDetails from './PumpOptApplicationDetails'
import SecurityFee from './SecurityFee'
import ApplicationFee from './ApplicationFee'
import RenewFee from './RenewFee'
import { helpers } from '@/mixins/helper-functions'

export default {
  name: 'PumpOptApplicationList',
  components: {
    PumpOptApplicationDetails,
    SecurityFee,
    ApplicationFee,
    RenewFee
  },
  data () {
    return {
      pagination: {
        currentPage: 1,
        totalRows: 0,
        perPage: this.$store.state.ExternalUserIrrigation.commonObj.perPage,
        slOffset: 1
      },
      search: {},
      testId: 0,
      rows: [],
      ifApply: false,
      irriUrl: irriSchemeServiceBaseUrl,
      id: '',
      overlay: true,
      application: null
    }
  },
  computed: {
    formTitle () {
       return (this.testId === 0) ? this.$t('org_pro.office') + ' ' + this.$t('globalTrans.entry') : this.$t('org_pro.office') + ' ' + this.$t('globalTrans.modify')
    },
    loading () {
      return this.$store.state.ExternalUserIrrigation.commonObj.loading
    },
    listReload () {
      return this.$store.state.ExternalUserIrrigation.commonObj.listReload
    },
    loadingState () {
      if (this.listReload) {
        return true
      } else if (this.loading) {
        return true
      } else {
        return false
      }
    },
    listData () {
      return this.$store.state.ExternalUserIrrigation.pumpOptApplicationLists
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('pump_install.name'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.pump_address'), class: 'text-left' },
          { label: this.$t('pump_install.attachment'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.payment_status'), class: 'text-left' },
          { label: this.$t('externalUserIrrigation.application_status'), class: 'text-left' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'name_bn' },
          { key: 'address' },
          { key: 'attached_document_link' },
          { key: 'payment_status' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
         { key: 'index' },
          { key: 'name' },
          { key: 'address' },
          { key: 'attached_document_link' },
          { key: 'payment_status' },
          { key: 'status' },
          { key: 'action' }
        ]
      }
      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    }
  },
  created () {
    this.loadData()
    this.paymentStatusUpdate()
    this.checkUser()
  },
  mounted () {
    core.index()
  },
  methods: {
    getAddress (item) {
      const isBn = this.$i18n.locale === 'bn'
      const commonObj = this.$store.state.ExternalUserIrrigation.commonObj
      const divisionEnBn = helpers.findEnBn(commonObj.divisionList,
          item.far_division_id, 'value', 'text_en', 'text_bn')
      const districtEnBn = helpers.findEnBn(commonObj.districtList,
          item.far_district_id, 'value', 'text_en', 'text_bn')
      const upazillaEnBn = helpers.findEnBn(commonObj.upazilaList,
          item.far_upazilla_id, 'value', 'text_en', 'text_bn')
      const unionEnBn = helpers.findEnBn(commonObj.unionList,
          item.far_union_id, 'value', 'text_en', 'text_bn')

      return (isBn ? item.far_village_bn : item.far_village) +
          ', ' +
          unionEnBn +
          ', ' +
          upazillaEnBn +
          ', ' +
          districtEnBn +
          ', ' +
          divisionEnBn
    },
    resetId () {
      this.testId = 0
    },
    testClick () {
      this.loadData()
    },
    default () {
      return {
        id: this.rows.length
      }
    },
    paginationData (data) {
      this.pagination.currentPage = data.current_page
      this.pagination.totalRows = data.total
      this.pagination.slOffset = this.pagination.perPage * this.pagination.currentPage - this.pagination.perPage + 1
    },
    searchData () {
      this.loadData()
    },
    edit (item) {
      this.testId = item.id
    },
    fromFeePayment (item) {
      this.application = item
    },
    applicationFeePayment (item) {
      this.application = item
    },
    renewFeePayment (item) {
      this.application = item
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      RestApi.getData(irriSchemeServiceBaseUrl, pumpOptApplicationSingleList, params).then(response => {
        if (response.success) {
           if (response.data.data.length < 1) {
               this.ifApply = true
           } else {
               this.ifApply = false
           }
          this.$store.dispatch('ExternalUserIrrigation/getPumpOptApplicationList', response.data.data)
          this.paginationData(response.data)
        }
      })
      this.$store.dispatch('ExternalUserIrrigation/mutateExternalCommonProperties', { loading: false, listReload: false })
    },
    async checkUser () {
        return await RestApi.getData(irriSchemeServiceBaseUrl, farmerInfo).then(response => {
            if (response.success) {
                this.overlay = false
                this.$store.dispatch('ExternalUserIrrigation/getFarmerBasicInfoDetails', response.data)
                return { smart_card_id: response.data.smart_card_id }
            }
        })
    },
    getPaymentStatus (payStatus) {
      if (payStatus === 0) {
        return this.$t('externalUserIrrigation.unpaid')
      } else {
        return this.$t('externalUserIrrigation.paid')
      }
    },
    getStatus (status) {
      if (status === 1) {
        return this.$t('pump_install.pending')
      } else if (status === 2) {
        return this.$t('pump_install.processing')
      } else if (status === 3) {
        return this.$t('pump_install.approve')
      } else if (status === 4) {
        return this.$t('pump_install.reject')
      } else {
        return this.$t('pump_install.pending')
      }
    },
    async paymentStatusUpdate () {
     if (this.$route.params.status && this.$route.query.transId) {
          const status = this.$route.params.status
          const tranId = this.$route.query.transId
          await RestApi.getData(irriSchemeServiceBaseUrl, irrigationPayment + status, { transId: tranId }).then(response => {
              if (response.success) {
                  this.$toast.success({
                  title: 'Success',
                  message: response.message,
                  color: '#D6E09B'
                  })
              } else {
                  this.$toast.error({
                  title: 'Error',
                  message: response.message
                  })
              }
          })
          this.$router.push('/pump-operator-application')
      }
    }
  }
}
</script>
