<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(createData)" @reset.prevent="reset" >
                    <ValidationProvider name="Zone Name" vid="zone_name" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="zone_name"
                        slot-scope="{ valid, errors }"
                      >
                        <template v-slot:label>
                          {{$t('fertilizerConfig.port_zone_en')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="zone_name"
                          v-model="portZone.zone_name"
                          :state="errors[0] ? false : (valid ? true : null)"
                        ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Zone Name (Bn)" vid="zone_name_bn" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="zone_name_bn"
                        slot-scope="{ valid, errors }"
                      >
                        <template v-slot:label>
                          {{$t('fertilizerConfig.port_zone_bn')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="zone_name_bn"
                          v-model="portZone.zone_name_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                        ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Description" vid="description">
                        <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="description"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                        {{ $t('fertilizerConfig.descriptionEn')}}
                        </template>
                        <b-form-textarea
                            id="remarks"
                            v-model="portZone.description"
                            placeholder=""
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-textarea>
                        <div class="invalid-feedback">
                            {{ errors[0] }}
                        </div>
                        </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Descritiption (Bn)" vid="description_bn">
                        <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="description_bn"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                        {{ $t('fertilizerConfig.descriptionBn')}}
                        </template>
                        <b-form-textarea
                            id="description_bn"
                            v-model="portZone.description_bn"
                            placeholder=""
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-textarea>
                        <div class="invalid-feedback">
                            {{ errors[0] }}
                        </div>
                        </b-form-group>
                    </ValidationProvider>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { seedFertilizerServiceBaseUrl } from '@/config/api_config'
import { portZoneSetupStore, portZoneSetupUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getPortZoneData()
      this.portZone = tmp
    }
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      portZone: {
        zone_name: '',
        zone_name_en: '',
        description: '',
        description_en: ''
      }
    }
  },
  methods: {
    getPortZoneData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
     async createData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }

      if (this.portZone.id) {
        result = await RestApi.putData(seedFertilizerServiceBaseUrl, `${portZoneSetupUpdate}/${this.id}`, this.portZone)
      } else {
        result = await RestApi.postData(seedFertilizerServiceBaseUrl, portZoneSetupStore, this.portZone)
      }

      loadinState.listReload = true

      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$store.dispatch('SeedsFertilizer/mutateCommonObj', { hasDropdownLoaded: false })
        this.$toast.success({
          title: 'Success',
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    }
  }
}
</script>
