<template>
  <b-container fluid>
    <iq-card>
        <template v-slot:headerTitle>
          <h4 class="card-title">{{ $t('notification.circulate_notice') }}</h4>
        </template>
        <template v-slot:body>
            <b-row>
                <b-col xs="12" sm="12" md="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('org_pro.organization')"
                    label-for="org_id"
                    >
                    <b-form-select
                    plain
                    v-model="search.org_id"
                    :options="organizationtList"
                    id="org_id"
                    >
                    <template v-slot:first>
                        <b-form-select-option :value="0">{{ $t('globalTrans.select') }}</b-form-select-option>
                    </template>
                    </b-form-select>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('notification.notification_type')"
                    label-for="notification_type_id"
                    >
                    <b-form-select
                    plain
                    v-model="search.notification_type_id"
                    :options="notificationTypes"
                    id="notification_type_id"
                    >
                    <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                    </template>
                    </b-form-select>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col xs="12" sm="12" md="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('org_pro.office')"
                    label-for="office_id"
                    >
                    <b-form-select
                    plain
                    v-model="search.office_id"
                    :options="officeList"
                    id="office_id"
                    >
                    <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                    </template>
                    </b-form-select>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('globalTrans.designation')"
                    label-for="designation_id"
                    >
                    <b-form-select
                    plain
                    v-model="search.designation_id"
                    :options="designationList"
                    id="designation_id"
                    >
                    <template v-slot:first>
                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                    </template>
                    </b-form-select>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
        </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('notification.circulate_notice') + ' ' + $t('globalTrans.list') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-xl @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(org_name)="data">
                      <span class="capitalize">{{ data.item.org_name }}</span>
                    </template>
                    <template v-slot:cell(not_type_name)="data">
                      <span class="capitalize">{{ data.item.not_type_name }}</span>
                    </template>
                    <template v-slot:cell(notice_title)="data">
                      <span class="capitalize">{{ data.item.notice_title }}</span>
                    </template>
                    <template v-slot:cell(schedule)="data">
                        {{ data.item.notice_date | dateFormat }}
                        <span class="badge badge-light"> {{ dateFormat(data.item.notice_date + ' ' + data.item.notice_time, 'h:m A') }} </span>
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                        <b-button-group>
                          <b-button v-b-modal.modal-xl variant="success iq-bg-success mr-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                          <b-button variant="danger iq-bg-danger mr-1" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                          <b-button variant="success iq-bg-success" v-b-modal.modal-detail size="sm" @click="details(data.item)"><i class="ri-eye-line m-0"></i></b-button>
                        </b-button-group>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-xl" size="xl" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>
    <b-modal id="modal-detail" size="lg" :title="$t('globalTrans.details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
        <Details :id="editItemId" :circulateNoticeDetailsData="circulateNoticeDetails"/>
    </b-modal>

  </b-container>
</template>
<script>
import FormV from './Form'
import Details from './Details'
import RestApi, { commonServiceBaseUrl } from '@/config/api_config'
import { circulateNoticeList, circulateNoticeToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import { dateFormat } from '@/Utils/fliter'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV, Details
  },
  data () {
    return {
      search: {
        org_id: 0,
        office_id: 0,
        designation_id: 0,
        notification_type_id: 0,
        title: ''
      },
      rows: [],
      circulateNoticeDetails: [],
      designationList: [],
      officeList: [],
      notificationTypes: []
    }
  },
  computed: {
    notifceForList: function () {
      return this.$store.state.commonObj.noticeforList
    },
    organizationtList: function () {
      const listObject = this.$store.state.orgList
      return listObject
    },
    componentList: function () {
      const listObject = this.$store.state.commonObj.componentList
      const tmpList = listObject.map((obj, index) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.id, text: obj.component_name_bn }
        } else {
          return { value: obj.id, text: obj.component_name }
        }
      })
      return tmpList
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('notification.circulate_notice_entry') : this.$t('notification.circulate_notice') + ' ' + this.$t('globalTrans.modify')
    },
    currentLocale () {
      return this.$i18n.locale
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-center' },
          { label: this.$t('org_pro.organization'), class: 'text-left' },
          { label: this.$t('notification.notification_type'), class: 'text-center' },
          { label: this.$t('notification.notice_titlel'), class: 'text-center' },
          { label: this.$t('notification.notice_for'), class: 'text-center' },
          { label: this.$t('notification.office'), class: 'text-center' },
          { label: this.$t('notification.designation'), class: 'text-center' },
          { label: this.$t('notification.schedule'), class: 'text-center' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
            { key: 'index' },
            { key: 'org_name_bn' },
            { key: 'not_type_name_bn' },
            { key: 'notice_title_bn' },
            { key: 'notice_for_bn' },
            { key: 'office_name_bn' },
            { key: 'designation_bn' },
            { key: 'schedule' },
            { key: 'status' },
            { key: 'action' }
        ]
      } else {
        keys = [
            { key: 'index' },
            { key: 'org_name' },
            { key: 'not_type_name' },
            { key: 'notice_title' },
            { key: 'notice_for_en' },
            { key: 'office_name' },
            { key: 'designation' },
            { key: 'schedule' },
            { key: 'status' },
            { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    'search.org_id': function (newVal, oldVal) {
      this.officeList = this.getOfficeList(newVal)
    },
    'search.office_id': function (newVal, oldVal) {
      this.designationList = this.getDesignationList(newVal)
    }
  },
  created () {
    this.loadData()
    this.getNotificationTypeList()
  },
  methods: {
    dateFormat (date, format) {
      return dateFormat(date, format)
    },
    searchData () {
      this.loadData()
    },
    details (item) {
      this.circulateNoticeDetails = item
    },
    remove (item) {
      this.changeStatus(commonServiceBaseUrl, circulateNoticeToggleStatus, item)
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(commonServiceBaseUrl, circulateNoticeList, params).then(response => {
        if (response.success) {
          const tmpList = response.data.data.map(item => {
              const tmpNoticeForItem = this.notifceForList.find(noticeForItem => noticeForItem.id === item.notice_for)
              return Object.assign({}, item, { notice_for_en: tmpNoticeForItem.name, notice_for_bn: tmpNoticeForItem.name_bn })
          })
          this.$store.dispatch('setList', tmpList)
          this.paginationData(response.data)
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getOfficeList (orgId = null) {
      const officeList = this.$store.state.commonObj.officeList.filter(item => item.status === 0)
      if (orgId) {
        const officeData = officeList.filter(office => office.org_id === orgId)
        const tmpList = officeData.map((obj, index) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
        return tmpList
      }
    },
    getDesignationList (officeId = null) {
      RestApi.getData(commonServiceBaseUrl, 'assign-designation/list', officeId).then(response => {
        if (response.success === true) {
            const designationData = response.data.data.filter(designation => designation.office_id === officeId)
            this.designationList = designationData.map((obj, index) => {
                if (this.$i18n.locale === 'bn') {
                  return { value: obj.designation_id, text: obj.designation_bn }
                } else {
                  return { value: obj.designation_id, text: obj.designation }
                }
            })
        }
      })
    },
    getNotificationTypeList () {
      const notificationTypeList = this.$store.state.commonObjCommonConfig.notificationTypeList
      this.notificationTypes = notificationTypeList.map((obj, index) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
    }
  }
}
</script>
