
<template>
  <b-container fluid>
    <iq-card>
        <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('org_pro.org_profile') }}</h4>
        </template>
        <template v-slot:body>
            <b-row>
                <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('globalTrans.organization')"
                    label-for="org_name"
                    >
                    <b-form-input
                        id="org_name"
                        v-model="search.org_name"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-cols-md="4"
                    :label="$t('org_pro.establishment_year')"
                    label-for="establishment_year"
                    >
                    <b-form-input
                        id="establishment_year"
                        v-model="search.establishment_year"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
        </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('org_pro.org_profile') + ' ' + $t('globalTrans.list') }}</h4>
          </template>
          <!-- <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template> -->
          <template v-slot:body>
            <b-overlay :show="loading">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns"  aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(org_name)="data">
                    <span class="capitalize">{{ data.item.org_name }}</span>
                  </template>
                    <template v-slot:cell(establishment_year)="data">
                      {{ $n(data.item.establishment_year, { useGrouping: false }) }}
                    </template>
                    <template v-slot:cell(logo)="data">
                      <b-img width='100px' :src="commonServiceBaseUrlImg+data.item.logo" fluid alt="Org Logo"></b-img>
                    </template>
                    <template v-slot:cell(about_org)="data">
                      <span class="capitalize"><p v-html="data.item.about_org"></p></span>
                    </template>
                    <template v-slot:cell(about_org_bn)="data">
                      <p v-html="data.item.about_org_bn"></p>
                    </template>
                    <template v-slot:cell(mission)="data">
                      <span class="capitalize"><p v-html="data.item.mission"></p></span>
                    </template>
                    <template v-slot:cell(mission_bn)="data">
                      <p v-html="data.item.mission_bn"></p>
                    </template>
                    <template v-slot:cell(vision)="data">
                      <span class="capitalize"><p v-html="data.item.vision"></p></span>
                    </template>
                    <template v-slot:cell(vision_bn)="data">
                      <p v-html="data.item.vision_bn"></p>
                    </template>
                    <template v-slot:cell(hierarchy)="data">
                      {{ $n(data.item.hierarchy) }}
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId"/>
      </p>
    </b-modal>

  </b-container>
</template>
<script>
import FormV from './Form'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { orgProfileList, orgProfileToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV
  },
  data () {
    return {
      search: {
        org_name: '',
        establishment_year: ''
      },
      rows: [],
      commonServiceBaseUrlImg: commonServiceBaseUrl
    }
  },
  computed: {
    formTitle () {
       return (this.editItemId === 0) ? this.$t('org_pro.org_profile') + ' ' + this.$t('globalTrans.entry') : this.$t('org_pro.org_profile') + ' ' + this.$t('globalTrans.modify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-center' },
          { label: this.$t('globalTrans.organization'), class: 'text-left' },
          { label: this.$t('org_pro.establishment_year'), class: 'text-left' },
          { label: this.$t('org_pro.about_orgl'), class: 'text-left' },
          { label: this.$t('org_pro.missionl'), class: 'text-left' },
          { label: this.$t('org_pro.visionl'), class: 'text-left' },
          { label: this.$t('org_pro.logo'), class: 'text-left' },
          { label: this.$t('org_pro.hierarchy'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'org_name_bn' },
          { key: 'establishment_year' },
          { key: 'about_org_bn' },
          { key: 'mission_bn' },
          { key: 'vision_bn' },
          { key: 'logo' },
          { key: 'hierarchy' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'org_name' },
          { key: 'establishment_year' },
          { key: 'about_org' },
          { key: 'mission' },
          { key: 'vision' },
          { key: 'logo' },
          { key: 'hierarchy' },
          { key: 'status' },
          { key: 'action' }
        ]
      }
      return labels.map((item, index) => {
        return Object.assign(item, keys[index])
      })
    }
  },
  watch: {
    loadingState: function (newVal) {
      if (newVal) {
        this.loadData()
      }
    }
  },
  async created () {
    this.loadData()
  },
  methods: {
    async searchData () {
      this.loadData()
    },
    remove (item) {
      this.changeStatus(commonServiceBaseUrl, orgProfileToggleStatus, item)
    },
    async loadData () {
        const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
        this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
        const result = await RestApi.getData(commonServiceBaseUrl, orgProfileList, params)
        //
        if (result.success) {
            this.$store.dispatch('setList', result.data.data)
            this.paginationData(result.data)
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    }
  }
}
</script>
