
<template>
  <b-container fluid>
    <iq-card>
        <template v-slot:body>
            <b-row>
                <b-col xs="12" sm="12" md="6">
                    <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('infoServiceManagement.eligibility_type')"
                    label-for="type_name"
                    >
                    <b-form-input
                        id="type_name"
                        v-model="search.type_name"
                        placeholder=""
                        ></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col xs="12" sm="12" md="6">
                    <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
                </b-col>
            </b-row>
        </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('infoServiceManagement.service_eligibility_type_list') }}</h4>
            </template>
            <template v-slot:headerAction>
                <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                    {{ $t('globalTrans.add_new') }}
                </b-button>
            </template>
            <template v-slot:body>
                <b-overlay :show="loadingState">
                <b-row>
                    <b-col md="12" class="table-responsive">
                    <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                        <template v-slot:cell(index)="data">
                            {{ $n(data.index + pagination.slOffset) }}
                        </template>
                        <template v-slot:cell(type_name)="data">
                            <span class="capitalize">{{ data.item.type_name }}</span>
                        </template>
                        <template v-slot:cell(type_name_bn)="data">
                            {{ data.item.type_name_bn }}
                        </template>>
                        <template v-slot:cell(status)="data">
                            {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                        </template>
                        <template v-slot:cell(action)="data">
                            <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                            <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                        </template>
                    </b-table>
                    <b-pagination
                        v-model="pagination.currentPage"
                        :per-page="pagination.perPage"
                        :total-rows="pagination.totalRows"
                        @input="searchData"
                        />
                    </b-col>
                </b-row>
                </b-overlay>
            </template>
        </iq-card>
      </b-col>
    </b-row>

    <b-modal id="modal-4" size="lg" :title="formTitle"  :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <Form :id="editItemId"/>
    </b-modal>
  </b-container>
</template>
<script>
import Form from './Form'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { serviceEligibilityList, serviceEligibilityToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
export default {
    mixins: [ModalBaseMasterList],
    components: {
        Form
    },
    data () {
        return {
        search: {
            type_name: ''
        },
        rows: []
        }
    },
    computed: {
        formTitle () {
            return (this.editItemId === 0) ? this.$t('infoServiceManagement.service_eligibility_type_entry') : this.$t('infoServiceManagement.service_eligibility_type_modify')
        },
        columns () {
            const labels = [
                { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
                { label: this.$t('infoServiceManagement.eligibility_type'), class: 'text-left' },
                { label: this.$t('globalTrans.status'), class: 'text-center' },
                { label: this.$t('globalTrans.action'), class: 'text-center' }
            ]

            let keys = []

            if (this.$i18n.locale === 'bn') {
                keys = [
                { key: 'index' },
                { key: 'type_name_bn' },
                { key: 'status' },
                { key: 'action' }
                ]
            } else {
                keys = [
                { key: 'index' },
                { key: 'type_name' },
                { key: 'status' },
                { key: 'action' }
                ]
            }

            return labels.map((item, index) => {
                return Object.assign(item, keys[index])
            })
        }
    },
    async created () {
        this.loadData()
    },
    methods: {
        async searchData () {
            this.loadData()
        },
        remove (item) {
            this.changeStatus(commonServiceBaseUrl, serviceEligibilityToggleStatus, item)
        },
        loadData () {
            const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
            this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
            RestApi.getData(commonServiceBaseUrl, serviceEligibilityList, params).then(response => {
                if (response.success) {
                    this.$store.dispatch('setList', response.data.data)
                    this.paginationData(response.data)
                } else {
                    this.$store.dispatch('setList', [])
                }
            })
            this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
        }
    }
}
</script>
