<template>
  <b-container fluid>
      <b-row>
        <b-col lg="12" sm="12">
          <iq-card>
            <template>
                <b-row class="details">
                  <b-col lg="12" sm="12">
                    <b-row class="mb-1">
                      <b-col lg="12" sm="12">
                        <div>
                          <h5 class="font-weight-bold text-capitalize text-center bg-light p-1">{{ $t('divisionalHead.campaign_information_details') }}</h5>
                          <b-table striped small bordered hover :items="details_columns" thead-class="hidden_header">
                            <template v-slot:cell(start_date)="data">
                              <span>{{ data.campaign_date | dateFormat }}</span>
                            </template>
                            <template v-slot:cell(attachment)="data">
                              <a :href="baseUrl + 'download-attachment?file=uploads/campaign-information/original/' + data.attachment" title="Attachment"><i class="ri-download-cloud-fill"></i></a>
                            </template>
                          </b-table>
                        </div>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
            </template>
          </iq-card>
        </b-col>
      </b-row>
    </b-container>
</template>
<script>
export default {
  name: 'FormLayout',
  props: ['id', 'item'],
  created () {
    this.campaignRequest = this.$props.item
  },
  data () {
    return {
      campaignRequest: ''
    }
  },
  computed: {
    details_columns () {
      if (this.$i18n.locale === 'bn') {
        return [
          { key: this.$t('divisionalHead.campaign_date'), val: this.campaignRequest.campaign_date },
          { key: this.$t('e_pusti_config.campaign_name'), val: this.campaignRequest.campaign_name_bn },
          { key: this.$t('org_pro_division.division'), val: this.campaignRequest.division_bn },
          { key: this.$t('org_pro_district.district'), val: this.campaignRequest.district_bn },
          { key: this.$t('divisionalHead.document_name'), val: this.campaignRequest.document_name_bn },
          { key: this.$t('globalTrans.attachment'), val: this.campaignRequest.attachment }
        ]
      } else {
        return [
          { key: this.$t('divisionalHead.campaign_date'), val: this.campaignRequest.campaign_date },
          { key: this.$t('e_pusti_config.campaign_name'), val: this.campaignRequest.campaign_name },
          { key: this.$t('org_pro_division.division'), val: this.campaignRequest.division },
          { key: this.$t('org_pro_district.district'), val: this.campaignRequest.district },
          { key: this.$t('divisionalHead.document_name'), val: this.campaignRequest.document_name },
          { key: this.$t('globalTrans.attachment'), val: this.campaignRequest.attachment }
        ]
      }
    }
  },
  methods: {
  }
}
</script>
<style lang="scss">
  .details {
    h5 {
      color: green !important;
      font-size: 20px !important;
    }
    .table-bordered td:nth-child(2n+1) {
      font-weight: 700;
    }
  }
  .hidden_header {
    display: none
  }
  .card-border {
    border: 1px solid #b9bdc1;
    box-shadow: 1px 1px 6px -1px grey;
    background-color: #dee2e6;
  }
  [dir=ltr][mode=light] .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
  }
</style>
