<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
                <b-col md="12" class="table-responsive">
                    <b-table bordered hover :items="organizationList" :fields="columns">
                        <template v-slot:cell(index)="data">
                            {{ $n(data.index + 1) }}
                        </template>
                    </b-table>
                </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'

export default {
  props: ['id', 'componentDetailsData'],
  components: {
    // ValidationObserver,
    // ValidationProvider
  },
  created () {
      this.organizationList = this.componentDetailsData.org
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      rows: [],
      organizationList: []
    }
  },
  computed: {
        columns () {
        const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('org_pro.organization'), class: 'text-left' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'org_name_bn' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'org_name' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    }
  },
  watch: {},
  methods: {
    default () {
      return {
        id: this.rows.length,
        component_name: '',
        component_name_bn: '',
        discription: '',
        discription_bn: '',
        org_id: '',
        org_name: '',
        editable: false
      }
    }
  }
}
</script>
