<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('crop_price_config.price_entry') }}</h4>
                    </template>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="12" sm="12">
                                <b-overlay :show="loading">
                                    <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                        <b-form @submit.prevent="handleSubmit(getCommodityList)" @reset.prevent="reset" >
                                            <b-row>
                                                <b-col lg="6" md="6" sm="12">
                                                    <ValidationProvider name="division" vid="division_id" rules="required|min_value:1">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="4"
                                                            label-for="division_id"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('globalTrans.division') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            id="division_id"
                                                            plain
                                                            v-model="formData.division_id"
                                                            :options="divisionList"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg="6" md="6" sm="12">
                                                    <ValidationProvider name="district" vid="district_id" rules="required|min_value:1">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="4"
                                                            label-for="district_id"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('globalTrans.district') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            plain
                                                            v-model="formData.district_id"
                                                            :options="districtList"
                                                            id="district_id"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg="6" md="6" sm="12">
                                                    <ValidationProvider name="Subdistrict" vid="upazila_id" rules="required|min_value:1">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="4"
                                                            label-for="upazila_id"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('globalTrans.upazila') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            plain
                                                            v-model="formData.upazila_id"
                                                            :options="upazilaList"
                                                            id="upazila_id"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg="6" md="6" sm="12">
                                                    <ValidationProvider name="Market" vid="market_id" rules="required|min_value:1">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="4"
                                                            label-for="market_id"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('crop_price_config.market') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            plain
                                                            v-model="formData.market_id"
                                                            :options="marketList"
                                                            id="market_id"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg="6" md="6" sm="12">
                                                    <ValidationProvider name="Price Entry Type" vid="price_entry_type" rules="required">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="4"
                                                            label-for="price_entry_type"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('crop_price_config.price_entry_type') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            plain
                                                            v-model="formData.price_entry_type"
                                                            :options="priceEntryTypeList"
                                                            id="price_entry_type"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option value="">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg="6" md="6" sm="12">
                                                    <ValidationProvider name="Price Type" vid="price_type_id" rules="required">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="4"
                                                            label-for="price_type_id"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('crop_price_config.price_type') }} <span class="text-danger">*</span>
                                                            </template>

                                                            <v-select
                                                                id="price_type_id"
                                                                v-model="formData.price_type_id"
                                                                :reduce="op => op.value"
                                                                multiple
                                                                :options="priceTypeList"
                                                                label="text"
                                                                :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            </v-select>
                                                            <div class="invalid-feedback">
                                                                {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg="12" md="12" sm="12">
                                                    <div class="pt-4 pb-4">
                                                    <ValidationProvider name="Select Time" vid="select_type" rules="">
                                                        <b-form-radio-group
                                                            v-model="formData.select_type"
                                                            :options="timePreiodList"
                                                        >
                                                        </b-form-radio-group>
                                                    </ValidationProvider>
                                                    </div>
                                                </b-col>
                                                <b-col v-if="formData.select_type ==='monthly'" lg="12" md="12" sm="12">
                                                    <b-row>
                                                        <b-col lg="4" md="4" sm="12">
                                                    <ValidationProvider name="Year" vid="year" rules="required|min_value:1">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="3"
                                                            label-for="year"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('crop_price_config.year') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            plain
                                                            v-model="formData.year"
                                                            :options="yearList"
                                                            id="year"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                        </b-col>
                                                        <b-col lg="4" md="4" sm="12">
                                                            <ValidationProvider name="Month" vid="month_id" rules="required|min_value:1">
                                                                <b-form-group
                                                                    class="row"
                                                                    label-cols-sm="3"
                                                                    label-for="month_id"
                                                                    slot-scope="{ valid, errors }"
                                                                    >
                                                                    <template v-slot:label>
                                                                    {{ $t('crop_price_config.month') }} <span class="text-danger">*</span>
                                                                    </template>
                                                                    <b-form-select
                                                                    plain
                                                                    v-model="formData.month_id"
                                                                    :options="monthList"
                                                                    id="month_id"
                                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                                    >
                                                                    <template v-slot:first>
                                                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                                    </template>
                                                                    </b-form-select>
                                                                    <div class="invalid-feedback">
                                                                    {{ errors[0] }}
                                                                    </div>
                                                                </b-form-group>
                                                            </ValidationProvider>
                                                        </b-col>
                                                        <b-col lg="4" md="4" sm="12">
                                                            <ValidationProvider name="Week" vid="week_id" rules="required|min_value:1">
                                                                <b-form-group
                                                                    class="row"
                                                                    label-cols-sm="3"
                                                                    label-for="week_id"
                                                                    slot-scope="{ valid, errors }"
                                                                    >
                                                                    <template v-slot:label>
                                                                    {{ $t('crop_price_config.week') }} <span class="text-danger">*</span>
                                                                    </template>
                                                                    <b-form-select
                                                                    plain
                                                                    v-model="formData.week_id"
                                                                    :options="weekList"
                                                                    id="week_id"
                                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                                    >
                                                                    <template v-slot:first>
                                                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                                    </template>
                                                                    </b-form-select>
                                                                    <div class="invalid-feedback">
                                                                    {{ errors[0] }}
                                                                    </div>
                                                                </b-form-group>
                                                            </ValidationProvider>
                                                        </b-col>
                                                    </b-row>
                                                </b-col>
                                                <b-col v-else lg="12" md="12" sm="12">
                                                    <b-row>
                                                        <b-col lg="6" sm="12">
                                                            <ValidationProvider name="Price Date" vid="price_date" rules="required">
                                                                <b-form-group
                                                                    class="row"
                                                                    label-cols-sm="4"
                                                                    label-for="price_date"
                                                                    slot-scope="{ valid, errors }"
                                                                >
                                                                <template v-slot:label>
                                                                    {{ $t('crop_price_config.price_date')}} <span class="text-danger">*</span>
                                                                </template>
                                                                    <b-form-input
                                                                    class="datepicker"
                                                                    v-model="formData.price_date"
                                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                                    placeholder="yyyy-mm-dd"
                                                                    ></b-form-input>
                                                                    <div class="invalid-feedback">
                                                                    {{ errors[0] }}
                                                                    </div>
                                                                </b-form-group>
                                                            </ValidationProvider>
                                                        </b-col>
                                                    </b-row>
                                                </b-col>
                                            </b-row>
                                            <div class="row">
                                                <div class="col-sm-3"></div>
                                                <div class="col text-right">
                                                    <b-button type="submit" variant="primary" class="mr-2">{{ $t('globalTrans.search') }}</b-button>
                                                    &nbsp;
                                                    <router-link to="price-entry" class="btn btn-danger mr-1">{{ $t('globalTrans.cancel') }}</router-link>
                                                </div>
                                            </div>
                                        </b-form>
                                    </ValidationObserver>
                                    <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                        <b-form @submit.prevent="handleSubmit(insertData)" @reset.prevent="reset" >
                                            <div class="row mt-4" v-if="formData.commodityList.length">
                                                <div class="col-md-12">
                                                    <table class="table table-sm table-bordered">
                                                        <tr>
                                                            <th rowspan="2" style="vertical-align: middle">Group</th>
                                                            <th rowspan="2" style="vertical-align: middle">Subgroup</th>
                                                            <th rowspan="2" style="vertical-align: middle">Commodity</th>
                                                            <template v-for="(ih, index1) in formData.price_type_id">
                                                                <th :key="index1 + 'id'" colspan="3" class="text-center">{{ $t('crop_price_config.'+ih) }}</th>
                                                            </template>
                                                            <th rowspan="2" style="vertical-align: middle">Action</th>
                                                        </tr>
                                                        <tr>
                                                            <template v-for="(ih2, index3) in formData.price_type_id">
                                                                <th :key="index3 + 'Unit'">Unit</th>
                                                                <th :key="index3 + 'Lowest'">Lowest Price</th>
                                                                <th :key="index3 + 'Highest'">Highest Price</th>
                                                            </template>
                                                        </tr>
                                                        <tr v-for="(item, index) in formData.commodityList" :key='index'>
                                                            <td>{{ getAgrMarStore('commodityGroupList' ,item.com_grp_id) }}</td>
                                                            <td>{{ getAgrMarStore('commoditySubGroupList' ,item.com_subgrp_id) }}</td>
                                                            <td>{{ i18 ? item.commodity_name_bn : item.commodity_name }}</td>
                                                            <slot  v-for="(val, index2) in formData.price_type_id">
                                                                <slot v-if="val == 'retail'">
                                                                    <td :key="index + index2 + 'id'">{{ getAgrMarStore('unitList', item.unit_retail) }}</td>
                                                                    <td :key="index + index2 + 'lowestPrice'"><input v-model="item.r_lowestPrice" type='text' class="form-control"></td>
                                                                    <td :key="index + index2 + 'highestPrice'"><input v-model="item.r_highestPrice"  type='text' class="form-control"></td>
                                                                </slot>
                                                                <slot v-if="val == 'wholesale'">
                                                                    <td :key="index + index2 + 'id'">{{ getAgrMarStore('unitList', item.unit_wholesale) }}</td>
                                                                    <td :key="index + index2 + 'lowestPrice'"><input v-model="item.w_lowestPrice" type='text' class="form-control"></td>
                                                                    <td :key="index + index2 + 'highestPrice'"><input v-model="item.w_highestPrice"  type='text' class="form-control"></td>
                                                                </slot>
                                                                <slot v-if="val == 'grower'">
                                                                    <td :key="index + index2 + 'id'">{{ getAgrMarStore('unitList', item.unit_grower) }}</td>
                                                                    <td :key="index + index2 + 'lowestPrice'"><input v-model="item.g_lowestPrice" type='text' class="form-control"></td>
                                                                    <td :key="index + index2 + 'highestPrice'"><input v-model="item.g_highestPrice"  type='text' class="form-control"></td>
                                                                </slot>
                                                            </slot>
                                                            <td><button class="btn btn-sm btn-danger" type="button">X</button></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row mt-4" v-if="formData.commodityList.length">
                                                <div class="col-md-12 text-right">
                                                    <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                                                </div>
                                            </div>
                                        </b-form>
                                    </ValidationObserver>
                                </b-overlay>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { PriceEntryStore, PriceEntryUpdate } from '../../api/routes'
import flatpickr from 'flatpickr'

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider
    },
    created () {
        if (this.id) {
            const tmp = this.getEditingData()
            this.formData = tmp
        }
    },
    data () {
        return {
            loading: false,
            AveragePriceText: '',
            maxPriceMsg: '',
            minPriceMsg: '',
            saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            formData: {
                division_id: 0,
                district_id: 0,
                upazila_id: 0,
                market_id: 0,
                price_entry_type: '',
                select_type: 'daily',
                price_type_id: [],
                year: 0,
                month_id: 0,
                week_id: 0,
                price_date: '',
                commodityList: []
            },
            currentDate: '',
            listItemofyerterday: '',
            districtList: [],
            upazilaList: [],
            marketList: [],
            priceTypeList: [],
            commoditySubGroupList: [],
            commodityNameList: []
        }
    },
    mounted () {
        core.index()
        flatpickr('.datepicker', {})
    },
    computed: {
        i18 () {
            return (this.$i18n.locale === 'bn') ? 1 : 0
        },
        yearList: function () {
            return this.$store.state.agriMarketing.commonObj.yearList
        },
        monthList: function () {
            return this.$store.state.commonObj.monthList
        },
        weekList: function () {
            return this.$store.state.agriMarketing.commonObj.weekList
        },
        divisionList: function () {
            return this.$store.state.agriMarketing.damData.divisionList
        },
        priceEntryTypeList: function () {
            return this.$store.state.agriMarketing.commonObj.priceEntryTypeList
        },
        timePreiodList: function () {
            return this.$store.state.agriMarketing.commonObj.timePreiodList
        }
    },
    watch: {
        'formData.division_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.districtList = this.getDistrictList(newVal)
            }
        },
        'formData.district_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.upazilaList = this.getUpazilaList(newVal)
            }
        },
        'formData.upazila_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.marketList = this.getMarketList(newVal)
            }
        },
        'formData.price_entry_type': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.formData.price_type_id = []
                this.priceTypeList = this.getPriceTypeList(newVal)
            }
        },
        'formData.select_type': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                flatpickr('.datepicker', {})
            }
        }
    },
    methods: {
        onChangeFile (e) {
            this.attachmentDemo = e.target.files[0]
        },
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        async getCommodityList () {
            this.loading = true
            const commodityList = await RestApi.getData(agriMarketingServiceBaseUrl, 'crop-price-info/cpi/price-entry/get-commodity-list', this.formData)
            this.loading = false
            if (commodityList.success) {
                this.formData.commodityList = commodityList.data
            }
        },
        async insertData () {
            this.$store.dispatch('mutateCommonProperties', { loading: true })
            let result = null
            const loadingState = { loading: false, listReload: false }
            if (this.id) {
                result = await RestApi.putData(agriMarketingServiceBaseUrl, `${PriceEntryUpdate}/${this.id}`, this.formData)
            } else {
                result = await RestApi.postData(agriMarketingServiceBaseUrl, PriceEntryStore, this.formData)
            }

            loadingState.listReload = true
            this.$store.dispatch('mutateCommonProperties', loadingState)

            if (result.success) {
                this.$store.commit('agriMarketing/mutateAgriMarketingProperties', { hasDropdownLoaded: false })
                this.$toast.success({
                title: this.$t('globalTrans.success'),
                message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
                color: '#D6E09B'
                })

                this.$bvModal.hide('modal-form')
            } else {
                this.$refs.form.setErrors(result.errors)
            }
        },
        getDistrictList (divisionId = null) {
            return this.$store.state.agriMarketing.damData.districtList.filter(item => item.division_id === divisionId)
        },
        getUpazilaList (districtId = null) {
            const upazilaList = this.$store.state.agriMarketing.damData.upazilaList
            if (districtId) {
                return upazilaList.filter(upazila => upazila.district_id === districtId)
            }
            return upazilaList
        },
        getMarketList (upazillaId = null) {
            const dataList = this.$store.state.agriMarketing.commonObj.marketList.filter(item => item.upazila_id === upazillaId)
            return dataList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        getPriceTypeList: function (entryType) {
            const dataList = this.$store.state.agriMarketing.commonObj.priceTypeList.filter(item => item.entry_type === entryType)
            return dataList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        getAgrMarStore (state, Id) {
            if (state) {
                const tmpData = this.$store.state.agriMarketing[state]
                if (typeof tmpData === 'undefined') {
                    return ''
                } else {
                    const data = tmpData.find(item => item.value === Id)
                    if (typeof data === 'undefined') {
                        return ''
                    } else {
                        return this.i18 ? data.text_bn : data.text_en
                    }
                }
            }
        }
    }
}
</script>
