
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('crop_price_config.price_collector_profile') }}</h4>
            </template>
            <template v-slot:body>
                <b-row align-h="around">
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.division')"
                            label-for="division_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.division_id"
                                :options="divisionList"
                                id="division_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.district')"
                            label-for="district_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.district_id"
                                :options="districtList"
                                id="district_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.upazila')"
                            label-for="upazilla_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.upazilla_id"
                                :options="upazilaList"
                                id="upazilla_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.union')"
                            label-for="union_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.union_id"
                                :options="unionList"
                                id="union_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5">
                      <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
                    </b-col>
                    <b-col xs="12" sm="12" md="5" lg="5" xl="5"></b-col>
                </b-row>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('crop_price_config.price_collector_profile_list') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                      <router-link to="price-entry-form" :class="'btn btn-success text-light'">{{  $t('globalTrans.add_new') }}</router-link>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(PriceDate)="data">
                                            {{ data.item.PriceDate | dateFormat }}
                                        </template>
                                        <template v-slot:cell(HighestPrice)="data">
                                            {{ $n(data.item.HighestPrice, { useGrouping: false }) }}
                                        </template>
                                        <!-- <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template> -->
                                        <template v-slot:cell(action)="data">
                                          <b-button class="mr-1" title="View Details" v-b-modal.modal-details variant=" iq-bg-success border" size="sm" @click="details(data.item)"><i class="ri-eye-line m-0 "></i></b-button>
                                          <b-button v-b-modal.modal-form variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                          <!-- <b-button :variant="data.item.status === 1 ? ' iq-bg-success' : '  iq-bg-danger'" size="sm" @click="remove(data.item)">
                                              <i class="fas" :class="data.item.status ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                                          </b-button> -->
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-details" size="lg" :title="$t('globalTrans.details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <Details :item="item" :key="editItemId"/>
        </b-modal>
    </b-container>
</template>
<script>
import Details from './Details'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { PriceEntryList, PriceEntryStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import flatpickr from 'flatpickr'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Details
  },
  data () {
    return {
      search: {
        division_id: 0,
        district_id: 0,
        upazilla_id: 0,
        union_id: 0
      },
      editItemId: '',
      item: '',
      districtList: [],
      upazilaList: [],
      unionList: [],
      rows: []
    }
  },
  mounted () {
    flatpickr('#datepicker', {})
  },
  computed: {
    formTitle () {
       return (this.editItemId === 0) ? this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.entry') : this.$t('crop_price_config.price_collector_profile') + ' ' + this.$t('globalTrans.modify')
    },
    divisionList: function () {
        return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('globalTrans.division'), class: 'text-left' },
          { label: this.$t('globalTrans.district'), class: 'text-left' },
          { label: this.$t('globalTrans.upazila'), class: 'text-left' },
          { label: this.$t('crop_price_config.market'), class: 'text-left' },
          { label: this.$t('crop_price_config.price_type'), class: 'text-center' },
          { label: this.$t('crop_price_config.PriceDate'), class: 'text-center' },
          { label: this.$t('crop_price_config.commodity_name'), class: 'text-center' },
          { label: this.$t('crop_price_config.HighestPrice'), class: 'text-center' },
          { label: this.$t('crop_price_config.LowestPrice'), class: 'text-center' },
          { label: this.$t('crop_price_config.AveragePrice'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'division_name_bn' },
          { key: 'district_name_bn' },
          { key: 'upazilla_name_bn' },
          { key: 'market_name_bn' },
          { key: 'price_type_name_bn' },
          { key: 'PriceDate' },
          { key: 'commodity_name_bn' },
          { key: 'HighestPrice' },
          { key: 'LowestPrice' },
          { key: 'AveragePrice' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'division_name' },
          { key: 'district_name' },
          { key: 'upazilla_name' },
          { key: 'market_name' },
          { key: 'price_type_name' },
          { key: 'PriceDate' },
          { key: 'commodity_name' },
          { key: 'HighestPrice' },
          { key: 'LowestPrice' },
          { key: 'AveragePrice' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    'search.division_id': function (newVal, oldVal) {
        this.districtList = this.getDistrictList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
    this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazilla_id': function (newVal, oldVal) {
        this.unionList = this.getUnionList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    details (item) {
      this.editItemId = item.id
      this.item = item
    },
    approve (item) {
      this.editItemId = item.id
    },
    reject (item) {
      this.editItemId = item.id
    },
    edit (item) {
      this.editItemId = item.id
    },
    remove (item) {
      this.changeStatus(agriMarketingServiceBaseUrl, PriceEntryStatus, item)
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, PriceEntryList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
            this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getRelatinalData (data) {
      const divisionList = this.$store.state.commonObj.divisionList
      const districtList = this.$store.state.commonObj.districtList
      const upazilaList = this.$store.state.commonObj.upazilaList
      const marketList = this.$store.state.agriMarketing.commonObj.marketList
      const priceTypeList = this.$store.state.agriMarketing.commonObj.priceTypeList
      const commodityNameList = this.$store.state.agriMarketing.commonObj.commodityNameList

      const listData = data.map(item => {
        const divisionObject = divisionList.find(data => data.value === item.Division_id)
        const districtObject = districtList.find(data => data.value === item.District_id)
        const upazilaObject = upazilaList.find(data => data.value === item.Subdistrict_id)
        const marketObject = marketList.find(data => data.value === item.Market_id)
        const priceTypeObject = priceTypeList.find(data => data.value === item.PriceType_id)
        const commodityNameObject = commodityNameList.find(data => data.value === item.Commodity_id)

        const DivisionData = { division_name: divisionObject.text, division_name_bn: divisionObject.text_bn }
        const DistrictData = { district_name: districtObject.text, district_name_bn: districtObject.text_bn }
        const UpazilaData = { upazilla_name: upazilaObject.text, upazilla_name_bn: upazilaObject.text_bn }
        const marketData = { market_name: marketObject.text, market_name_bn: marketObject.text_bn }
        const priceTypeData = { price_type_name: priceTypeObject.text, price_type_name_bn: priceTypeObject.text_bn }
        const commodityNameData = { commodity_name: commodityNameObject.text, commodity_name_bn: commodityNameObject.text_bn }

        return Object.assign({}, item, DivisionData, DistrictData, UpazilaData, marketData, priceTypeData, commodityNameData)
      })
      return listData
    },
    getDistrictList (divisionId = null) {
        return this.$store.state.commonObj.districtList.filter(item => item.status === 0 && item.division_id === divisionId)
    },
    getUpazilaList (districtId = null) {
        const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
        if (districtId) {
            return upazilaList.filter(upazila => upazila.district_id === districtId)
        }
        return upazilaList
    },
    getUnionList (upazillaId = null) {
        const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
        if (upazillaId) {
            return unionList.filter(union => union.upazilla_id === upazillaId)
        }
        return unionList
    }
  }
}
</script>
