
<template>
  <b-container fluid>
    <b-row>
      <b-col md="9" sm="12">
        <b-card>
          <h4 class="card-title text-primary">{{ $t('org_pro.dynamic_form_builder') }}</h4>
        <draggable
            class="dragArea list-group"
            :list="list3"
            :group="{ name: 'people', pull: 'clone', put: false }"
            :clone="cloneDog"
            @change="log"
          >
          <div class="editor-box border mt-2 p-3" v-if="status">
            <b-row>
              <b-col md="11">
                <h4>Auto Complete</h4>
              </b-col>
              <b-col md="1">
                <span class="text-danger font-weight-bolder delete-icon" @click="removeField">x</span>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row text-black font-weight-bold"
                  label-cols-sm="2"
                  label="Required"
                  label-for="required_id"
                >
                <b-form-checkbox
                    id="required_id"
                    v-model="search.required_id"
                    ></b-form-checkbox>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row text-black font-weight-bold"
                  label-cols-sm="2"
                  label="Label"
                  label-for="label_id"
                >
                <b-form-input
                    id="label_id"
                    v-model="search.label_id"
                    placeholder="Auto Complete"
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Help Text"
                  label-for="help_text_id"
                >
                <b-form-input
                    id="help_text_id"
                    v-model="search.help_text_id"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Placeholder"
                  label-for="placeholder_id"
                >
                <b-form-input
                    id="placeholder_id"
                    v-model="search.placeholder_id"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Class"
                  label-for="class_id"
                >
                <b-form-input
                    id="class_id"
                    v-model="search.class_id"
                    placeholder="form-control"
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Name"
                  label-for="name_id"
                >
                <b-form-input
                    id="name_id"
                    v-model="search.name_id"
                    placeholder="Auto-Complete-1605"
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row text-black font-weight-bold"
                  label-cols-sm="2"
                  label="Required"
                  label-for="required_id"
                >
                  <b-form-checkbox-group
                      id="required_id"
                      v-model="search.required_id"
                      value="orange"
                      >
                    <b-form-checkbox value="orange"><b>Limit</b> access to one or more of the following rules:</b-form-checkbox>
                  </b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
                <b-col>
                  <b-form-group
                    class="row"
                    label-cols-sm="2"
                    label="Option"
                    label-for="option_id"
                  >
                    <b-row class="border m-1 pt-2 pb-2">
                      <b-col md="5">
                        <b-form-input
                        id="option_id"
                        v-model="search.option_id"
                        placeholder="Option-1"
                        ></b-form-input>
                      </b-col>
                      <b-col md="5">
                        <b-form-input
                          id="option_id"
                          v-model="search.option_id"
                          placeholder="Option-1"
                          ></b-form-input>
                      </b-col>
                      <b-col md="2">
                        <span class="text-danger font-weight-bolder delete-icon">x</span>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col>
                        <b-form-checkbox-group
                            id="accept_id"
                            v-model="search.accept_id"
                            value="1"
                            >
                          <b-form-checkbox value="1"><b>Only accept pre-defined option</b></b-form-checkbox>
                        </b-form-checkbox-group>
                      </b-col>
                    </b-row>
                  </b-form-group>
                </b-col>
            </b-row>
          </div>
          <div class="editor-box border p-3 mt-2">
            <b-row>
              <b-col md="11">
                <h4>Button</h4>
              </b-col>
              <b-col md="1">
                <span class="text-danger font-weight-bolder delete-icon" @click="removeField">x</span>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row text-black font-weight-bold"
                  label-cols-sm="2"
                  label="Label"
                  label-for="label_id"
                >
                <b-form-input
                    id="label_id"
                    v-model="search.label_id"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Type"
                  label-for="type_id"
                >
                <b-form-input
                    id="type_id"
                    v-model="search.type_id"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Class"
                  label-for="class_id"
                >
                <b-form-input
                    id="class_id"
                    v-model="search.class_id"
                    placeholder="btn btn-success"
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Name"
                  label-for="name_id"
                >
                <b-form-input
                    id="name_id"
                    v-model="search.name_id"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  class="row"
                  label-cols-sm="2"
                  label="Value"
                  label-for="value"
                >
                <b-form-input
                    id="value"
                    v-model="search.value"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </div>
          </draggable>
        </b-card>
      </b-col>
      <b-col md="3" sm="12">
        <b-row>
          <b-col>
            <b-list-group class="text-black font-size-12 sidebar-menu">
              <!-- <b-list-group-item><i class="ion-bowtie"></i> Auto Complete</b-list-group-item>
              <b-list-group-item><i class="fas fa-grip-horizontal"></i> Button</b-list-group-item>
              <b-list-group-item><i class="fas fa-tasks"></i> Checkbox Group</b-list-group-item>
              <b-list-group-item><i class="far fa-calendar-alt"></i> Date Field</b-list-group-item>
              <b-list-group-item><i class="fas fa-upload"></i> File Upload</b-list-group-item>
              <b-list-group-item><span class="font-size-22">H</span> Header</b-list-group-item>
              <b-list-group-item><i class="far fa-keyboard"></i> Hidden Input</b-list-group-item>
              <b-list-group-item><i class="ion-pound"></i> Number</b-list-group-item>
              <b-list-group-item><i class="fas fa-paragraph"></i> Paragraph</b-list-group-item>
              <b-list-group-item><i class="far fa-list-alt"></i> Radio Group</b-list-group-item>
              <b-list-group-item><i class="fas fa-list-ol"></i> Select</b-list-group-item>
              <b-list-group-item><i class="far fa-square"></i> Text Field</b-list-group-item>
              <b-list-group-item><i class="far fa-square"></i> Text Area</b-list-group-item> -->
              <draggable class="dragArea list-group"
          :list="list4"
          group="people"
          @change="log">
              <a href="#" @click="autoCompleteAdd"><li><i class="ion-bowtie"></i> Auto Complete</li></a>
              <a href="#" @click="buttonAdd"><li><i class="fas fa-grip-horizontal"></i> Button</li></a>
              <a href="#" @click="checkboxAdd"><li><i class="fas fa-tasks"></i> Checkbox Group</li></a>
              <a href="#" @click="dateAdd"><li><i class="far fa-calendar-alt"></i> Date Field</li></a>
              <a href="#" @click="fileAdd"><li><i class="fas fa-upload"></i> File Upload</li></a>
              <a href="#" @click="headerAdd"><li><b class="font-size-16">H</b> Header</li></a>
              <a href="#" @click="hiddenAdd"><li><i class="far fa-keyboard"></i> Hidden Input</li></a>
              <a href="#" @click="numberAdd"><li><i class="ion-pound"></i> Number</li></a>
              <a href="#" @click="paragraphAdd"><li><i class="fas fa-paragraph"></i> Paragraph</li></a>
              <a href="#" @click="radioAdd"><li><i class="far fa-list-alt"></i> Radio Group</li></a>
              <a href="#" @click="SelectAdd"><li><i class="fas fa-list-ol"></i> Select</li></a>
              <a href="#" @click="textAdd"><li><i class="far fa-square"></i> Text Field</li></a>
              <a href="#" @click="textAreaAdd"><li><i class="far fa-square"></i> Text Area</li></a>
              </draggable>
            </b-list-group>
          </b-col>
        </b-row>
        <b-row class="mt-1 mb-2">
          <b-col class="text-right" md="8">
            <b-button variant="danger" size="sm">CLEAR</b-button>
          </b-col>
          <b-col class="text-right">
            <b-button variant="primary" size="sm">SAVE</b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
// import { core } from '../../../../../config/pluginInit'
// import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
// import { dialogueInfoList, dialogueInfoToggleStatus } from '../../api/routes'
import draggable from 'vuedraggable'
import { inputItems } from './listData'
let idGlobal = 8
export default {
  name: 'DragDropDemo',
  display: 'DragDropDemo',
  order: 0,
  components: {
    draggable
  },
  data () {
    return {
      enabled: true,
      dragging: false,
      status: false,
      search: {
        required_id: ''
      },
      inputData: inputItems
    }
  },
  computed: {
    draggingInfo () {
        return this.dragging ? 'under drag' : ''
    }
  },
  watch: {
  },
  created () {
  },
  mounted () {
  },
  methods: {
    cloneDog  ({ id }) {
      return {
        id: idGlobal++,
        name: `cat ${id}`
      }
    },
    removeField () {
      this.status = false
    },
    autoCompleteAdd () {
      this.status = true
    },
    buttonAdd () {
    },
    checkboxAdd () {
    },
    dateAdd () {
    },
    fileAdd () {
    },
    headerAdd () {
    },
    hiddenAdd () {
    },
    numberAdd () {
    },
    paragraphAdd () {
    },
    radioAdd () {
    },
    SelectAdd () {
    },
    textAdd () {
    },
    textAreaAdd () {
    }
  }
}
</script>
<style>
.sidebar-menu{
  background: #FFF;
}
.sidebar-menu a{}
.sidebar-menu a:hover{
  background: lightblue;
}
.sidebar-menu a li{
  list-style: none;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 5px 10px !important;
}
/* .sidebar-menu > b-list-group-item{
  color: orange;
} */
[dir=ltr][mode=light] .list-group-item {
    padding: 5px 10px;
    cursor: pointer;
}
.delete-icon {
  cursor: pointer;
}
</style>
