<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="8" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                    <ValidationProvider name="dialogue" vid="dialogue" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="dialogue"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                       {{$t('org_pro.dialogue')}} <span class="text-danger">*</span>
                      </template>
                        <b-form-input
                          id="dialogue"
                          v-model="dialogueInfo.dialogue"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="dialogue (bn)" vid="dialogue_bn" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="dialogue_bn"
                        slot-scope="{ valid, errors }"
                        v-bind:star-size="90"
                      >
                      <template v-slot:label>
                       {{$t('org_pro.dialogue_bn')}} <span class="text-danger">*</span>
                      </template>
                        <b-form-input
                          id="dialogue_bn"
                          v-model="dialogueInfo.dialogue_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="position" vid="position" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="position"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                       {{$t('org_pro.position')}} <span class="text-danger">*</span>
                      </template>
                        <b-form-select
                          plain
                          id="position"
                          v-model="dialogueInfo.position"
                          :options="positionList"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { dialogueInfoStore, dialogueInfoUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  computed: {
    dialogueInfoList: function () {
      return this.$store.state.OrgProfile.countries
    },
    positionList () {
      return this.position.map(item => {
        if (this.$i18n.locale === 'bn') {
          return { value: item.value, text: item.text_bn }
        } else {
          return { value: item.value, text: item.text }
        }
      })
    }
  },
  created () {
    if (this.id) {
      const tmp = this.getDialogueInfoData()
      Object.freeze(tmp)
      this.dialogueInfo = tmp
    }
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      dialogueInfo: {
        id: '',
        dialogue: '',
        dialogue_bn: '',
        position: ''
      },
      position: [
        {
          text: 'Left Bottom',
          text_bn: 'বামে-নিচে',
          value: 1
        },
        {
          text: 'Left Top',
          text_bn: 'বামে-েউপরে',
          value: 2
        }
      ]
    }
  },
  methods: {
    getDialogueInfoData () {
      return this.$store.state.OrgProfile.dialogueInfos.find(item => item.id === this.id)
    },
    async saveData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      try {
          let result = null
        const loadingState = { loading: false, listReload: false }

        if (this.dialogueInfo.id) {
            result = await RestApi.putData(commonServiceBaseUrl, `${dialogueInfoUpdate}/${this.id}`, this.dialogueInfo)
        } else {
            result = await RestApi.postData(commonServiceBaseUrl, dialogueInfoStore, this.dialogueInfo)
        }

        loadingState.listReload = true

        this.$store.dispatch('mutateCommonProperties', loadingState)

        if (result.success) {
            this.$toast.success({
            title: this.$t('globalTrans.success'),
            message: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            color: '#D6E09B'
            })

            this.$bvModal.hide('modal-4')
        } else {
            this.$refs.form.setErrors(result.errors)
            // this.$toast.error({
            //   title: 'Error',
            //   message: 'Operation failed! Please, try again.'
            // })
        }
      } catch (error) {
          this.$toast.error({
                title: 'Error',
                message: 'something went wrong! Please, try again.'
            })
            this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
        }
    }
  }
}
</script>
