<template>
    <b-container fluid>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">Training E Learning Service Dashboard</h4>
                    </template>
                    <template v-slot:body>
                        <b-overlay>
                            <b-row>
                              <b-col>Coming Soon............</b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
