
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('barc_config.self_score_policy_setup') }}</h4>
            </template>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('barc_config.education_level')"
                            label-for="education_level_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.education_level_id"
                                :options="EducationLevelList"
                                id="education_level_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('barc_config.score_system')"
                            label-for="score_system_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.score_system_id"
                                :options="scoreSystemList"
                                id="score_system_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                  <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('barc_config.type')"
                            label-for="type_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.type_id"
                                :options="typeList"
                                id="type_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('barc_config.self_score_policy_setup_list') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                            {{ $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template>
                                        <template v-slot:cell(action)="data">
                                          <b-button class="mr-1" title="View Complain" v-b-modal.modal-5 variant=" iq-bg-success" size="sm" @click="details(data.item)"><i class="ri-eye-line m-0 "></i></b-button>
                                          <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                          <b-button :variant="data.item.status === 1 ? ' iq-bg-success' : '  iq-bg-danger'" size="sm" @click="remove(data.item)">
                                              <i class="fas" :class="data.item.status ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                                          </b-button>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-5" size="lg" :title="$t('globalTrans.details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <Details :item="item" :key="testId"></Details>
        </b-modal>
        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>
    </b-container>
</template>
<script>
import Form from './Form'
import Details from './Details'
import RestApi, { incentiveGrantServiceBaseUrl } from '@/config/api_config'
import { selfScorePolicySetupList, selfScorePolicySetupStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import flatpickr from 'flatpickr'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Form, Details
  },
  data () {
    return {
      search: {
        education_level_id: '0',
        score_system_id: '0',
        type_id: '0'
      },
      rows: [],
      gradeList: [],
      score_system_id: [
          {
              value: 1,
              text: 'Old',
              text_bn: 'পুরনো '
          },
          {
              value: 2,
              text: 'New',
              text_bn: 'নতুন'
          }
      ],
      typeDataId: [
          {
              value: 1,
              text: 'Class',
              text_bn: 'শ্রেণী '
          },
          {
              value: 2,
              text: 'Grade',
              text_bn: 'গ্রেড'
          }
      ],
      class_id: [
          {
              value: 1,
              text: 'First Class',
              text_bn: 'প্রথম শ্রেণী'
          },
          {
              value: 2,
              text: 'Second Class',
              text_bn: 'দ্বিতীয় শ্রেণী'
          },
          {
              value: 3,
              text: 'Third Class',
              text_bn: 'তৃতীয় শ্রেণী'
          }
      ],
      grade_id: [
          {
              value: 1,
              text: 'A+',
              text_bn: 'এ+'
          },
          {
              value: 2,
              text: 'A',
              text_bn: 'এ'
          },
          {
              value: 3,
              text: 'A-',
              text_bn: 'এ-'
          },
          {
              value: 4,
              text: 'B',
              text_bn: 'বি'
          },
          {
              value: 5,
              text: 'C',
              text_bn: 'সি'
          },
          {
              value: 6,
              text: 'D',
              text_bn: 'ডি'
          },
          {
              value: 7,
              text: 'F',
              text_bn: 'এফ'
          }
      ],
      item: ''
    }
  },
  mounted () {
    flatpickr('#datepicker', {})
  },
  computed: {
    scoreSystemList: function () {
      return this.score_system_id.map(item => {
          if (this.$i18n.locale === 'bn') {
              return { value: item.value, text: item.text_bn }
          } else {
              return { value: item.value, text: item.text }
          }
      })
    },
    typeList: function () {
      return this.typeDataId.map(item => {
          if (this.$i18n.locale === 'bn') {
              return { value: item.value, text: item.text_bn }
          } else {
              return { value: item.value, text: item.text }
          }
      })
    },
    EducationLevelList: function () {
      const objectData = this.$store.state.incentiveGrant.commonObj.educationLevelList
      return objectData.map(obj => {
          if (this.$i18n.locale === 'bn') {
              return { value: obj.value, text: obj.text_bn }
          } else {
              return { value: obj.value, text: obj.text_en }
          }
      })
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('barc_config.self_score_policy_setup') + ' ' + this.$t('globalTrans.entry') : this.$t('barc_config.self_score_policy_setup') + ' ' + this.$t('globalTrans.modify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('barc_config.education_level'), class: 'text-left' },
          { label: this.$t('barc_config.score_system'), class: 'text-left' },
          { label: this.$t('barc_config.type'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'education_level_name_bn' },
          { key: 'ss_name_bn' },
          { key: 'type_name_bn' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'education_level_name' },
          { key: 'ss_name' },
          { key: 'type_name' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    edit (item) {
      this.editItemId = item.id
    },
    details (item) {
      this.item = item
    },
    remove (item) {
      this.changeStatus(incentiveGrantServiceBaseUrl, selfScorePolicySetupStatus, item)
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(incentiveGrantServiceBaseUrl, selfScorePolicySetupList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
            this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getRelatinalData (data) {
      const listData = data.map(item => {
        const educationLevelObject = this.$store.state.incentiveGrant.commonObj.educationLevelList.find(eLevel => eLevel.value === item.education_level_id)
        const scoreSystemObject = this.score_system_id.find(ssId => ssId.value === item.score_system_id)
        const typeObject = this.typeDataId.find(type => type.value === item.type_id)

        const eLevelData = { education_level_name: educationLevelObject.text_en, education_level_name_bn: educationLevelObject.text_bn }
        const scoreSystemData = { ss_name: scoreSystemObject.text, ss_name_bn: scoreSystemObject.text_bn }
        const typeData = { type_name: typeObject.text, type_name_bn: typeObject.text_bn }

        return Object.assign({}, item, eLevelData, scoreSystemData, typeData)
      })
      return listData
    }
  }
}
</script>
