<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                     <ValidationProvider name="Sub Group Name" vid="category" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="category_name"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                      {{$t('document.sub_cat_name')}} <span class="text-danger">*</span>
                      </template>
                        <b-form-input
                          id="category_name"
                          v-model="document.sub_cat_name"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Sub Group name (bn)" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="category_name_bn"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('document.sub_category_name_bn')}} <span class="text-danger">*</span>
                         </template>
                        <b-form-input
                          id="category_name_bn"
                          v-model="document.category_name_bn"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                    <ValidationProvider name="Group Name" vid="sorting_order" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="sorting_order"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                          {{$t('document.group')}} <span class="text-danger">*</span>
                         </template>
                        <b-form-select
                          type="text"
                          id="sorting_order"
                          v-model="document.sorting_order"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                </ValidationProvider>
                    <b-button type="submit" variant="primary">{{ saveBtnName}}</b-button>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>

import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { documentCategorystore, documentCategoryupdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getDocumentCategoryData()
      Object.freeze(tmp)
      this.document = tmp
    }
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      totalPost: 0,
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      document: {
        category_name: '',
        category_name_bn: '',
        sorting_order: ''
      }
    }
  },
  computed: {
    // organizationList: function () {
    //   const listObject = this.$store.state.OrgProfile.organizations
    //   const tmpList = listObject.map((obj, index) => {
    //     if (this.$i18n.locale === 'bn') {
    //       return { value: obj.id, text: obj.org_name_bn }
    //     } else {
    //       return { value: obj.id, text: obj.org_name }
    //     }
    //   })
    //   return tmpList
    // }
  },
  watch: {

  },
  methods: {
    getDocumentCategoryData () {
      return this.$store.state.Document.categories.find(item => item.id === this.id)
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: true }

      if (this.document.id) {
        result = await RestApi.putData(commonServiceBaseUrl, `${documentCategoryupdate}/${this.id}`, this.document)
      } else {
        result = await RestApi.postData(commonServiceBaseUrl, documentCategorystore, this.document)
      }
      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: this.id ? 'Data Update successfully' : 'Data saved successfully',
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-4')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    }
  }
}

</script>
