
<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:body>
        <b-row>
      <b-col>
        <b-form-group
          class="row"
          label-cols-sm="3"
          label="Name:"
          label-for="email"
        >
          <b-form-input
            id="name"
            v-model="search.name"
            placeholder=""
            ></b-form-input>
        </b-form-group>
      </b-col>
      <b-col>
        <b-form-group
          class="row"
          label-cols-sm="3"
          label="Position:"
          label-for="position"
        >
          <b-form-input
            id="name"
            v-model="search.position"
            placeholder=""
            ></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>
      <b-button type="button" variant="primary" @click="searchData">Search</b-button>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">Demo Table</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              Add New
            </b-button>
          </template>
          <template v-slot:body>
            <b-row>
              <b-col md="12" class="table-responsive">
                <b-table bordered hover :items="listData" :fields="columns">
                  <template v-slot:cell(name)="data">
                    {{ data.item.name }}
                  </template>
                  <template v-slot:cell(index)="data">
                    {{ data.index + 1 }}
                  </template>
                  <template v-slot:cell(position)="data">
                    {{ data.item.position }}
                  </template>
                  <template v-slot:cell(office)="data">
                    {{ data.item.office }}
                  </template>
                  <template v-slot:cell(age)="data">
                    {{ data.item.age }}
                  </template>
                  <template v-slot:cell(start_date)="data">
                    {{ data.item.start_date }}
                  </template>
                  <template v-slot:cell(salary)="data">
                    {{ data.item.salary }}
                  </template>
                  <template v-slot:cell(status)="data">
                    {{ data.item.status ? 'inactive' : 'active' }}
                  </template>
                  <template v-slot:cell(action)="data">
                    <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                    <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                  </template>
                </b-table>
                <b-pagination
                  v-if="pagination.totalRows"
                  v-model="pagination.currentPage"
                  :per-page="pagination.perPage"
                  :total-rows="pagination.totalRows"
                  @input="testClick"
                  />
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>

    <b-modal id="modal-4" size="lg" :title="modalTitle" ok-title="Close" ok-only ok-variant="danger">
      <Form :id="testId"/>
    </b-modal>

  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import Form from './Form'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { testListApi, testToggleStatusApi } from '../../api/routes'

export default {
  components: {
    Form
  },
  data () {
    return {
      modalTitle: 'Demo Add',
      pagination: {
        currentPage: 1,
        totalRows: 0,
        perPage: this.$store.state.commonObj.perPage
      },
      search: {
        name: '',
        position: ''
      },
      testId: 0,
      columns: [
        { label: 'Sl', key: 'index', class: 'text-left' },
        { label: 'Name', key: 'name', class: 'text-left' },
        { label: 'Position', key: 'position', class: 'text-left' },
        { label: 'Office', key: 'office', class: 'text-left' },
        { label: 'Age', key: 'age', class: 'text-left' },
        { label: 'Start date', key: 'start_date', class: 'text-left' },
        { label: 'Salary', key: 'salary', class: 'text-left' },
        { label: 'Status', key: 'status', class: 'text-center' },
        { label: 'Action', key: 'action', class: 'text-center' }
      ],
      rows: []
      // division:[]
    }
  },
  computed: {
    listData () {
      return this.$store.state.CommonService.users
    }
  },
  async created () {
    this.mixinThis = this
    this.loadData()
  },
  mounted () {
    core.index()
  },
  methods: {
    resetId () {
      this.testId = 0
    },
    testClick () {
      this.loadData()
    },
    default () {
      return {
        id: this.rows.length,
        name: '',
        position: '',
        office: '',
        age: '',
        start_date: '2011/04/25',
        salary: '$0',
        editable: false
      }
    },
    paginationData (data) {
      this.pagination.currentPage = data.current_page
      this.pagination.totalRows = data.total
    },
    async searchData () {
      this.loadData()
    },
    edit (item) {
      this.testId = item.id
      this.modalTitle = 'Update Demo'
    },
    remove (item) {
      this.mixinChangeStatusUrl = `${commonServiceBaseUrl}/${testToggleStatusApi}`
      this.mixinChangeStatusAction = 'WarehouseConfig/updateStatus'
      this.mixinChangeStatusMethod(item)
    },
    async loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      const result = await RestApi.getData(commonServiceBaseUrl, testListApi, params)
      if (result.success) {
        this.$store.dispatch('WareHouseConfig/addTestList', result.data.data)
        this.paginationData(result.data)
      }
    }
  }
}
</script>
