
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('cotton_config.dashboard_head') }}</h4>
            </template>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('cotton_config.region')"
                            label-for="region_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.region_id"
                                :options="regionList"
                                id="region_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('cotton_config.zone')"
                            label-for="zone_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.zone_id"
                                :options="zoneList"
                                id="zone_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('cotton_config.unit_name')"
                            label-for="unit_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.unit_id"
                                :options="unitList"
                                id="unit_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('cotton_config.seasion_name')"
                            label-for="season_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.season_id"
                                :options="seasonList"
                                id="season_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col  xs="12" sm="12" md="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.district')"
                            label-for="district_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.district_id"
                                :options="districtList"
                                id="district_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col  xs="12" sm="12" md="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('globalTrans.upazila')"
                            label-for="upazilla_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.upazilla_id"
                                :options="districtList"
                                id="upazilla_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col  xs="12" sm="12" md="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('cotton_config.cotton_variety')"
                            label-for="cotton_variety_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.cotton_variety_id"
                                :options="cottonVaritiesList"
                                id="cotton_variety_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col  xs="12" sm="12" md="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('cotton_config.cotton_name')"
                            label-for="cotton_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.cotton_id"
                                :options="cottonNamelist"
                                id="cotton_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-button type="button" class="float-right" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="12" id="chart">
                                <b-overlay class="border shadow" :show="loading">
                                    <h5 class="text-center">{{ $t('cotton_config.dashboard')}}</h5>
                                    <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
                                    <!-- <apexchart class="chart-1 text-center px-5" id="vuechart-example" type="bar" height="400" :options="dataOption" :series="series"></apexchart> -->
                                </b-overlay>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
// import { dashboardList } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
  },
  data () {
    return {
      search: {
        region_id: 0,
        cotton_variety_id: 0,
        cotton_id: 0,
        zone_id: 0,
        unit_id: 0,
        season_id: 0,
        district_id: 0,
        upazilla_id: 0
      },
      cottonNamelist: [],
      unitList: [],
      zoneList: [],
      upazillaList: [],
      rows: [],
      series: [
          {
            name: 'Net Profit',
            data: [2000, 1500, 500]
          }
        ],
        chartOptions: {
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                horizontal: false,
                columnWidth: '35%',
                endingShape: 'rounded'
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: [
                    this.$t('cotton_config.total_production_kg'),
                    this.$t('cotton_config.total_sell_kg'),
                    this.$t('cotton_config.remail_kg')
                ]
            },
            // yaxis: {
            //     title: {
            //     text: '$ (thousands)'
            //     }
            // },
            fill: {
                opacity: 1
            }
            // tooltip: {
            //     y: {
            //     formatter: function (val) {
            //         return '$ ' + val + ' thousands'
            //     }
            //     }
            // }
        }
    }
  },
  computed: {
    districtList: function () {
        return this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
    },
    cottonVaritiesList: function () {
        const ObjectData = this.$store.state.agriMarketing.commonObj.cottonVaritiesList.filter(item => item.status === 1)
        return ObjectData.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    seasonList: function () {
        const seasonList = this.$store.state.agriMarketing.commonObj.seasonList
        return seasonList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    regionList: function () {
        const ObjectData = this.$store.state.agriMarketing.commonObj.regionList.filter(item => item.status === 1)
        return ObjectData.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    }
  },
  watch: {
        'search.region_id': function (newVal, oldVal) {
            this.zoneList = this.getZonelist(newVal)
        },
        'search.district_id': function (newVal, oldVal) {
            this.upazillaList = this.getUpazilalist(newVal)
        },
        'search.cotton_variety_id': function (newVal, oldVal) {
            this.cottonNamelist = this.getCottonNamelist(newVal)
        },
        'search.zone_id': function (newVal, oldVal) {
            this.unitList = this.getUnitList(newVal)
        }
    },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, '/cotton/ginner-grower/dashboard/list', params).then(response => {
        if (response.success) {
            this.paginationData(response.data)
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getCottonNamelist (cvId) {
        const listObject = this.$store.state.agriMarketing.commonObj.cottonNameList.filter(item => item.cotton_variety_id === cvId && item.status === 1)
        return listObject.map((item, index) => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    getZonelist (regionId) {
        const listObject = this.$store.state.agriMarketing.commonObj.zoneList.filter(item => item.region_id === regionId && item.status === 1)
        return listObject.map((item, index) => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    getUpazilalist (disId) {
        const listObject = this.$store.state.commonObj.upazilaList.filter(item => item.district_id === disId && item.status === 1)
        return listObject.map((item, index) => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    getUnitList (zoneId) {
        const unitList = this.$store.state.agriMarketing.commonObj.unitList.filter(item => item.status === 1 && item.zone_id === zoneId)
        return unitList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    }
  }
}
</script>
