<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:body>
        <b-row>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('warehouse_config.region')"
                label-for="division_id"
                >
                <v-select name="region_id"
                        v-model="search.region_id"
                        label="text"
                        :options= regionLists
                        :reduce="item => item.value"
                        />
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_district.district')"
                label-for="district_id"
                >
                <v-select name="district_id"
                    v-model="search.district_id"
                    label="text"
                    :options= regionDistrictLists
                    :reduce="item => item.value"
                    />
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('org_pro_upazilla.upazilla')"
                label-for="upazilla_id"
                >
                <v-select name="upazilla_id"
                    v-model="search.upazilla_id"
                    label="text"
                    :options= upazilaList
                    :reduce="item => item.value"
                    />
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('globalTrans.union')"
                label-for="union_id"
                >
                <v-select name="union_id"
                        v-model="search.union_id"
                        label="text"
                        :options= unionList
                        :reduce="item => item.value"
                        />
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('warehouse_config.warehouse')"
                    label-for="union_id"
                    >
                    <v-select name="warehouse_id"
                        v-model="search.warehouse_id"
                        label="text"
                        :options= warehouseLists
                        :reduce="item => item.value"
                        />
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                :label="$t('warehouse_config.level_name')"
                label-for="office_code"
                >
                <b-form-input
                    id="office_code"
                    v-model="search.level_name"
                    placeholder=""
                    ></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('warehouse_config.warehouse-level') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(level_name)="data">
                      <span class="capitalize">{{ data.item.level_name }}</span>
                    </template>
                    <template v-slot:cell(level_space)="data">
                      <span class="capitalize">{{ $n(data.item.level_space) }}</span>
                    </template>
                    <template v-slot:cell(region_name)="data">
                      <span class="capitalize">{{ data.item.region_name }}</span>
                    </template>
                    <template v-slot:cell(warehouse_name)="data">
                      <span class="capitalize">{{ data.item.warehouse_name }}</span>
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-6 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                  v-if="pagination.totalRows"
                  v-model="pagination.currentPage"
                  :per-page="pagination.perPage"
                  :total-rows="pagination.totalRows"
                  @input="searchData"
                  />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV />
      </p>
    </b-modal>
    <b-modal id="modal-6" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormU :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>

  </b-container>
</template>
<script>
import FormV from './Form'
import FormU from './Form1'
import RestApi, { warehouseServiceBaseUrl } from '@/config/api_config'
import { warehouseLevelList, warehouseLevelToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV, FormU
  },
  data () {
    return {
      search: {
        region_id: '',
        warehouse_id: '',
        district_id: '',
        upazilla_id: '',
        union_id: '',
        level_name: ''
      },
      regionDistrictLists: [],
      upazilaList: [],
      unionList: [],
      warehouseLists: []
    }
  },
  computed: {
    authUser () {
      return this.$store.state.Auth.authUser
    },
    isWareHouseUser () {
      return this.authUser.warehouse_id
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('warehouse_config.warehouse-level') + ' ' + this.$t('globalTrans.entry') : this.$t('warehouse_config.warehouse-level') + ' ' + this.$t('globalTrans.modify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('warehouse_config.level_name'), class: 'text-left' },
        //   { label: this.$t('warehouse_config.level_space'), class: 'text-left' },
         { label: this.$t('warehouse_config.region'), class: 'text-left' },
         { label: this.$t('warehouse_config.warehouse'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'level_name_bn' },
        //   { key: 'level_space' },
          { key: 'region_name_bn' },
          { key: 'warehouse_name_bn' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'level_name' },
        //   { key: 'level_space' },
          { key: 'region_name' },
          { key: 'warehouse_name' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    regionDetailList: function () {
      return this.$store.state.warehouse.regionDetailList
    },
    regionLists: function () {
      let regionList = this.$store.state.warehouse.regionList.filter(item => item.status === 0)
      if (this.isWareHouseUser) {
        regionList = regionList.filter(item => item.value === this.search.region_id)
      }
      return regionList
    }
  },
  watch: {
    'search.region_id': function (newVal, oldVal) {
      this.getRegionDistrictList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazilla_id': function (newVal, oldVal) {
    this.unionList = this.getUnionList(newVal)
      this.warehouseLists = this.getWarehouseName(newVal, 'UPZ')
    },
    'search.union_id': function (newVal, oldVal) {
      this.warehouseLists = this.getWarehouseName(newVal, 'UP')
    }
  },
  created () {
  },
  async mounted () {
    if (this.isWareHouseUser) {
      this.search.division_id = this.authUser.office_detail.division_id
      this.search.region_id = this.regionDetailList.find(item => item.district_id === this.authUser.office_detail.district_id).region_id
      this.search.district_id = this.authUser.office_detail.district_id
      this.search.upazilla_id = this.authUser.office_detail.upazilla_id ?? 0
      this.search.union_id = this.authUser.office_detail.union_id ?? 0
      const warehouse = this.$store.state.warehouse.warehouseInfoList.find(doc => doc.office_id === this.authUser.office_detail.id)
      this.search.warehouse_id = warehouse.value
    }
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    remove (item) {
      this.changeStatus(warehouseServiceBaseUrl, warehouseLevelToggleStatus, item, 'warehosue', 'warehouseLevelList')
    },
    loadData () {
      const params = Object.assign({}, this.search, {
        page: this.pagination.currentPage,
        per_page: this.pagination.perPage
      })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(warehouseServiceBaseUrl, warehouseLevelList, params).then(response => {
        if (response.success) {
          this.$store.dispatch('setList', response.data.data)
          this.paginationData(response.data)
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getRegionDistrictList (regionId = null) {
      RestApi.getData(warehouseServiceBaseUrl, '/master-warehouse-level/region-district-list').then(response => {
        if (response) {
          const dataObject = response.filter(document => document.region_id === regionId)
          dataObject.map(obj => {
            const district = this.$store.state.commonObj.districtList.find(document => document.value === obj.district_id)
            if (typeof district !== 'undefined') {
              const item = {
                value: obj.district_id,
                text: this.$i18n.locale === 'bn' ? district.text_bn : district.text_en
              }
              this.regionDistrictLists.push(item)
            }
          })
        }
      })
    },
    getUnionList (unionId = null) {
      const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)

      if (unionId) {
        return unionList.filter(union => union.upazilla_id === unionId)
      }

      return unionList
    },
    getWarehouseName (Id = null, type) {
      const warehouseList = this.$store.state.warehouse.warehouseInfoList.filter(item => item.status === 0)
    var list
      if (Id && type === 'UPZ') {
        list = warehouseList.filter(warehouse => warehouse.upazilla_id === Id)
      }

      if (Id && type === 'UP') {
        list = warehouseList.filter(warehouse => warehouse.union_id === Id)
      }
      return list
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)

      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }

      return upazilaList
    }
  }
}
</script>
