<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('crop_price_config.price_approve') }}</h4>
                    </template>
                    <template v-slot:body>
                        <b-row>
                            <div class="col-md-12">
                                <div class='text-center'>
                                    <h4>{{ $t('crop_price_config.market_name') }} : {{ getAgrMarObjStore('marketList', formData.market_id) }}</h4>
                                    <p class="p-0 m-0 text-dark">{{ getAgrMarDamStore('divisionList', formData.division_id) }}, {{ getAgrMarDamStore('districtList', formData.district_id) }}, {{ getAgrMarDamStore('upazilaList', formData.upazila_id) }}</p>
                                    <!-- <span class="p-0 m-0 text-dark">{{ formData.price_date || dateFormat }}</span> -->
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-12">
                              <label for="CheckBoxAll" @change="checkAll()"><input type="checkbox" name="selectcheck" id="CheckBoxAll"  v-model='isCheckAll'> {{ (isCheckAll) ? $t('globalTrans.uncheckAll') : $t('globalTrans.checkAll') }} </label>
                                <b-button @click="approve()" variant="primary" class="ml-3 btn-sm">{{ $t('globalTrans.submit') }}</b-button>
                            </div>
                            <b-col lg="12" sm="12">
                                <b-overlay :show="loading">
                                    <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                        <b-form @submit.prevent="handleSubmit(insertData)" @reset.prevent="reset" >
                                            <div class="row mt-1" v-if="formData.commodity_list.length">
                                                <div class="col-md-12">
                                                    <table class="table table-sm table-bordered">
                                                        <tr>
                                                            <th rowspan="2" style="vertical-align: middle">{{ $t('crop_price_config.check') }}</th>
                                                            <th rowspan="2" style="vertical-align: middle">{{ $t('crop_price_config.group') }}</th>
                                                            <th rowspan="2" style="vertical-align: middle">{{ $t('crop_price_config.commodity_sub_group') }}</th>
                                                            <th rowspan="2" style="vertical-align: middle">{{ $t('crop_price_config.commodity') }}</th>
                                                            <template v-for="(ih, index1) in formData.price_type_id">
                                                                <th :key="index1 + 'id'" colspan="3" class="text-center">{{ $t('crop_price_config.'+ih) }}</th>
                                                            </template>
                                                        </tr>
                                                        <tr>
                                                            <template v-for="(ih2, index3) in formData.price_type_id">
                                                                <th :key="index3 + 'Unit'">{{ $t('crop_price_config.unit') }}</th>
                                                                <th :key="index3 + 'Lowest'">{{ $t('crop_price_config.LowestPrice') }}</th>
                                                                <th :key="index3 + 'Highest'">{{ $t('crop_price_config.HighestPrice') }}</th>
                                                            </template>
                                                        </tr>
                                                        <tr v-for="(item, index) in formData.commodity_list" :key='index' >
                                                            <td>
                                                                <b-form-checkbox
                                                                    class="col-form-label-sm font-weight-bold mb-0"
                                                                    v-model="item.status"
                                                                    name="checked"
                                                                    unchecked-value=0
                                                                    value =1
                                                                    >
                                                                </b-form-checkbox>
                                                            </td>
                                                            <td>{{ getAgrMarObjStore('commodityGroupList' ,item.com_grp_id) }}
                                                            </td>
                                                            <td>{{ getAgrMarObjStore('commoditySubGroupList' ,item.com_subgrp_id) }}</td>
                                                            <td>{{ getAgrMarObjStore('commodityNameList' ,item.commodity_id) }}</td>
                                                            <slot v-for="(val, index2) in formData.price_type_id">
                                                                <slot v-if="val == 'Retail'">
                                                                    <td :bgcolor="(item.r_per_message)? '#d2828a' : ''" :key="index + index2 + 'id'">{{ getAgrMarObjStore('measurementUnitList', item.unit_retail) }}</td>
                                                                    <td :bgcolor="(item.r_per_message)? '#d2828a' : ''" :key="index + index2 + 'lowestPrice'">
                                                                       {{ item.r_lowestPrice }}
                                                                    </td>
                                                                    <td :bgcolor="(item.r_per_message)? '#d2828a' : ''" :key="index + index2 + 'highestPrice'">
                                                                         {{ item.r_highestPrice }}
                                                                    </td>
                                                                </slot>
                                                                <slot v-if="val == 'Wholesale'">
                                                                    <td :bgcolor="(item.w_per_message)? '#d2828a' : ''" :key="index + index2 + 'id'">{{ getAgrMarObjStore('measurementUnitList', item.unit_wholesale) }}</td>
                                                                    <td :bgcolor="(item.w_per_message)? '#d2828a' : ''" :key="index + index2 + 'lowestPrice'">
                                                                       {{ item.w_lowestPrice }}
                                                                    </td>
                                                                    <td :bgcolor="(item.w_per_message)? '#d2828a' : ''" :key="index + index2 + 'highestPrice'">
                                                                       {{ item.w_highestPrice }}
                                                                    </td>
                                                                </slot>
                                                                <slot v-if="val == 'Grower'">
                                                                    <td :bgcolor="(item.g_per_message)? '#d2828a' : ''" :key="index + index2 + 'id'">{{ getAgrMarObjStore('measurementUnitList', item.unit_grower) }}</td>
                                                                    <td :bgcolor="(item.g_per_message)? '#d2828a' : ''" :key="index + index2 + 'lowestPrice'">
                                                                        {{ item.g_lowestPrice }}
                                                                    </td>
                                                                    <td :bgcolor="(item.g_per_message)? '#d2828a' : ''" :key="index + index2 + 'highestPrice'">
                                                                       {{ item.g_highestPrice }}
                                                                    </td>
                                                                </slot>
                                                            </slot>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </b-form>
                                    </ValidationObserver>
                                </b-overlay>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'

export default {
    props: ['id'],
    components: {
    },
    created () {
        if (this.$route.query.id) {
            const tmp = this.getEditingData()
            this.formData = tmp
            this.checkCount()
        }
    },
    data () {
        return {
            check_all: 0,
            loading: false,
            is_weekly: false,
            saveBtnName: this.$route.query.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            formData: {
                division_id: 0,
                district_id: 0,
                upazila_id: 0,
                market_id: 0,
                price_entry_type: '',
                select_type: 'Daily',
                price_type_id: [],
                year: 0,
                month_id: 0,
                week_id: 0,
                price_date: '',
                commodity_list: []
            },
            districtList: [],
            upazilaList: [],
            marketList: [],
            priceTypeList: [],
            isCheckAll: false,
            oldData: null
        }
    },
    mounted () {
        core.index()
    },
    computed: {
        i18 () {
            return (this.$i18n.locale === 'bn') ? 1 : 0
        },
        yearList: function () {
            return this.$store.state.agriMarketing.commonObj.yearList
        },
        monthList: function () {
            return this.$store.state.commonObj.monthList
        },
        weekList: function () {
            return this.$store.state.agriMarketing.commonObj.weekList
        },
        divisionList: function () {
            return this.$store.state.agriMarketing.damData.divisionList
        },
        priceEntryTypeList: function () {
            return this.$store.state.agriMarketing.commonObj.priceEntryTypeList
        },
        timePreiodList: function () {
            return this.$store.state.agriMarketing.commonObj.timePreiodList
        }
    },
    methods: {
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === parseFloat(this.$route.query.id))
            const nTmp = JSON.parse(JSON.stringify(tmpData))
            const commodityList = nTmp.commodity_list.map(item => {
                return Object.assign(item, {
                    old_w_percentage_LtoH: item?.w_percentage_LtoH,
                    old_r_percentage_LtoH: item?.r_percentage_LtoH,
                    old_g_percentage_LtoH: item?.g_percentage_LtoH,
                    w_per_message: '',
                    r_per_message: '',
                    g_per_message: ''
                 })
            })
            nTmp.price_type_id = JSON.parse(nTmp.price_type_id)
            const data = Object.assign({}, nTmp, { commodity_list: commodityList })
            return data
        },
        getAgrMarObjStore (state, Id) {
            if (state) {
                const tmpData = this.$store.state.agriMarketing.commonObj[state]
                if (typeof tmpData === 'undefined') {
                    return ''
                } else {
                    const data = tmpData.find(item => item.value === Id)
                    if (typeof data === 'undefined') {
                        return ''
                    } else {
                        return this.i18 ? data.text_bn : data.text_en
                    }
                }
            }
        },
        getAgrMarDamStore (state, Id) {
            if (state) {
                const tmpData = this.$store.state.agriMarketing.damData[state]
                if (typeof tmpData === 'undefined') {
                    return ''
                } else {
                    const data = tmpData.find(item => item.value === Id)
                    if (typeof data === 'undefined') {
                    return ''
                    } else {
                    return this.i18 ? data.text_bn : data.text_en
                    }
                }
            }
        },
        checkAll () {
            const list = this.formData.commodity_list.map(item => {
                if (this.isCheckAll) {
                    item.status = 1
                } else {
                    item.status = 0
                }
                return Object.assign({}, item)
            })
            this.formData.commodity_list = list
        },
        checkCount () {
            let totalCheck = 0
            this.formData.commodity_list.map(item => {
                if (item.status) {
                    totalCheck += 1
                }
            })
            if (totalCheck === this.formData.commodity_list.length) {
                this.isCheckAll = true
            }
        },
        async approve () {
            this.loading = true
            let result = null
            result = await RestApi.postData(agriMarketingServiceBaseUrl, '/crop-price-info/cpi/price-entry/approve', this.formData)
            this.loading = false
            if (result.success) {
                this.$toast.success({
                    title: this.$t('globalTrans.success'),
                    message: this.$route.query.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
                    color: '#D6E09B'
                })
            }
            this.$router.go(-1)
        }
    }
}
</script>
