<template>
    <b-container>
        <b-row class="justify-content-center mt-4">
            <b-col md="7">
                <iq-card>
                    <template>
                        <b-row>
                            <b-col lg="12" sm="12" class="text-center mb-4">
                                <h5 class='complain-title'>{{ $t('globalTrans.personal_information') }}</h5>
                            </b-col>
                        </b-row>
                        <b-row>
                            <table class="table table-bordered" style="width: 100%;margin: 0px 12px;margin-bottom: 20px;">
                                <tr>
                                    <th>{{ $t('irri_pump_main.name') }}</th>
                                    <td colspan="3">{{ ($i18n.locale === 'bn') ? profileInfo.name_bn : profileInfo.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('warehouseFarmer.father_name') }}</th>
                                    <td>{{ ($i18n.locale === 'bn') ? profileInfo.father_name_bn : profileInfo.father_name }}</td>
                                    <th>{{ $t('warehouseFarmer.address') }}</th>
                                    <td>{{ ($i18n.locale === 'bn') ? profileInfo.address_bn : profileInfo.address }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('warehouseFarmer.mobile') }}</th>
                                    <td>{{ profileInfo.mobile_no }}</td>
                                    <th>{{ $t('warehouseFarmer.nid') }}</th>
                                    <td>{{ profileInfo.nid }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('warehouseFarmer.land_area') }}</th>
                                    <td>{{ profileInfo.land_area }}</td>
                                    <th>{{ $t('ginnerGrower.region') }}</th>
                                    <td>{{ ($i18n.locale === 'bn') ? profileInfo.region_name_bn : profileInfo.region_name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('ginnerGrower.zone') }}</th>
                                    <td>{{ ($i18n.locale === 'bn') ? profileInfo.zone_name_bn : profileInfo.zone_name }}</td>
                                    <th>{{ $t('ginnerGrower.unit') }}</th>
                                    <td>{{ ($i18n.locale === 'bn') ? profileInfo.unit_name_bn : profileInfo.unit_name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('ginnerGrower.district') }}</th>
                                    <td>{{ ($i18n.locale === 'bn') ? profileInfo.district_name_bn : profileInfo.district_name }}</td>
                                    <th>{{ $t('ginnerGrower.upazilla') }}</th>
                                    <td>{{ ($i18n.locale === 'bn') ? profileInfo.upazilla_name_bn : profileInfo.upazilla_name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('globalTrans.status') }}</th>
                                    <td :colspan="profileInfo.is_draft === 2 ? 3 : 1">
                                        <span v-if="profileInfo.is_draft === 1" class="badge badge-success">{{ $t('globalTrans.draft') }}</span>
                                        <span v-else class="badge badge-success">{{ $t('globalTrans.finalSave') }}</span>
                                    </td>
                                    <th v-if="profileInfo.is_draft === 1">{{ $t('globalTrans.modify') }}</th>
                                    <td v-if="profileInfo.is_draft === 1">
                                        <router-link
                                            class="btn btn-primary"
                                            type="button" size="sm"
                                            to="/ginner/profile-form">
                                            {{ $t('nav.user.profileEditTitle') }}
                                            <i class="far fa-edit"></i>
                                        </router-link>
                                    </td>
                                </tr>
                            </table>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ginnerGrowerProfileDetails } from '../../../api/routes'
export default {
    name: 'Show',
    data () {
        return {
            itemViewKey: 1,
            profileInfo: '',
            dataFetched: false,
            regionLists: [],
            warehouseTypeList: [],
            warehouseNameList: []
        }
    },
    created () {
        this.loadData()
        const tmp = this.getDetails
        this.profileInfo = this.formatList(tmp)
    },
    computed: {
        isBn () {
            return this.$i18n.locale === 'bn'
        },
        retigonData () {
             return this.regionLists.find(item => item.value === this.farmerBasicInfo.region_id)
        },
        landTypeData () {
            return this.landTypeList.find(item => item.value === this.farmerBasicInfo.land_type_id)
        },
        getDetails () {
            return this.$store.state.ExternalUserIrrigation.ginnerGrowerDetails
        }
    },
    methods: {
        async loadData () {
            const mobileNo = this.$store.state.Auth.authUser.mobile_no
            await RestApi.getData(agriMarketingServiceBaseUrl, ginnerGrowerProfileDetails + '/' + mobileNo)
            .then((response) => {
                this.$store.dispatch('ExternalUserIrrigation/ginnerGrowerProfileDetails', response.data)
            })
            .then(() => {
                this.$store.dispatch('ExternalUserIrrigation/mutateExternalCommonProperties', { loading: false, listReload: false })
            })
        },
        formatList (data) {
            const regionList = this.$store.state.agriMarketing.regionList
            const zoneList = this.$store.state.agriMarketing.zoneList
            const unitList = this.$store.state.agriMarketing.unitList
            const districtList = this.$store.state.commonObj.districtList
            const upazillaList = this.$store.state.commonObj.upazilaList
            const tmpRegion = regionList.find(region => region.value === data.region_id)
            const regionData = { region_name: tmpRegion.text_en, region_name_bn: tmpRegion.text_bn }
            const tmpZone = zoneList.find(zone => zone.value === data.zone_id)
            const zoneData = { zone_name: tmpZone.text_en, zone_name_bn: tmpZone.text_bn }
            const tmpUnit = unitList.find(unit => unit.value === data.unit_id)
            const unitData = { unit_name: tmpUnit.text_en, unit_name_bn: tmpUnit.text_bn }
            const tmpDistrict = districtList.find(district => district.value === data.district_id)
            const districtData = { district_name: tmpDistrict.text_en, district_name_bn: tmpDistrict.text_bn }
            const tmpUpazilla = upazillaList.find(upazilla => upazilla.value === data.upazilla_id)
            const upazillaData = { upazilla_name: tmpUpazilla.text_en, upazilla_name_bn: tmpUpazilla.text_bn }
            return Object.assign({}, data, regionData, zoneData, unitData, districtData, upazillaData)
        }
    }
}
</script>
