<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
        <h4 class="card-title">{{ $t('committee.manage_expenses') }}</h4>
      </template>
      <template v-slot:body>
          <b-row>
             <b-col xs="12" sm="12" md="6">
                 <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-for="org_id"
                    >
                    <template v-slot:label>
                    {{$t('globalTrans.organization')}}
                    </template>
                    <b-form-select
                    plain
                    v-model="search.org_id"
                    :options="orgList"
                    id="org_id"
                    >
                    <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                    </template>
                    </b-form-select>
                </b-form-group>
             </b-col>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('committee.committee')"
                    label-for="cmt_committee_id"
                    >
                    <b-form-select
                    plain
                    v-model="search.cmt_committee_id"
                    :options="committeeList"
                    id="cmt_committee_id"
                    >
                    <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                    </template>
                    </b-form-select>
                </b-form-group>
            </b-col>
          </b-row>
        <b-row>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('committee.agenda')"
                    label-for="cmt_agenda_id"
                    >
                    <b-form-select
                        plain
                        v-model="search.cmt_agenda_id"
                        :options="agendaList"
                        id="cmt_agenda_id"
                        >
                        <template v-slot:first>
                            <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                        </template>
                    </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
      <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('committee.manage_expenses_list') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(year)="data">
                      {{ $n(data.item.year.split('-')[0], { useGrouping: false })}}-{{$n(data.item.year.split('-')[1], { useGrouping: false }) }}
                    </template>
                    <template v-slot:cell(committee_name)="data">
                      {{ data.item.committee_name }}
                    </template>
                    <template v-slot:cell(committee_name_bn)="data">
                      {{ data.item.committee_name_bn }}
                    </template>
                    <template v-slot:cell(amount)="data">
                      {{ $n(data.item.amount, { useGrouping: false }) }}
                    </template>
                    <template v-slot:cell(description)="data">
                      {{ data.item.description }}
                    </template>
                    <template v-slot:cell(description_bn)="data">
                      {{ data.item.description_bn }}
                    </template>
                    <template v-slot:cell(attachment)="data">
                      <div class="text-center">
                          <a :href="commonServiceBaseUrl + 'download-attachment?file=uploads/commitee-expensesoriginal/' + data.item.attachment" class="btn btn-success"><i class="ri-download-cloud-line" ></i></a>
                      </div>
                    </template>
                    <!-- <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template> -->
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <!-- <b-button variant="btn btn-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button> -->
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>

  </b-container>
</template>
<script>
import FormV from './Form'
import RestApi, { commonServiceBaseUrl } from '@/config/api_config'
import { manageExpensesList } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV
  },
  data () {
    return {
      commonServiceBaseUrl: commonServiceBaseUrl,
      search: {
        org_id: 0,
        cmt_committee_id: 0,
        cmt_agenda_id: 0
      },
      editItemId: 0,
      rows: [],
      agendaList: [],
      committeeList: []
    }
  },
  computed: {
    orgList: function () {
        return this.$store.state.orgList.filter(item => item.status === 0)
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('committee.manage_expenses_entry') : this.$t('committee.manage_expenses_modify')
    },
    currentLocale () {
      return this.$i18n.locale
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('globalTrans.organization'), class: 'text-left' },
          { label: this.$t('committee.committee'), class: 'text-left' },
          { label: this.$t('committee.agenda'), class: 'text-left' },
          { label: this.$t('committee.amount'), class: 'text-left' },
          { label: this.$t('warehouse_config.fiscal_year'), class: 'text-left' },
          { label: this.$t('committee.descriptionl'), class: 'text-left' },
          { label: this.$t('committee.attachment'), class: 'text-left' },
          // { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'org_name_bn' },
          { key: 'committee_name_bn' },
          { key: 'agenda_name_bn' },
          { key: 'amount' },
          { key: 'year' },
          { key: 'description_bn' },
          { key: 'attachment' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'org_name' },
          { key: 'committee_name' },
          { key: 'agenda_name' },
          { key: 'amount' },
          { key: 'year' },
          { key: 'description' },
          { key: 'attachment' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    }
  },
  watch: {
    'search.org_id': function (newVal, oldVal) {
        this.committeeList = this.getCommitteelist(newVal)
    },
    'search.cmt_committee_id': function (newVal, oldVal) {
      this.getAgendaList(newVal)
    }
  },
  created () {
    this.loadData()
    this.getCommitteelist()
  },
  mounted () {
  },
  methods: {
    searchData () {
      this.loadData()
    },
    // remove (item) {
    //   this.changeStatus(commonServiceBaseUrl, committeeExpensesToggleStatus, item)
    // },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(commonServiceBaseUrl, manageExpensesList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', response.data.data)
            this.paginationData(response.data)
        }
      })
      //
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getCommitteelist (orgId) {
        const listObject = this.$store.state.commonObjCommonConfig.cmtCommitteeList
        const committeeData = listObject.filter(committee => committee.org_id === orgId)
        return committeeData.map((obj, index) => {
            if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
            } else {
            return { value: obj.value, text: obj.text }
            }
        })
    },
    getAgendaList (comId) {
        const listObject = this.$store.state.commonObjCommonConfig.cmtAgendaList
        const agendaData = listObject.filter(agenda => agenda.cmt_committee_id === comId)
        this.agendaList = agendaData.map((obj, index) => {
            if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
            } else {
            return { value: obj.value, text: obj.text }
            }
        })
    }
  }
}
</script>
