<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('document.archived_document')  + ' ' + $t('globalTrans.list') }}</h4>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                    <template v-slot:cell(index)="data">
                      {{$n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(attachment)="data">
                      <div class="text-center">
                          <a :href="commonServiceBaseUrl + 'download-attachment?file=uploads/documentoriginal/' + data.item.attachment" class="btn btn-success"><i class="fa fa-cloud" aria-hidden="true"></i> {{ $t('globalTrans.attachment') }}</a>
                      </div>
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                      <b-button variant=" iq-bg-info" size="sm" @click="removeArchive(data.item)"><i class="fas fa-archive"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>

  </b-container>
</template>
<script>
import RestApi, { commonServiceBaseUrl } from '@/config/api_config'
import { documentArchivedList } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
  },
  data () {
    return {
      commonServiceBaseUrl: commonServiceBaseUrl,
      search: {
        doc_title: '',
        org_id: '',
        category_id: ''
      },
      rows: [],
      categoryList: [],
      downloadUrl: commonServiceBaseUrl
    }
  },
  computed: {
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('document.organization'), class: 'text-left' },
          { label: this.$t('document.category'), class: 'text-left' },
          { label: this.$t('document.doc_titlel'), class: 'text-left' },
          { label: this.$t('document.attachment'), class: 'text-left' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'org_name_bn' },
          { key: 'category_name_bn' },
          { key: 'doc_title_bn' },
          { key: 'attachment' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'org_name' },
          { key: 'category_name' },
          { key: 'doc_title' },
          { key: 'attachment' }
        ]
      }
      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    }
  },
  watch: {
  },
  created () {
    this.loadData()
  },
  mounted () {
  },
  methods: {
    searchData () {
      this.loadData()
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(commonServiceBaseUrl, documentArchivedList, params).then(response => {
        if (response.success) {
           this.$store.dispatch('setList', response.data.data)
            this.paginationData(response.data)
        }
      })
      //
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    }
  }
}
</script>
