<template>
  <b-container fluid>
    <iq-card>
        <template v-slot:headerTitle>
          <h4 class="card-title">{{ $t('seeds_report.dealer_wise_seed_allocation_report') }}</h4>
        </template>
      <template v-slot:body>
        <b-overlay>
        <b-row>
        <b-col xs="12" sm="12" md="6" lg="6">
            <b-form-group
            class="row"
            label-cols-sm="4"
            label-for="org_id"
            >
            <template v-slot:label>
              {{$t('org_pro.organization')}} <span class="text-danger">*</span>
            </template>
            <b-form-select
              plain
              v-model="search.org_id"
              :options="organizationList"
              id="org_id"
              >
              <template v-slot:first>
                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
              </template>
            </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6" lg="6">
              <b-form-group
              class="row"
              label-cols-sm="4"
              label-for="fiscal_year_id"
              >
              <template v-slot:label>
                {{$t('warehouse_config.fiscal_year')}}
              </template>
              <b-form-select
              plain
              v-model="search.fiscal_year_id"
              :options="fiscalList"
              id="fiscal_year_id"
              >
                <template v-slot:first>
                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
              </b-form-select>
              </b-form-group>
          </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('seedsConfig.productionSeason')"
                label-for="production_season_id"
                >
                <v-select name="production_season_id"
                  v-model="search.season_name"
                  label="text"
                  :options= productionSeasonList
                />
                </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6" lg="6">
              <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('seeds_report.dealer_registration')"
                label-for="off_dealer_farmer_comp_id"
              >
              <b-form-input
                id="off_dealer_farmer_comp_id"
                name="off_dealer_farmer_comp_id"
                v-model="search.off_dealer_farmer_comp_id"
                type="number"
              />
              </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('seedsConfig.cropType')"
                    label-for="crop_type_id"
                    >
                    <v-select name="crop_type_id"
                    v-model="search.type_name"
                    label="text"
                    :options= CropTypeList
                    />
                  </b-form-group>
            </b-col>
             <b-col xs="12" sm="12" md="6" lg="6">
                   <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('seedsConfig.cropName')"
                    label-for="crop_name_id"
                    >
                    <v-select name="crop_name_id"
                    v-model="search.cropID"
                    label="text"
                    :options= cropNameList
                    />
                    </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('seedsConfig.variety')"
                label-for="variety_id"
                >
                <v-select name="variety_id"
                v-model="search.variety_name"
                label="text"
                :options= varietyList
                />
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('globalTrans.from_date')"
                label-for="email"
                >
                <template v-slot:label>
                {{$t('globalTrans.from_date')}}
                </template>
                <flat-pickr class="form-control"
                v-model="search.from_date"
                placeholder="Select Date"
                ></flat-pickr>
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                label-cols-md="4"
                label-cols-lg="4"
                label-for="to_date"
                >
                <template v-slot:label>
                {{$t('globalTrans.to_date')}}
                </template>
                <flat-pickr class="form-control"
                v-model="search.to_date"
                placeholder="Select Date"
                ></flat-pickr>
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
              <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
            </b-col>
          </b-row>
        </b-overlay>
      </template>
    </iq-card>
      <b-row v-show="showData">
        <b-col md="12">
          <iq-card>
            <template v-slot:body>
              <b-overlay :show="loadingState">
                  <b-row v-show="showData">
                    <b-col md="12">
                      <iq-card>
                        <template v-slot:headerTitle>
                          <h4 class="card-title">{{ $t('seeds_report.dealer_wise_seed_allocation_report') }}</h4>
                        </template>
                        <template v-slot:headerAction>
                              <b-button variant="primary" @click="pdfExport" class="mr-2">
                              {{  $t('globalTrans.export_pdf') }}
                              </b-button>
                              <export-excel
                                class="btn btn-success mr-2"
                                :data="excelData"
                                :title="$t('seeds_report.dealer_wise_seed_allocation_report')"
                                worksheet="Product Stock Report Sheet"
                                name="filename.xls">
                                {{ $t('globalTrans.export_excel') }}
                              </export-excel>
                        </template>
                        <template v-slot:body>
                          <b-overlay>
                            <b-row mt-5>
                              <b-col md="12" class="table-responsive">
                                <!-- <b-table bordered hover :items="deliveryScheduleList" :fields="columns" :tbody-tr-class="rowClass" aria-hidden="loading | listReload ? 'true' : null"> -->
                                 <b-table bordered thead-class="bg-primary text-center" hover :items="deliveryScheduleList" :fields="columns" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                                    <template v-slot:head(index)="data">
                                      <div class="text-right">{{ data.label }}</div>
                                    </template>
                                    <template v-slot:cell(index)="data">
                                      <div class="text-center">{{ $n(data.index + pagination.slOffset) }}</div>
                                    </template>
                                    <!-- <template v-slot:cell(crop_type_name)="data">
                                      <div class="text-center">{{ data.item.crop_type_name + 'ruhul' }}</div>
                                    </template> -->
                                    <template v-slot:cell(allocation_quantity)="data" varient="text-center">
                                      <div class="text-center">{{ $n(data.item.allocation_quantity, { useGrouping: false }) }}</div>
                                    </template>
                                </b-table>
                              </b-col>
                            </b-row>
                          </b-overlay>
                        </template>
                      </iq-card>
                    </b-col>
                  </b-row>
              </b-overlay>
            </template>
          </iq-card>
        </b-col>
      </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { seedFertilizerServiceBaseUrl } from '@/config/api_config'
import { reportHeadingList, dealerWiseSeedAllocationReport } from '../../api/routes'
// import ListReportHead from '@/components/custom/ListReportHead.vue'
import ExportPdf from '@/Utils/export-pdf'
import excel from 'vue-excel-export'
import Vue from 'vue'
Vue.use(excel)

export default {
  name: 'UiDataTable',
  components: {
    // ListReportHead
  },
  data () {
    return {
      showData: false,
      showHeading: false,
      deliveryScheduleList: [],
      pagination: {
        currentPage: 1,
        totalRows: 0,
        perPage: this.$store.state.commonObj.perPage,
        slOffset: 1
      },
      search: {
        from_date: '',
        to_date: '',
        org_id: 0,
        fiscal_year_id: 0,
        class_name: '',
        season_name: '',
        source_name: '',
        spc_office_name: '',
        type_name: '',
        cropID: '',
        variety_name: ''
      },
      excelData: [],
      currentDate: '',
      organization: [],
      varietyList: [],
      testId: 0,
      rows: [],
      cropNameList: [],
      seedFertilizerServiceBaseUrl: seedFertilizerServiceBaseUrl,
      reportHeadingList: reportHeadingList
    }
  },
  computed: {
    formTitle () {
       return this.$t('warehouse_service_performance.KPI_Report')
    },
    loading () {
      return this.$store.state.commonObj.loading
    },
    listReload () {
      return this.$store.state.commonObj.listReload
    },
    loadingState () {
      if (this.listReload) {
        return true
      } else if (this.loading) {
        return true
      } else {
        return false
      }
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('seedsConfig.cropType'), class: 'text-left' },
          { label: this.$t('seedsConfig.cropName'), class: 'text-left' },
          { label: this.$t('seedsConfig.variety'), class: 'text-left' },
          { label: this.$t('seeds_report.allocation_qty'), class: 'text-left' }
        ]
      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'crop_type_name_bn' },
          { key: 'crop_name_bn' },
          { key: 'variety_name_bn' },
          { key: 'allocation_quantity' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'crop_type_name' },
          { key: 'crop_name' },
          { key: 'variety_name' },
          { key: 'allocation_quantity' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    warehouseTypeList: function () {
      return this.$store.state.warehouse.warehouseTypeList.filter(item => item.status === 0)
    },
    regionLists: function () {
      return this.$store.state.warehouse.regionList.filter(item => item.status === 0)
    },
    authUser () {
      return this.$store.state.Auth.authUser
    },
    fiscalList: function () {
      const fiscalyearData = this.$store.state.commonObj.fiscalYearList
      return fiscalyearData.map(item => {
        if (this.$i18n.locale === 'bn') {
          return { value: item.value, text: item.text_bn }
        } else {
          return { value: item.value, text: item.text_en }
        }
      })
    },
    productionSeasonList: function () {
      return this.$store.state.SeedsFertilizer.commonObj.productionSeasonList.filter(item => item.status === 1)
    },
    productionSourceList: function () {
      return this.$store.state.SeedsFertilizer.commonObj.productionSourceList.filter(item => item.status === 1)
    },
    organizationList: function () {
      return this.$store.state.commonObj.organizationProfileList
    },
    zoneOfficeList: function () {
      return this.$store.state.SeedsFertilizer.commonObj.spcOfficeList.filter(item => item.status === 1)
    },
    SeedClassList: function () {
      return this.$store.state.SeedsFertilizer.commonObj.seedClassList.filter(item => item.status === 1)
    },
    CropTypeList: function () {
      return this.$store.state.SeedsFertilizer.commonObj.CropTypeList.filter(item => item.status === 1)
    }
  },
  watch: {
    loadingState: function (newVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.type_name': function (newVal, oldVal) {
      this.cropNameList = this.getCropNameList(newVal.value)
    },
    'search.cropID': function (newVal, oldVal) {
      this.varietyList = this.getVarietyList(newVal.value)
    }
  },
  created () {
    this.loadData()
  },
  mounted () {
    core.index()
  },
  methods: {
    getCropNameList (Id = null) {
      return this.$store.state.SeedsFertilizer.commonObj.CropNameList.filter(item => item.crop_type_id === Id)
    },
    getVarietyList (cropID) {
      return this.$store.state.SeedsFertilizer.commonObj.VarietyList.filter(item => item.crop_name_id === cropID)
    },
    searchClick () {
      this.loadData()
    },
    rowClass (item, type) {
        var day = Math.ceil((Math.abs(new Date(item.delivery_date) - new Date())) / (1000 * 60 * 60 * 24))
        if (day <= 7 && type === 'row') {
            return 'table-danger'
        } else {
            return ''
        }
    },
    default () {
      return {
        id: this.rows.length
      }
    },
    searchData () {
      if (this.search.org_id > 0) {
        this.loadData()
        this.showData = true
        this.showHeading = true
      }
    },
    async loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: true })
      const today = new Date()
      const date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      this.currentDate = date
      var className = ''
        if (this.search.class_name) {
            className = this.search.class_name.value
        }
      var seasonId = ''
        if (this.search.season_name) {
            seasonId = this.search.season_name.value
        }
      var sourceId = ''
        if (this.search.source_name) {
            sourceId = this.search.source_name.value
        }
      var SPCOfiiceId = ''
        if (this.search.spc_office_name) {
            SPCOfiiceId = this.search.spc_office_name.value
        }
      var cropTypeId = ''
        if (this.search.type_name) {
            cropTypeId = this.search.type_name.value
        }
      var cropId = ''
        if (this.search.cropID) {
            cropId = this.search.cropID.value
        }
      var VarietyId = ''
        if (this.search.variety_name) {
            VarietyId = this.search.variety_name.value
        }
      const params = Object.assign({}, this.search, { seed_class_id: className, production_season_id: seasonId, production_source_id: sourceId, spc_office_id: SPCOfiiceId, crop_type_id: cropTypeId, crop_name_id: cropId, variety_id: VarietyId, page: this.pagination.currentPage, per_page: this.pagination.perPage })
      await RestApi.getData(seedFertilizerServiceBaseUrl, dealerWiseSeedAllocationReport, params).then(response => {
      if (response.success) {
        if (response.data) {
           this.dataList(response.data)
        }
      } else {
        this.deliveryScheduleList = []
      }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    dataList (data) {
    let tmpCropType = {}
    let tmpCropName = {}
    let tmpVariety = {}
    // var groups = {}
    var listData = data.data.map((item, index) => {
        tmpCropType = this.$store.state.SeedsFertilizer.commonObj.CropTypeList.find(cropType => cropType.value === item.crop_type_id)
        tmpCropName = this.$store.state.SeedsFertilizer.commonObj.CropNameList.find(cropName => cropName.value === item.crop_name_id)
        tmpVariety = this.$store.state.SeedsFertilizer.commonObj.VarietyList.find(cropName => cropName.value === item.variety_id)
        const orgData = {
           crop_type_name: tmpCropType !== undefined ? tmpCropType.text_en : '',
           crop_type_name_bn: tmpCropType !== undefined ? tmpCropType.text_bn : '',
           crop_name: tmpCropName !== undefined ? tmpCropName.text_en : '',
           crop_name_bn: tmpCropName !== undefined ? tmpCropName.text_bn : '',
           variety_name: tmpVariety !== undefined ? tmpVariety.text_en : '',
           variety_name_bn: tmpVariety !== undefined ? tmpVariety.text_bn : ''
        }
        // var cropType = listData[index].crop_type_id
        // if (!groups[cropType]) {
        //     groups[cropType] = []
        // }
        // var newData = {
        //   crop_id: listData[index].crop_id,
        //   release_stock: listData[index].release_stock,
        //   remaining_stock: listData[index].remaining_stock,
        //   total_stock: listData[index].total_stock
        // }
        // groups[cropType].push(newData)

        return Object.assign({}, item, orgData)
      })
      // listData = []
      // for (var Name in groups) {
      //   listData.push({ crop_type_id: Name, data: groups[Name] })
      // }
      //   const newarr = listData
      //   var customarray = newarr
      //   customarray.forEach(item => {
      //     item.data.forEach((listItem, index) => {
      //       if (index === 0) {
      //           listItem.crop_type_id = item.crop_type_id
      //       } else {
      //           listItem.crop_type_id = null
      //       }
      //     })
      //   })
    this.deliveryScheduleList = listData
    var serial = 0
    const rowData = data.data.map((keyItem, index) => {
      serial += 1
      if (this.$i18n.locale === 'en') {
          return {
            'sl ': this.$n(serial),
            'Crop Type': this.deliveryScheduleList[index].crop_type_name,
            'Crop Name': this.deliveryScheduleList[index].crop_name,
            'Variety ': this.deliveryScheduleList[index].variety_name,
            'Total Quanty': keyItem.allocation_quantity
        }
      } else {
          return {
            'ক্রমিক সংখ্যা': this.$n(serial),
            'শস্যের ধরণ': this.deliveryScheduleList[index].crop_type_name_bn,
            'শস্যের নাম': this.deliveryScheduleList[index].crop_name_bn,
            'ভ্যারাইটি ': this.deliveryScheduleList[index].variety_name_bn,
            'মোট পরিমাণ ': this.$n(this.deliveryScheduleList[index].allocation_quantity)
        }
      }
    })
    this.excelData = rowData
    },
    pdfExport () {
      const rowData = this.getPdfData()
      const fromDate = this.search.from_date
      const toDate = this.search.to_date
      const header = [
          { text: this.$t('globalTrans.from_date') + ' : ' + fromDate, fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) }, { text: '' }, { text: '' },
          { text: this.$t('globalTrans.to_date') + ' : ' + toDate, fontSize: (this.$i18n.locale === 'bn' ? 14 : 12), margin: [250, 0, 0, 0] }
          ]

      const labels = [
           { text: this.$t('globalTrans.sl_no'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seedsConfig.cropType'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seedsConfig.cropName'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seedsConfig.variety'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seeds_report.allocation_qty'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) }
        ]
      const extraData = {
        totalHeaderRows: 1,
        subHead: [header]
      }
      rowData.unshift(labels)
      const reportTitle = this.$t('seeds_report.dealer_wise_seed_allocation_report')
      const columnWids = ['*', '*', '*', '*', '*']
      ExportPdf.exportPdf(seedFertilizerServiceBaseUrl, '/seeds/config/report-heading/detail', this.search.org_id, reportTitle, rowData, columnWids, extraData)
    },
    getPdfData () {
        const keys = [
          { key: 'serial_no' },
          { key: this.$i18n.locale === 'en' ? 'crop_type_name' : 'crop_type_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'crop_name' : 'crop_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'variety_name' : 'variety_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'allocation_quantity' : 'allocation_quantity' }
        ]
      var serial = 0
      const listData = this.deliveryScheduleList.map(item => {
        serial += 1
        const rowData = keys.map((keyItem, index) => {
            if (keyItem.key === 'serial_no') {
                return { text: this.$n(serial) }
            }
            if (keyItem.key === 'allocation_quantity') {
                return { text: this.$n(item[keyItem.key]) }
            }

          return { text: item[keyItem.key] }
        })

        return rowData
      })

      return listData
    }
  }
}
</script>
<style scoped>
 .container {
   display: flex;
   margin-bottom: 15px;
   justify-content: center;
 }
 .report-name {
   text-align: center;
 }
 .org-name {
  text-align: center;
 }
 .org-address {
   text-align: center;
 }
 .main-title {
   padding: 10px;
 }
 .project-name {
   text-align: center;
   font-weight: bold;
 }
</style>
