<template>
  <b-container fluid>
    <iq-card>
        <template v-slot:headerTitle>
          <h4 class="card-title">{{ $t('seeds_report.overallDisburseReport') }}</h4>
        </template>
      <template v-slot:body>
        <b-overlay>
        <ValidationObserver ref="form" v-slot="{ handleSubmit, reset }">
        <b-form  @submit.prevent="handleSubmit(searchData)" @reset.prevent="reset" >
          <b-row>
          <b-col xs="12" sm="12" md="6" lg="6">
            <ValidationProvider name="Organization" vid="org_id">
              <b-form-group
              class="row"
              label-cols-sm="4"
              label-for="org_id"
              >
              <template v-slot:label>
                {{$t('org_pro.organization')}} <span class="text-danger">*</span>
              </template>
              <b-form-select
                plain
                v-model="search.org_id"
                :options="organizationList"
                id="org_id"
                >
                <template v-slot:first>
                  <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
              </b-form-select>
              </b-form-group>
            </ValidationProvider>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
            <ValidationProvider name="Fiscal Year" vid="fiscal_year_id" rules="required|min_value:1">
              <b-form-group
              class="row"
              label-cols-sm="4"
              label-for="fiscal_year_id"
              >
              <template v-slot:label>
                {{$t('warehouse_config.fiscal_year')}} <span class="text-danger">*</span>
              </template>
              <b-form-select
              plain
              v-model="search.fiscal_year_id"
              :options="fiscalList"
              id="fiscal_year_id"
              >
              <template v-slot:first>
              <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
              </template>
              </b-form-select>
              </b-form-group>
            </ValidationProvider>
          </b-col>
          </b-row>
        <b-row>
            <b-col xs="12" sm="12" md="6" lg="6">
              <ValidationProvider name="Production Season" vid="production_season_id">
                <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('seedsConfig.productionSeason')"
                label-for="production_season_id"
                >
                <v-select name="production_season_id"
                v-model="search.season_name"
                label="text"
                :options= productionSeasonList
                />
                </b-form-group>
              </ValidationProvider>
          </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
              <ValidationProvider name="Crop Type" vid="crop_type_id">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('seedsConfig.cropType')"
                    label-for="crop_type_id"
                    >
                    <v-select name="crop_type_id"
                    v-model="search.type_name"
                    label="text"
                    :options= CropTypeList
                    />
                  </b-form-group>
              </ValidationProvider>
            </b-col>
        </b-row>
           <b-row>
             <b-col xs="12" sm="12" md="6" lg="6">
                   <b-form-group
                    class="row"
                    label-cols-sm="4"
                    :label="$t('seedsConfig.cropName')"
                    label-for="crop_name_id"
                    >
                    <v-select name="crop_name_id"
                    v-model="search.cropID"
                    label="text"
                    :options= cropNameList
                    />
                    </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
              <ValidationProvider name="variety_id" vid="variety_id">
                <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('seedsConfig.variety')"
                label-for="variety_id"
                >
                <v-select name="variety_id"
                v-model="search.variety_name"
                label="text"
                :options= VarietyList
                />
                </b-form-group>
              </ValidationProvider>
            </b-col>
          </b-row>
          <b-row>
            <b-col xs="12" sm="12" md="6" lg="6">
              <ValidationProvider name="from_date" vid="from_date" rules="required">
                <b-form-group
                class="row"
                label-cols-sm="4"
                :label="$t('globalTrans.from_date')"
                label-for="email"
                >
                <template v-slot:label>
                {{$t('globalTrans.from_date')}} <span class="text-danger">*</span>
                </template>
                <flat-pickr class="form-control"
                v-model="search.from_date"
                placeholder="Select Date"
                ></flat-pickr>
                </b-form-group>
              </ValidationProvider>
            </b-col>
            <b-col xs="12" sm="12" md="6" lg="6">
              <ValidationProvider name="to_date" vid="to_date" rules="required">
                <b-form-group
                class="row"
                label-cols-sm="3"
                label-cols-md="4"
                label-cols-lg="4"
                label-for="to_date"
                >
                <template v-slot:label>
                {{$t('globalTrans.to_date')}} <span class="text-danger">*</span>
                </template>
                <flat-pickr class="form-control"
                v-model="search.to_date"
                placeholder="Select Date"
                ></flat-pickr>
                </b-form-group>
              </ValidationProvider>
            </b-col>
          </b-row>
          <b-row>
           <b-col xs="12" sm="12" md="6" lg="6">
                <b-button type="submit" variant="primary">{{ $t('globalTrans.submit')}}</b-button>
            </b-col>
          </b-row>
          </b-form>
        </ValidationObserver>
        </b-overlay>
      </template>
    </iq-card>
      <b-row v-show="showData">
        <b-col md="12">
          <iq-card>
            <template v-slot:body>
              <b-overlay :show="loadingState">
                  <b-row v-show="showData">
                    <b-col md="12">
                      <iq-card>
                        <template v-slot:headerTitle>
                          <h4 class="card-title">{{ $t('seeds_report.overallDisburseReport') }}</h4>
                        </template>
                        <template v-slot:headerAction>
                              <b-button variant="primary" @click="pdfExport" class="mr-2">
                              {{  $t('globalTrans.export_pdf') }}
                              </b-button>
                              <export-excel
                                class="btn btn-success mr-2"
                                :data="excelData"
                                :title="$t('seeds_report.overallDisburseReport')"
                                worksheet="Overall Disburse Report Sheet"
                                name="filename.xls">
                                {{ $t('globalTrans.export_excel') }}
                              </export-excel>
                        </template>
                        <template v-slot:body>
                          <b-overlay>
                            <b-row>
                              <b-col>
                                <list-report-head :base-url="seedFertilizerServiceBaseUrl" :uri="reportHeadingList" :org-id="search.org_id">
                                  {{ $t('seeds_report.overallDisburseReport')}}
                                </list-report-head>
                              </b-col>
                              </b-row>
                              <b-row>
                                <b-col lg="6" sm="12">
                                  <b-form-group
                                  class="row"
                                  label-cols-sm="3"
                                  :label="$t('globalTrans.from_date')"
                                  label-for="Date"
                                  >
                                  <div class="active text-dark">{{ search.from_date|dateFormat }}</div>
                                  </b-form-group>
                                </b-col>
                                <b-col lg="6" sm="12">
                                  <b-form-group
                                  class="row"
                                  label-cols-sm="3"
                                  :label="$t('globalTrans.to_date')"
                                  label-for="Date"
                                  >
                                  <div class="active text-dark">{{ search.to_date|dateFormat }}</div>
                                  </b-form-group>
                                </b-col>
                              </b-row>
                            <b-row mt-5>
                              <b-col md="12" class="table-responsive">
                                 <b-table bordered hover :items="deliveryScheduleList" :fields="columns" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                                  <template v-slot:cell(index)="data">
                                    {{ $n(data.index + pagination.slOffset) }}
                                  </template>
                                  <template v-slot:cell(disburses_quantity)="data">
                                    {{ $n(data.item.disburses_quantity, { useGrouping: false }) }}
                                  </template>
                                  <template v-slot:cell(status)="data">
                                    {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                                  </template>
                                </b-table>
                              </b-col>
                            </b-row>
                          </b-overlay>
                        </template>
                      </iq-card>
                    </b-col>
                  </b-row>
              </b-overlay>
            </template>
          </iq-card>
        </b-col>
      </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import RestApi, { seedFertilizerServiceBaseUrl } from '@/config/api_config'
import { reportHeadingList, overallDisburseReport } from '../../api/routes'
import ListReportHead from '@/components/custom/ListReportHead.vue'
import { dateFormat } from '@/Utils/fliter'
import ExportPdf from '@/Utils/export-pdf'
import excel from 'vue-excel-export'
import Vue from 'vue'
Vue.use(excel)

export default {
  name: 'UiDataTable',
  components: {
    ListReportHead
  },
  data () {
    return {
      showData: false,
      showHeading: false,
      deliveryScheduleList: [],
      pagination: {
        currentPage: 1,
        totalRows: 0,
        perPage: this.$store.state.commonObj.perPage,
        slOffset: 1
      },
      search: {
        org_id: 0,
        class_name: '',
        season_name: '',
        source_name: '',
        spc_office_name: '',
        type_name: '',
        from_date: '',
        to_date: '',
        cropID: '',
        variety_name: ''
      },
      excelData: [],
      currentDate: '',
      organization: [],
      VarietyList: [],
      testId: 0,
      rows: [],
      cropNameList: [],
      seedFertilizerServiceBaseUrl: seedFertilizerServiceBaseUrl,
      reportHeadingList: reportHeadingList
    }
  },
  computed: {
    formTitle () {
       return this.$t('warehouse_service_performance.KPI_Report')
    },
    loading () {
      return this.$store.state.commonObj.loading
    },
    listReload () {
      return this.$store.state.commonObj.listReload
    },
    loadingState () {
      if (this.listReload) {
        return true
      } else if (this.loading) {
        return true
      } else {
        return false
      }
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('seedsConfig.cropType'), class: 'text-left' },
          { label: this.$t('seedsConfig.cropName'), class: 'text-left' },
          { label: this.$t('seedsConfig.variety'), class: 'text-left' },
          { label: this.$t('seedsSeeds.tot_quanty'), class: 'text-left' }
        ]
      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'crop_type_name_bn' },
          { key: 'crop_name_bn' },
          { key: 'variety_name_bn' },
          { key: 'disburses_quantity' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'crop_type_name' },
          { key: 'crop_name' },
          { key: 'variety_name' },
          { key: 'disburses_quantity' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    warehouseTypeList: function () {
      return this.$store.state.warehouse.warehouseTypeList.filter(item => item.status === 0)
    },
    regionLists: function () {
      return this.$store.state.warehouse.regionList.filter(item => item.status === 0)
    },
    fiscalList: function () {
      const fiscalyearData = this.$store.state.commonObj.fiscalYearList
      return fiscalyearData.map(item => {
        if (this.$i18n.locale === 'bn') {
          return { value: item.value, text: item.text_bn }
        } else {
          return { value: item.value, text: item.text_en }
        }
      })
    },
    productionSeasonList: function () {
      return this.$store.state.SeedsFertilizer.commonObj.productionSeasonList.filter(item => item.status === 1)
    },
    organizationList: function () {
      return this.$store.state.commonObj.organizationProfileList
    },
    CropTypeList: function () {
      return this.$store.state.SeedsFertilizer.commonObj.CropTypeList.filter(item => item.status === 1)
    }
  },
  watch: {
    loadingState: function (newVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.type_name': function (newVal, oldVal) {
      this.cropNameList = this.getCropNameList(newVal.value)
    },
    'search.cropID': function (newVal, oldVal) {
      this.VarietyList = this.getVarietyList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  mounted () {
    core.index()
  },
  methods: {
     getVarietyList (cropID) {
      return this.$store.state.SeedsFertilizer.commonObj.VarietyList.filter(item => item.crop_name_id === cropID.value)
    },
    getCropNameList (Id = null) {
      return this.$store.state.SeedsFertilizer.commonObj.CropNameList.filter(item => item.crop_type_id === Id)
    },
    searchClick () {
      this.loadData()
    },
    rowClass (item, type) {
        var day = Math.ceil((Math.abs(new Date(item.delivery_date) - new Date())) / (1000 * 60 * 60 * 24))
        if (day <= 7 && type === 'row') {
            return 'table-danger'
        } else {
            return ''
        }
    },
    default () {
      return {
        id: this.rows.length
      }
    },
    searchData () {
      this.organizationData()
      this.loadData()
      this.showData = true
      this.showHeading = true
    },
    organizationData () {
      const objectData = this.$store.state.commonObj.organizationProfileList
      const orglist = objectData.find(item => item.value === this.search.org_id)

      RestApi.getData(seedFertilizerServiceBaseUrl, reportHeadingList + '/' + this.search.org_id, { org_id: this.search.org_id }).then(response => {
        if (response.success) {
          const orgObject = response.data
          const orgData = {
            left_logo: orgObject.left_logo,
            right_logo: orgObject.right_logo,
            address: orgObject.address,
            address_bn: orgObject.address_bn,
            project_name: orgObject.project_name,
            project_name_bn: orgObject.project_name_bn
          }
          this.organization = Object.assign({}, orglist, orgData)
        } else {
          this.$toast.error({
            title: 'Error',
            message: 'Organization not found!'
          })
        }
      })
    },
    async loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: true })
      var seasonName = ''
        if (this.search.season_name) {
            seasonName = this.search.season_name.value
        }
      var cropType = ''
        if (this.search.type_name) {
            cropType = this.search.type_name.value
        }
      var cropName = ''
        if (this.search.cropID) {
            cropName = this.search.cropID.value
        }
      var VarietyName = ''
        if (this.search.variety_name) {
            VarietyName = this.search.variety_name.value
        }
      const params = Object.assign({}, this.search, { production_season_id: seasonName, crop_type_id: cropType, crop_name_id: cropName, variety_id: VarietyName, page: this.pagination.currentPage, per_page: this.pagination.perPage })
      await RestApi.getData(seedFertilizerServiceBaseUrl, overallDisburseReport, params).then(response => {
      if (response.success) {
        if (response.data) {
           this.dataList(response.data)
        }
      } else {
        this.deliveryScheduleList = []
      }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    dataList (data) {
    let tmpCropType = {}
    let tmpCropName = {}
    let tmpVariety = {}
    const listData = data.data.map((item, index) => {
        tmpCropType = this.$store.state.SeedsFertilizer.commonObj.CropTypeList.filter(cropType => cropType.status === 1 && cropType.value === item.crop_type_id)
        tmpCropName = this.$store.state.SeedsFertilizer.commonObj.CropNameList.filter(cropName => cropName.status === 1 && cropName.value === item.crop_name_id)
        tmpVariety = this.$store.state.SeedsFertilizer.commonObj.VarietyList.filter(cropName => cropName.status === 1 && cropName.value === item.variety_id)
        const orgData = {
           crop_type_name: tmpCropType[index] !== undefined ? tmpCropType[index].text_en : '',
           crop_type_name_bn: tmpCropType[index] !== undefined ? tmpCropType[index].text_bn : '',
           crop_name: tmpCropName[index] !== undefined ? tmpCropName[index].text_en : '',
           crop_name_bn: tmpCropName[index] !== undefined ? tmpCropName[index].text_bn : '',
           variety_name: tmpVariety[index] !== undefined ? tmpVariety[index].text_en : '',
           variety_name_bn: tmpVariety[index] !== undefined ? tmpVariety[index].text_bn : ''
        }
        return Object.assign({}, item, orgData)
      })
    this.deliveryScheduleList = listData
    var serial = 0
    const rowData = data.data.map((keyItem, index) => {
         serial += 1
         if (this.$i18n.locale === 'en') {
             return {
                'sl ': this.$n(serial),
                'Crop Type': this.deliveryScheduleList[index].crop_type_name,
                'Crop Name': this.deliveryScheduleList[index].crop_name,
                'Variety ': this.deliveryScheduleList[index].variety_name,
                'Total Quanty': keyItem.disburses_quantity
            }
         } else {
             return {
                'ক্রমিক সংখ্যা': this.$n(serial),
                'শস্যের ধরণ': this.deliveryScheduleList[index].crop_type_name_bn,
                'শস্যের নাম': this.deliveryScheduleList[index].crop_name_bn,
                'ভ্যারাইটি ': this.deliveryScheduleList[index].variety_name_bn,
                'মোট পরিমাণ ': this.deliveryScheduleList[index].disburses_quantity
            }
         }
     })
    this.excelData = rowData
    },
    pdfExport () {
      const rowData = this.getPdfData()
      const fromDate = this.$i18n.locale === 'en' ? this.search.from_date : dateFormat(this.search.from_date)
      const toDate = this.$i18n.locale === 'en' ? this.search.to_date : dateFormat(this.search.to_date)
      const header = [
          { text: this.$t('globalTrans.from_date') + ' : ' + fromDate, fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) }, { text: '' }, { text: '' },
          { text: this.$t('globalTrans.to_date') + ' : ' + toDate, fontSize: (this.$i18n.locale === 'bn' ? 14 : 12), margin: [250, 0, 0, 0] }
          ]

      const labels = [
           { text: this.$t('globalTrans.sl_no'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seedsConfig.cropType'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seedsConfig.cropName'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seedsConfig.variety'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
          { text: this.$t('seedsSeeds.tot_quanty'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) }
        ]
      const extraData = {
        totalHeaderRows: 1,
        subHead: [header]
      }
      rowData.unshift(labels)
      const reportTitle = this.$i18n.locale === 'en' ? 'Overall Disburse Report' : 'সামগ্রিক বিতরণ প্রতিবেদন'
      const columnWids = ['20%', '20%', '20%', '20%', '20%']
      ExportPdf.exportPdf(seedFertilizerServiceBaseUrl, '/seeds/config/report-heading/detail', this.search.org_id, reportTitle, rowData, columnWids, extraData)
    },
    getPdfData () {
        const keys = [
          { key: 'serial_no' },
          { key: this.$i18n.locale === 'en' ? 'crop_type_name' : 'crop_type_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'crop_name' : 'crop_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'variety_name' : 'variety_name_bn' },
          { key: this.$i18n.locale === 'en' ? 'disburses_quantity' : 'disburses_quantity' }
        ]
      var serial = 0
      const listData = this.deliveryScheduleList.map(item => {
        serial += 1
        const rowData = keys.map((keyItem, index) => {
            if (keyItem.key === 'serial_no') {
                return { text: this.$n(serial) }
            }
            if (keyItem.key === 'disburses_quantity') {
                return { text: this.$n(item[keyItem.key]) }
            }

          return { text: item[keyItem.key] }
        })

        return rowData
      })

      return listData
    }
  }
}
</script>
<style scoped>
 .container {
   display: flex;
   margin-bottom: 15px;
   justify-content: center;
 }
 .report-name {
   text-align: center;
 }
 .org-name {
  text-align: center;
 }
 .org-address {
   text-align: center;
 }
 .main-title {
   padding: 10px;
 }
 .project-name {
   text-align: center;
   font-weight: bold;
 }
</style>
