<template>
  <b-container fluid>
      <b-row>
        <b-col lg="12" sm="12">
          <iq-card>
            <template>
              <b-row>
                <b-col lg="12" sm="12" class="text-center mb-4">
                  <h5 class='complain-title'>{{ $t('pump_install.pump_operator_new_application') + ' ' + $t('externalUserIrrigation.details') }}</h5>
                </b-col>
              </b-row>
                <b-row>
                  <b-col lg="12" sm="12">
                    <b-row>
                      <b-col lg="3" sm="12">
                        <p class="text-dark" style="font-weight:bold">{{ $t('pump_install.applicant_photo') }} :</p>
                      </b-col>
                      <b-col lg="9" sm="12">
                        <img :src="baseUrl + 'download-attachment?file=uploads/pump-operator-application/applicant-photo/original/' + pumpOperatorApp.applicant_photo" class="height-150 width-150 img-fluid" style="border:2px solid;margin-bottom:20px;"/>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col lg="3" sm="12">
                        <p class="text-dark" style="font-weight:bold">{{ $t('org_pro.organization') }} :</p>
                      </b-col>
                      <b-col lg="9" sm="12">
                         <p class="text-dark">{{ (this.$i18n.locale=='bn') ? pumpOperatorApp.org_name_bn : pumpOperatorApp.org_name }}</p>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col lg="3" sm="12">
                        <p class="text-dark" style="font-weight:bold" >{{ $t('pump_install.pump_id') }} :</p>
                      </b-col>
                      <b-col lg="9" sm="12">
                        <p class="text-dark" v-html="(this.$i18n.locale=='bn') ? pumpOperatorApp.pump_id : pumpOperatorApp.pump_id"></p>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col lg="12" sm="12">
                        <div>
                          <b-table-simple striped bordered small>
                            <b-tr>
                              <b-th>{{ $t('user.namel') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.name_bn : pumpOperatorApp.name }}</b-td>
                              <b-th>{{ $t('externalUserIrrigation.date_of_birth') }}</b-th>
                              <b-td>{{ pumpOperatorApp.date_of_birth | dateFormat }}</b-td>
                            </b-tr>
                            <b-tr>
                              <b-th>{{ $t('externalUserIrrigation.father_name') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.father_name_bn : pumpOperatorApp.father_name }}</b-td>
                              <b-th>{{ $t('externalUserIrrigation.mother_name') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.mother_name_bn : pumpOperatorApp.mother_name }}</b-td>
                            </b-tr>
                            <b-tr>
                              <b-th>{{ $t('org_pro_division.division') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.divion_name_bn : pumpOperatorApp.division_name }}</b-td>
                              <b-th>{{ $t('org_pro_district.district') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.district_name_bn : pumpOperatorApp.district_name }}</b-td>
                            </b-tr>
                            <b-tr>
                              <b-th>{{ $t('org_pro_upazilla.upazilla') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.upazilla_name_bn : pumpOperatorApp.upazilla_name }}</b-td>
                              <b-th>{{ $t('org_pro_union.union') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.union_name_bn : pumpOperatorApp.union_name }}</b-td>
                            </b-tr>
                            <b-tr>
                              <b-th>{{ $t('externalUserIrrigation.village') }}</b-th>
                              <b-td>{{ ($i18n == 'bn')? pumpOperatorApp.far_village_bn : pumpOperatorApp.far_village }}</b-td>
                              <b-th>{{ $t('externalUserIrrigation.educational_qualification') }}</b-th>
                              <b-td>{{ pumpOperatorApp.qualification }}</b-td>
                            </b-tr>
                            <b-tr>
                              <b-th>{{ $t('user.phone_no') }}</b-th>
                              <b-td>{{ pumpOperatorApp.far_mobile_no }}</b-td>
                              <b-th>{{ $t('externalUserIrrigation.nid') }}</b-th>
                              <b-td colspan="3">{{ $t(pumpOperatorApp.nid) }}</b-td>
                            </b-tr>
                          </b-table-simple>
                        </div>
                      </b-col>
                    </b-row>
                    <b-row v-if="attachments.length > 0">
                      <b-col lg="12" sm="12" class="text-center mb-4">
                        <h5 class='complain-title'>{{ $t('pump_install.attachment') }}</h5>
                      </b-col>
                    </b-row>
                    <b-row v-if="attachments.length > 0">
                      <b-col lg="12" sm="12">
                        <div>
                          <b-table-simple striped bordered small>
                            <b-tr>
                              <b-th>{{ $t('pump_install.document_title') }}</b-th>
                              <b-th>{{ $t('pump_install.attachment') }}</b-th>
                            </b-tr>
                            <b-tr v-for="(attachment,index) in attachments" :key="index">
                              <b-td>{{ ($i18n == 'bn') ? attachment.document_title_bn : attachment.document_title }}</b-td>
                              <b-td>
                                <a v-if="attachment.attachment !== null" :href="baseUrl + 'download-attachment?file=uploads/pump-operator-document/original/' + attachment.attachment" title="Attachment" class="mr-3"><i class="ri-download-cloud-fill"></i></a>
                              </b-td>
                            </b-tr>
                          </b-table-simple>
                        </div>
                      </b-col>
                    </b-row>
                  </b-col>
              </b-row>
            </template>
          </iq-card>
        </b-col>
      </b-row>
    </b-container>
</template>
<script>
import RestApi, { irriSchemeServiceBaseUrl } from '@/config/api_config'
import { pumpOptApplicationDetailsList } from '../../api/routes'

export default {
  name: 'FormLayout',
  props: ['id'],
  created () {
    this.loadData()
  },
  data () {
    return {
      pumpOperatorApp: '',
      attachments: [],
      slOffset: 1,
      baseUrl: irriSchemeServiceBaseUrl
    }
  },
  methods: {
    loadData () {
      RestApi.getData(irriSchemeServiceBaseUrl, pumpOptApplicationDetailsList + '/' + this.$props.id).then(response => {
        if (response.success) {
          this.pumpOperatorApp = this.formatList(response.data)
          this.attachments = response.attachments
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    formatList (data) {
      const orgList = this.$store.state.commonObj.organizationProfileList
      const divisionList = this.$store.state.commonObj.divisionList
      const districtList = this.$store.state.commonObj.districtList
      const upazilaList = this.$store.state.commonObj.upazilaList
      const unionList = this.$store.state.commonObj.unionList

      const orgPro = orgList.find(org => org.value === data.org_id)
      const division = divisionList.find(division => division.value === data.far_division_id)
      const district = districtList.find(district => district.value === data.far_district_id)
      const upazilla = upazilaList.find(upazilla => upazilla.value === data.far_upazilla_id)
      const union = unionList.find(union => union.value === data.far_union_id)
      return Object.assign({}, data,
        { org_name: orgPro.text_en, org_name_bn: orgPro.text_bn },
        { division_name: division.text_en, division_name_bn: division.text_bn },
        { district_name: district.text_en, district_name_bn: district.text_bn },
        { upazilla_name: upazilla.text_en, upazilla_name_bn: upazilla.text_bn },
        { union_name: union.text_en, union_name_bn: union.text_bn }
      )
    }
  }
}
</script>
<style>
  .hidden_header {
    display: none
  }
  .card-border {
    border: 1px solid #b9bdc1;
    box-shadow: 1px 1px 6px -1px grey;
    background-color: #dee2e6;
  }
  [dir=ltr][mode=light] .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
  }
  .report-name{
    font-weight: bold !important;
    text-transform: uppercase;
  }
  .my-btn{
    padding: 2px !important;
  }
</style>
