<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form @submit.prevent="handleSubmit(register)" @reset.prevent="reset" enctype="multipart/form-data">
                    <b-row>
                      <b-col lg="12" sm="12">
                        <ValidationProvider name="Reject Note" vid='reject_note' rules="required">
                          <b-form-group
                            class="row"
                            label-cols-sm="3"
                            label-for="reject_note"
                            slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{ $t('pump_install.reject_note') }} <span class="text-danger">*</span>
                            </template>
                            <b-textarea
                            id="reject_note"
                            v-model="applicationReject.reject_note"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-textarea>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                        <ValidationProvider name="Reject Note (bn)" vid="reject_note_bn">
                          <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('pump_install.reject_note_bn')"
                            label-for="reject_note_bn"
                            slot-scope="{ valid, errors }"
                          >
                            <b-textarea
                            id="reject_note_bn"
                            v-model="applicationReject.reject_note_bn"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-textarea>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                        <ValidationProvider name="Attachment">
                          <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('pump_install.attachment')"
                            label-for="attachment"
                            slot-scope="{ valid, errors }"
                            >
                            <b-form-file
                              plain
                              v-on:change="onFileChange"
                              v-model="applicationReject.attachment"
                              id="attachment"
                              :state="errors[0] ? false : (valid ? true : null)"
                              >
                            </b-form-file>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                        <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                        &nbsp;
                        <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-1')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { irriSchemeServiceBaseUrl, authServiceBaseUrl } from '../../../../../config/api_config'
import { pumpOptApplicationRejectStore, getLoggedUserSupervisor } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.$t('globalTrans.save'),
      applicationReject: {
        pump_opt_apps_id: this.$props.id,
        reject_note: '',
        reject_note_bn: '',
        attachment: [],
        supervisor_name: '',
        supervisor_phone: ''
      },
      upload_attachment: ''
    }
  },
  created () {
    this.getSupervisor(this.$store.state.Auth.authUser.user_id)
  },
  methods: {
    onFileChange (e) {
      this.upload_attachment = e.target.files[0]
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: true, listReload: true }
      var formData = new FormData()
      Object.keys(this.applicationReject).map(key => {
        if (key === 'attachment') {
          formData.append(key, this.upload_attachment)
        } else {
          formData.append(key, this.applicationReject[key])
        }
      })
      result = await RestApi.postData(irriSchemeServiceBaseUrl, pumpOptApplicationRejectStore, formData)
      this.$store.dispatch('mutateCommonProperties', loadinState)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: 'Data save successfully',
          color: '#D6E09B'
        })
        this.$bvModal.hide('modal-1')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    },
    async getSupervisor (loggedUserId) {
      await RestApi.getData(authServiceBaseUrl, getLoggedUserSupervisor + '/' + loggedUserId).then(response => {
        if (response.success) {
          this.applicationReject.supervisor_name = response.data.name
          this.applicationReject.supervisor_phone = response.data.phone
        }
      })
    }
  }
}
</script>
