<template>
  <b-container fluid>
      <b-row>
        <b-col lg="12" sm="12">
          <iq-card>
            <template>
                <b-row>
                  <b-col lg="12" sm="12">
                    <b-row>
                      <b-col lg="12" sm="12">
                        <div>
                          <b-table-simple striped bordered small>
                              <b-tr>
                                <b-th>{{ $t('bsri_config.region_name') }}</b-th>
                                <b-td style="width:70%">{{ (this.$i18n.locale=='bn')? ssPolictSetupData.region_name_bn : ssPolictSetupData.region_name }}</b-td>
                              </b-tr>
                              <b-tr>
                                <b-th>{{ $t('bsri_config.created_date') }}</b-th>
                                <b-td>{{ (this.$i18n.locale=='bn')? ssPolictSetupData.created_date : ssPolictSetupData.created_date }}</b-td>
                              </b-tr>
                          </b-table-simple>
                          <b-row>
                                <b-col lg="12" sm="12" class="text-center mb-4">
                                    <h5 class='complain-title'>{{ $t('globalTrans.details') }}</h5>
                                </b-col>
                          </b-row>
                          <b-table bordered hover :items="ssPolictSetupData.details" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                <template v-slot:cell(index)="data">
                                  {{ $n(data.index + 1) }}
                                </template>
                          </b-table>
                        </div>
                      </b-col>
                    </b-row>
                  </b-col>
              </b-row>
            </template>
          </iq-card>
        </b-col>
      </b-row>
    </b-container>
</template>
<script>
export default {
  name: 'FormLayout',
  props: ['item'],
  created () {
    this.ssPolictSetupData = this.item
  },
  data () {
    return {
      ssPolictSetupData: [],
      slOffset: 1
    }
  },
  computed: {
    localeLang () {
      return this.$i18n.locale
    },
    listData () {
      const objectData = this.item
      return objectData.filter(data => data.id === this.item.id)
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('bsri_config.mill_type'), class: 'text-left' },
          { label: this.$t('bsri_config.mill_name'), class: 'text-left' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'millType_name_bn' },
          { key: 'mill_name_bn' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'millType_name' },
          { key: 'mill_name' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    }
  },
  methods: {
  }
}
</script>
<style>
  .hidden_header {
    display: none
  }
  .card-border {
    border: 1px solid #b9bdc1;
    box-shadow: 1px 1px 6px -1px grey;
    background-color: #dee2e6;
  }
  [dir=ltr][mode=light] .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
  }
  .report-name{
    font-weight: bold !important;
    text-transform: uppercase;
  }
  .my-btn{
    padding: 2px !important;
  }
</style>
