<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:body>
        <b-row>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('user.namel')"
                    label-for="name"
                    >
                    <v-select
                    name="crop_id"
                    v-model="search.user_id"
                    label="text"
                    @keyup="getFarmerList()"
                    :options= farmerList />
                </b-form-group>
            </b-col>
            <b-col xs="12" sm="12" md="6">
                <b-form-group
                class="row"
                label-cols-sm="3"
                label-for="org_id"
                :label="$t('user_role.organization')"
                >
                <b-form-select
                    plain
                    v-model="search.org_id"
                    :options="commonObj.organizationProfileList"
                    >
                    <template v-slot:first>
                    <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                    </template>
                </b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('user.user') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(name)="data">
                      {{ data.item.name }}
                    </template>
                    <template v-slot:cell(name_bn)="data">
                      {{ data.item.name_bn }}
                    </template>
                    <template v-slot:cell(email)="data">
                      {{ data.item.email }}
                    </template>
                    <template v-slot:cell(username)="data">
                      {{ data.item.username }}
                    </template>
                    <template v-slot:cell(org_id)="data">
                      {{ data.item.org_id }}
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.userStatus === 1 ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="details(data.item)"><i class="ri-eye-line m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal v-if="createModal" id="modal-4" size="xl" :title="$t('user.user_entry')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="testId" :key="testId"/>
      </p>
    </b-modal>
    <b-modal v-if="detailModal" id="modal-4" size="lg" :title="$t('user.user_details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <b-container fluid>
        <b-row>
          <b-col lg="12" sm="12">
            <iq-card>
              <template>
                <b-form>
                  <b-row>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('user_role.organization')">
                        <b-form-input v-model="user_detail.org_name" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.office')">
                        <b-form-input v-model="user_detail.ofcName" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.role')">
                        <b-form-input v-model="user_detail.roleName" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.name')">
                        <b-form-input v-model="user_detail.name" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.name_bn')">
                        <b-form-input v-model="user_detail.name_bn" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.user_id')">
                        <b-form-input v-model="user_detail.user_id" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.photo')">
                        <b-img width='100px' :src="authServiceBaseUrl+user_detail.photo" fluid alt="User Photo"></b-img>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('user.office_type')">
                        <b-form-input v-model="user_detail.ofcType" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user_role.designation')">
                        <b-form-input v-model="user_detail.designName" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.secret_question')">
                        <b-form-input v-model="user_detail.question_name" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.answer')">
                        <b-form-input v-model="user_detail.answer" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.phone_no')">
                        <b-form-input v-model="user_detail.phone_no" readonly></b-form-input>
                      </b-form-group>
                      <b-form-group label-cols-sm="3" :label="$t('user.email')">
                        <b-form-input v-model="user_detail.email" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                  </b-row>
                </b-form>
              </template>
            </iq-card>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </b-container>
</template>
<script>
import { mapGetters } from 'vuex'
import FormV from './Form'
import RestApi, { authServiceBaseUrl } from '@/config/api_config'
import { userList, userDelete } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
// import { farmerList } from '../../../ware-service/api/routes'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV
  },
  data () {
    return {
      search: {
        search_key: 0,
        org_id: 0,
        user_id: 0
      },
      farmerList: [],
      rows: [],
      user_detail: '',
      createModal: false,
      detailModal: false,
      authServiceBaseUrl: authServiceBaseUrl
    }
  },
  created () {
    this.loadData()
    this.warehouseUser()
  },
  computed: {
    listData () {
      return this.$store.state.UserManagement.users
    },
    authUser () {
      return this.$store.state.Auth.authUser
    },
    columns () {
        const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          { label: this.$t('user.namel'), class: 'text-left' },
          { label: this.$t('user.email'), class: 'text-left' },
          { label: this.$t('user.username'), class: 'text-left' },
          { label: this.$t('user_role.organization'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

        let keys = []

        if (this.$i18n.locale === 'bn') {
            keys = [
                { key: 'index' },
                { key: 'name_bn' },
                { key: 'email' },
                { key: 'user_id' },
                { key: 'org_name_bn' },
                { key: 'status' },
                { key: 'action' }
            ]
        } else {
            keys = [
                { key: 'index' },
                { key: 'name' },
                { key: 'email' },
                { key: 'user_id' },
                { key: 'org_name' },
                { key: 'status' },
                { key: 'action' }
            ]
        }

        return labels.map((item, index) => {
            return Object.assign(item, keys[index])
        })
    },
    ...mapGetters({
      commonObj: 'commonObj'
    })
  },
  methods: {
    getFarmerList () {
    },
    searchData () {
      this.loadData()
    },
    details (item) {
      const listObject = this.$store.state.commonObj.officeTypeList.filter(items => items.value === item.office_type_id)
      const officeList = this.commonObj.officeList.filter(items => items.org_id === item.office_id)
      const designationList = this.$store.state.commonObj.designationList.filter(items => items.value === item.designation_id)
      const roleList = this.$store.state.UserManagement.roles.filter(items => items.value === item.role_id)
      item.ofcType = listObject[0] !== undefined ? listObject[0].text : ''
      item.ofcName = officeList[0] !== undefined ? officeList[0].text : ''
      item.designName = designationList[0] !== undefined ? designationList[0].text : ''
      item.roleName = roleList[0] !== undefined ? roleList[0].text : ''
      this.user_detail = item
      this.createModal = false
      this.detailModal = true
    },
    remove (item) {
      this.$swal({
        title: this.$t('globalTrans.statusChangeMsg'),
        showCancelButton: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        focusConfirm: false
      }).then((result) => {
        if (result.isConfirmed) {
          this.deleteData(item)
        }
      })
    },
    deleteData (item) {
      RestApi.deleteData(authServiceBaseUrl, `${userDelete}/${item.id}`).then(response => {
        if (response.success) {
          this.$toast.success({
            title: 'Success',
            message: 'Data Updated Successfully',
            color: '#D6E09B'
          })
        } else {
          this.$toast.error({
            title: 'Error',
            message: 'Operation failed! Please, try again.'
          })
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: true })
      })
    },
    async loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      const warehouseId = this.authUser.warehouse_id ? this.authUser.warehouse_id : -1
      const params = Object.assign({}, this.search, { user_id: this.search.user_id.value, page: this.pagination.currentPage, per_page: this.pagination.perPage, warehouse_id: warehouseId })
      await RestApi.getData(authServiceBaseUrl, userList, params).then(response => {
        if (response.success) {
          this.$store.dispatch('UserManagement/addUserList', this.formatList(response.data.data))
          this.paginationData(response.data)
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      }, error => {
        if (error) {
            //
          }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    formatList (data) {
      try {
        const orgList = this.commonObj.organizationProfileList.filter(item => item.status === 0)
        let tmpData = {}
        const listData = data.map(item => {
          tmpData = orgList.find(orgItem => orgItem.value === item.org_id)
          const orgData = {
             org_name: tmpData !== undefined ? tmpData.text_en : '',
             org_name_bn: tmpData !== undefined ? tmpData.text_bn : ''
            }
          return Object.assign({}, item, orgData)
        })
        return listData
      } catch (error) {
        if (error) {
            //
        }
        return []
      }
    },
    resetId () {
      this.testId = 0
      this.createModal = true
      this.detailModal = false
    },
    warehouseUser () {
        RestApi.getData(authServiceBaseUrl, '/user/warehouse-user-list').then(response => {
        let flist = []
        if (response !== null) {
          const list = response.filter(item => item.status === 0)
          flist = list.map(obj => {
            if (this.$i18n.locale === 'bn') {
                return { value: obj.value, text: obj.text_bn }
            } else {
                return { value: obj.value, text: obj.text }
            }
          })
        }
        this.farmerList = flist
      })
    }
  }
}
</script>
