<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="10" sm="12">
                                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                    <b-form  @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                                        <ValidationProvider name="fiscal year id" vid="fiscal_year_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="fiscal_year_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('globalTrans.fiscal_year') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_campaign_event.fiscal_year_id"
                                                :options="fiscalList"
                                                id="fiscal_year_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="campaign id" vid="campaign_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="campaign_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('e_pusti_config.campaign_name') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="manage_campaign_event.campaign_id"
                                                :options="campaignNameList"
                                                id="campaign_id"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                <b-row v-for="(detail, index) in manage_campaign_event.details" :key="index">
                                    <b-col xl="5" lg="5" sm="8">
                                        <ValidationProvider name="division" vid="division_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="division_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('globalTrans.division') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                :id="detail.division_id.toString()"
                                                plain
                                                v-model="detail.division_id"
                                                :options="detail.divisionList"
                                                @change="getDistrictList(detail.division_id, detail)"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col xl="5" lg="5" sm="8">
                                        <ValidationProvider name="district" vid="district_id" rules="required|min_value:1">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="district_id"
                                                slot-scope="{ valid, errors }"
                                                >
                                                <template v-slot:label>
                                                {{ $t('globalTrans.district') }} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-select
                                                plain
                                                v-model="detail.district_id"
                                                :options="detail.districtList"
                                                :id="detail.district_id.toString()"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                                                </template>
                                                </b-form-select>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                    </b-col>
                                    <b-col xl="1" lg="1" sm="4">
                                            <b-button v-if="index === 0" variant=" iq-bg-success" size="sm" @click="add()"><i class="ri-add-line m-0"></i></b-button>
                                            <b-button v-if="index !== 0" variant=" iq-bg-danger" size="sm" @click="remove(index)"><i class="ri-delete-bin-line m-0"></i></b-button>
                                        </b-col>
                                </b-row>
                                        <ValidationProvider name="quantity" vid="quantity" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="quantity"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('e_pusti_config.campaign_Qty')}} <span class="text-danger">*</span>
                                            </template>
                                                <b-form-input
                                                type="number"
                                                id="quantity"
                                                min="0"
                                                v-model="manage_campaign_event.quantity"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="From Date" vid="start_date" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="start_date"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('globalTrans.from_date')}} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="datepicker"
                                                v-model="manage_campaign_event.start_date"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="To Date" vid="end_date" rules="required">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="end_date"
                                                slot-scope="{ valid, errors }"
                                            >
                                            <template v-slot:label>
                                                {{$t('globalTrans.to_date')}} <span class="text-danger">*</span>
                                                </template>
                                                <b-form-input
                                                id="datepicker"
                                                v-model="manage_campaign_event.end_date"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-input>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <ValidationProvider name="attachment" vid="attachment">
                                            <b-form-group
                                                class="row"
                                                label-cols-sm="4"
                                                label-for="attachment"
                                                slot-scope="{ valid, errors }"
                                            >
                                                <template v-slot:label>
                                                    {{$t('e_pusti_config.upload')}}
                                                </template>
                                                <b-form-file
                                                id="attachment"
                                                v-on:change="onFileChange"
                                                v-model="manage_campaign_event.attachment"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                ></b-form-file>
                                                <div class="invalid-feedback">
                                                {{ errors[0] }}
                                                </div>
                                            </b-form-group>
                                        </ValidationProvider>
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col text-right">
                                                <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                                                &nbsp;
                                                <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                                            </div>
                                        </div>
                                    </b-form>
                                </ValidationObserver>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ManageCampaignEventStore, ManageCampaignEventUpdate } from '../../api/routes'
import flatpickr from 'flatpickr'

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider
    },
    created () {
        if (this.id) {
            const tmp = this.getEditingData()
            if (tmp) {
                this.manage_campaign_event = tmp
                tmp.details.map(item => {
                    const compData = {
                        divisionList: this.$store.state.commonObj.divisionList,
                        mydistrictList: this.getDistrictList(item.division_id, item)
                    }
                    return Object.assign(item, compData)
                })
            }
        }
        this.getDivisionList()
    },
    data () {
        return {
            saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
            manage_campaign_event: {
                id: '',
                fiscal_year_id: '0',
                campaign_id: '0',
                details: [
                    {
                        divisionList: [],
                        mydistrictList: [],
                        division_id: '0',
                        district_id: '0'
                    }
                ],
                quantity: '',
                start_date: '',
                end_date: '',
                attachment: ''
            },
            detail: [
                {
                    division_id: '0',
                    district_id: '0'
                }
            ],
            attachmentDemo: []
        }
    },
    mounted () {
        core.index()
        flatpickr('#datepicker', {})
    },
    computed: {
        orgList () {
            return this.$store.state.commonObj.organizationProfileList.filter(item => item.status === 0)
        },
        campaignNameList: function () {
            const campaignNameList = this.$store.state.agriMarketing.commonObj.campaignNameList
            return campaignNameList.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text }
                }
            })
        },
        fiscalList: function () {
            const fiscalyearData = this.$store.state.commonObj.fiscalYearList
            return fiscalyearData.map(item => {
                if (this.$i18n.locale === 'bn') {
                    return { value: item.value, text: item.text_bn }
                } else {
                    return { value: item.value, text: item.text_en }
                }
            })
        },
        divisionList: function () {
            return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
        }
    },
    watch: {
    },
    methods: {
        onFileChange (e) {
            this.attachmentDemo = e.target.files[0]
        },
        listMapping (data) {
            return data.map(item => {
                        if (this.$i18n.locale === 'bn') {
                            return { value: item.value, text: item.text_bn }
                        } else {
                            return { value: item.value, text: item.text_en }
                        }
                    })
        },
        getDivisionList () {
            this.manage_campaign_event.details.map(item => {
                item.divisionList = this.listMapping(this.$store.state.commonObj.divisionList)
                item.districtList = this.getDistrictList(item.division_id, item)
                return Object.assign({}, item, item.divisionList, item.districtList)
            })
        },
        getDistrictList (divisionId, detail) {
            const districtData = this.$store.state.commonObj.districtList.filter(item => item.status === 0 && item.division_id === divisionId)
            detail.districtList = districtData
            return districtData
        },
        onChangeFile (e) {
            this.attachmentDemo = e.target.files[0]
        },
        getEditingData () {
            const tmpData = this.$store.state.list.find(item => item.id === this.id)
            return JSON.parse(JSON.stringify(tmpData))
        },
        async saveData () {
            this.$store.dispatch('mutateCommonProperties', { loading: true })
            let result = null
            const loadingState = { loading: false, listReload: false }
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }
            var formData = new FormData()
            Object.keys(this.manage_campaign_event).map(key => {
                if (key === 'attachment') {
                    formData.append(key, this.attachmentDemo)
                } else {
                    formData.append(key, JSON.stringify(this.manage_campaign_event[key]))
                }
            })
            if (this.id) {
                // formData.append('_method', 'PUT')
                result = await RestApi.postData(agriMarketingServiceBaseUrl, `${ManageCampaignEventUpdate}/${this.id}`, formData, config)
                // result = await RestApi.putData(agriMarketingServiceBaseUrl, `${ManageCampaignEventUpdate}/${this.id}`, this.manage_campaign_event)
            } else {
                formData.append('created_by', 1)
                result = await RestApi.postData(agriMarketingServiceBaseUrl, ManageCampaignEventStore, formData, config)
            }
            // if (this.id) {
            //     result = await RestApi.putData(agriMarketingServiceBaseUrl, `${ManageCampaignEventUpdate}/${this.id}`, this.manage_campaign_event)
            // } else {
            //     result = await RestApi.postData(agriMarketingServiceBaseUrl, ManageCampaignEventStore, this.manage_campaign_event)
            // }

            loadingState.listReload = true
            this.$store.dispatch('mutateCommonProperties', loadingState)

            if (result.success) {
                this.$store.commit('agriMarketing/mutateAgriMarketingProperties', { hasDropdownLoaded: false })
                this.$toast.success({
                title: this.$t('globalTrans.success'),
                message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
                color: '#D6E09B'
                })

                this.$bvModal.hide('modal-4')
            } else {
                this.$refs.form.setErrors(result.errors)
            }
        },
        add () {
            const tmpDetailsData = {
                divisionList: this.$store.state.commonObj.divisionList,
                districtList: [],
                division_id: '0',
                district_id: '0'
            }
            this.manage_campaign_event.details.push(tmpDetailsData)
        },
        remove (key) {
            this.manage_campaign_event.details.splice(key, 1)
        }
    }
}
</script>
