
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('e_pusti_config.manage_campaign_event') }}</h4>
            </template>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="6" xl="6">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('globalTrans.fiscal_year')"
                            label-for="fiscal_year_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.fiscal_year_id"
                                :options="fiscalList"
                                id="fiscal_year_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="1"></b-col>
                    <b-col  xs="12" sm="12" md="5">
                        <b-form-group
                        class="row"
                        label-cols-sm="3"
                        :label="$t('globalTrans.from_date')"
                        label-for="start_date"
                        >
                        <b-form-input
                            id="datepicker"
                            v-model="search.start_date"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col  xs="12" sm="12" md="6">
                        <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('globalTrans.to_date')"
                        label-for="end_date"
                        >
                        <b-form-input
                            id="datepicker"
                            v-model="search.end_date"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
            </template>
        </iq-card>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('e_pusti_config.manage_campaign_event_list') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
                            {{ $t('globalTrans.add_new') }}
                        </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table thead-class="bg-primary" :emptyText="$t('globalTrans.noDataFound')" show-empty bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null">
                                        <template v-slot:cell(index)="data">
                                            {{ $n(data.index + pagination.slOffset) }}
                                        </template>
                                        <!-- <template v-slot:cell(division_name)="data">
                                            <p v-for="(div, divIndex) in data.item.details" :key="divIndex">
                                              {{ $n(divIndex + 1) + '. ' + div.division_name }}
                                            </p>
                                        </template>
                                        <template v-slot:cell(division_name_bn)="data">
                                            <p v-for="(div, divIndex) in data.item.details" :key="divIndex">
                                              {{ $n(divIndex + 1) + '. ' + div.division_name_bn }}
                                            </p>
                                        </template>
                                        <template v-slot:cell(district_name)="data">
                                            <p v-for="(div, divIndex) in data.item.details" :key="divIndex">
                                              {{ $n(divIndex + 1) + '. ' + div.district_name }}
                                            </p>
                                        </template>
                                        <template v-slot:cell(district_name_bn)="data">
                                            <p v-for="(div, divIndex) in data.item.details" :key="divIndex">
                                              {{ $n(divIndex + 1) + '. ' + div.district_name_bn }}
                                            </p>
                                        </template> -->
                                        <template v-slot:cell(quantity)="data">
                                            {{ $n(data.item.quantity, { useGrouping: false }) }}
                                        </template>
                                        <template v-slot:cell(start_date)="data">
                                            {{ data.item.start_date | dateFormat }}
                                        </template>
                                        <template v-slot:cell(end_date)="data">
                                            {{ data.item.end_date | dateFormat }}
                                        </template>
                                        <template v-slot:cell(status)="data">
                                            <span class="badge badge-success" v-if="data.item.status == 1">{{$t('globalTrans.active')}}</span>
                                            <span class="badge badge-danger" v-else>{{$t('globalTrans.inactive')}}</span>
                                        </template>
                                        <template v-slot:cell(action)="data">
                                            <b-button class="mr-1" title="View Details" v-b-modal.modal-5 variant=" iq-bg-success" size="sm" @click="viewDetails(data.item)"><i class="ri-eye-line m-0 "></i></b-button>
                                            <b-button v-b-modal.modal-4 variant=" iq-bg-success mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                                            <b-button :variant="data.item.status === 1 ? ' iq-bg-success' : '  iq-bg-danger'" size="sm" @click="remove(data.item)">
                                                <i class="fas" :class="data.item.status ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                                            </b-button>
                                        </template>
                                    </b-table>
                                    <b-pagination
                                        v-model="pagination.currentPage"
                                        :per-page="pagination.perPage"
                                        :total-rows="pagination.totalRows"
                                        @input="searchData"
                                        />
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
        <b-modal id="modal-4" size="lg" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
            <Form :id="editItemId" :key="editItemId"/>
        </b-modal>
        <b-modal id="modal-5" size="lg" :title="$t('globalTrans.details')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
          <Details :item="item" :key="editItemId"/>
        </b-modal>
    </b-container>
</template>
<script>
import Form from './Form'
import Details from './Details'
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { ManageCampaignEventList, ManageCampaignEventStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import flatpickr from 'flatpickr'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    Form, Details
  },
  data () {
    return {
      search: {
        fiscal_year_id: 0,
        start_date: '',
        end_date: ''
      },
      manage_campaign_event: {
          details: [
              {
                  division_id: '0',
                  district_id: '0'
              }
          ]
      },
      editItemId: '',
      item: '',
      rows: [],
      details: [],
      divList: []
    }
  },
  mounted () {
    flatpickr('#datepicker', {})
  },
  computed: {
    fiscalList: function () {
        const fiscalyearData = this.$store.state.commonObj.fiscalYearList
        return fiscalyearData.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text_en }
            }
        })
    },
    formTitle () {
       return (this.editItemId === 0) ? this.$t('e_pusti_config.manage_campaign_event') + ' ' + this.$t('globalTrans.entry') : this.$t('e_pusti_config.manage_campaign_event') + ' ' + this.$t('globalTrans.modify')
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
          // { label: this.$t('globalTrans.division'), class: 'text-left' },
          // { label: this.$t('globalTrans.district'), class: 'text-left' },
          { label: this.$t('e_pusti_config.campaign_name'), class: 'text-left' },
          { label: this.$t('globalTrans.fiscal_year'), class: 'text-left' },
          { label: this.$t('globalTrans.quantity'), class: 'text-center' },
          { label: this.$t('globalTrans.from_date'), class: 'text-center' },
          { label: this.$t('globalTrans.to_date'), class: 'text-center' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          // { key: 'division_name_bn' },
          // { key: 'district_name_bn' },
          { key: 'campaign_name_bn' },
          { key: 'fiscal_year_name_bn' },
          { key: 'quantity' },
          { key: 'start_date' },
          { key: 'end_date' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          // { key: 'division_name' },
          // { key: 'district_name' },
          { key: 'campaign_name' },
          { key: 'fiscal_year_name' },
          { key: 'quantity' },
          { key: 'start_date' },
          { key: 'end_date' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
    },
    viewDetails (item) {
      this.item = item
    },
    edit (item) {
      this.editItemId = item.id
    },
    remove (item) {
      this.changeStatus(agriMarketingServiceBaseUrl, ManageCampaignEventStatus, item)
    },
    loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, ManageCampaignEventList, params).then(response => {
        if (response.success) {
            this.$store.dispatch('setList', this.getRelatinalData(response.data.data))
            this.paginationData(response.data)
        } else {
          this.$store.dispatch('setList', [])
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getRelatinalData (data) {
      const fiscalYearList = this.$store.state.commonObj.fiscalYearList
      const campaignNameList = this.$store.state.agriMarketing.commonObj.campaignNameList

      const listData = data.map(item => {
        const fiscalYearObject = fiscalYearList.find(fiscal => fiscal.value === item.fiscal_year_id)
        const campaignNameObject = campaignNameList.find(data => data.value === item.campaign_id)

        const fiscalYearData = { fiscal_year_name: fiscalYearObject.text_en, fiscal_year_name_bn: fiscalYearObject.text_bn }
        const campaignNameData = { campaign_name: campaignNameObject.text, campaign_name_bn: campaignNameObject.text_bn }
        this.manage_campaign_event.details = item.details.map(item2 => {
          const divisionList = this.$store.state.commonObj.divisionList
          const districtList = this.$store.state.commonObj.districtList
          const divisionObject = divisionList.find(data => data.value === item2.division_id)
          const districtObject = districtList.find(data => data.value === item2.district_id)
          const DivisionData = { division_name: divisionObject.text_en, division_name_bn: divisionObject.text_bn }
          const DistrictData = { district_name: districtObject.text, district_name_bn: districtObject.text_bn }
          return Object.assign({}, item2, DivisionData, DistrictData)
        })
        return Object.assign({}, item, this.manage_campaign_event, fiscalYearData, campaignNameData)
      })
      return listData
    },
    getDivisionName (divisionId) {
      const divList = this.$store.state.commonObj.divisionList.filter(item => item.value === divisionId)
      return divList.map(item => {
        if (this.$i18n.locale === 'bn') {
          return item.text_bn
        } else {
          return item.text
        }
      })
    },
    getDistrictName (districtId) {
      const divList = this.$store.state.commonObj.districtList.filter(item => item.value === districtId)
      return divList.map(item => {
        if (this.$i18n.locale === 'bn') {
          return item.text_bn
        } else {
          return item.text
        }
      })
    },
    getDistrict () {
      this.$store.state.list.map(item => {
        this.details = item.details
        this.details.map(item => {
          const disObj = this.$store.state.commonObj.districtList.find(dist => dist.value === item.district_id)
          const distData = { district_name: disObj.text, district_name_bn: disObj.text_bn }
          return Object.assign({}, item, distData)
        })
      })
    }
  }
}
</script>
