
<template>
  <b-container fluid>
    <iq-card>
      <template v-slot:headerTitle>
        <h4 class="card-title">{{ $t('complain.submit_complain_info') }}</h4>
      </template>
      <template v-slot:body>
        <b-row>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('complain.organization')"
              label-for="org_id"
            >
              <b-form-select
                plain
                id="org_id"
                v-model="search.org_id"
                :options="orgList"
                >
                <template v-slot:first>
                  <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('org_pro.component')"
              label-for="component_id"
            >
              <b-form-select
                plain
                id="component_id"
                v-model="search.component_id"
                :options="componentList"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('org_pro.module')"
              label-for="module_id"
            >
              <b-form-select
                plain
                id="module_id"
                v-model="search.module_id"
                :options="moduleList"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('complain.service')"
              label-for="service_id"
            >
              <b-form-select
                plain
                id="service_id"
                v-model="search.service_id"
                :options="serviceList"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('complain.division')"
              label-for="division_id"
            >
              <b-form-select
                plain
                id="division_id"
                v-model="search.division_id"
                :options="divisionList"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('complain.district')"
              label-for="district_id"
            >
              <b-form-select
                plain
                id="district_id"
                v-model="search.district_id"
                :options="districtList"
                >
                  <template v-slot:first>
                  <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('complain.upazila')"
              label-for="upazilla_id"
            >
              <b-form-select
                plain
                id="upazilla_id"
                v-model="search.upazilla_id"
                :options="upazilaList"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('complain.union')"
              label-for="union_id"
            >
              <b-form-select
                plain
                id="union_id"
                v-model="search.union_id"
                :options="unionList"
                >
                  <template v-slot:first>
                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                  </template>
                </b-form-select>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-form-group
              class="row"
              label-cols-sm="3"
              :label="$t('complain.com_titlel')"
              label-for="com_title"
            >
              <b-form-input
                id="com_title"
                v-model="search.com_title"
                ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col xs="12" sm="12" md="6">
            <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search')}}</b-button>
          </b-col>
        </b-row>
      </template>
    </iq-card>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('complain.submit_complain_info') }}</h4>
          </template>
          <template v-slot:headerAction>
            <b-button variant="primary" v-b-modal.modal-4 @click="resetId">
              {{  $t('globalTrans.add_new') }}
            </b-button>
          </template>
          <template v-slot:body>
            <b-overlay :show="loading">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="listData" :fields="columns" aria-hidden="loading | listReload ? 'true' : null" :emptyText="$t('globalTrans.noDataFound')" show-empty>
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(com_title)="data">
                      <span class="capitalize">{{ data.item.com_title }}</span>
                    </template>
                    <template v-slot:cell(org_id)="data">
                      <span class="capitalize">{{ data.item.org_id }}</span>
                    </template>
                    <template v-slot:cell(service_id)="data">
                      <span class="capitalize">{{ data.item.service_id }}</span>
                    </template>
                    <template v-slot:cell(status)="data">
                      {{ data.item.status ? $t('globalTrans.inactive') : $t('globalTrans.active') }}
                    </template>
                    <template v-slot:cell(action)="data">
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success border mr-1 mb-1" size="sm" @click="view(data.item)"><i class="ri-eye-line m-0"></i></b-button>
                      <b-button v-b-modal.modal-4 variant=" iq-bg-success border mr-1 mb-1" size="sm" @click="edit(data.item)"><i class="ri-ball-pen-fill m-0"></i></b-button>
                      <b-button variant=" iq-bg-danger border mr-1 mb-1" size="sm" @click="remove(data.item)"><i class="ri-delete-bin-line m-0"></i></b-button>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="searchData"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal v-if="createEditModal" id="modal-4" size="xl" :title="formTitle" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <FormV :id="editItemId" :key="editItemId"/>
      </p>
    </b-modal>
    <b-modal v-if="viewModal" id="modal-4" size="xl" :title="$t('complain.complain_info_detail')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <b-container fluid>
        <b-row>
          <b-col lg="12" sm="12">
            <iq-card>
              <template>
                <b-form class="text-black">
                  <b-row>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.organization')">
                        <b-form-input v-model="complain_detail.org_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('org_pro.component')">
                        <b-form-input v-model="complain_detail.component_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('org_pro.module')">
                        <b-form-input v-model="complain_detail.module_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.service')">
                        <b-form-input v-model="complain_detail.service_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.division')">
                        <b-form-input v-model="complain_detail.division_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.district')">
                        <b-form-input v-model="complain_detail.district_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.upazila')">
                        <b-form-input v-model="complain_detail.upazilla_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.union')">
                        <b-form-input v-model="complain_detail.union_name" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.com_title')">
                        <b-form-input v-model="complain_detail.com_title" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.com_title_bn')">
                        <b-form-input v-model="complain_detail.com_title_bn" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.email')">
                        <b-form-input v-model="complain_detail.email" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <b-form-group label-cols-sm="3" :label="$t('complain.mobile_no')">
                        <b-form-input v-model="complain_detail.mobile_no" readonly></b-form-input>
                      </b-form-group>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col lg="12" sm="12">
                      <b-form-group label-cols-sm="2" :label="$t('complain.description')">
                        <span class="text-dark" v-html="complain_detail.description"></span>
                      </b-form-group>
                    </b-col>
                  </b-row>
                </b-form>
              </template>
            </iq-card>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </b-container>
</template>
<script>
import FormV from './Form'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { complainInfoList, complainInfoToggleStatus } from '../../api/routes'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    FormV
  },
  data () {
    return {
      search: {
        com_title: '',
        org_id: 0,
        component_id: 0,
        module_id: 0,
        service_id: 0,
        division_id: 0,
        district_id: 0,
        upazilla_id: 0,
        union_id: 0
      },
      rows: [],
      districtList: [],
      upazilaList: [],
      unionList: [],
      moduleList: [],
      serviceList: [],
      complain_detail: '',
      createEditModal: false,
      viewModal: false,
      commonServiceBaseUrlImg: commonServiceBaseUrl
    }
  },
  computed: {
    formTitle () {
       return (this.editItemId === 0) ? this.$t('complain.submit_complain_info') + ' ' + this.$t('globalTrans.entry') : this.$t('complain.submit_complain_info') + ' ' + this.$t('globalTrans.modify')
    },
    orgList: function () {
      return this.$store.state.orgList.filter(item => item.status === 0)
    },
    componentList: function () {
      const listObject = this.$store.state.commonObjCommonConfig.componentList.filter(item => item.status === 0)
      const tmpList = listObject.map((obj, index) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
      return tmpList
    },
    divisionList () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    columns () {
      const labels = [
          { label: this.$t('globalTrans.sl_no'), class: 'text-center' },
          { label: this.$t('complain.organization'), class: 'text-left' },
          { label: this.$t('complain.service'), class: 'text-left' },
          { label: this.$t('complain.com_titlel'), class: 'text-left' },
          { label: this.$t('globalTrans.status'), class: 'text-center' },
          { label: this.$t('globalTrans.action'), class: 'text-center' }
        ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'org_name_bn' },
          { key: 'service_name_bn' },
          { key: 'com_title_bn' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'org_name' },
          { key: 'service_name' },
          { key: 'com_title' },
          { key: 'status' },
          { key: 'action' }
        ]
      }
      return labels.map((item, index) => {
        return Object.assign(item, keys[index])
      })
    }
  },
  watch: {
    'search.component_id': function (newVal, oldVal) {
      this.moduleList = this.getModuleList(newVal)
    },
    'search.module_id': function (newVal, oldVal) {
      this.serviceList = this.getServiceList(newVal)
    },
    'search.division_id': function (newVal, oldVal) {
      if (oldVal !== newVal) {
        this.districtList = this.getDistrict(newVal)
      }
    },
    'search.district_id': function (newVal, oldVal) {
      if (oldVal !== newVal) {
        this.upazilaList = this.getUpazila(newVal)
      }
    },
    'search.upazilla_id': function (newVal, oldVal) {
      if (oldVal !== newVal) {
        this.unionList = this.getUnion(newVal)
      }
    }
  },
  async created () {
    this.loadData()
  },
  mounted () {
  },
  methods: {
    resetId () {
      this.editItemId = 0
      this.createEditModal = true
      this.viewModal = false
    },

    async searchData () {
      this.loadData()
    },
    edit (item) {
      this.editItemId = item.id
      this.createEditModal = true
      this.viewModal = false
    },
    view (item) {
      this.complain_detail = item
      this.viewModal = true
      this.createEditModal = false
    },
    remove (item) {
      this.changeStatus(commonServiceBaseUrl, complainInfoToggleStatus, item)
    },
    async loadData () {
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(commonServiceBaseUrl, complainInfoList, params).then(response => {
        if (response.success) {
          this.$store.dispatch('setList', response.data.data)
          this.paginationData(response.data)
        }
      })
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
    },
    getDistrict (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)
      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }
      return districtList
    },
    getUpazila (districtId = null) {
      const upazilas = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
      if (districtId) {
        return upazilas.filter(upazila => upazila.district_id === districtId)
      }
      return upazilas
    },
    getUnion (upazilaId = null) {
      const uninons = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
      if (upazilaId) {
        return uninons.filter(uninon => uninon.upazilla_id === upazilaId)
      }
      return uninons
    },
    getModuleList (componentId) {
      const moduleList = this.$store.state.commonObjCommonConfig.moduleList.filter(item => item.status === 0)
        const moduleData = moduleList.filter(moduleItem => moduleItem.component_id === componentId)
        const tmpList = moduleData.map((obj, index) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text }
          }
        })
        return tmpList
    },
    getServiceList (moduleId) {
      const serviceList = this.$store.state.commonObjCommonConfig.serviceList.filter(item => item.status === 0)
      if (moduleId) {
        const serviceData = serviceList.filter(service => service.module_id === moduleId)
        const tmpList = serviceData.map((obj, index) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
        return tmpList
      }
    }
  }
}
</script>
