<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:headerTitle>
          <h4 class="card-title">{{ $t('warehouse_service_performance.ratio') }}</h4>
          </template>``
          <template v-slot:body>
            <b-overlay>
              <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset">
                  <b-row>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Fiscal Year" rules="required|min_value:1">
                          <b-form-group
                            class="row"
                            label-cols-sm="4"
                            label-for="fiscal_year_id"
                            slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                            {{ $t('warehouse_service_performance.fiscal_year')}} <span class="text-danger">*</span>
                          </template>
                           <b-form-select
                            plain
                            v-model="ratingEntry.fiscal_year_id"
                            :options="fiscalList"
                            id="fiscal_year_id"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                            <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                          </b-form-select>
                             <div class="invalid-feedback">
                                {{ errors[0] }}
                              </div>
                          </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" sm="12">
                    <ValidationProvider name="Division" vid='division_id' rules="required|min_value:1">
                    <b-form-group
                      class="row"
                      label-cols-sm="4"
                      label-for="division"
                      slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                        {{ $t('org_pro_division.division')}} <span class="text-danger">*</span>
                      </template>
                      <b-form-select
                        plain
                        v-model="ratingEntry.division_id"
                        :options="divisionList"
                        id="division_id"
                        :state="errors[0] ? false : (valid ? true : null)"
                        >
                        <template v-slot:first>
                          <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                        </template>
                      </b-form-select>
                      <div class="invalid-feedback">
                        {{ errors[0] }}
                      </div>
                    </b-form-group>
                    </ValidationProvider>
                </b-col>
                  </b-row>
                  <b-row>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="District"  rules="required|min_value:1">
                          <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="district_id"
                          slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                            {{ $t('org_pro_district.district')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-select
                            plain
                            v-model="ratingEntry.district_id"
                            :options="districtList"
                            id="district_id"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                              <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                          </b-form-select>
                          <div class="invalid-feedback">
                          {{ errors[0] }}
                          </div>
                          </b-form-group>
                          </ValidationProvider>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Upazila"  rules="required|min_value:1">
                              <b-form-group
                                class="row"
                                label-cols-sm="4"
                                label-for="upazilla_id"
                                slot-scope="{ valid, errors }"
                                >
                                <template v-slot:label>
                                  {{ $t('org_pro_upazilla.upazilla')}} <span class="text-danger">*</span>
                                </template>
                                <b-form-select
                                  plain
                                  v-model="ratingEntry.upazila_id"
                                  :options="upazilaList"
                                  id="upazilla_id"
                                  :state="errors[0] ? false : (valid ? true : null)"
                                  >
                                  <template v-slot:first>
                                    <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                  </template>
                                </b-form-select>
                                <div class="invalid-feedback">
                                  {{ errors[0] }}
                                </div>
                                </b-form-group>
                          </ValidationProvider>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col lg="6" sm="12">
                        <ValidationProvider name="Union" rules="required|min_value:1">
                          <b-form-group
                          class="row"
                          label-cols-sm="4"
                          :label="$t('org_pro_union.union')"
                          label-for="union_id"
                          slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                            {{ $t('org_pro_union.union')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-select
                            plain
                            v-model="ratingEntry.union_id"
                            :options="unionList"
                            id="union_id"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                              <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                          </b-form-select>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                          </b-form-group>
                          </ValidationProvider>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <ValidationProvider name="Farmer ID" vid='farmer_id' rules='required'>
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              :label="$t('warehouse_service_performance.farmer_id')"
                              label-for="farmer_id"
                              slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                            {{ $t('warehouse_service_performance.farmer_id')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-input
                          id="farmer_id"
                          v-model="ratingEntry.farmer_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          </b-form-input>
                          <div class="invalid-feedback">
                          {{ errors[0] }}
                          </div>
                          </b-form-group>
                          </ValidationProvider>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Farmer Name" vid='farmer_name'>
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              :label="$t('warehouseFarmer.farmer_name')"
                              label-for="farmer_name"
                              slot-scope="{ valid, errors }"
                          >
                          <b-form-input
                          id="farmer_name"
                          v-model="ratingEntry.farmer_name"
                          :state="errors[0] ? false : (valid ? true : null)"
                          disabled ></b-form-input>
                          <div class="invalid-feedback">
                          {{ errors[0] }}
                          </div>
                          </b-form-group>
                          </ValidationProvider>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <ValidationProvider name="Service Rate" vid='service_rate' rules='required'>
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="service_rate"
                              slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                            {{ $t('warehouse_service_performance.wh_service_rate')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-input
                          id="service_rate"
                          v-model="ratingEntry.service_rate"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                          <div class="invalid-feedback">
                          {{ errors[0] }}
                          </div>
                          </b-form-group>
                          </ValidationProvider>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col lg="6" sm="12">
                        <ValidationProvider name="Wh Officer" vid='officer_id' rules='required'>
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="officer_id"
                              slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                            {{ $t('warehouse_service_performance.wh_officer')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-input
                          id="officer_id"
                          v-model="ratingEntry.officer_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                          <div class="invalid-feedback">
                          {{ errors[0] }}
                          </div>
                          </b-form-group>
                          </ValidationProvider>
                    </b-col>
                    <b-col lg="6" sm="12">
                        <ValidationProvider name="Wh Office Rate" vid='officer_rate' rules='required'>
                          <b-form-group
                              class="row"
                              label-cols-sm="4"
                              label-for="officer_rate"
                              slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                            {{ $t('warehouse_service_performance.wh_ofc_rate')}} <span class="text-danger">*</span>
                          </template>
                              <b-form-input
                              id="officer_rate"
                              v-model="ratingEntry.officer_rate"
                              :state="errors[0] ? false : (valid ? true : null)"
                              ></b-form-input>
                              <div class="invalid-feedback">
                              {{ errors[0] }}
                              </div>
                          </b-form-group>
                          </ValidationProvider>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col></b-col>
                    <b-col>
                      <div class="mt-3">
                        <button class="btn btn-primary btn-block" type="submit">Save</button>
                      </div>
                    </b-col>
                    <b-col></b-col>
                  </b-row>
                </b-form>
              </ValidationObserver>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { authServiceBaseUrl, warehouseServiceBaseUrl } from '@/config/api_config'
import { ratingEntry } from '../../api/routes'

export default {
  name: 'FormLayout',
  components: {
    ValidationObserver,
    ValidationProvider
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      ratingEntry: this.default(),
      districtList: [],
      upazilaList: [],
      unionList: []
    }
  },
  computed: {
    divisionList: function () {
      return this.$store.state.commonObj.divisionList
    },
    fiscalList: function () {
         return this.$store.state.warehouse.fiscalYearList.filter(item => item.status === 0)
     },
    regionLists: function () {
      return this.$store.state.warehouse.regionList
    }
  },
  watch: {
    'ratingEntry.division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'ratingEntry.district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'ratingEntry.upazila_id': function (newVal, oldVal) {
      this.unionList = this.getUnion(newVal)
    },
    'ratingEntry.farmer_id': function (newVal, oldVal) {
      this.dList = this.getFarmerInfoList(newVal)
    }
  },
  methods: {
  default () {
      return {
        fiscal_year_id: 0,
        id: '',
        division_id: 0,
        district_id: 0,
        upazila_id: 0,
        union_id: 0,
        region_id: 0,
        farmer_id: '',
        service_rate: '',
        officer_id: '',
        officer_rate: '',
        farmer_name: ''
      }
    },
    async register () {
      let result = null
      const loadingState = { loading: true, listReload: false }
      this.$store.dispatch('mutateCommonProperties', loadingState)
      result = await RestApi.postData(warehouseServiceBaseUrl, `${ratingEntry}`, this.ratingEntry)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: this.ratingEntry.id ? 'Data updated successfully' : 'Data save successfully',
          color: '#D6E09B'
        })
        this.ratingEntry = this.default()
        this.$nextTick(() => {
          this.$refs.form.reset()
        })
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
      this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: true })
    },
     getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList
      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }
      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList

      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }

      return upazilaList
    },
    getUnion (upazillaId = null) {
      const unionList = this.$store.state.commonObj.unionList
      if (upazillaId) {
        return unionList.filter(union => union.upazilla_id === upazillaId)
      }
      return unionList
    },
    getFarmerInfoList (farmerId = null) {
        if (!farmerId) {
          return
        }
        RestApi.getData(authServiceBaseUrl, '/user/farmer-profile/' + farmerId).then(response => {
        if (response.success) {
            if (this.$i18n.locale === 'bn') {
                this.ratingEntry.farmer_name = response.data.name_bn
            } else {
                this.ratingEntry.farmer_name = response.data.name
            }
        }
      })
    }
  }
}
</script>
