<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="8" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit }">
                <b-form  @submit.prevent="handleSubmit(register)" >
                <ValidationProvider name="Amount" vid='amount' rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="3"
                    :label="$t('externalUserIrrigation.payment')"
                    label-for="amount"
                    slot-scope="{ valid, errors }"
                  >
                    <b-form-input
                      id="amount"
                      v-model="payment.amount"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <b-button type="submit" variant="primary">{{ saveBtnName}}</b-button>
                <b-button class="ml-4" @click="later('modal-1')" type="submit" variant="warning">{{ $t('externalUserIrrigation.later') }}</b-button>
              </b-form>
            </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { irriSchemeServiceBaseUrl } from '../../../../../config/api_config'
import { paymentStore } from '../../api/routes'

export default {
  props: ['amount', 'master_payment_id', 'far_scheme_application_id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {},
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.$t('globalTrans.save'),
      payment: {
        amount: this.amount,
        master_payment_id: this.master_payment_id,
        far_scheme_application_id: this.far_scheme_application_id
      }
    }
  },
  methods: {
    later (id) {
        this.$bvModal.hide('modal-1')
    },
    async register () {
      this.$store.dispatch('ExternalUserAuth/mutateExternalCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      result = await RestApi.postData(irriSchemeServiceBaseUrl, paymentStore, this.payment)
      this.$store.dispatch('ExternalUserIrrigation/mutateExternalCommonProperties', loadinState)

      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: 'Data save successfully',
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-1')
      } else {
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    }
  }
}
</script>
