<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <ValidationObserver ref="form" v-slot="{ handleSubmit, reset }">
              <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset">
                <b-row>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="org_id" vid="org_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="org_id"
                        slot-scope="{ valid, errors }"
                        >
                         <template v-slot:label>
                          {{ $t('user_role.organization')}} <span class="text-danger">*</span>
                         </template>
                        <b-form-select
                          plain
                          v-model="user.org_id"
                          :options="orgList"
                          id="org_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="office_type_id" vid="office_type_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="office_type_id"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                        {{ $t('user.office_type')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                          plain
                          v-model="user.office_type_id"
                          :options="officeTypeList"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="office_id" vid="office_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="office_id"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{ $t('user.office')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                          plain
                          v-model="user.office_id"
                          :options="officeList"
                          id="office_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="designation_id" vid="designation_id" rules="required|min_value:1">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="designation_id"
                        slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                        {{ $t('user_role.designation')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                          plain
                          v-model="user.designation_id"
                          :options="designationList"
                          id="designation_id"
                          :state="errors[0] ? false : (valid ? true : null)"
                          >
                          <template v-slot:first>
                            <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="name" rules="required|alpha_spaces|min:3">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('user.name')"
                        label-for="name"
                        slot-scope="{ valid, errors }"
                      >
                        <template v-slot:label>
                        {{ $t('user.name')}} <span class="text-danger">*</span>
                         </template>
                        <b-form-input
                          id="name"
                          v-model="user.name"
                          placeholder="Enter name"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="name_bn" vid="name_bn" rules="required">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        label-for="name_bn"
                        slot-scope="{ valid, errors }"
                      >
                       <template v-slot:label>
                        {{ $t('user.name_bn')}}<span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="name_bn"
                          v-model="user.name_bn"
                          placeholder="Enter name (Bn)"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="phone_no" vid="phone_no" rules="required|min:11" >
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('user.phone_no')"
                        label-for="phone_no"
                        slot-scope="{ valid, errors }"
                      >
                      <template v-slot:label>
                        {{ $t('user.phone_no')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="phone_no"
                          v-model="user.phone_no"
                          placeholder="Enter Mobile Number"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col lg="6" sm="12">
                    <ValidationProvider name="email" rules="required|email|min:3">
                      <b-form-group
                        class="row"
                        label-cols-sm="4"
                        :label="$t('user.email')"
                        label-for="email"
                        slot-scope="{ valid, errors }"
                      >
                       <template v-slot:label>
                        {{ $t('user.email')}} <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                          id="email"
                          v-model="user.email"
                          placeholder="Enter Email"
                          :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                        <div class="invalid-feedback">
                          {{ errors[0] }}
                        </div>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                  <b-row>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="User ID" vid="user_id" rules="required">
                        <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="user_id"
                          slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{ $t('user.user_id')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-input
                            id="user_id"
                            v-model="user.user_id"
                            placeholder="Enter User ID"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Password" rules="required|min:6">
                        <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="password"
                          slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{ $t('user.password')}} <span class="text-danger">*</span>
                          </template>
                          <b-form-input
                            type="password"
                            id="password"
                            v-model="user.password"
                            placeholder="Enter password"
                            autocomplete="new-password"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Repeat Password" vid="password_confirmation" rules="required|min:6">
                        <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="password_confirmation"
                          slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{ $t('user.password_confirmation')}}<span class="text-danger">*</span>
                          </template>
                          <b-form-input
                            type="password"
                            id="password_confirmation"
                            v-model="user.password_confirmation"
                            placeholder="Enter repeat password"
                            :state="errors[0] ? false : (valid ? true : null)"
                          ></b-form-input>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Secret Question" vid="secret_question_id">
                        <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="secret_question_id"
                          slot-scope="{ valid, errors }"
                          >
                          <template v-slot:label>
                          {{ $t('user.secret_question') }}
                          </template>
                          <b-form-select
                            plain
                            v-model="user.secret_question_id"
                            :options="secretQuestionList"
                            id="secret_question_id"
                            :state="errors[0] ? false : (valid ? true : null)"
                            >
                            <template v-slot:first>
                              <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                            </template>
                          </b-form-select>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Photo" rules="image">
                        <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="photo"
                          slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{ $t('user.photo')}}
                          </template>
                          <b-form-file
                            id="photo"
                            v-on:change="onFileChange"
                            accept="image/*"
                            v-model="user.photo"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-file>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                  </b-col>
                    <b-col lg="6" sm="12">
                      <ValidationProvider name="Answer">
                        <b-form-group
                          class="row"
                          label-cols-sm="4"
                          label-for="answer"
                          slot-scope="{ valid, errors }"
                        >
                        <template v-slot:label>
                          {{ $t('user.answer')}}
                          </template>
                          <b-form-input
                            id="answer"
                            v-model="user.answer"
                            placeholder="Enter answer"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-input>
                          <div class="invalid-feedback">
                            {{ errors[0] }}
                          </div>
                        </b-form-group>
                      </ValidationProvider>
                    </b-col>
                </b-row>
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col text-right">
                    <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                    &nbsp;
                    <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-1')">{{ $t('globalTrans.cancel') }}</b-button>
                  </div>
                </div>
              </b-form>
            </ValidationObserver>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { authServiceBaseUrl } from '@/config/api_config'
import { userStore, secretQuestionApi } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getUserData()
      this.user = tmp
    }
    this.getSecretQuestionList()
  },
  mounted () {
    core.index()
  },
  updated () {
  },
  data () {
    return {
      secretQList: [],
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      user: {
        name: '',
        name_bn: '',
        email: '',
        phone_no: '',
        password: '',
        password_confirmation: '',
        user_id: '',
        org_id: 0,
        office_id: 0,
        office_type_id: 0,
        role_id: 0,
        designation_id: 0,
        secret_question_id: 0,
        answer: '',
        photo: [],
        created_by: 1,
        updated_by: 1
      },
      upload_photo: [],
      designationList: []
    }
  },
  computed: {
    orgList: function () {
      return this.$store.state.commonObj.organizationProfileList
    },
    officeTypeList: function () {
      return this.$store.state.commonObj.officeTypeList
    },
    officeList: function () {
      return this.$store.state.commonObj.officeList
    },
    secretQuestionList: function () {
      return this.secretQList.map(item => {
        return Object.assign({}, item, { text: this.$i18n.locale === 'en' ? item.text_en : item.text_bn })
      })
    }
  },
  watch: {
    'user.org_id': function (newVal, oldVal) {
      if (oldVal !== newVal) {
        this.designationList = this.getDesignationList(newVal)
      }
    }
  },
  methods: {
    getUserData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    onFileChange (e) {
      this.upload_photo = e.target.files[0]
    },
    getSecretQuestionList () {
      RestApi.getData(authServiceBaseUrl, secretQuestionApi).then(response => {
        this.secretQList = response.data
      })
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }

      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }

      var formData = new FormData()
      Object.keys(this.user).map(key => {
        if (key === 'photo') {
          formData.append(key, this.upload_photo)
        } else {
          formData.append(key, this.user[key])
        }
      })

      result = await RestApi.postData(authServiceBaseUrl, userStore, formData, config)
      if (result.success && !this.user.id) {
        loadinState.listReload = true
      }

      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: 'Data saved successfully',
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-1')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    },
    getDesignationList (orgId = null) {
      const designationList = this.$store.state.commonObj.designationList
      let listObject = []
      if (orgId) {
        listObject = designationList.filter(designation => designation.org_id === orgId)
      } else {
        listObject = designationList
      }
      const tmpList = listObject.map((obj, index) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text_en }
        }
      })
      return tmpList
    }
  }
}
</script>
