<template>
  <b-container fluid>
  <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
    <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
    <b-row>
      <b-col lg="6" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">

                <ValidationProvider name="Organization" vid="org_id" rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="org_id"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                    {{$t('org_pro.organization')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="notification_template.org_id"
                      :options="organizationtList"
                      id="org_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{ $t('globalTrans.select') }}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Component" vid="component_id" rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="component_id"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                    {{$t('org_pro.component')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="notification_template.component_id"
                      :options="componentList"
                      id="component_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{ $t('globalTrans.select') }}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Module" vid="module_id" rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="module_id"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                    {{$t('org_pro.module')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="notification_template.module_id"
                      :options="moduleList"
                      id="module_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Title" vid="title" rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="title"
                    slot-scope="{ valid, errors }"
                  >
                    <template v-slot:label>
                    {{$t('notification.title_en')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      id="title"
                      v-model="notification_template.title"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Message (En)" vid="message" rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="message"
                    slot-scope="{ valid, errors }"
                  >
                  <template v-slot:label>
                    {{$t('notification.message_en')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-textarea
                      id="message"
                      v-model="notification_template.message"
                      debounce="500"
                      rows="2"
                      max-rows="3"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-textarea>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
      <b-col lg="6" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">
                <ValidationProvider name="Service" vid="service_id">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="service_id"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                    {{$t('org_pro.service')}}
                    </template>
                    <b-form-select
                      plain
                      v-model="notification_template.service_id"
                      :options="serviceList"
                      id="service_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value=null>{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Menu" vid="menu_id" rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="menu_id"
                    slot-scope="{ valid, errors }"
                    >
                     <template v-slot:label>
                    {{$t('org_pro.menu')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="notification_template.menu_id"
                      :options="menuList"
                      id="menu_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Notification Type" vid="notification_type_id" rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="notification_type_id"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                    {{$t('notification.notification_type')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="notification_template.notification_type_id"
                      :options="notificattionTypes"
                      id="notification_type_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{$t('globalTrans.select')}}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Title (Bn)" vid="title_bn" rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="title_bn"
                    slot-scope="{ valid, errors }"
                  >
                  <template v-slot:label>
                    {{$t('globalTrans.title_bn')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      id="title_bn"
                      v-model="notification_template.title_bn"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Message (Bn)" vid="message_bn" rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="4"
                    label-for="message_bn"
                    slot-scope="{ valid, errors }"
                  >
                  <template v-slot:label>
                    {{$t('globalTrans.msg_bn')}} <span class="text-danger">*</span>
                    </template>
                    <b-form-textarea
                      id="message_bn"
                      v-model="notification_template.message_bn"
                      debounce="500"
                      rows="2"
                      max-rows="3"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-textarea>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col text-right">
                    <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                    &nbsp;
                    <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-xl')">{{ $t('globalTrans.cancel') }}</b-button>
                  </div>
                </div>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
          <!-- <b-button variant="danger" class="mr-1" type="reset" >{{$t('globalTrans.reset')}}</b-button> -->

    </b-row>
    </b-form>
  </ValidationObserver>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { notificationTemplateStore, notificationTemplateUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getnotification_templateData()
    //   Object.freeze(tmp)
      this.notification_template = tmp
    }
    this.notificationTypeList()
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      notification_template: {
        org_id: 0,
        component_id: 0,
        module_id: 0,
        service_id: null,
        menu_id: 0,
        notification_type_id: 0,
        title: '',
        title_bn: '',
        message: '',
        message_bn: ''
      },
      moduleList: [],
      serviceList: [],
      notificattionTypes: [],
      menuList: []
    }
  },
  computed: {
    organizationtList: function () {
      const listObject = this.$store.state.orgList.filter(item => item.status === 0)
      return listObject
    },
    componentList: function () {
      const listObject = this.$store.state.commonObjCommonConfig.componentList.filter(item => item.status === 0)
      const tmpList = listObject.map((obj, index) => {
        if (this.$i18n.locale === 'bn') {
          return { value: obj.value, text: obj.text_bn }
        } else {
          return { value: obj.value, text: obj.text }
        }
      })
      return tmpList
    }
  },
  watch: {
    'notification_template.component_id': function (newVal, oldVal) {
      this.moduleList = this.getModuleList(newVal)
    },
    'notification_template.module_id': function (newVal, oldVal) {
      this.serviceList = this.getServiceList(newVal)
      this.menuList = this.getMenuList(newVal)
    }
  },
  methods: {
    getnotification_templateData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }

      if (this.notification_template.id) {
        result = await RestApi.putData(commonServiceBaseUrl, `${notificationTemplateUpdate}/${this.id}`, this.notification_template)
      } else {
        result = await RestApi.postData(commonServiceBaseUrl, notificationTemplateStore, this.notification_template)
      }

      loadinState.listReload = true

      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$toast.success({
          title: this.$t('globalTrans.success'),
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-xl')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    },
    getModuleList (componentId) {
      const moduleList = this.$store.state.commonObjCommonConfig.moduleList.filter(item => item.status === 0)
      if (componentId) {
        const moduleData = moduleList.filter(module => module.component_id === componentId)
        const tmpList = moduleData.map((obj, index) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text }
          }
        })
        return tmpList
      }
    },
    getServiceList (moduleId) {
      const serviceList = this.$store.state.commonObjCommonConfig.serviceList.filter(item => item.status === 0)
      if (moduleId) {
        const serviceData = serviceList.filter(service => service.module_id === moduleId)
        const tmpList = serviceData.map((obj) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
        return tmpList
      }
    },
    getMenuList (moduleId) {
      const menuList = this.$store.state.commonObjCommonConfig.menuList.filter(item => item.status === 0)
      if (moduleId) {
        const menuData = menuList.filter(menu => menu.module_id === moduleId)
        const tmpList = menuData.map((obj, index) => {
          if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
          } else {
            return { value: obj.value, text: obj.text_en }
          }
        })
        return tmpList
      }
    },
    notificationTypeList () {
        const listObject = this.$store.state.commonObjCommonConfig.notificationTypeList.filter(item => item.status === 0)
        this.notificattionTypes = listObject.map((obj, index) => {
            if (this.$i18n.locale === 'bn') {
            return { value: obj.value, text: obj.text_bn }
            } else {
            return { value: obj.value, text: obj.text }
            }
        })
    }
  }
}
</script>
