<template>
  <div>
    <Customizer @onLogo="changeLogo" @toggle="sidebarMini" @animationChange="routerAnimationChange" />
    <div class="wrapper">
      <!-- Sidebar  -->
      <SmallSidebar v-if="$route.name === 'dashboard.home-5'" :logo="SmallSidebarLogo" @toggle="sidebarMini" />
      <Sidebar :items="verticalMenu" :logo="logo" :onlyLogo="onlyLogo" :onlyLogoText="onlyLogoText" @toggle="sidebarMini" :toggleButton="toggleSideIcon" :sidebarGroupTitle="sidebarGroupTitle" />
      <!-- TOP Nav Bar -->
      <DefaultNavBar title="Dashboard" :homeURL="{ name: 'external-user.dashboard' }" :sidebarGroupTitle="sidebarGroupTitle" @toggle="sidebarMini" :logo="logo">
        <template slot="responsiveRight">
          <ul class="navbar-nav ml-auto navbar-list">
            <li class="nav-item d-flex" v-nav-toggle>
              <div class="row align-self-center ">
                <div id="language" class="btn-group btn-group-sm" role="group" aria-label="Language">
                  <button type="button" class="btn btn-secondary bg-white text-success font-weight-bold" @click="changeLang('bn')">{{ $t('globalTrans.bn') }}</button>
                  <button type="button" class="btn btn-secondary bg-white text-danger font-weight-bold" @click="changeLang('en')">{{ $t('globalTrans.en') }}</button>
                </div>
              </div>
            </li>
            <li class="nav-item" v-nav-toggle>
              <a href="#" class="search-toggle iq-waves-effect">
                <i class="ri-notification-line"></i>
                <span class="bg-danger dots"></span>
              </a>
              <div class="iq-sub-dropdown">
                <div class="iq-card shadow-none m-0">
                  <div class="iq-card-body p-0 ">
                    <div class="bg-primary p-3">
                      <h5 class="mb-0 text-white">{{ $t('nav.allNotifications') }}<small class="badge  badge-light float-right pt-1">4</small></h5>
                    </div>
                    <a href="#" class="iq-sub-card" v-for="(item, index) in notificationList" :key="index">
                      <div class="media align-items-center">
                        <div class="">
                          <img class="avatar-40 rounded" :src="item.image" alt="img">
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">{{ item.name }}</h6>
                          <small class="float-right font-size-12">{{ item.date }}</small>
                          <p class="mb-0">{{ item.description.substring(0,40) + '...' }}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </template>
        <template slot="right">
          <ul class="navbar-list">
            <li class="" v-nav-toggle>
              <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center bg-primary rounded">
                <slot v-if="isLoad">
                  <slot v-if="dataTest.farmerBasicInfo">
                    <slot v-if="typeof dataTest.farmerBasicInfo.attachment === 'undefined'">
                      <img :src="'/images/user_icon.png'" class="img-fluid rounded mr-1" alt="user">
                    </slot>
                    <slot v-else>
                      <slot v-if="dataTest.farmerBasicInfo.status == 1">
                        <img :src="'/images/user_icon.png'" class="img-fluid rounded mr-1" alt="user">
                      </slot>
                      <slot v-else>
                        <img :src="irriSchemeServiceBaseUrl + 'download-attachment?file=uploads/farmer-basic/original/' + dataTest.farmerBasicInfo.attachment" class="img-fluid rounded mr-1" alt="user">
                      </slot>
                    </slot>
                  </slot>
                  <slot v-else>
                    <img :src="'/images/user_icon.png'" class="img-fluid rounded mr-1" alt="user">
                  </slot>
                </slot>
                <div class="caption">
                  <h6 class="mb-0 line-height text-white">{{ getLimitedAuthUserName(authUser.name) }}</h6>
                </div>
              </a>
              <div class="iq-sub-dropdown iq-user-dropdown">
                <div class="iq-card shadow-none m-0">
                  <div class="iq-card-body p-0 ">
                    <div class="bg-info p-3">
                      <h5 class="mb-0 text-white line-height">{{ getLimitedAuthUserName(authUser.name) }}</h5>
                    </div>
                    <router-link :to="{ name: 'external-user.site_preference' }" class="iq-sub-card iq-bg-primary-hover">
                      <div class="media align-items-center">
                        <div class="rounded iq-card-icon iq-bg-primary">
                          <i class="ri-account-box-line"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">{{ $t('nav.user.siteSettingTitle') }}</h6>
                          <p class="mb-0 font-size-12">{{ $t('nav.user.siteSettingSubTitle') }}</p>
                        </div>
                      </div>
                    </router-link>
                      <router-link :to="{ name: 'external-user.change_mobile' }" class="iq-sub-card iq-bg-primary-hover">
                      <div class="media align-items-center">
                        <div class="rounded iq-card-icon iq-bg-primary">
                          <i class="ri-account-box-line"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">{{ $t('nav.user.change_mobile') }}</h6>
                          <p class="mb-0 font-size-12">{{ $t('nav.user.changeMobileTitle') }}</p>
                        </div>
                      </div>
                    </router-link>
                    <router-link :to="{ name: 'external-user.password_change'}" class="iq-sub-card iq-bg-primary-hover">
                      <div class="media align-items-center">
                        <div class="rounded iq-card-icon iq-bg-primary">
                          <i class="ri-lock-unlock-fill"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">{{ $t('nav.user.accountChangePasswordTitle') }}</h6>
                          <p class="mb-0 font-size-12">{{ $t('nav.user.accountChangePasswordSub') }}</p>
                        </div>
                      </div>
                    </router-link>
                    <div class="d-inline-block w-100 text-center p-3">
                      <a class="bg-primary iq-sign-btn" href="javascript:void(0)" @click="logout" role="button">{{ $t('nav.user.signout') }}<i class="ri-login-box-line ml-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </template>
      </DefaultNavBar>
      <!-- TOP Nav Bar END -->
      <div id="content-page" class="content-page">
        <b-container fluid="" v-if="!notBookmarkRouts.includes($route.name)">
        </b-container>
        <transition name="router-anim" :enter-active-class="`animated ${animated.enter}`" mode="out-in"
                    :leave-active-class="`animated ${animated.exit}`">
          <router-view/>
        </transition>
      </div>
    </div>
    <LayoutFooter />
  </div>
</template>
<script>
import RestApi, { irriSchemeServiceBaseUrl } from '@/config/api_config'
import { core } from '../config/pluginInit'
import { mapActions, mapGetters } from 'vuex'
import Sidebar from '../components/core/sidebars/SidebarExternal'
import DefaultNavBar from '../components/core/navbars/DefaultNavBar'
import SideBarItems from '../FackApi/json/SideBarExternalUser'
import profile from '../assets/images/user/user-1.jpeg'
import Logo from '../assets/images/logo.png'
import darkLoader from '../assets/images/darkMode/dark-logo.gif'
import Customizer from './Components/Customizer'
import WhiteLogo from '../assets/images/logo-2.png'
import SmallSidebar from '../components/core/sidebars/SmallSidebar'
import LayoutFooter from './Components/LayoutFooter'
import ExternalCommonDropdown from '@/mixins/dropdown-exteral-dashboard'
import ExternalUserAgriMarketing from '@/mixins/dropdown-agri-marketing'

export default {
  name: 'VerticleLayout',
  mixins: [ExternalCommonDropdown, ExternalUserAgriMarketing],
  components: {
    LayoutFooter,
    Customizer,
    Sidebar,
    DefaultNavBar,
    SmallSidebar
  },
  mounted () {
    this.layoutSetting(this.$route.name)

    if (window.performance) {
      this.$store.dispatch('mutateCommonProperties', { hasDropdownLoaded: false })
      this.langChange(this.selectedLang)
    }
  },
  created () {
    this.checkUser()
    this.verticalMenu = this.authUser.user_type_id === 2 ? SideBarItems.warehouse_farmers : SideBarItems.common
    if (this.authUser.user_type_id === 2) {
      this.verticalMenu = SideBarItems.warehouse_farmers
    } else if (this.authUser.user_type_id === 3) {
      this.verticalMenu = SideBarItems.ginner
    } else if (this.authUser.user_type_id === 4) {
      this.verticalMenu = SideBarItems.grower
    } else if (this.authUser.user_type_id === 5) {
      this.verticalMenu = SideBarItems.divisional_head
    } else if (this.authUser.user_type_id === 6) {
      this.verticalMenu = SideBarItems.dealer_panel
    } else if (this.authUser.user_type_id === 7) {
      this.verticalMenu = SideBarItems.grant_panel
    }
    if (this.authUser === null) {
      this.logout()
    }
  },
  computed: {
    ...mapGetters({
      selectedLang: 'Setting/langState',
      langsOptions: 'Setting/langOptionState',
      darkMode: 'Setting/darkModeState',
      colors: 'Setting/colorState',
      authUser: 'Auth/authUser'
    }),
    dataTest () {
      return this.$store.state.ExternalUserIrrigation
    },
    toggleSideIcon () {
      let show = true
      switch (this.$route.name) {
        case 'dashboard.home-3':
        case 'dashboard.home-4':
        case 'dashboard.home-5':
        case 'dashboard.home-6':
          show = false
          break
      }
      return show
    },
    currentLocale () {
      return this.$i18n.locale
    },
    notificationList () {
      return [
        { image: require('../assets/images/user/user-01.jpg'), name: this.currentLocale === 'en' ? 'Nikhil' : 'নিখিল', date: this.currentLocale === 'en' ? '23 years Ago' : '২৩ বছর আগে', description: this.currentLocale === 'en' ? 'All Farmers Enjoy digital paltform' : 'সমস্ত কৃষক ডিজিটাল প্ল্যাটফর্ম উপভোগ করুন' },
        { image: require('../assets/images/user/user-05.jpg'), name: this.currentLocale === 'en' ? 'Arif' : 'আরিফ', date: this.currentLocale === 'en' ? '23 years Ago' : '২৩ বছর আগে', description: this.currentLocale === 'en' ? 'Developed By Syntech Solution Ltd' : 'সিনটেক সলিউশন লিমিটেড দ্বারা তৈরি' }
      ]
    }
  },
  watch: {
    $route: function (to, from) {
      this.layoutSetting(to.name)
    }
  },
  // sidebarTicket
  data () {
    return {
      animated: { enter: 'fadeInUp', exit: 'fadeOut' },
      verticalMenu: [],
      userProfile: profile,
      onlyLogo: false,
      onlyLogoText: false,
      sidebarGroupTitle: true,
      logo: Logo,
      SmallSidebarLogo: WhiteLogo,
      isLoad: false,
      irriSchemeServiceBaseUrl: irriSchemeServiceBaseUrl,
      notBookmarkRouts: []
    }
  },
  methods: {
    farmerBasicInfo () {
      return true
    },
    checkUser () {
      RestApi.getData(irriSchemeServiceBaseUrl, 'farmer-basic-infos/check-user?with_data=' + false).then(response => {
        if (response.success) {
          this.$store.dispatch('ExternalUserIrrigation/getFarmerBasicInfoDetails', response.data)
        }
        this.isLoad = true
      })
    },
    layoutSetting (routeName) {
      this.modeChange({ dark: this.darkMode })
      this.onlyLogo = true
      this.onlyLogoText = true
      this.sidebarGroupTitle = true
      switch (routeName) {
        case 'dashboard.home-5':
          this.onlyLogoText = true
          this.onlyLogo = false
          break
        case 'dashboard.home-6':
          this.logo = WhiteLogo
          this.onlyLogo = true
          this.onlyLogoText = false
          this.sidebarGroupTitle = false
          break
        default:
          if (this.darkMode) {
            this.logo = darkLoader
          } else {
            this.logo = Logo
          }
          break
      }
    },
    changeLogo (e) {
      this.logo = e
    },
    sidebarMini () {
      core.triggerSet()
      this.$store.dispatch('Setting/miniSidebarAction')
    },
    logout () {
      localStorage.removeItem('accessUsername')
      localStorage.removeItem('access_token')
      localStorage.removeItem('accessUserId')
      this.$store.dispatch('Auth/updateAuthUser', null)
      this.$store.commit('ExternalUserIrrigation/mutateExternalCommonProperties', {
        hasDropdownLoaded: false
      })
      this.$store.dispatch('ExternalUserIrrigation/getFarmerBasicInfoDetails', null)
      this.$router.push('/auth/login')
    },
    changeLang (locale) {
      this.langsOptions.forEach(element => {
        if (element.value === locale) {
          this.langChange(element)
        }
      })
    },
    langChange (lang) {
      this.langChangeState(lang)
      this.$store.commit('ExternalUserIrrigation/localizeExternalDropdown', { value: lang.value })
      this.$i18n.locale = lang.value
      if (document.getElementsByClassName('iq-show').length > 0) {
        document.getElementsByClassName('iq-show')[0].classList.remove('iq-show')
      }
    },
    routerAnimationChange (e) {
      this.animated = e
    },
    getLimitedAuthUserName (name) {
      const fullName = name.split(' ')
      const len = fullName.length
      let obtainedName = ''
      for (let i = 0; i < len; i++) {
        const part = obtainedName + ' ' + fullName[i]
        if (part.length <= 10) {
          obtainedName += fullName[i] + ' '
        }
      }
      if (obtainedName === '') {
        obtainedName = fullName[0].substring(0, 7) + '...'
      }
      return obtainedName.trim()
    },
    ...mapActions({
      langChangeState: 'Setting/setLangAction',
      modeChange: 'Setting/layoutModeAction'
    })
  }
}
</script>
<style>
  @import url("../assets/css/custom.css");
</style>
