<template>
  <div>
    <Customizer @onLogo="changeLogo" @toggle="sidebarMini" @animationChange="routerAnimationChange" />
    <div class="wrapper">
      <!-- Sidebar  -->
      <!-- <SmallSidebar v-if="$route.name === 'irrigation_scheme_service.dashboard.dashboard'" :logo="SmallSidebarLogo" @toggle="sidebarMini" /> -->
      <SmallSidebar v-if="$route.name === 'dashboard.home-5'" :logo="SmallSidebarLogo" @toggle="sidebarMini" />
      <Sidebar :items="verticalMenu" :logo="logo" :onlyLogo="onlyLogo" :onlyLogoText="onlyLogoText" @toggle="sidebarMini" :toggleButton="toggleSideIcon" :sidebarGroupTitle="sidebarGroupTitle" />
      <!-- TOP Nav Bar -->
      <DefaultNavBar title="Dashboard" :homeURL="{ name: 'irrigation_scheme_service.dashboard.dashboard' }" :sidebarGroupTitle="sidebarGroupTitle" @toggle="sidebarMini" :logo="logo">
        <template slot="responsiveRight">
          <ul class="navbar-nav ml-auto navbar-list">
            <li class="nav-item d-flex" v-nav-toggle>
              <div class="row align-self-center ">
                <div id="language" class="btn-group btn-group-sm" role="group" aria-label="Language">
                  <button type="button" class="btn btn-secondary bg-white text-success font-weight-bold" @click="changeLang('bn')">{{ $t('globalTrans.bn') }}</button>
                  <button type="button" class="btn btn-secondary bg-white text-danger font-weight-bold" @click="changeLang('en')">{{ $t('globalTrans.en') }}</button>
                </div>
              </div>
            </li>
            <li class="nav-item" v-nav-toggle>
              <a href="#" class="search-toggle iq-waves-effect">
                <lottie :option="require('../assets/images/small/lottie-bell')" id="lottie-beil" />
                <span class="bg-danger dots"></span>
              </a>
              <div class="iq-sub-dropdown">
                <div class="iq-card shadow-none m-0">
                  <div class="iq-card-body p-0 ">
                    <div class="bg-primary p-3">
                      <h5 class="mb-0 text-white">{{ $t('nav.allNotifications') }}<small class="badge  badge-light float-right pt-1">4</small></h5>
                    </div>
                    <a href="#" class="iq-sub-card" v-for="(item, index) in notificationList" :key="index">
                      <div class="media align-items-center">
                        <div class="">
                          <img class="avatar-40 rounded" :src="item.image" alt="img">
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">{{ item.name }}</h6>
                          <small class="float-right font-size-12">{{ item.date }}</small>
                          <p class="mb-0">{{ item.description.substring(0,40) + '...' }}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </template>
        <template slot="right">
          <SiteSettings :authServiceBaseUrl="authServiceBaseUrl" :authUser="authUser"/>
        </template>
      </DefaultNavBar>
      <!-- TOP Nav Bar END -->
      <div id="content-page" class="content-page" v-bind:class="{ ' ministry-user': isMinistryUser }">
        <transition name="router-anim" :enter-active-class="`animated ${animated.enter}`" mode="out-in"
                    :leave-active-class="`animated ${animated.exit}`">
          <router-view/>
        </transition>
      </div>
    </div>
    <LayoutFooter />
  </div>
</template>
<script>
import { authServiceBaseUrl } from '@/config/api_config'
import { core } from '../config/pluginInit'
import { mapActions, mapGetters } from 'vuex'
import Sidebar from '../components/core/sidebars/Sidebar'
import DefaultNavBar from '../components/core/navbars/DefaultNavBar'
import profile from '../assets/images/user/user-1.jpeg'
import Logo from '../assets/images/logo.png'
import darkLoader from '../assets/images/darkMode/dark-logo.gif'
import Lottie from '../components/core/lottie/Lottie'
import SiteSettings from './Components/SitePreferenceSetting'
import Customizer from './Components/Customizer'
import WhiteLogo from '../assets/images/logo-2.png'
import SmallSidebar from '../components/core/sidebars/SmallSidebar'
import LayoutFooter from './Components/LayoutFooter'
import DropdownMixin from '@/mixins/dropdown'
import IrrigationDropdownMixin from '@/mixins/irrigation-dropdown'

export default {
  name: 'VerticleLayout',
  mixins: [DropdownMixin, IrrigationDropdownMixin],
  components: {
    LayoutFooter,
    SiteSettings,
    Customizer,
    Lottie,
    Sidebar,
    DefaultNavBar,
    SmallSidebar
  },
  created () {
    this.mixinSetOrganizationProfileList()
    if (window.performance) {
      this.$store.dispatch('mutateCommonProperties', { hasDropdownLoaded: false })
      this.langChange(this.selectedLang)
    }
  },
  mounted () {
    this.layoutSetting(this.$route.name)
  },
  computed: {
    ...mapGetters({
      selectedLang: 'Setting/langState',
      langsOptions: 'Setting/langOptionState',
      darkMode: 'Setting/darkModeState',
      colors: 'Setting/colorState',
      authUser: 'Auth/authUser',
      verticalMenu: 'Auth/getActiveMenus'
    }),
    toggleSideIcon () {
      let show = true
      switch (this.$route.name) {
        case 'dashboard.home-3':
        case 'dashboard.home-4':
        case 'dashboard.home-5':
        case 'dashboard.home-6':
          show = false
          break
      }
      return show
    },
    currentLocale () {
      return this.$i18n.locale
    },
    notificationList () {
      return [
        { image: require('../assets/images/user/user-01.jpg'), name: this.currentLocale === 'en' ? 'Nikhil' : 'নিখিল', date: this.currentLocale === 'en' ? '23 years Ago' : '২৩ বছর আগে', description: this.currentLocale === 'en' ? 'All Farmers Enjoy digital paltform' : 'সমস্ত কৃষক ডিজিটাল প্ল্যাটফর্ম উপভোগ করুন' },
        { image: require('../assets/images/user/user-05.jpg'), name: this.currentLocale === 'en' ? 'Arif' : 'আরিফ', date: this.currentLocale === 'en' ? '23 years Ago' : '২৩ বছর আগে', description: this.currentLocale === 'en' ? 'Developed By Syntech Solution Ltd' : 'সিনটেক সলিউশন লিমিটেড দ্বারা তৈরি' }
      ]
    }
  },
  watch: {
    $route: function (to, from) {
      this.layoutSetting(to.name)
    }
  },
  // sidebarTicket
  data () {
    return {
      animated: { enter: 'fadeInUp', exit: 'fadeOut' },
      userProfile: profile,
      onlyLogo: false,
      onlyLogoText: false,
      sidebarGroupTitle: true,
      logo: Logo,
      SmallSidebarLogo: WhiteLogo,
      mixinComponentId: 9,
      authServiceBaseUrl: authServiceBaseUrl
    }
  },
  methods: {
    layoutSetting (routeName) {
      this.modeChange({ dark: this.darkMode })
      this.onlyLogo = true
      this.onlyLogoText = true
      this.sidebarGroupTitle = true
      switch (routeName) {
        case 'dashboard.home-5':
          this.onlyLogoText = true
          this.onlyLogo = false
          break
        case 'dashboard.home-6':
          this.logo = WhiteLogo
          this.onlyLogo = true
          this.onlyLogoText = false
          this.sidebarGroupTitle = false
          break
        default:
          if (this.darkMode) {
            this.logo = darkLoader
          } else {
            this.logo = Logo
          }
          break
      }
    },
    changeLogo (e) {
      this.logo = e
    },
    sidebarMini () {
      core.triggerSet()
      this.$store.dispatch('Setting/miniSidebarAction')
    },
    logout () {
      localStorage.removeItem('accessUsername')
      localStorage.removeItem('access_token')
      this.$store.dispatch('Auth/updateAuthUser', null)
      this.$store.commit('mutateCommonProperties', {
        hasDropdownLoaded: false
      })
      this.$router.push('/auth/login')
    },
    changeLang (locale) {
      this.langsOptions.forEach(element => {
        if (element.value === locale) {
          this.langChange(element)
        }
      })
    },
    langChange (lang) {
      this.langChangeState(lang)
      this.changeCommonDropdown(lang)
      this.changeIrriCommonDropdown(lang)
      this.$i18n.locale = lang.value
      if (document.getElementsByClassName('iq-show').length > 0) {
        document.getElementsByClassName('iq-show')[0].classList.remove('iq-show')
      }
    },
    routerAnimationChange (e) {
      this.animated = e
    },
    getLimitedAuthUserName (name) {
      const fullName = name.split(' ')
      const len = fullName.length
      let obtainedName = ''
      for (let i = 0; i < len; i++) {
        const part = obtainedName + ' ' + fullName[i]
        if (part.length <= 10) {
          obtainedName += fullName[i] + ' '
        }
      }
      if (obtainedName === '') {
        obtainedName = fullName[0].substring(0, 7) + '...'
      }
      return obtainedName.trim()
    },
    ...mapActions({
      langChangeState: 'Setting/setLangAction',
      modeChange: 'Setting/layoutModeAction',
      changeCommonDropdown: 'changeCommonDropdown',
      changeIrriCommonDropdown: 'IrriConfig/changeCommonObjDropdown'
    })
  }
}
</script>
<style>
  @import url("../assets/css/custom.css");
</style>
