<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset">
                    <b-row>
                      <b-col lg="6" sm="12">
                        <ValidationProvider name="Crop Name" vid="crop_name_id" rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="3"
                              label-for="crop_name_id"
                              slot-scope="{ valid, errors }"
                              >
                              <template v-slot:label>
                              {{ $t('germConfig.cropName') }} <span class="text-danger">*</span>
                              </template>
                              <b-form-select
                              plain
                              v-model="descriptorHeading.crop_name_id"
                              :options="CropNameList"
                              id="crop_name_id"
                              :state="errors[0] ? false : (valid ? true : null)"
                              >
                              <template v-slot:first>
                                  <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                              </b-form-select>
                              <div class="invalid-feedback">
                              {{ errors[0] }}
                              </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                       <b-col lg="6" sm="12">
                         <ValidationProvider name="Descriptor Label" vid="descriptor_label_id" rules="required|min_value:1">
                          <b-form-group
                              class="row"
                              label-cols-sm="3"
                              label-for="descriptor_label_id"
                              slot-scope="{ valid, errors }"
                              >
                              <template v-slot:label>
                              {{ $t('germConfig.descriptor_label') }} <span class="text-danger">*</span>
                              </template>
                              <b-form-select
                              plain
                              v-model="descriptorHeading.descriptor_label_id"
                              :options="descriptorLabelList"
                              id="descriptor_label_id"
                              :state="errors[0] ? false : (valid ? true : null)"
                              >
                              <template v-slot:first>
                                  <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                              </template>
                              </b-form-select>
                              <div class="invalid-feedback">
                              {{ errors[0] }}
                              </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col>
                        <hr>
                        <b-row v-for="(detail,index) in descriptorHeading.details" :key="index">
                          <b-col xl="3" lg="2" sm="8">
                              <ValidationProvider name="Heading Name (En)" vid='heading_name' rules="required">
                                    <b-form-group
                                        class="row"
                                        label-cols-sm="12"
                                        label-for="heading_name"
                                        slot-scope="{ valid, errors }"
                                    >
                                        <template v-slot:label>
                                        {{ $t('germConfig.heading_name_en')}}<span class="text-danger">*</span>
                                        </template>
                                        <b-form-input
                                        id="heading_name"
                                        v-model="detail.heading_name"
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        ></b-form-input>
                                        <div class="invalid-feedback">
                                        {{ errors[0] }}
                                        </div>
                                    </b-form-group>
                                </ValidationProvider>
                          </b-col>
                          <b-col xl="2" lg="2" sm="8">
                              <ValidationProvider name="Heading Name (Bn)" vid='heading_name_bn' rules="required">
                                    <b-form-group
                                        class="row"
                                        label-cols-sm="12"
                                        label-for="heading_name_bn"
                                        slot-scope="{ valid, errors }"
                                    >
                                        <template v-slot:label>
                                        {{ $t('germConfig.heading_name_bn')}}<span class="text-danger">*</span>
                                        </template>
                                        <b-form-input
                                        id="heading_name_bn"
                                        v-model="detail.heading_name_bn"
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        ></b-form-input>
                                        <div class="invalid-feedback">
                                        {{ errors[0] }}
                                        </div>
                                    </b-form-group>
                                </ValidationProvider>
                          </b-col>
                          <b-col xl="2" lg="2" sm="8">
                              <ValidationProvider name="Heading serial" vid='heading_sl' rules="required">
                                    <b-form-group
                                        class="row"
                                        label-cols-sm="12"
                                        label-for="heading_sl"
                                        slot-scope="{ valid, errors }"
                                    >
                                        <template v-slot:label>
                                        {{ $t('germConfig.heading_sl')}}<span class="text-danger">*</span>
                                        </template>
                                        <b-form-input
                                        type="number"
                                        id="heading_sl"
                                        v-model="detail.heading_sl"
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        ></b-form-input>
                                        <div class="invalid-feedback">
                                        {{ errors[0] }}
                                        </div>
                                    </b-form-group>
                                </ValidationProvider>
                          </b-col>
                          <b-col xl="2" lg="2" sm="8">
                              <ValidationProvider name="Description (En)" vid='description' rules="required">
                                    <b-form-group
                                        class="row"
                                        label-cols-sm="12"
                                        label-for="description"
                                        slot-scope="{ valid, errors }"
                                    >
                                        <template v-slot:label>
                                        {{ $t('germConfig.description_en')}}<span class="text-danger">*</span>
                                        </template>
                                        <b-form-textarea
                                        rows="1"
                                        max-rows="2"
                                        id="description"
                                        v-model="detail.description"
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        ></b-form-textarea>
                                        <div class="invalid-feedback">
                                        {{ errors[0] }}
                                        </div>
                                    </b-form-group>
                                </ValidationProvider>
                          </b-col>
                           <b-col xl="2" lg="2" sm="8">
                              <ValidationProvider name="Description (Bn)" vid='description_bn' rules="required">
                                    <b-form-group
                                        class="row"
                                        label-cols-sm="12"
                                        label-for="description_bn"
                                        slot-scope="{ valid, errors }"
                                    >
                                        <template v-slot:label>
                                        {{ $t('germConfig.description_bn')}}<span class="text-danger">*</span>
                                        </template>
                                        <b-form-textarea
                                        id="description_bn"
                                        rows="1"
                                        max-rows="2"
                                        v-model="detail.description_bn"
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        ></b-form-textarea>
                                        <div class="invalid-feedback">
                                        {{ errors[0] }}
                                        </div>
                                    </b-form-group>
                                </ValidationProvider>
                          </b-col>
                          <b-col xl="1" lg="1" sm="4" class="mt-5">
                              <b-button v-show="index == descriptorHeading.details.length-1" variant=" iq-bg-success" size="sm" @click="add()"><i class="ri-add-line m-0"></i></b-button>
                              <b-button v-show="index || ( !index && descriptorHeading.details.length > 1)" variant=" iq-bg-danger" size="sm" @click="remove(index)"><i class="ri-delete-bin-line m-0"></i></b-button>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col text-right">
                          <b-button type="submit" variant="primary" class="mr-2">{{ saveBtnName }}</b-button>
                          &nbsp;
                          <b-button variant="danger" class="mr-1" @click="$bvModal.hide('modal-4')">{{ $t('globalTrans.cancel') }}</b-button>
                      </div>
                    </div>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { seedFertilizerServiceBaseUrl } from '@/config/api_config'
import { descriptorHeadingStore, descriptorHeadingUpdate } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  created () {
    if (this.id) {
      const tmp = this.getDescriptorHeadingData()
      this.descriptorHeading = tmp
            this.descriptorHeading = tmp
             const descriptorData = tmp.details.map(item => {
                return {
                    heading_name: item.heading_name,
                    heading_name_bn: item.heading_name_bn,
                    heading_sl: item.heading_sl,
                    description: item.description,
                    description_bn: item.description_bn
                }
            })
            this.descriptorHeading.details = descriptorData
    }
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      totalPost: 0,
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      descriptorHeading: {
        crop_name_id: 0,
        descriptor_label_id: 0,
        details: [
            {
                heading_name: '',
                heading_name_bn: '',
                heading_sl: '',
                description: '',
                description_bn: ''
            }
        ]
      },
      detail: [
            {
                heading_name: '',
                heading_name_bn: '',
                heading_sl: '',
                description: '',
                description_bn: ''
            }
      ],
      descriptorLabelList: []
    }
  },
  computed: {
      CropNameList: function () {
        return this.$store.state.SeedsFertilizer.commonObj.CropNameList.filter(item => item.status === 1)
    }
  },
  watch: {
        'descriptorHeading.crop_name_id': function (newVal, oldVal) {
         this.descriptorLabelList = this.getDescriptorLabelList(newVal)
        }
    },
  methods: {
    getDescriptorLabelList (cropNameId = null) {
      const descriptorLabelList = this.$store.state.SeedsFertilizer.commonObj.descriptorLabelList.filter(item => item.status === 1)
      if (cropNameId) {
        return descriptorLabelList.filter(label => label.crop_name_id === cropNameId)
      }
      return descriptorLabelList
    },
    async saveData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadingState = { loading: false, listReload: false }

      if (this.id) {
          result = await RestApi.putData(seedFertilizerServiceBaseUrl, `${descriptorHeadingUpdate}/${this.id}`, this.descriptorHeading)
      } else {
          result = await RestApi.postData(seedFertilizerServiceBaseUrl, descriptorHeadingStore, this.descriptorHeading)
      }

      loadingState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadingState)

      if (result.success) {
          this.$store.commit('SeedsFertilizer/mutateCommonObj', { hasDropdownLoaded: false })
          this.$toast.success({
          title: this.$t('globalTrans.success'),
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
          })

          this.$bvModal.hide('modal-4')
      } else {
          this.$refs.form.setErrors(result.errors)
      }
    },
     getDescriptorHeadingData () {
      const tmpData = this.$store.state.list.find(item => item.id === this.id)
      return JSON.parse(JSON.stringify(tmpData))
    },
    add () {
      const tampbpSetup = {
            heading_name: '',
            heading_name_bn: '',
            heading_sl: '',
            description: '',
            description_bn: ''
      }
      const key1 = parseInt(this.descriptorHeading.details.length - 1)
      const item = this.descriptorHeading.details[key1]
      let isEmpty = true
      Object.keys(item).map(key => {
          if (item[key] === '' || item[key] === 0) {
              isEmpty = false
          }
      })
      if (isEmpty === true) {
          this.descriptorHeading.details.push(tampbpSetup)
      }
    },
    remove (key) {
        this.descriptorHeading.details.splice(key, 1)
    }
  }
}
</script>
