
<template>
    <b-container fluid>
        <iq-card>
            <template v-slot:headerTitle>
                <h4 class="card-title">{{ $t('cotton_report.cotton_stock_report') }}</h4>
            </template>
            <template v-slot:body>
                <b-row>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('warehouse_config.fiscal_year')"
                            label-for="fiscal_year_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.fiscal_year_id"
                                :options="fiscalList"
                                id="fiscal_year_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('cotton_ginner_grower.season')"
                            label-for="season_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.season_id"
                                :options="seasonList"
                                id="season_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('cotton_config.region')"
                            label-for="region_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.region_id"
                                :options="regionList"
                                id="region_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('cotton_config.zone')"
                            label-for="zone_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.zone_id"
                                :options="zoneList"
                                id="zone_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('cotton_config.unit')"
                            label-for="unit_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.unit_id"
                                :options="unitList"
                                id="unit_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('globalTrans.district')"
                            label-for="district_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.district_id"
                                :options="districtList"
                                id="district_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('globalTrans.upazila')"
                            label-for="upazila_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.upazila_id"
                                :options="upazilaList"
                                id="upazila_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('cotton_config.cotton_variety')"
                            label-for="cotton_variety_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.cotton_variety_id"
                                :options="cottonVaritiesList"
                                id="cotton_variety_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('cotton_config.cotton_name')"
                            label-for="cotton_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.cotton_id"
                                :options="cottonNameList"
                                id="cotton_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{$t('globalTrans.select')}}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-form-group
                            class="row"
                            label-cols-sm="4"
                            :label="$t('cotton_report.grower_name')"
                            label-for="cotton_id"
                            >
                            <b-form-select
                                plain
                                v-model="search.applicant_id"
                                :options="growerList"
                                id="cotton_id"
                                >
                                <template v-slot:first>
                                <b-form-select-option :value="0" >{{ $t('globalTrans.select') }}</b-form-select-option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col xs="12" sm="12" md="6" lg="4" xl="4">
                        <b-button type="button" variant="primary" @click="searchData">{{ $t('globalTrans.search') }}</b-button>
                    </b-col>
                </b-row>
            </template>
        </iq-card>
        <b-row v-show="dataShow">
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('cotton_report.cotton_stock_report') }}</h4>
                    </template>
                    <template v-slot:headerAction>
                            <b-button variant="primary" @click="pdfExport" class="mr-2">
                            {{  $t('globalTrans.export_pdf') }}
                            </b-button>
                    </template>
                    <template v-slot:body>
                        <b-overlay :show="loadingState">
                            <b-row>
                              <b-col>
                                <list-report-head :base-url="agriMarketingServiceBaseUrl" :uri="reportHeadingList" :org-id="search.org_id">
                                  {{ $t('cotton_report.cotton_stock_report') }}
                                </list-report-head>
                              </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="12" class="table-responsive">
                                    <b-table-simple hover small caption-top table-bordered responsive>
                                        <b-thead>
                                            <tr>
                                                <b-th class="align-middle" style="width:20%">{{ $t('cotton_ginner_grower.growers_name') }}</b-th>
                                                <b-th class="align-middle" style="width:16%">{{ $t('cotton_ginner_grower.cottonVariety') }}</b-th>
                                                <b-th class="align-middle" style="width:16%">{{ $t('cotton_ginner_grower.cottonName') }}</b-th>
                                                <b-th class="text-center align-middle" style="width:16%">{{ $t('cotton_report.production_quantity') }}</b-th>
                                                <b-th class="text-center align-middle" style="width:16%">{{ $t('cotton_report.sell_quantity') }}</b-th>
                                                <b-th class="text-center align-middle" style="width:16%">{{ $t('cotton_report.remaining_stock') }}</b-th>
                                            </tr>
                                        </b-thead>
                                        <b-tbody v-for="(info, index) in checkData" :key="index + 99">
                                            <template v-for="(tmp, indx) in info.details">
                                                <b-tr :key="indx">
                                                    <b-td :rowspan="info.details.length" v-if="indx === 0">{{ $i18n.locale === 'bn' ? info.text_bn : info.text }}</b-td>
                                                    <b-td>{{ $i18n.locale === 'bn' ? tmp.cotton_variety_bn : tmp.cotton_variety }}</b-td>
                                                    <b-td>{{ $i18n.locale === 'bn' ? tmp.cotton_name_bn : tmp.cotton_name }}</b-td>
                                                    <b-td class="text-right">{{ $n(tmp.production_quantity) }}</b-td>
                                                    <b-td class="text-right">{{ $n(tmp.sell_quantity) }}</b-td>
                                                    <b-td class="text-right">{{ $n(tmp.production_quantity-tmp.sell_quantity) }}</b-td>
                                                </b-tr>
                                            </template>
                                        </b-tbody>
                                        <b-tfoot v-if="checkData.length > 0">
                                            <b-tr>
                                                <b-td colspan="3" variant="secondary" class="text-center">{{ $t('cotton_report.total_quantity_kg') }}</b-td>
                                                <b-td variant="secondary" class="text-right">{{ $n(total_production_quantity) }}</b-td>
                                                <b-td variant="secondary" class="text-right">{{ $n(total_sell_quantity) }}</b-td>
                                                <b-td variant="secondary" class="text-right">{{ $n(total_remaining_quantity) }}</b-td>
                                            </b-tr>
                                        </b-tfoot>
                                    </b-table-simple>
                                </b-col>
                            </b-row>
                        </b-overlay>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import RestApi, { agriMarketingServiceBaseUrl } from '@/config/api_config'
import { reportHeadingList, CottonStockReport } from '../../api/routes'
import ListReportHead from '@/components/custom/ListReportHead.vue'
import ModalBaseMasterList from '@/mixins/modal-base-master-list'
import ExportPdf from '@/Utils/export-pdf'

export default {
  mixins: [ModalBaseMasterList],
  components: {
    ListReportHead
  },
  data () {
    return {
        totalRows: 0,
        totalProduction: 0,
        totalSell: 0,
        remaining: 0,
        dataShow: false,
        agriMarketingServiceBaseUrl: agriMarketingServiceBaseUrl,
        reportHeadingList: reportHeadingList,
        search: {
            org_id: 3,
            fiscal_year_id: 0,
            region_id: 0,
            zone_id: 0,
            unit_id: 0,
            district_id: 0,
            upazila_id: 0,
            season_id: 0,
            cotton_variety_id: 0,
            cotton_id: 0,
            applicant_id: 0
        },
        item: '',
        rows: [],
        checkData: [],
        cottonStock: [],
        zoneList: [],
        unitList: [],
        total_production_quantity: 0,
        total_sell_quantity: 0,
        total_remaining_quantity: 0,
        upazilaList: [],
        growerList: []
    }
  },
  mounted () {
  },
  computed: {
    loadingState () {
        if (this.listReload) {
            return true
        } else if (this.loading) {
            return true
        } else {
            return false
        }
    },
    regionList: function () {
        const regionList = this.$store.state.agriMarketing.commonObj.regionList
        return regionList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    seasonList: function () {
        const seasonList = this.$store.state.agriMarketing.commonObj.seasonList
        return seasonList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    cottonVaritiesList: function () {
        const ObjectData = this.$store.state.agriMarketing.commonObj.cottonVaritiesList.filter(item => item.status === 1)
        return ObjectData.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    cottonNameList: function () {
        const ObjectData = this.$store.state.agriMarketing.commonObj.cottonNameList.filter(item => item.status === 1)
        return ObjectData.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    districtList () {
        return this.$store.state.commonObj.districtList.filter(item => item.status === 0)
    },
    fiscalList: function () {
        const fiscalyearData = this.$store.state.commonObj.fiscalYearList
        return fiscalyearData.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text_en }
            }
        })
    },
    columns () {
        const labels = [
            { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
            { label: this.$t('cotton_ginner_grower.growers_name'), class: 'text-left' },
            { label: this.$t('cotton_ginner_grower.cottonVariety'), class: 'text-left' },
            { label: this.$t('cotton_ginner_grower.cottonName'), class: 'text-left' },
            { label: this.$t('cotton_report.production_quantity'), class: 'text-left' },
            { label: this.$t('cotton_report.sell_quantity'), class: 'text-center' },
            { label: this.$t('cotton_report.remaining_stock'), class: 'text-center' }
        ]

        let keys = []

        if (this.$i18n.locale === 'bn') {
            keys = [
                { key: 'index' },
                { key: 'name_bn' },
                { key: 'cotton_variety_bn' },
                { key: 'cotton_name_bn' },
                { key: 'production_quantity' },
                { key: 'sell_quantity' },
                { key: 'remaining_stock' }
            ]
        } else {
            keys = [
                { key: 'index' },
                { key: 'name' },
                { key: 'cotton_variety' },
                { key: 'cotton_name' },
                { key: 'production_quantity' },
                { key: 'sell_quantity' },
                { key: 'remaining_stock' }
            ]
        }

        return labels.map((item, index) => {
          return Object.assign(item, keys[index])
        })
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.region_id': function (newVal, oldVal) {
        this.zoneList = this.getZoneList(newVal)
    },
    'search.zone_id': function (newVal, oldVal) {
        this.unitList = this.getUnitList(newVal)
    },
    'search.district_id': function (newVal, oldVal) {
        this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.upazila_id': function (newVal, oldVal) {
        this.growerList = this.getGrowerList(newVal)
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    searchData () {
      this.loadData()
      this.dataShow = true
    },
    organizationData () {
      const objectData = this.$store.state.commonObj.organizationProfileList
      const orglist = objectData.find(item => item.value === this.search.org_id)

      RestApi.getData(agriMarketingServiceBaseUrl, reportHeadingList + '/' + this.search.org_id, { org_id: this.search.org_id }).then(response => {
        if (response.success) {
          const orgObject = response.data
          const orgData = {
            left_logo: orgObject.left_logo,
            right_logo: orgObject.right_logo,
            address: orgObject.address,
            address_bn: orgObject.address_bn
          }
          this.organization = Object.assign({}, orglist, orgData)
        } else {
          this.$toast.error({
            title: 'Error',
            message: 'Organization not found!'
          })
        }
      })
    },
    loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true, listReload: false })
      RestApi.getData(agriMarketingServiceBaseUrl, CottonStockReport, this.search).then(response => {
        if (response.success) {
            this.checkData = this.getRelatinalData(response.data)
            let totalProdQty = 0
            let totalSellQty = 0
            response.data.map(item => {
                totalProdQty += item.production_quantity
                totalSellQty += item.sell_quantity !== null ? item.sell_quantity : 0
            })
            this.total_production_quantity = totalProdQty
            this.total_sell_quantity = totalSellQty
            this.total_remaining_quantity = totalProdQty - totalSellQty
        } else {
            this.checkData = []
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getRelatinalData (data) {
        const growers = this.$store.state.agriMarketing.commonObj.ginnerGrowerList
        const allDatas = []
        let sl = 0
        growers.forEach((item, key) => {
            const detail = data.filter(tmp => tmp.applicant_id === item.value)
            if (detail.length > 0) {
                item.details = data.filter(tmp => tmp.applicant_id === item.value)
                item.total = 100
                allDatas[sl] = item
                sl++
                this.totalRows = item.details.length
            }
        })
        return allDatas
    },
    getZoneList (regionId) {
        const zoneList = this.$store.state.agriMarketing.commonObj.zoneList.filter(item => item.region_id === regionId)
        return zoneList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    getUnitList (zoneId) {
        const unitList = this.$store.state.agriMarketing.commonObj.unitList.filter(item => item.status === 1 && item.zone_id === zoneId)
        return unitList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text }
            }
        })
    },
    getGrowerList (upazillaId) {
        const growerList = this.$store.state.agriMarketing.commonObj.ginnerGrowerList.filter(item => item.upazilla_id === upazillaId)
        return growerList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text_en }
            }
        })
    },
    getUpazilaList (districtId = null) {
        const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
        if (districtId) {
            return upazilaList.filter(upazila => upazila.district_id === districtId)
        }
        return upazilaList
    },
    pdfExport () {
        const rowData = this.getPdfData()
        const labels = [
            { text: this.$t('cotton_ginner_grower.growers_name'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
            { text: this.$t('cotton_ginner_grower.cottonVariety'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
            { text: this.$t('cotton_ginner_grower.cottonName'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
            { text: this.$t('cotton_report.production_quantity'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
            { text: this.$t('cotton_report.sell_quantity'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) },
            { text: this.$t('cotton_report.remaining_stock'), fontSize: (this.$i18n.locale === 'bn' ? 14 : 12) }
        ]
        rowData.unshift(labels)
        const reportTitle = this.$t('cotton_report.cotton_stock_report')
        const columnWids = ['15%', '17%', '17%', '17%', '17%', '17%']
        ExportPdf.exportPdf(agriMarketingServiceBaseUrl, '/cotton/config/report-heading/detail', this.search.org_id, reportTitle, rowData, columnWids)
    },
    getPdfData () {
        const keys = [
            { key: 'grower_name' },
            { key: this.$i18n.locale === 'en' ? 'cotton_variety' : 'cotton_variety_bn' },
            { key: this.$i18n.locale === 'en' ? 'cotton_name' : 'cotton_name_bn' },
            { key: 'production_quantity' },
            { key: 'sell_quantity' },
            { key: 'remaining_quantity' }
        ]

        const tmpArr = []
        this.checkData.map(item => {
            return item.details.map((item1, item1Key) => {
                const rowData = keys.map((keyItem, index) => {
                    const remainingQty = item1.production_quantity - item1.sell_quantity
                    if (keyItem.key === 'grower_name') {
                        return { text: this.$i18n.locale === 'en' ? item1.name : item1.name_bn, rowSpan: item1Key === 0 ? item.details.length : 1 }
                    }
                    if (keyItem.key === 'production_quantity') {
                        return { text: this.$n(item1.production_quantity) }
                    }
                    if (keyItem.key === 'sell_quantity') {
                        return { text: this.$n(item1.sell_quantity) }
                    }
                    if (keyItem.key === 'remaining_quantity') {
                        return { text: this.$n(remainingQty) }
                    }
                    return { text: item1[keyItem.key] !== undefined ? item1[keyItem.key] : '' }
                })
                tmpArr.push(rowData)
            })
        })
        const gross = [
            { text: this.$t('cotton_report.total_quantity_kg') },
            { text: '' },
            { text: '' },
            { text: this.$n(this.total_production_quantity) },
            { text: this.$n(this.total_sell_quantity) },
            { text: this.$n(this.total_remaining_quantity) }
        ]
        tmpArr.push(gross)
        return tmpArr
    }
  }
}
</script>
