<template>
  <b-container fluid>
    <b-row>
      <b-col md="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h4 class="card-title">{{ $t('pump_install.application_list') }}</h4>
          </template>
          <template v-slot:body>
            <b-overlay :show="loadingState">
              <b-row>
                <b-col md="12" class="table-responsive">
                  <b-table bordered hover :items="applications" :fields="columns">
                    <template v-slot:cell(index)="data">
                      {{ $n(data.index + pagination.slOffset) }}
                    </template>
                    <template v-slot:cell(application_id)="data">
                      {{ data.item.application_id }}
                    </template>
                    <template v-slot:cell(sch_man_name)="data">
                      {{ data.item.sch_man_name }}
                    </template>
                    <template v-slot:cell(application_type)="data">
                      {{ applicationType(data.item.application_type_id) }}
                    </template>
                    <template v-slot:cell(farmer_info)="data">
                        <table>
                            <tr>
                                <td>
                                    <span class="d-flex">{{ $t('sitePreference.total') }}: <span class="text-danger" style="font-weight: bold; margin-left: 2px;"> {{ $n(data.item.total_farmer) }}</span></span>
                                </td>
                                <td>
                                    <span class="d-flex" style="min-width: 60px;">
                                        <a href="javascript:"
                                           v-b-tooltip.hover
                                           @click="openFarDetails(data.item)"
                                           title="View Details">{{ $t('globalTrans.added') }}:
                                            <span class="text-success"
                                                  style="font-weight: bold">{{ data.item.added_farmer || 0 }}
                                            </span>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr v-if="data.item.status === 14">
                                <td>
                                    <b-button
                                        variant=" iq-bg-success mr-1 pl-3"
                                        size="sm"
                                        title="Customize Details"
                                        @click="customizeTotalFarmer(data.item)">
                                        <i class="far fa-edit"></i>
                                    </b-button>
                                </td>
                                <td>
                                    <b-button
                                        v-if="data.item.total_farmer > data.item.added_farmer"
                                        v-b-modal.farmer-form
                                        variant=" iq-bg-success"
                                        size="sm"
                                        title="Add Details"
                                        @click="view(data.item)">
                                        Add +
                                    </b-button>
                                </td>
                            </tr>
                        </table>
                    </template>
                    <template v-slot:cell(attached_document_link)="data">
                      <a v-if="data.item.general_minutes !== null" :href="baseUrl + 'download-attachment?file=uploads/scheme-application/general-minutes/original/' + data.item.general_minutes" title="General Minute" class="mr-3"><i class="ri-download-cloud-fill"></i></a>
                      <a v-if="data.item.scheme_lands !== null" :href="baseUrl + 'download-attachment?file=uploads/scheme-application/scheme-lands/original/' + data.item.scheme_lands" title="Scheme Land" class="mr-3"><i class="ri-download-cloud-fill"></i></a>
                      <a v-if="data.item.scheme_map !== null" :href="baseUrl + 'download-attachment?file=uploads/scheme-application/scheme-map/original/' + data.item.scheme_map" title="Scheme Map"><i class="ri-download-cloud-fill"></i></a>
                    </template>
                    <template v-slot:cell(project)="data">
                      <div v-if="data.item.scheme_project_id !== null">
                        {{ getProjectName(data.item.scheme_project_id) }}
                      </div>
                      <div v-else>
                        <b-button v-b-modal.modal-1 variant=" iq-bg-success mr-1 mb-1" size="sm" title="Assign Project" @click="setRowId(data.item, 1)"><i class="ri-add-line m-1"></i></b-button>
                      </div>
                    </template>
                    <template v-slot:cell(technical_survey_report)="data">
                      <b-button v-if="data.item.survey_id !== null" v-b-modal.modal-6 variant=" iq-bg-success mr-1 mb-1" size="sm" title="Show Report" @click="setRowId(data.item)"><i class="ri-eye-line m-1"></i></b-button>
                    </template>
                    <template v-slot:cell(status)="data">
                      <p class="text-dark">{{ getStatus(data.item.status) }}</p>
                    </template>
                    <template v-slot:cell(action)="data">
                        <b-button-group>
                            <b-button v-b-modal.modal-7 variant=" iq-bg-success mr-1" size="sm" title="View" @click="setRowId(data.item)"><i class="ri-eye-line m-1"></i></b-button>
                            <b-button v-b-modal.modal-3 variant=" iq-bg-success" size="sm" title="Return" @click="setRowId(data.item, 4)"><i class="far fa-pause-circle mr-1"></i></b-button>
                            <b-button v-b-modal.send variant=" iq-bg-success" size="sm" title="Send" @click="send(data.item)"><i class="ri-arrow-right-line mr-1"></i></b-button>
                            <b-button v-if="data.item.survey_id === null" v-b-modal.modal-4 variant=" iq-bg-success" size="sm" title="Survey Report" @click="setRowId(data.item, 2)"><i class="ri-file-chart-line mr-1"></i></b-button>
                            <b-button v-b-modal.modal-9 variant=" iq-bg-success" size="sm" title="Approve" @click="approve(data.item, 3)"><i class="ri-check-line"></i></b-button>
                            <b-button v-b-modal.modal-5 variant=" iq-bg-danger" size="sm" title="Reject" @click="setRowId(data.item, 5)"><i class="ri-close-line m-0"></i></b-button>
                        </b-button-group>
                    </template>
                  </b-table>
                  <b-pagination
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total-rows="pagination.totalRows"
                    @input="paginationDataLoad"
                    />
                </b-col>
              </b-row>
            </b-overlay>
          </template>
        </iq-card>
      </b-col>
    </b-row>
    <b-modal id="modal-1" size="lg" :title="$t('pump_install.assign_project')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <AssignProject :id="id" :org_id="org_id" :status="status" :key="id"/>
      </p>
    </b-modal>
    <b-modal id="modal-3" size="lg" :title="$t('pump_install.review')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <Review :id="id" :status="status" :key="id"/>
      </p>
    </b-modal>
    <b-modal id="modal-4" size="lg" :title="$t('pump_install.survey')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <Survey :id="id" :status="status" :details="details" :key="id"/>
      </p>
    </b-modal>
    <b-modal id="modal-5" size="lg" :title="$t('pump_install.reject')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <Reject :id="id" :status="status" :key="id"/>
      </p>
    </b-modal>
    <b-modal id="modal-6" size="lg" :title="$t('pump_install.survey_report')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <SurveyReport :id="id" :key="id"/>
      </p>
    </b-modal>
    <b-modal id="modal-7" size="lg" :title="$t('pump_install.customize_farmer_info')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <ApplicationDetails :id="id" :key="id"/>
      </p>
    </b-modal>
    <b-modal id="customize-total-farmer" size="xl" :title="$t('externalUserIrrigation.farmer_info')"
           :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <EditFarmerDetailsList :item="currentItem" />
    </b-modal>
    <b-modal id="farmer-form" size="xl" :title="$t('externalUserIrrigation.farmer_info')"
           :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <FarmerForm :appId="currentAppId" @added="loadData()" />
    </b-modal>
    <b-modal id="farmer-details-list" size="xl" :title="$t('externalUserIrrigation.farmer_info')"
           :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <Details :appId="currentAppId" />
    </b-modal>
    <b-modal id="send" size="lg" :title="$t('pump_install.send')" :ok-title="$t('globalTrans.close')" ok-only ok-variant="danger">
      <p>
        <Send :id="id" :key="id"/>
      </p>
    </b-modal>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import AssignProject from './AssignProject'
import Review from './Review'
import Survey from './Survey'
import SurveyReport from './SurveyReport'
import ApplicationDetails from '../SchemeApplicationDetails'
import Reject from './Reject'
import Send from './Send'
import RestApi, { irriSchemeServiceBaseUrl } from '@/config/api_config'
import { receiveApplicationList, applicationStatusUpdate } from '../../api/routes'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
import Details from './farmer/Details'
import EditFarmerDetailsList from './farmer/EditFarmerDetailsList'
import { mapGetters } from 'vuex'
import FarmerForm from '@/modules/external-user-service/irrigation/pages/scheme-application/scheme-farmer-land-details/FarmerForm'
pdfMake.vfs = pdfFonts.pdfMake.vfs

export default {
  name: 'UiDataTable',
  components: {
    FarmerForm,
    AssignProject,
    Review,
    Survey,
    SurveyReport,
    ApplicationDetails,
    Reject,
    Send,
    EditFarmerDetailsList,
    Details
  },
  data () {
    return {
      application: '',
      applications: [],
      pagination: {
        currentPage: 1,
        totalRows: 0,
        perPage: this.$store.state.commonObj.perPage,
        slOffset: 1
      },
      loggedInUserRoleId: this.$store.state.Auth.authUser.role_id,
      baseUrl: irriSchemeServiceBaseUrl,
      search: {
        receiver_id: this.$store.state.Auth.authUser.user_id
      },
      id: 0,
      rows: [],
      districtList: [],
      upazilaList: [],
      unionList: [],
      status: '',
      details: '',
      org_id: 0,
      currentAppId: 0,
      currentItem: {}
    }
  },
  computed: {
    ...mapGetters({
      authUser: 'Auth/authUser'
    }),
    formTitle () {
       return (this.id === 0) ? this.$t('irrigation_config.scheme_type_entry') : this.$t('irrigation_config.scheme') + ' ' + this.$t('globalTrans.modify')
    },
    loading () {
      return this.$store.state.commonObj.loading
    },
    listReload () {
      return this.$store.state.commonObj.listReload
    },
    loadingState () {
      if (this.listReload) {
        return true
      } else if (this.loading) {
        return true
      } else {
        return false
      }
    },
    columns () {
      const labels = [
        { label: this.$t('globalTrans.sl_no'), class: 'text-left' },
        { label: this.$t('pump_install.application_id'), class: 'text-left' },
        { label: this.$t('pump_install.scheme_manager'), class: 'text-left' },
        { label: this.$t('pump_install.application_type'), class: 'text-left' },
        { label: this.$t('pump_install.farmer_info'), class: 'text-left expand-column' },
        { label: this.$t('pump_install.attachment'), class: 'text-left' },
        { label: this.$t('pump_install.project'), class: 'text-left' },
        { label: this.$t('pump_install.technical_survey_report'), class: 'text-left' },
        { label: this.$t('globalTrans.status'), class: 'text-center' },
        { label: this.$t('globalTrans.action'), class: 'text-center' }
      ]

      let keys = []

      if (this.$i18n.locale === 'bn') {
        keys = [
          { key: 'index' },
          { key: 'application_id' },
          { key: 'sch_man_name_bn' },
          { key: 'application_type' },
          { key: 'farmer_info' },
          { key: 'attached_document_link' },
          { key: 'project' },
          { key: 'technical_survey_report' },
          { key: 'status' },
          { key: 'action' }
        ]
      } else {
        keys = [
          { key: 'index' },
          { key: 'application_id' },
          { key: 'sch_man_name' },
          { key: 'application_type' },
          { key: 'farmer_info' },
          { key: 'attached_document_link' },
          { key: 'project' },
          { key: 'technical_survey_report' },
          { key: 'status' },
          { key: 'action' }
        ]
      }

      return labels.map((item, index) => {
          return Object.assign(item, keys[index])
      })
    },
    orgList: function () {
      return this.$store.state.commonObj.organizationProfileList
    },
    divisionList: function () {
      return this.$store.state.commonObj.divisionList.filter(item => item.status === 0)
    },
    SchemeTypeList: function () {
      return this.$store.state.IrriConfig.commonObj.schemeTypeList.filter(item => item.status === 0)
    }
  },
  watch: {
    loadingState: function (newVal, oldVal) {
      if (newVal) {
        this.loadData()
      }
    },
    'search.far_division_id': function (newVal, oldVal) {
      this.districtList = this.getDistrictList(newVal)
    },
    'search.far_district_id': function (newVal, oldVal) {
      this.upazilaList = this.getUpazilaList(newVal)
    },
    'search.far_upazilla_id': function (newVal, oldVal) {
      this.unionList = this.getUnionList(newVal)
    }
  },
  mounted () {
    core.index()
    this.loadData()
  },
  methods: {
    getProjectName (id) {
      const project = this.$store.state.IrriConfig.commonObj.projectList.find(item => item.value === Number(id))
      if (this.$i18n.locale === 'bn') {
        return project !== undefined ? project.text_bn : ''
      } else {
        return project !== undefined ? project.text_en : ''
      }
    },
    view (item) {
      this.currentAppId = item.id
    },
    openFarDetails (item) {
      this.currentAppId = item.id
      this.$bvModal.show('farmer-details-list')
    },
    customizeTotalFarmer (item) {
      this.currentItem = item
      this.$bvModal.show('customize-total-farmer')
    },
    resetId () {
      this.id = 0
    },
    paginationDataLoad () {
      this.loadData()
    },
    paginationData (data) {
      this.pagination.currentPage = data.current_page
      this.pagination.totalRows = data.total
      this.pagination.slOffset = this.pagination.perPage * this.pagination.currentPage - this.pagination.perPage + 1
    },
    searchData () {
      this.loadData()
    },
    setRowId (item, status = 1) {
      this.id = item.id
      this.org_id = item.org_id
      this.status = status
      this.details = item
    },
    send (item) {
      this.id = item.id
    },
    approve (item, status) {
      this.$swal({
        title: this.$t('globalTrans.statusChangeMsg'),
        showCancelButton: true,
        confirmButtonText: this.$t('globalTrans.yes'),
        cancelButtonText: this.$t('globalTrans.no'),
        focusConfirm: false
      }).then((result) => {
        if (result.isConfirmed) {
          this.statusUpdate(item, status)
          this.status = status
        }
      })
    },
    async statusUpdate (item, status) {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      result = await RestApi.deleteData(irriSchemeServiceBaseUrl, `${applicationStatusUpdate}/${item.id}/${status}`)
      loadinState.listReload = true
      this.$store.dispatch('mutateCommonProperties', loadinState)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: 'Data Updated Successfully',
          color: '#D6E09B'
        })
        this.loading = false
      } else {
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    },
    async loadData () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      const params = Object.assign({}, this.search, { page: this.pagination.currentPage, per_page: this.pagination.perPage })
      await RestApi.getData(irriSchemeServiceBaseUrl, receiveApplicationList, params).then(response => {
        if (response.success) {
          this.applications = response.data.data
          this.paginationData(response.data)
        }
        this.$store.dispatch('mutateCommonProperties', { loading: false, listReload: false })
      })
    },
    getDistrictList (divisionId = null) {
      const districtList = this.$store.state.commonObj.districtList.filter(item => item.status === 0)
      if (divisionId) {
        return districtList.filter(district => district.division_id === divisionId)
      }
      return districtList
    },
    getUpazilaList (districtId = null) {
      const upazilaList = this.$store.state.commonObj.upazilaList.filter(item => item.status === 0)
      if (districtId) {
        return upazilaList.filter(upazila => upazila.district_id === districtId)
      }
      return upazilaList
    },
    getUnionList (upazilaId = null) {
      const unionList = this.$store.state.commonObj.unionList.filter(item => item.status === 0)
      if (upazilaId) {
        return unionList.filter(union => union.upazilla_id === upazilaId)
      }
      return unionList
    },
    getStatus (status) {
      if (status === 1) {
        return 'Pending'
      } else if (status === 2) {
        return 'Processing'
      } else if (status === 3) {
        return 'Approved'
      } else if (status === 4) {
        return 'Review'
      } else if (status === 5) {
        return 'Reject'
      } else if (status === 6) {
        return 'Current Status'
      } else if (status === 7) {
        return 'Verified'
      } else if (status === 8) {
        return 'Aggrement'
      } else if (status === 9) {
        return 'Requisition'
      } else if (status === 10) {
        return 'Supply'
      } else if (status === 11) {
        return 'Installation'
      } else if (status === 12) {
        return 'Participation Fee'
      } else if (status === 13) {
        return 'Closed'
      } else if (status === 14) {
        return 'Installed'
      }
    },
    applicationType (type) {
      if (type === 1) {
        return 'New'
      } else if (status === 2) {
        return 'Resunk'
      }
    }
  }
}
</script>
