<template>
    <b-container fluid>
        <b-row>
            <b-col lg="12" sm="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">{{ $t('damReport.dailyPriceListReport') }}</h4>
                    </template>
                    <template v-slot:body>
                        <b-row>
                            <b-col lg="12" sm="12">
                                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                                    <b-form @submit.prevent="handleSubmit(saveData)" @reset.prevent="reset" >
                                        <b-row>
                                        <b-col lg="6" md="6" sm="12">
                                            <ValidationProvider name="Division" vid="division_id" rules="required|min_value:1">
                                                <b-form-group
                                                    class="row"
                                                    label-cols-sm="4"
                                                    label-for="division_id"
                                                    slot-scope="{ valid, errors }"
                                                    >
                                                    <template v-slot:label>
                                                    {{ $t('globalTrans.division') }} <span class="text-danger">*</span>
                                                    </template>
                                                    <b-form-select
                                                    id="division_id"
                                                    plain
                                                    v-model="search.division_id"
                                                    :options="divisionList"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                    >
                                                    <template v-slot:first>
                                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                    </template>
                                                    </b-form-select>
                                                    <div class="invalid-feedback">
                                                    {{ errors[0] }}
                                                    </div>
                                                </b-form-group>
                                            </ValidationProvider>
                                        </b-col>
                                        <b-col lg="6" md="6" sm="12">
                                            <ValidationProvider name="District" vid="district_id" rules="required|min_value:1">
                                                <b-form-group
                                                    class="row"
                                                    label-cols-sm="4"
                                                    label-for="district_id"
                                                    slot-scope="{ valid, errors }"
                                                    >
                                                    <template v-slot:label>
                                                    {{ $t('globalTrans.district') }} <span class="text-danger">*</span>
                                                    </template>
                                                    <b-form-select
                                                    plain
                                                    v-model="search.district_id"
                                                    :options="districtList"
                                                    id="district_id"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                    >
                                                    <template v-slot:first>
                                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                    </template>
                                                    </b-form-select>
                                                    <div class="invalid-feedback">
                                                    {{ errors[0] }}
                                                    </div>
                                                </b-form-group>
                                            </ValidationProvider>
                                        </b-col>
                                        <b-col lg="6" md="6" sm="12">
                                            <ValidationProvider name="Subdistrict" vid="upazila_id" rules="required|min_value:1">
                                                <b-form-group
                                                    class="row"
                                                    label-cols-sm="4"
                                                    label-for="upazila_id"
                                                    slot-scope="{ valid, errors }"
                                                    >
                                                    <template v-slot:label>
                                                    {{ $t('globalTrans.upazila') }} <span class="text-danger">*</span>
                                                    </template>
                                                    <b-form-select
                                                    plain
                                                    v-model="search.upazila_id"
                                                    :options="upazilaList"
                                                    id="upazila_id"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                    >
                                                    <template v-slot:first>
                                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                    </template>
                                                    </b-form-select>
                                                    <div class="invalid-feedback">
                                                    {{ errors[0] }}
                                                    </div>
                                                </b-form-group>
                                            </ValidationProvider>
                                        </b-col>
                                        <b-col lg="6" md="6" sm="12">
                                            <ValidationProvider name="Market" vid="market_id" rules="required|min_value:1">
                                                <b-form-group
                                                    class="row"
                                                    label-cols-sm="4"
                                                    label-for="market_id"
                                                    slot-scope="{ valid, errors }"
                                                    >
                                                    <template v-slot:label>
                                                    {{ $t('crop_price_config.market') }} <span class="text-danger">*</span>
                                                    </template>
                                                    <b-form-select
                                                    plain
                                                    v-model="search.market_id"
                                                    :options="marketList"
                                                    id="market_id"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                    >
                                                    <template v-slot:first>
                                                        <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                    </template>
                                                    </b-form-select>
                                                    <div class="invalid-feedback">
                                                    {{ errors[0] }}
                                                    </div>
                                                </b-form-group>
                                            </ValidationProvider>
                                        </b-col>
                                        <b-col lg="6" md="6" sm="12">
                                            <ValidationProvider name="Price Type" vid="price_type_id">
                                                <b-form-group
                                                    class="row"
                                                    label-cols-sm="4"
                                                    label-for="price_type_id"
                                                    slot-scope="{ valid, errors }"
                                                    >
                                                    <template v-slot:label>
                                                    {{ $t('crop_price_config.price_type') }} <span class="text-danger">*</span>
                                                    </template>

                                                    <v-select
                                                        id="price_type_id"
                                                        v-model="search.price_type_id"
                                                        multiple
                                                        :options="priceTypeList"
                                                        label="text"
                                                        :state="errors[0] ? false : (valid ? true : null)"
                                                    >
                                                    </v-select>
                                                    <div class="invalid-feedback">
                                                        {{ errors[0] }}
                                                    </div>
                                                </b-form-group>
                                            </ValidationProvider>
                                        </b-col>
                                        <b-col lg="12" md="12" sm="12">
                                            <div class="pt-4 pb-4">
                                            <ValidationProvider name="Select Time" vid="select_type" rules="">
                                                <b-form-radio-group
                                                    v-model="search.select_type"
                                                    :options="timePreiodList"
                                                >
                                                </b-form-radio-group>
                                            </ValidationProvider>
                                            </div>
                                        </b-col>
                                        <b-col v-if="search.select_type ==='Weekly'" lg="12" md="12" sm="12">
                                            <b-row>
                                                <b-col lg="4" md="4" sm="12">
                                                <ValidationProvider name="Year" vid="year" rules="required|min_value:1">
                                                  <b-form-group
                                                      class="row"
                                                      label-cols-sm="3"
                                                      label-for="year"
                                                      slot-scope="{ valid, errors }"
                                                      >
                                                      <template v-slot:label>
                                                      {{ $t('crop_price_config.year') }} <span class="text-danger">*</span>
                                                      </template>
                                                      <b-form-select
                                                      plain
                                                      v-model="search.year"
                                                      :options="yearList"
                                                      id="year"
                                                      :state="errors[0] ? false : (valid ? true : null)"
                                                      >
                                                      <template v-slot:first>
                                                          <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                      </template>
                                                      </b-form-select>
                                                      <div class="invalid-feedback">
                                                      {{ errors[0] }}
                                                      </div>
                                                  </b-form-group>
                                                </ValidationProvider>
                                                </b-col>
                                                <b-col lg="4" md="4" sm="12">
                                                    <ValidationProvider name="Month" vid="month_id" rules="required|min_value:1">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="3"
                                                            label-for="month_id"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('crop_price_config.month') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            plain
                                                            v-model="search.month_id"
                                                            :options="monthList"
                                                            id="month_id"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                                <b-col lg="4" md="4" sm="12">
                                                    <ValidationProvider name="Week" vid="week_id" rules="required|min_value:1">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="3"
                                                            label-for="week_id"
                                                            slot-scope="{ valid, errors }"
                                                            >
                                                            <template v-slot:label>
                                                            {{ $t('crop_price_config.week') }} <span class="text-danger">*</span>
                                                            </template>
                                                            <b-form-select
                                                            plain
                                                            v-model="search.week_id"
                                                            :options="weekList"
                                                            id="week_id"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            >
                                                            <template v-slot:first>
                                                                <b-form-select-option :value="0">{{$t('globalTrans.select')}}</b-form-select-option>
                                                            </template>
                                                            </b-form-select>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                            </b-row>
                                        </b-col>
                                        <b-col :class="{ hide: search.select_type ==='Weekly' }" lg="12" md="12" sm="12">
                                            <b-row>
                                                <b-col lg="6" sm="12">
                                                    <ValidationProvider name="Price Date" vid="price_date" rules="required">
                                                        <b-form-group
                                                            class="row"
                                                            label-cols-sm="4"
                                                            label-for="price_date"
                                                            slot-scope="{ valid, errors }"
                                                        >
                                                        <template v-slot:label>
                                                            {{ $t('crop_price_config.price_date')}} <span class="text-danger">*</span>
                                                        </template>
                                                            <b-form-input
                                                            class="datepicker"
                                                            v-model="search.price_date"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            placeholder="yyyy-mm-dd"
                                                            ></b-form-input>
                                                            <div class="invalid-feedback">
                                                            {{ errors[0] }}
                                                            </div>
                                                        </b-form-group>
                                                    </ValidationProvider>
                                                </b-col>
                                            </b-row>
                                        </b-col>
                                        </b-row>
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col text-right">
                                                <b-button type="submit" variant="primary" class="mr-2">{{ $t('globalTrans.search') }}</b-button>
                                            </div>
                                        </div>
                                    </b-form>
                                </ValidationObserver>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
                <b-row >
                  <b-col md="12" v-if="showData">
                    <b-overlay>
                      <iq-card v-if='datas.length'>
                        <template v-slot:body>
                          <b-row>
                            <b-col md="12">
                              <iq-card>
                                <template v-slot:headerTitle>
                                  <h4 class="card-title">{{ $t('damReport.dailyPriceListReport') }}</h4>
                                </template>
                                <template v-slot:headerAction>
                                  <b-button variant="primary" @click="pdfExport" class="mr-2">
                                    {{  $t('globalTrans.export_pdf') }}
                                  </b-button>
                                  <export-excel
                                    class="btn btn-success mr-2"
                                    :data="excelData"
                                    :title="headerValue"
                                    worksheet="Report Sheet"
                                    name="market-daily-price-report.xls">
                                    {{ $t('globalTrans.export_excel') }}
                                  </export-excel>
                                </template>
                                <template v-slot:body>
                                  <b-overlay>
                                    <b-row mt-5>
                                      <b-col md="12" class="table-responsive">
                                        <div style="border: 2px solid;margin:10px;padding:10px">
                                          <b-row>
                                            <b-col>
                                              <list-report-head :base-url="warehouseServiceBaseUrl" uri="master-warehouse-report-heading/detail" :org-id="13">
                                                <template v-slot:projectNameSlot>
                                                  {{ }}
                                                </template>
                                                <slot v-if="search.select_type === 'Daily'">
                                                  {{ $t('damReport.dailyPriceListReport') }}
                                                </slot>
                                                <slot v-else>
                                                  {{ $t('damReport.weeklyPriceListReport') }}
                                                </slot>
                                              </list-report-head>
                                            </b-col>
                                          </b-row>
                                          <b-row>
                                            <b-col>
                                              <div class="text-center">
                                                <table style="width:100%;color:black;">
                                                  <tr>
                                                    <td align="right" style="width:15%">{{ $t('globalTrans.division') }}</td>
                                                    <td align="center" style="width:5%">:</td>
                                                    <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.division_name_bn : search.division_name_en }}</td>
                                                    <td align="right" style="width:15%">{{ $t('globalTrans.district') }}</td>
                                                    <td align="center" style="width:5%">:</td>
                                                    <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.district_name_bn : search.district_name_en }}</td>
                                                    <td align="right" style="width:15%">{{ $t('globalTrans.upazila') }}</td>
                                                    <td align="center" style="width:5%">:</td>
                                                    <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.upazila_name_bn : search.upazila_name_en }}</td>
                                                  </tr>
                                                  <tr>
                                                    <td align="right" style="width:15%">{{ $t('crop_price_config.market') }}</td>
                                                    <td align="center" style="width:5%">:</td>
                                                    <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.market_name_bn : search.market_name_en }}</td>
                                                    <td align="right" style="width:15%">{{ $t('crop_price_config.price_type') }}</td>
                                                    <td align="center" style="width:5%">:</td>
                                                    <td align="left" style="width:10%">
                                                      {{ ($i18n.locale==='bn') ? search.seachType_bn : search.seachType_en }}
                                                    </td>
                                                    <td align="right" style="width:15%" v-if="search.select_type === 'Daily'">{{ $t('crop_price_config.price_date') }}</td>
                                                    <td align="center" style="width:5%" v-if="search.select_type === 'Daily'">:</td>
                                                    <td align="left" style="width:10%" v-if="search.select_type === 'Daily'">{{ search.price_date | dateFormat }}</td>
                                                  </tr>
                                                  <tr v-if="search.select_type ==='Weekly'">
                                                    <td align="right" style="width:10%">{{ $t('crop_price_config.year') }}</td>
                                                    <td align="center" style="width:2%">:</td>
                                                    <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.year_bn : search.year_en  }}</td>
                                                    <td align="right" style="width:10%">{{ $t('crop_price_config.month') }}</td>
                                                    <td align="center" style="width:2%">:</td>
                                                    <td align="left" style="width:10%">
                                                      {{ ($i18n.locale==='bn') ? search.month_bn : search.month_en }}
                                                    </td>
                                                    <td align="right" style="width:10%">{{ $t('crop_price_config.week') }}</td>
                                                    <td align="center" style="width:2%">:</td>
                                                    <td align="left" style="width:10%">{{ ($i18n.locale==='bn') ? search.week_bn : search.week_en }}</td>
                                                  </tr>
                                                </table>
                                              </div>
                                            </b-col>
                                          </b-row>
                                          <b-row>
                                            <b-col>
                                              <b-table-simple class="tg mt-3" bordered hover small caption-top responsive>
                                                <b-thead>
                                                  <b-tr>
                                                    <b-th style="width:10%" class="text-center">{{ $t('damReport.commodity_group') }}</b-th>
                                                    <b-th class="text-center">{{ $t('damReport.product_name_and_description') }}</b-th>
                                                    <slot v-for="val in search.price_type_id">
                                                      <b-th class="text-center">{{ $t('damReport.measurement') }}</b-th>
                                                      <b-th class="text-center"> {{ ($i18n.locale==='bn') ? val.text_bn : val.text_en }} {{ $t('damReport.rate') }}</b-th>
                                                    </slot>
                                                  </b-tr>
                                                </b-thead>
                                                <b-tbody  v-for="(info, index) in datas" :key="index">
                                                  <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.group.group_name_bn : info.group.group_name }}</b-td>
                                                  <b-td class="text-center">{{ ($i18n.locale==='bn') ? info.commodity.commodity_name_bn : info.commodity.commodity_name }}</b-td>
                                                  <slot  v-for="(val, index) in search.price_type_id">
                                                    <b-td :key="index" v-if="val.text_en == 'Retail'" class="text-center">{{ ($i18n.locale==='bn') ? info.commodity.unit_retail.unit_name_bn : info.commodity.unit_retail.unit_name }} </b-td>
                                                    <b-td class="text-center" v-if="val.text_en == 'Retail'">{{$n(info.r_lowestPrice)}} - {{$n(info.r_highestPrice)}}</b-td>
                                                    <b-td class="text-center" v-if="val.text_en == 'Wholesale'">{{ ($i18n.locale==='bn') ? info.commodity.unit_whole_sale.unit_name_bn : info.commodity.unit_whole_sale.unit_name }}</b-td>
                                                    <b-td class="text-center" v-if="val.text_en == 'Wholesale'">{{$n(info.w_lowestPrice)}} - {{$n(info.w_highestPrice)}}</b-td>
                                                  </slot>
                                                </b-tbody>
                                              </b-table-simple>
                                            </b-col>
                                          </b-row>
                                        </div>
                                      </b-col>
                                    </b-row>
                                  </b-overlay>
                                </template>
                              </iq-card>
                            </b-col>
                          </b-row>
                        </template>
                      </iq-card>
                      <div class="panel-body text-center mt-3" v-else>
                        <h6 class="text-danger" v-if="!firstTime">{{ $t('globalTrans.noDataFound') }}</h6>
                      </div>
                    </b-overlay>
                  </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</template>
<style scoped>
.hide {
  visibility: hidden !important;
}
</style>
<script>
import { core } from '@/config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { agriMarketingServiceBaseUrl, warehouseServiceBaseUrl } from '@/config/api_config'
import { dailyPriceListReport } from '../../api/routes'
import flatpickr from 'flatpickr'
import ListReportHead from '@/components/custom/ListReportHead.vue'
import ExportPdf from './export-pdf_details'
import excel from 'vue-excel-export'
import Vue from 'vue'
import { dateFormat } from '@/Utils/fliter'
Vue.use(excel)
// import moment from 'moment'
const today = new Date().toISOString().substr(0, 10)

export default {
    props: ['id'],
    components: {
        ValidationObserver,
        ValidationProvider,
        ListReportHead
    },
    created () {
        if (this.id) {
            const tmp = this.getEditingData()
            this.search = tmp
        }
    },
    data () {
        return {
          AveragePriceText: '',
          maxPriceMsg: '',
          minPriceMsg: '',
          saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
          search: {
              division_id: '0',
              district_id: '0',
              upazila_id: '0',
              market_id: '0',
              price_entry_type: '0',
              select_type: 'Daily',
              price_type_id: '',
              year: 0,
              month_id: 0,
              week_id: 0,
              price_date: today
          },
          currentDate: '',
          listItemofyerterday: '',
          districtList: [],
          upazilaList: [],
          marketList: [],
          commoditySubGroupList: [],
          headerExcelDefault: {
            orgName: null,
            orgNameBn: null,
            address: null,
            address_bn: null
          },
          warehouseServiceBaseUrl: warehouseServiceBaseUrl,
          datas: [],
          loading: false,
          showData: false,
          firstTime: true
        }
    },
    mounted () {
        core.index()
        flatpickr('.datepicker', {})
        this.headerDataExcel()
        this.AveragePriceText = (parseInt(this.search.HighestPrice) + parseInt(this.search.LowestPrice)) / 2
    },
    computed: {
      headerValue: function () {
        const headerVal = []
        if (this.$i18n.locale === 'en') {
          headerVal[0] = this.headerExcelDefault.orgName
          headerVal[1] = this.headerExcelDefault.address
          headerVal[2] = this.$t('damReport.yearly_average_price_list_report')
          headerVal[3] = this.$t('globalTrans.division') + ':  ' + this.search.division_name_en + '; ' + ' ' + this.$t('globalTrans.district') + ': ' + this.search.district_name_en
          headerVal[4] = this.$t('globalTrans.upazila') + ':  ' + this.search.upazila_name_en + '; ' + ' ' + this.$t('crop_price_config.market') + ': ' + this.search.market_name_en
          if (this.search.select_type === 'Weekly') {
            headerVal[5] = this.$t('crop_price_config.year') + ':  ' + this.search.year_en + '; ' + ' ' + this.$t('crop_price_config.month') + ': ' + this.search.month_en + '; ' + ' ' + this.$t('crop_price_config.week') + ' : ' + this.search.week_en
          } else {
            headerVal[5] = this.$t('crop_price_config.price_date') + ':  ' + dateFormat(this.search.price_date)
          }
        } else {
          headerVal[0] = this.headerExcelDefault.orgNameBn
          headerVal[1] = this.headerExcelDefault.address_bn
          headerVal[2] = this.$t('damReport.grow_avg_price_report')
          headerVal[3] = this.$t('globalTrans.division') + ':  ' + this.search.division_name_bn + '; ' + ' ' + this.$t('globalTrans.district') + ': ' + this.search.district_name_bn
          headerVal[4] = this.$t('globalTrans.upazila') + ':  ' + this.search.upazila_name_bn + '; ' + ' ' + this.$t('crop_price_config.market') + ': ' + this.search.market_name_bn
          headerVal[5] = this.$t('crop_price_config.commodity_group') + ':  ' + this.search.commodity_group_name_bn + '; ' + ' ' + this.$t('crop_price_config.commodity_sub_group') + ': ' + this.search.commodity_sub_group_name_bn + '; ' + ' ' + this.$t('crop_price_config.commodity_name') + ' : ' + this.search.commodity_name_bn
          if (this.search.select_type === 'Weekly') {
            headerVal[5] = this.$t('crop_price_config.year') + ':  ' + this.search.year_bn + '; ' + ' ' + this.$t('crop_price_config.month') + ': ' + this.search.month_bn + '; ' + ' ' + this.$t('crop_price_config.week') + ' : ' + this.search.week_bn
          } else {
            headerVal[5] = this.$t('crop_price_config.price_date') + ':  ' + this.search.price_date
          }
        }
        return headerVal
      },
      excelData: function () {
        const listData = this.datas
        var serial = 0
        const listContractor = listData.map(info => {
          serial++
          if (this.$i18n.locale === 'en') {
            const boxTable = {
              'Sl ': serial,
              'Commodity Group ': info.group.group_name,
              'Product name and description ': info.commodity.commodity_name
            }
            this.search.price_type_id.forEach((val, index) => {
              if (val.text_en === 'Retail') {
                boxTable.Measurement = info.commodity.unit_retail.unit_name
                boxTable['Retail Price'] = this.$n(parseFloat(info.r_lowestPrice).toFixed(2), { useGrouping: false }) + '--' + this.$n(parseFloat(info.r_highestPrice).toFixed(2), { useGrouping: false })
              }
              if (val.text_en === 'Wholesale') {
                boxTable.Wholesale = info.commodity.unit_whole_sale.unit_name
                boxTable['Wholesale Price'] = this.$n(parseFloat(info.w_highestPrice).toFixed(2), { useGrouping: false }) + '--' + this.$n(parseFloat(info.w_highestPrice).toFixed(2), { useGrouping: false })
              }
            })
            return boxTable
          } else {
            const boxTable = {
              'ক্রমিক সংখ্যা': this.$n(serial),
              'পণ্যের গ্রুপ': info.group.group_name_bn,
              'পণ্যের নাম ও বিবরণ': info.commodity.commodity_name_bn
            }
            this.search.price_type_id.forEach((val, index) => {
              if (val.text_en === 'Retail') {
                boxTable['খুচরা একক'] = info.commodity.unit_retail.unit_name_bn
                boxTable['খুচরা দর'] = this.$n(parseFloat(info.r_lowestPrice).toFixed(2), { useGrouping: false }) + '--' + this.$n(parseFloat(info.r_highestPrice).toFixed(2), { useGrouping: false })
              }
              if (val.text_en === 'Wholesale') {
                boxTable['পাইকারী একক'] = info.commodity.unit_whole_sale.unit_name_bn
                boxTable['পাইকারী দর'] = this.$n(parseFloat(info.w_highestPrice).toFixed(2), { useGrouping: false }) + '--' + this.$n(parseFloat(info.w_highestPrice).toFixed(2), { useGrouping: false })
              }
            })
            return boxTable
          }
        })
        return listContractor
      },
      yearList: function () {
        const yearList = this.$store.state.agriMarketing.commonObj.yearList
        return yearList.map(item => {
            if (this.$i18n.locale === 'bn') {
                return { value: item.value, text: item.text_bn }
            } else {
                return { value: item.value, text: item.text_en }
            }
        })
      },
      monthList: function () {
          return this.$store.state.commonObj.monthList
      },
      weekList: function () {
        return this.$store.state.agriMarketing.commonObj.weekList
      },
      divisionList: function () {
        return this.$store.state.agriMarketing.damData.divisionList
      },
      priceEntryTypeList: function () {
        return this.$store.state.agriMarketing.commonObj.priceEntryTypeList
      },
      timePreiodList: function () {
        return this.$store.state.agriMarketing.commonObj.timePreiodList
      },
      i18 () {
        return this.$i18n.locale
      },
      priceTypeList: function () {
        return this.$store.state.agriMarketing.commonObj.priceTypeList.filter(item => item.entry_type === 'Market')
      }
    },
    watch: {
        'search.division_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.districtList = this.getDistrictList(newVal)
            }
        },
        'search.district_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.upazilaList = this.getUpazilaList(newVal)
            }
        },
        'search.upazila_id': function (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.marketList = this.getMarketList(newVal)
            }
        }
    },
    methods: {
      pdfExport () {
          let reportTitle = this.$t('damReport.dailyPriceListReport')
          if (this.search.select_type !== 'Daily') {
            reportTitle = this.$t('damReport.weeklyPriceListReport')
          }
          ExportPdf.exportPdfDetails(warehouseServiceBaseUrl, '/master-warehouse-report-heading/detail', 13, reportTitle, this.datas, this, this.search)
      },
      onChangeFile (e) {
          this.attachmentDemo = e.target.files[0]
      },
      getEditingData () {
          const tmpData = this.$store.state.list.find(item => item.id === this.id)
          return JSON.parse(JSON.stringify(tmpData))
      },
      headerDataExcel () {
        RestApi.getData(warehouseServiceBaseUrl, '/master-warehouse-report-heading/detail/13').then(response => {
          if (response.success) {
            const orgList = this.$store.state.commonObj.organizationProfileList.find(item => item.value === 13)
            const orgName = typeof orgList !== 'undefined' ? orgList.text_en : ''
            const orgNameBn = typeof orgList !== 'undefined' ? orgList.text_bn : ''
            const data = []
            data.address = response.data.address
            this.headerExcelDefault.orgName = orgName
            this.headerExcelDefault.orgNameBn = orgNameBn
            this.headerExcelDefault.address = response.data.address
            this.headerExcelDefault.address_bn = response.data.address_bn
          }
        })
      },
      async saveData () {
        this.loading = true
        this.showData = true
        const divisionObj = this.divisionList.find(item => item.value === this.search.division_id)
        this.search.division_name_en = typeof divisionObj !== 'undefined' ? divisionObj.text_en : ''
        this.search.division_name_bn = typeof divisionObj !== 'undefined' ? divisionObj.text_bn : ''
        const districtListObj = this.$store.state.agriMarketing.damData.districtList.find(item => item.value === this.search.division_id)
        this.search.district_name_en = typeof districtListObj !== 'undefined' ? districtListObj.text_en : ''
        this.search.district_name_bn = typeof districtListObj !== 'undefined' ? districtListObj.text_bn : ''
        const upazilaListObj = this.$store.state.agriMarketing.damData.upazilaList.find(item => item.value === this.search.upazila_id)
        this.search.upazila_name_en = typeof upazilaListObj !== 'undefined' ? upazilaListObj.text_en : ''
        this.search.upazila_name_bn = typeof upazilaListObj !== 'undefined' ? upazilaListObj.text_bn : ''
        const marketListObj = this.$store.state.agriMarketing.commonObj.marketList.find(item => item.value === this.search.market_id)
        this.search.market_name_en = typeof marketListObj !== 'undefined' ? marketListObj.text_en : ''
        this.search.market_name_bn = typeof marketListObj !== 'undefined' ? marketListObj.text_bn : ''
        const yearListObj = this.$store.state.agriMarketing.commonObj.yearList.find(item => item.value === this.search.year)
        this.search.year_en = typeof yearListObj !== 'undefined' ? yearListObj.text_en : ''
        this.search.year_bn = typeof yearListObj !== 'undefined' ? yearListObj.text_bn : ''
        const monthListObj = this.$store.state.commonObj.monthList.find(item => item.value === this.search.month_id)
        this.search.month_en = typeof monthListObj !== 'undefined' ? monthListObj.text_en : ''
        this.search.month_bn = typeof monthListObj !== 'undefined' ? monthListObj.text_bn : ''
        const weekListObj = this.$store.state.agriMarketing.commonObj.weekList.find(item => item.value === this.search.week_id)
        this.search.week_en = typeof weekListObj !== 'undefined' ? weekListObj.text_en : ''
        this.search.week_bn = typeof weekListObj !== 'undefined' ? weekListObj.text_bn : ''
        let seachTypeEn = ''
        let seachTypeBn = ''
        this.search.price_type_id.forEach((element, key) => {
          if (key === 0) {
            seachTypeEn = element.text_en
            seachTypeBn = element.text_bn
          } else {
            seachTypeEn = seachTypeEn + ',' + element.text_en
            seachTypeBn = seachTypeBn + ',' + element.text_bn
          }
        })
        this.search.seachType_en = seachTypeEn
        this.search.seachType_bn = seachTypeBn
        RestApi.getData(agriMarketingServiceBaseUrl, dailyPriceListReport, this.search).then(response => {
          if (response.success) {
            this.loading = false
            if (response.data) {
              this.datas = response.data
            }
          } else {
            this.datas = []
            this.loading = false
          }
          this.firstTime = false
        })
      },
      getDistrictList (divisionId = null) {
          return this.$store.state.agriMarketing.damData.districtList.filter(item => item.division_id === divisionId)
      },
      getUpazilaList (districtId = null) {
          const upazilaList = this.$store.state.agriMarketing.damData.upazilaList
          if (districtId) {
              return upazilaList.filter(upazila => upazila.district_id === districtId)
          }
          return upazilaList
      },
      getMarketList (upazillaId = null) {
          const dataList = this.$store.state.agriMarketing.commonObj.marketList.filter(item => item.upazila_id === upazillaId)
          return dataList.map(item => {
              if (this.$i18n.locale === 'bn') {
                  return { value: item.value, text: item.text_bn }
              } else {
                  return { value: item.value, text: item.text }
              }
          })
      },
      getPriceTypeList: function (entryType) {
          const dataList = this.$store.state.agriMarketing.commonObj.priceTypeList.filter(item => item.entry_type === entryType)
          return dataList.map(item => {
              if (this.$i18n.locale === 'bn') {
                  return { value: item.value, text: item.text_bn }
              } else {
                  return { value: item.value, text: item.text }
              }
          })
      }
  }
}
</script>
