<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="12" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
                  <b-form @submit.prevent="handleSubmit(register)" @reset.prevent="reset" enctype="multipart/form-data">
                    <b-row>
                      <b-col lg="12" sm="12">
                        <ValidationProvider name="Reject note" vid='reject_note' rules="required">
                          <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('complain.reject_note')"
                            label-for="reject_note"
                            slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('complain.reject_note')}} <span class="text-danger">*</span>
                            </template>
                            <b-textarea
                            id="reject_note"
                            v-model="complainReport.reject_note"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-textarea>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                        <ValidationProvider name="Reject note (bn)" vid="reject_note_bn" rules="required">
                          <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('complain.reject_note_bn')"
                            label-for="reject_note_bn"
                            slot-scope="{ valid, errors }"
                          >
                            <template v-slot:label>
                              {{$t('complain.reject_note_bn')}} <span class="text-danger">*</span>
                            </template>
                            <b-textarea
                            id="reject_note_bn"
                            v-model="complainReport.reject_note_bn"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-textarea>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                        <ValidationProvider name="Attachment" vid="attachment">
                          <b-form-group
                            class="row"
                            label-cols-sm="3"
                            :label="$t('complain.attachment')"
                            label-for="attachment"
                            slot-scope="{ valid, errors }"
                          >
                            <b-form-file
                            id="attachment"
                            v-model="complainReport.attachment"
                            :state="errors[0] ? false : (valid ? true : null)"
                            ></b-form-file>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                          </b-form-group>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <b-button type="submit" variant="primary">{{ saveBtnName}}</b-button>
                  </b-form>
                </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { commonServiceBaseUrl } from '../../../../../config/api_config'
import { complainRejectSubmit } from '../../api/routes'

export default {
  props: ['id'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      saveBtnName: this.$t('globalTrans.save'),
      complainReport: {
        complain_id: this.id,
        reject_note: '',
        reject_note_bn: '',
        attachment: ''
      }
    }
  },
  methods: {
    getComplainInfo () {
      return this.$store.state.Complain.complainInfos.find(item => item.id === this.id)
    },
    onFileChange (e) {
      this.complainReport.attachment = e.target.files[0]
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }

      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }

      var formData = new FormData()
      Object.keys(this.complainReport).map(key => {
        formData.append(key, this.complainReport[key])
      })
      result = await RestApi.postData(commonServiceBaseUrl, complainRejectSubmit + '/' + this.id, formData, config)
      this.$store.dispatch('mutateCommonProperties', loadinState)
      if (result.success) {
        this.$toast.success({
          title: 'Success',
          message: this.id ? 'Data updated successfully' : 'Data save successfully',
          color: '#D6E09B'
        })
        this.$bvModal.hide('modal-2')
      } else {
        this.$refs.form.setErrors(result.errors)
        this.$toast.error({
          title: 'Error',
          message: 'Operation failed! Please, try again.'
        })
      }
    }
  }
}
</script>
