<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12" sm="12">
        <iq-card>
          <template v-slot:body>
            <b-row>
              <b-col lg="10" sm="12">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit, reset }">
              <b-form  @submit.prevent="handleSubmit(register)" @reset.prevent="reset" >
                <ValidationProvider name="Complain title" vid="com_title">
                  <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-for="com_title"
                  >
                     <template v-slot:label>
                        {{$t('complain.com_title')}}<span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      readonly
                      id="com_title"
                      v-model="complainRequestList.com_title"
                      ></b-form-input>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Designation" vid="designation_id" rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-for="designation_id"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                        {{$t('globalTrans.designation')}}<span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="complainCycle.designation_id"
                      :options="designationList"
                      id="designation_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{ $t('globalTrans.select') }}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="User Id" vid="user_id" rules="required|min_value:1">
                  <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-for="user_id"
                    slot-scope="{ valid, errors }"
                    >
                    <template v-slot:label>
                        {{$t('globalTrans.send_to')}}<span class="text-danger">*</span>
                    </template>
                    <b-form-select
                      plain
                      v-model="complainCycle.receiver_id"
                      :options="userList"
                      id="user_id"
                      :state="errors[0] ? false : (valid ? true : null)"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="0" disabled>{{ $t('globalTrans.select') }}</b-form-select-option>
                      </template>
                    </b-form-select>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Note" vid="note" rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-for="note"
                    slot-scope="{ valid, errors }"
                  >
                     <template v-slot:label>
                        {{$t('complain.note')}}<span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      id="note"
                      v-model="complainCycle.note"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider name="Note (bn)" vid="note_bn" rules="required">
                  <b-form-group
                    class="row"
                    label-cols-sm="3"
                    label-for="note_bn"
                    slot-scope="{ valid, errors }"
                  >
                     <template v-slot:label>
                        {{$t('complain.note_bn')}}<span class="text-danger">*</span>
                    </template>
                    <b-form-input
                      id="note_bn"
                      v-model="complainCycle.note_bn"
                      :state="errors[0] ? false : (valid ? true : null)"
                      ></b-form-input>
                    <div class="invalid-feedback">
                      {{ errors[0] }}
                    </div>
                  </b-form-group>
                </ValidationProvider>
                <b-button type="submit" variant="primary">{{ saveBtnName}}</b-button>
                &nbsp;
                <!-- <b-button variant="danger" class="mr-1" type="reset" >{{$t('globalTrans.reset')}}</b-button> -->
              </b-form>
            </ValidationObserver>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../../../config/pluginInit'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import RestApi, { authServiceBaseUrl, commonServiceBaseUrl } from '../../../../../config/api_config'
import { complainSendStore } from '../../api/routes'

export default {
  props: ['complainId'],
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data () {
    return {
      saveBtnName: this.id ? this.$t('globalTrans.update') : this.$t('globalTrans.save'),
      complainCycle: {
        complain_id: 0,
        sender_id: 0,
        designation_id: 0,
        receiver_id: 0,
        note: '',
        note_bn: ''
      },
      designationList: [],
      userList: [],
      user: [],
      complainRequestList: []
    }
  },
  computed: {
    organizationtList: function () {
      const listObject = this.$store.state.commonObj.organizationProfileList
      return listObject
    }
  },
  watch: {
    // 'complainCycle.org_id': function (newVal, oldVal) {
    //   this.designationList = this.getDesignationList(newVal)
    // },
    'complainCycle.designation_id': function (newVal, oldVal) {
      this.userList = this.getUserByDesignation(newVal)
    }
  },
  created () {
    // if (this.complainId) {
    //   const tmp = this.getcomplainCycleData()
    //   Object.freeze(tmp)
    //   this.complainCycle = tmp
    // }
    this.getcomplainRequest()
    this.getUser()
    this.complainCycle.complain_id = this.complainId
  },
  mounted () {
    core.index()
  },
  methods: {
    getcomplainRequest () {
      const ObjectData = this.$store.state.Complain.complainRequestList.find(item => item.id === this.complainId)
      this.complainRequestList = ObjectData
      this.getDesignation(ObjectData.org_id)
    },
    getUser () {
      this.user = this.$store.state.Auth.authUser
    },
    getDesignation (orgId) {
      RestApi.getData(commonServiceBaseUrl, 'master-complain-designation/list', null).then(response => {
        if (response.success) {
          const designationData = response.data.data.filter(designation => designation.org_id === orgId)
          this.designationList = designationData.map((obj, index) => {
            if (this.$i18n.locale === 'bn') {
              return { value: obj.designation_id, text: obj.designation_bn }
            } else {
              return { value: obj.designation_id, text: obj.designation }
            }
          })
        }
      })
    },
    getUserByDesignation (designationId) {
      RestApi.getData(authServiceBaseUrl, 'user/list-by-designation').then(response => {
        if (response.success) {
          const designationData = response.data.filter(user => user.designation_id === designationId)
          this.userList = designationData.map((obj, index) => {
            if (this.$i18n.locale === 'bn') {
              return { value: obj.user_id, text: obj.name_bn }
            } else {
              return { value: obj.user_id, text: obj.name }
            }
          })
        }
      })
    },
    async register () {
      this.$store.dispatch('mutateCommonProperties', { loading: true })
      let result = null
      const loadinState = { loading: false, listReload: false }
      this.complainCycle.complain_id = this.complainRequestList.id
      this.complainCycle.sender_id = this.user.user_id
      result = await RestApi.postData(commonServiceBaseUrl, complainSendStore, this.complainCycle)
      loadinState.listReload = true

      this.$store.dispatch('mutateCommonProperties', loadinState)

      if (result.success) {
        this.$toast.success({
          title: this.$t('globalTrans.success'),
          message: this.id ? this.$t('globalTrans.update_msg') : this.$t('globalTrans.save_msg'),
          color: '#D6E09B'
        })

        this.$bvModal.hide('modal-send')
      } else {
        this.$refs.form.setErrors(result.errors)
      }
    }
  }
}
</script>
